%margin-centering{
    margin: 0 auto;
}
%page-constraint{
     max-width: 1200px;
}
%page-padding{
    padding: 1rem .5rem 1.25rem;
    @include bp(md) {
        padding: 1.5rem .75rem 2rem;
    }
    @include bp(lg) {
        padding: 2rem 1rem 3rem;
    }

}
%page-padding-vertical-only{
    padding: .25rem 0;
     @include bp(sm){  
    padding: .5rem 0;
    } 
    @include bp(md){  
    padding: .75rem 0;
    } 
    @include bp(lg){
    padding: 1rem 0;
    }

}

%content-padding-vertical{
   padding-top:.125rem;
   padding-bottom:.125rem;
    @include bp(sm) {
        padding-top: .25rem;
        padding-bottom: .25rem;

    }
    @include bp(md) {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    @include bp(lg) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

}
%content-padding-horizontal{
    padding-left: .5rem; 
    padding-right: .5rem;
    @include bp(md) {
        padding-right:.75rem;
        padding-left:.75rem;
    }
    @include bp(lg) {
        padding-right:1rem;
        padding-left:1rem;
    }
}
%content-expanding-margin-vertical{
margin:0;
}
%content-expanding-margin-horizontal{
margin:0;
}
%spacing-transition{ 
    -webkit-transition: padding 1s; /* Safari */
    transition: padding 1s;
    -webkit-transition: margin 1s; /* Safari */
    transition: margin 1s;
    }
.page .page-wrapper {
    @extend %margin-centering;
    @extend %page-constraint;
    @extend %page-padding;
    @extend %spacing-transition;

}

.content-padding {
    @extend %margin-centering;
    @extend %content-padding-horizontal;
    @extend %spacing-transition;
}
.section,section{
    width:100%;
}
// Exceptions

.section-nav.back ~ .page-wrapper {
    padding-top: 0;
}

/**
* page layouts:
* `page-wrapper` - inside all layout divs the page-wrapper is used to make a unified amount of spacing from the content and the vewport edges.
* 
*   @example
*   <div class="page edge" ><div class="page-wrapper outline" ><span class="notation">page-wrapper</span><div class="section outline"><span class="notation">section</span>Hello this is content </div></div>
**/

/**
* page layouts outline:
* `page-wrapper` - inside all layout divs the page-wrapper is used to make a unified amount of spacing from the content and the vewport edges.
* 
*   @example
*	<div class="page-wrapper" style="border:red 1px solid"><div class="section">Hello this is content </div></div>
**/

