%shadedbackground {
    background-image:url('../img/billie-holiday-lite.png');
}
%dropshoadowedbox {
    border: 1px solid grey(15);
    background-color: white;
    -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.with-group-sections,.paper-page{
    @extend %shadedbackground;
    &.highlighted,&.secondary{
        background-image:url('../img/billie-holiday-speck.png');
    }
    &.highlighted{
        background-color: color(rebrand-color($primary-color, 1), 20);
    }
   &.secondary{
        background-color: grey(15);
    }
    .page-wrapper {
        @extend %page-padding-vertical-only; 
        // align sections and rows with in the page
        > .section, > section, > .row {
            @extend %content-padding-horizontal;
        }
        .group-section,.card {
            width: auto;
            position: relative;
            margin: 0 .65rem 1rem .5rem;
            @extend %dropshoadowedbox;
            @extend %content-padding-vertical;
            @extend %content-padding-horizontal;
            
        }
    }
}
.colored-paper{    
    @include grid-row();
    @extend %spacing-transition;
    @extend %content-padding-vertical;
    @extend %content-padding-horizontal;
    @extend %content-expanding-margin-horizontal;
    @extend %content-expanding-margin-vertical;
    h1,h2,h3,h4,h5,h6,p{color:color-contrast(rebrand-color($primary-color, 1));}
    &.secondary{h1,h2,h3,h4,h5,h6,p{color: color-contrast( $secondary-color);}}
    &,.nav.tabs{background-image: url('../img/construction-paper.png');
    background-color: rebrand-color($primary-color, 1);}
    margin: -.5rem -.5rem 0; 

    @include bp(md-down){ 
       
        @include bp(md-height-down){ 
            margin-top:-.5rem;
            }  
        @include bp(sm-height-down){ 
            margin-top: -.25rem;
            // margin-bottom:.5rem;
            }     
        @include bp(xs-height-down){  
            margin-top: -.15rem;
            // margin-bottom:.25rem; 
            } 
    } 
    @include bp(md){ 
        margin-left: -.75rem;
        margin-right: -.75rem;
        }
    @include bp(lg){
         margin: -1rem -1rem 0; 
         margin: calc(-1rem - 1px) calc(-1rem - 1px) 0; 
     }
    * ~ &{ margin-top:0 !important;}
    .nav.tabs {
        padding: 2px 10px 0;
        border:0 none;
        background-image: url('../img/construction-paper.png');
        background-color: rebrand-color($primary-color, 1);
        li {
            border-radius: .4em;
            display: inline-block;
            margin: .4em .05em .2em;
            vertical-align: bottom;
            background-color: color(rebrand-color($primary-color, 1), 20);
            padding:.2em .3em;
            &:hover{ 
                background-color: color(rebrand-color($primary-color, 1), 35);
            }
            &.selected {
                border-radius: .5em;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
                margin-bottom: 0;
                vertical-align: bottom;
                padding: .4em;
                background-color: #fff;
            }
        }
        @include bp(md){
            li{

            }
        }
    }
    &.secondary,  &.secondary .nav.tabs{background-color: $secondary-color;}
    &.secondary .nav.tabs{
        
        li{
             background-color: color($secondary-color, 20);
             &:hover{ background-color: color($secondary-color, 35);}
             &.selected{background-color: #fff;}
        }
    }
}
.group-section .colored-paper:last-child {
    margin-bottom: -1rem;
    margin-bottom: calc(-1rem - 1px);

    
}
.group-section .colored-paper:first-child {
    margin-top: -.15rem;
    margin-top: calc(-.15rem - 1px);
    @include bp(sm-height-down){ 
        margin-top: -.25rem;
        margin-top: calc(-.25rem - 1px);
        } 
    @include bp(md){ 
        margin-top:-.5rem;
        margin-top: calc(-.5rem - 1px);
        }  
    @include bp(lg){
        margin-top: -1rem;
        margin-top: calc(-1rem - 1px);
     }
     @include bp(xl){
        margin-top: -1rem;
        margin-top: calc(-1rem - 1px);
     }
   
}
// .group-section .colored-paper{
//      > *:first-child{ margin-top:0;}
//      > *:last-child{ margin-bottom:0;}
// }

/**
* Paper Card Grouping:
* `.page.paper-page .page-wrapper .card` - by default pages are white but when the need arises to have grouped section 'cards' are introduced and the background area becomes a layer of soft off white construction paper. If the need arises to highlight a collection of cards add `.highlighted` to the `.page.with-group-sections` and the product color will bleed into the construction paper.
* 
*   @example
*   <div class="page with-group-sections">
*    <div class="page-wrapper">
*    <section class="section group-section radius-top"><h1>Hello</h1> <p>This is content  that is showing up in a section group</p></section>
*    </div>
*    </div>
*   <div class="page with-group-sections highlighted">
*    <div class="page-wrapper">
*    <section class="section group-section radius-bottom">
*    <h1>Hello</h1> <p>This is content  that is showing up in a section group</section>
*    </div>
*    </div>
*
**/
/**
* Tabs on Paper Background Pages:
* `.page.paper-page  > .overlap.tabs` - Tabs placed outside of the groups should use the overlap so they sink into the paper texture.
* 
*   @example
*   <div class="page with-group-sections">
*       <div class="page-wrapper">
*     <ul class="nav tabs overlap">
*     <li class="icon"><a class="home"><i class="fa fa-holder"></i></a></li>
*     <li class=""><a>Tab 2</a></li>
*     <li class="selected"><a >Tab 3</a></li>
*     <li class=""><a >Tab 4</a></li>
*     </ul>
*     <section class="section group-section radius"><h1>Hello</h1> <p>This is content  that is showing up in a section group</p></section>
*        </div>
*    </div>
*
**/
/**
* Tabs for Paper Cards:
* `.page.paper-page  .card .color-paper .nav.tabs` - Special tabs holders are introduced to the cards so they can fill the full frame of the card.  The tab holder has a modification of adding the `secondary` class to convert it to using the secondary color if the need arises.
* 
*   @example
*   <div class="page paper-page">
*       <div class="page-wrapper">
*            <section class="section card">
*                <div class="colored-paper">
*                    <ul class="nav tabs">
*                        <li class="">
*                       <a>Tab 1</a>
*                       </li>
*                        <li class=" selected "> <a>Tab 2</a> </li>
*                        <li class=""> <a>Tab 3</a> </li>
*                    </ul>
*                </div>
*                <h1>Hello</h1> 
*                <p>This is content  that is showing up in a section group</p>
*                <div class="colored-paper secondary">
*                    <ul class="nav tabs">
*                        <li class="">
*                       <a>Tab 1</a>
*                       </li>
*                        <li class=" selected "> <a>Tab 2</a> </li>
*                        <li class=""> <a>Tab 3</a> </li>
*                    </ul>
*                </div>
*                <h2>I am Sub Tab Content</h2> 
*                <p>This is content under a secondary tab in a card</p>
*            </section>
*        </div>
*    </div>
*
**/

