/**
* Split Layout With Off Canvas Reveal:
* `.mobile-offcanvas-wrapper` - This is a structural container that has the ablity to change from content and sidebar to just content and the sidebar being off canvas. Trigger the off canvas reveal by adding `.navOn` to the div.split-layout. Change the switch point by adding `.large`,`.medium`, or `.small`. <br>!!! must include _layout-split.scss !!! <br>!!! requires javascripts !!!
* 
*   @example
*	<div class="mobile-offcanvas-wrapper">
*	<section class="split-layout medium navOn">
*	<aside class="split-sidebar">
*	<h2>Sidebar</h2>
*	<p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
*	</aside>
*	<article class="split-content">
*	<div class="page-wrapper">
*	<h1>Content</h1>
*	<p>Some extra content in the content area</p><p> It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</p>
*	</div>
*	</article>
*	</section>
*	</div>
*/
$sidebarColumnSize:10;
$sidebarSize:grid-calc($sidebarColumnSize,12);

.mobile-offcanvas-wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-transition: 300ms ease all;
   transition: 300ms ease all; 

	.split-layout{
		-webkit-transition: 300ms ease all; transition: 300ms ease all; 
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-transform: translate3d(0, 0, 0); 
		transform: translate3d(0, 0, 0); 
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		overflow: visible;
		&.navOn{
				-webkit-transform: translateX($sidebarSize);
				transform: translateX($sidebarSize);
				transform: translate3d($sidebarSize, 0, 0);
				-webkit-transform: translate3d($sidebarSize, 0, 0);
			}
		.split-sidebar{ display: block;	@include grid-column($sidebarColumnSize , $collapse:true); position: absolute;left:-$sidebarSize; right:auto;}
		&.reverse{
			&.navOn{
				-webkit-transform: translateX(-$sidebarSize);
				transform: translateX(-$sidebarSize);
				transform: translate3d(-$sidebarSize, 0, 0);
				-webkit-transform: translate3d(-$sidebarSize, 0, 0);
				}
			.split-sidebar{position: absolute;right:-$sidebarSize;left:auto;
				}	
			}

		&.small{
			@media #{$small-up}{
				&,&.navOn{
				-webkit-transform: translateX(0);
				transform: translateX(0);
				}

			}			

		}
		&.medium,&.small{
			@media #{$medium-up}{
				&,&.navOn{
					-webkit-transform: translateX(0);
					transform: translateX(0);
				}
			}			
		}
		&.large,&.medium, &.small{
			@media #{$large-up}{}
		}
		&.xlarge,&.large,&.medium,&.small{
			@media #{$xlarge-up}{}
		}
	}
}