%row{
    @include grid-row();
}
%margin-centering{
    margin: 0 auto;
}
%page-constraint{
    max-width: 60em;
}
%page-padding-horizontal {
    padding-right: .25 * 1rem;
    padding-left: .25 * 1rem;
    @include bp(sm) {
        padding-right: .5 * 1rem;
        padding-left: .5 * 1rem;
    }
    @include bp(md) {
        padding-right: .75 * 1rem;
        padding-left: .75 * 1rem;
    }
    @include bp(lg) {
        padding-right: 1 * 1rem;
        padding-left: 1 * 1rem;
    }
}
%page-padding-vertical {
    padding-top: .25 * $vertical-space;
    padding-bottom: .5 * $vertical-space;
    @include bp(sm) {
        padding-top: .5 * $vertical-space;
        padding-bottom: .75 * $vertical-space;
    }
    @include bp(md) {
        padding-top: .75 * $vertical-space;
        padding-bottom: 1 * $vertical-space;
    }
    @include bp(lg) {
        padding-top: 1 * $vertical-space;
        padding-bottom: 1.5 * $vertical-space;
    }
}
%page-padding-vertical-only {
    @extend %page-padding-vertical;
    @media (min-width: 0px) and (max-width:10000px) {
        padding-right:0;
        padding-left: 0;
    }
}
%page-padding{
    padding: 1rem .5rem 1.25rem;
    @include bp(md) {
        padding: 1.5rem .75rem 2rem;
    }
    @include bp(lg) {
        padding: 2rem 1rem 3rem;
    }

}
%section-padding-vertical {
    padding-top: .125 * $vertical-space;
    padding-bottom: .125 * $vertical-space;
    @include bp(sm) {
        padding-top: .125 * $vertical-space;
        padding-bottom: .125 * $vertical-space;
    }
    @include bp(md) {
        padding-top: .25 * $vertical-space;
        padding-bottom: .25 * $vertical-space;
    }
    @include bp(lg) {
        padding-top: .325 * $vertical-space;
        padding-bottom: .325 * $vertical-space;
    }
}

%content-padding-vertical{
   padding-top:.25rem;
   padding-bottom:.25rem;
    @include bp(sm) {
        padding-top: .5rem;
        padding-bottom: .5rem;

    }
    @include bp(md) {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
    @include bp(lg) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

}

%content-padding-horizontal{
    padding-left: .5rem; 
    padding-right: .5rem;
    @include bp(md) {
        padding-right:.75rem;
        padding-left:.75rem;
    }
    @include bp(lg) {
        padding-right:1rem;
        padding-left:1rem;
    }
}
%page-expanding-margin-top {
    margin-top: -.25 * $vertical-space;
    @include bp(sm) {
        margin-top: -.5 * $vertical-space;
    }
    @include bp(md) {
        margin-top: -.75 * $vertical-space;
    }
    @include bp(lg) {
        margin-top: -1 * $vertical-space;
    }
}

%content-expanding-margin-top{
    margin-top: -.25rem;
    margin-top: calc(-.25rem - 1px);
    @include bp(sm){ 
        margin-top: -.5rem;
        margin-top: calc(-.5rem - 1px);
        } 
    @include bp(md){ 
        margin-top:-.75rem;
        margin-top: calc(-.75rem - 1px);
        }  
    @include bp(lg){
        margin-top: -1rem;
        margin-top: calc(-1rem - 1px);
     }

}
%content-expanding-margin-bottom{
    margin-bottom: -.2rem;
    margin-bottom: calc(-.2rem - 5px);
    @include bp(sm-height-down){ 
        margin-bottom: -.25rem;
        margin-bottom: calc(-.25rem - 5px);
        } 
    @include bp(md){ 
        margin-bottom:-.5rem;
        margin-bottom: calc(-.5rem - 5px);
        }  
    @include bp(lg){
        margin-bottom: -1rem;
        margin-bottom: calc(-1rem - 5px);
     }
     @include bp(xl){
        margin-bottom: -1rem;
        margin-bottom: calc(-1rem - 5px);
     }
}
%content-expanding-margin-vertical{
 @extend %content-expanding-margin-top;
 @extend %content-expanding-margin-bottom;

}



%content-expanding-margin-horizontal{
        margin-left: -.5rem;
        margin-right: -.5rem;
        margin-left: calc(-.5rem - 1px);
        margin-right: calc(-.5rem - 1px); 
 @include bp(md){ 
        margin-left: -.75rem;
        margin-right: -.75rem;
        margin-left: calc(-.75rem - 1px);
        margin-right: calc(-.75rem - 1px);
        }
    @include bp(lg){
        margin-left: -1rem;
        margin-right: -1rem;
        margin-left: calc(-1rem - 1px);
        margin-right: calc(-1rem - 1px);
     }
}
%spacing-transition{ 
    -webkit-transition: padding 1s;
    /* Safari */
    transition: padding 1s;
    -webkit-transition: margin 1s;
    /* Safari */
    transition: margin 1s;
    }
.page {
    position: relative;
}
.page-wrapper {
    @extend %margin-centering;
    @extend %page-constraint;
    @extend %page-padding-horizontal;
    @extend %spacing-transition;
    @extend  %page-padding-vertical;
}

.page-wrapper .page-wrapper {
    @extend %page-padding-vertical-only;
}

.content-padding,.content-padding.page-wrapper {
    @extend %margin-centering;
    @extend %content-padding-horizontal;
    @extend %spacing-transition;
}
.section,section{
    width:100%;
}
// Exceptions

.section-nav.back~.page-wrapper, .page-wrapper~.page-wrapper {
    padding-top: 0;
}
.section-padding{
  @extend %content-padding-vertical;
}
/**
* page layouts:
* `page-wrapper` - inside all layout divs the page-wrapper is used to make a unified amount of spacing from the content and the vewport edges.
* 
*   @example
*   <div class="page edge" ><div class="page-wrapper outline" ><span class="notation">page-wrapper</span><div class="section outline"><span class="notation">section</span>Hello this is content </div></div>
**/

/**
* page layouts outline:
* `page-wrapper` - inside all layout divs the page-wrapper is used to make a unified amount of spacing from the content and the vewport edges.
* 
*   @example
*	<div class="page-wrapper" style="border:red 1px solid"><div class="section">Hello this is content </div></div>
**/

