.footer{
	border-top:grey(30) 2px solid;
	img.logo{margin: .25rem 1rem;}
	@include bp(md){
		text-align: right;
			img.logo{display: none;}
			ul.nav.tabs{clear:both;display: inline;font-size: 18px;width:auto;
				li a{@include font-slab();}
			}

		}
}