.page-wrapper{
	padding:1rem .5rem;
	max-width: 1200px;
	margin:0 auto;
	
	@include bp(md){
		padding:1.5rem .75rem;
	};
	@include bp(lg){
		padding:2rem 1rem 3rem;	
	};
}
.section-nav.back ~ .page-wrapper{padding-top: 0;}
.content-padding{
	padding:0 .5rem;
	max-width: 1200px;
	margin:0 auto;
	
	@include bp(md){
		padding:0 .75rem;
	};
	@include bp(lg){
		padding:0 1rem;	
	};
}