.inline-group{
	list-style: none;
	display:block;
	&>*{
		display: inline-block;
		list-style: none;
		}
	&:after{
		content:'';
		display:block;
		clear:both;
	}
}
.answer,.answer-group,.question,.question-group{
	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="month"],
	input[type="week"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	input[type="color"],
	textarea,
	select,
	button,
	.button{margin-bottom: 0;}
}
.answer,.question{
	margin-bottom: .5rem;
	.data,.error,.warning,.alert,.validated, .required{display:none;}
	@include match-display(".data");
	@include match-display(".error");
	@include match-display(".warning");
	@include match-display(".alert");
	@include match-display(".required");
	@include match-display(".validated");
	
	.unit{
		@include grid-row();
		@include prefix-postfix-base();
		@extend %h6;
		color:grey(50);
		border-color:grey(0);
		text-align: left;
		padding-left: .5rem;
		line-height: 1;
	}
}
.label-holder,.input-holder,.message-holder,.value-holder{
	@include grid-row(collapse);
}
.label-holder{
	margin-bottom: .5rem;
	padding: 0 .5rem 0 0;
	@extend h4;
	position: relative;
	background-color:transparent;
	color:fontcolor($black);
	white-space: normal;
	.text{padding-right:1rem; line-height: 1.2em;}
	.error &{color:fontcolor($warning-color);}
	.warning &{color:fontcolor($alert-color);}
}

.required-holder {
	display: none;
	height: 1rem;
	width:1rem;
	position: relative;
	margin-left:-1rem;
	margin-right:-1rem;
	i.fa-holder-dynamic{ position: absolute;top:0;left:0;font-size: .75rem;}
	.answer.required &,.question.required &{
		background-color: transparent;
		color:fontcolor($alert-color);
		display: inline-block;
		@include fa-holder($fa-var-asterisk,'dynamic');
	}
	.answer.error &,.question.error &{
		background-color: transparent;
		color:fontcolor($warning-color);
		display: inline-block;
		@include fa-holder($fa-var-times,'dynamic');
	}
	.answer.validated &,.question.validated &{
		background-color: transparent;
		color:fontcolor($success-color);
		display: inline-block;
		@include fa-holder($fa-var-check,'dynamic');
	}
}
div.question,div.answer{
	@each $state,$selector, $color, $icon in $states{
		&#{$selector}{
			background-color: transparent;
			border: 0px none transparent;
			}
		}
	
}

.input-holder,.value-holder{
	@include grid-row();margin-bottom: .75rem;
	>.input-space{  padding-left: 0;

	}
}
[class*="input-space"] + [class*="input-space"]:last-child,[class*="value-space"] + [class*="value-space"]:last-child{
	padding-right:0;
}
.message-holder{
	small, span{
		@extend %h6;
		display: none;
		padding: .375rem .5625rem .5625rem;
		margin-top: -1px;
		margin-bottom: 1rem;
		background: #d07600;
		clear:both;
		color: #FFF;
	}	
	span, small{
		i{margin-right: .5rem;}
		&.error{background-color: $warning-color;}
		&.alert,&.warning{background-color:$alert-color;}
		&.data{  background-color: grey(20);
  				&,.fa{color:$font-black;}}
	}

}
.hint{
	@extend .row;
	margin-top: -.75rem;
	font-size: .75rem;
	line-height: 1rem;
	@extend %italic;
}
