.question-grid-based {
    // default sizing is elements are inside of a small-6
    // &.span-1-col{}
    // default setting is label-position-left
    .label-holder{padding-left:0 !important;
        label{display:table;margin-bottom:0;
        .text,.seq,.required-holder{
            display: table-cell;
            padding:0;
        }
        .seq,.required-holder{
           
            margin-left:0;
            margin-right:0;
        }
        }
    }
    .label-holder .text {
        white-space: normal;
    }
    // Depreceated Design
    // .hint {
    //     border-top: 1px solid #e6e6e6;
    //     padding: .25rem .75rem;
    //     background-color: color(rebrand-color($primary-color, 2), 10);
    //     // @include grid-row($behavior: nest);
    //     max-width: 100%;
    //     clear: both;
    // }
    .label-holder, .input-holder {
        .hint,.message-holder {
            @include grid-row();
            clear:both;
            display: block;
            margin: 0 0 .3em 0;
            padding: 0;
            line-height: 1;

        }
    }
    // @include grid-row($behavior: nest);
    .label-holder, .input-holder {
        @include grid-column(12 of 12);
         @include grid-column-collapse;
    }
    @include bp(md) {
       
            .label-holder, .input-holder {
                display: inline-block;
            }
            .label-holder {
                @include grid-column(1 of 2);
            }
            .input-holder {
                @include grid-column(1 of 2);
            }
            &.span-2-col {
                .label-holder {
                    @include grid-column(1 of 4);
                }
                .input-holder {
                    @include grid-column(3 of 4);
                }
            }
            &.span-3-col {
                .label-holder {
                    @include grid-column(1 of 6);
                }
                .input-holder {
                    @include grid-column(5 of 6);
                }
            }

    }
    @include bp(lg) {

            .label-holder, .input-holder {
                display: inline-block;
            }
            .label-holder {
                @include grid-column(3 of 6);
            }
            .input-holder {
                @include grid-column(3 of 6);
            }
            &.span-2-col {
                .label-holder {
                    @include grid-column(3 of 12);
                }
                .input-holder {
                    @include grid-column(9 of 12);
                }
            }
            &.span-3-col {
                .label-holder {
                    @include grid-column(3 of 18);
                }
                .input-holder {
                    @include grid-column(15 of 18);
                }
            }

    }
    &.label-position-top {
        .label-holder, .input-holder {
            @include grid-column(12 of 12);
        }
    }
    &.label-position-left {
        .label-holder, .input-holder {
            float: left;
        }
    }
    &.label-position-right {
        &, &.span-2-col, &.span-3-col {
            .label-holder, .input-holder {
                float: right;
            }
        }
        .label-holder {
            padding-left: 0;
        }
        .input-holder {
            padding-right: 0
        }
        &.single-switch {
            .input-holder {
                margin-right: -7.5em;
                width: auto;
                .input-space {
                    padding-right: 0;
                }
            }
            .label-holder {
                padding-left: 8em;
                ;
                width: 100%;
            }
        }
    }
    %font-awesome {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &.indent-1, &.indent-2, &.indent-3 {
        .input-holder {
            position: relative
        }
    }
    // Depreceted to Simplify
    // &.indent-1, &.indent-2 {
    //     .input-holder .text {
    //         color: grey(75);
    //     }
    // }
    // &.indent-3 {
    //     .input-holder .text {
    //         color: grey(70);
    //     }
    // }
    &.indent-1, &.indent-2, &.indent-3 {
        .input-holder:before {
            color: grey(20);
            @extend %font-awesome;
            content: "\f178";
            letter-spacing: .25em;
            position: absolute;
            top:0;
            left:0;
                padding: .75em 0;
        }
    }
    &.indent-1 .input-holder {
        padding-left: 1.5rem;
    }
    &.indent-2 .input-holder {
        padding-left: 2.5rem;
    }
    &.indent-3 .input-holder {
        padding-left: 3.5rem;
    }
    &.indent-1 .input-holder:before {}
    &.indent-2 .input-holder:before {
        content: "\f178\f054";
    }
    &.indent-3 .input-holder:before, {
        content: "\f178\f178\f054";
    }
}
.seq {
    @include baseline-font(-2, 0, 0);
    color: rebrand-color($primary-color, 2);
    vertical-align: top;
    display: inline-block;
    margin-top: -.75em;
    &:hover {
        color: mix(rebrand-color($primary-color, 2), $black);
        text-decoration: underline;
    }
}


.question-group.fluid-align {
    display: table !important;
    width: 100%;
    .question-grid-based {
        display: table-row !important;
        .label-holder, .input-holder {
            display: table-cell !important;
            vertical-align: top;
            float: none !important;
            width: auto;
        }
        .label-holder {
            padding-top: .89rem;
            padding-right: 0;
        }
        .input-holder {
            min-width: 20%;
        }
    }
}

.input-holder {
    .group-3up &, .group-2up &, .group-1up & {
        // @include grid-column-row();
    }
}

.input-space {
    .group-1up & .group-2up &, .group-3up & {
        @include grid-column(1 of 1, 0);
    }
    @include bp(md) {
        .group-2up &, .group-3up & {
            @include grid-column(1 of 2, 0);
        }
    }
    ;
    @include bp(lg) {
        .group-3up & {
            @include grid-column(1 of 3, 0);
        }
    }
    ;
}

// .input-spacer::nth-child(1){ clear:left;}

/**
* Questions Grid Based:
* `.question-grid-based` - This is a variation of the question block used by NCDR. `.label-holder &amp; .input-holder` are used as containters so you can add class grid sizer to the  `split_1of5, split_2of5, split_3of5, split_4of5` to control the size of the label and input space.
* 
*   @example
* <div class="row">
*   <h5 class="highlighted">Default</h5>
*   <div class="column small-12 end">
*     <div class="question-grid-based span-2-col required label-position-left">
*       <div class="label-holder">
*         <label for="">
*           <span class="text">Question Title
*             <a class="seq">1234</a>
*           </span>
*           <span class="required-holder">
*             <i class="fa fa-holder-dynamic"></i>
*           </span>
*         </label>
*         <div class="hint">This is some hint text</div>
*       </div>
*       <div class="input-holder">
*         <div class="input-space">
*           <input type="text">
*         </div>
*         <div class="message-holder">
*           <small class="error">
*             <i class="fa fa-holder"></i>Error message</small>
*           <small class="warning">
*             <i class="fa fa-holder"></i>Warning message</small>
*           <small class="data">
*             <i class="fa fa-holder"></i>Data message</small>
*         </div>
*         <div class="hint">This is some hint text</div>
*       </div>
*     </div>
*   </div>
* </div>
*/


/**
* Indent Modifier:
* `.indent-1` - children space themselves to show the relationship to the parent..
* 
*   @example
* <div class="row">
*   <h5 class="highlighted">Default</h5>
*   <div class="column small-12 last">
*     <div class="question-grid-based span-2-col required label-position-left indent-1">
*       <div class="label-holder">
*         <label for="">
*           <span class="text">Question Indent 1
*             <a class="seq">1234</a>
*           </span>
*           <span class="required-holder">
*             <i class="fa fa-holder-dynamic"></i>
*           </span>
*         </label>
*         <div class="hint">This is some hint text</div>
*       </div>
*       <div class="input-holder">
*         <div class="input-space">
*           <input type="text">
*         </div>
*         <div class="message-holder">
*           <small class="error">
*             <i class="fa fa-holder"></i>Error message</small>
*           <small class="warning">
*             <i class="fa fa-holder"></i>Warning message</small>
*           <small class="data">
*             <i class="fa fa-holder"></i>Data message</small>
*         </div>
*         <div class="hint">This is some hint text</div>
*       </div>
*     </div>
*   </div>
*   <div class="column small-12 last">
*     <div class="question-grid-based span-2-col required label-position-left indent-2">
*       <div class="label-holder">
*         <label for="">
*           <span class="text">Question Indent 2
*             <a class="seq">1234</a>
*           </span>
*           <span class="required-holder">
*             <i class="fa fa-holder-dynamic"></i>
*           </span>
*         </label>
*         <div class="hint">This is some hint text</div>
*       </div>
*       <div class="input-holder">
*         <div class="input-space">
*           <input type="text">
*         </div>
*         <div class="message-holder">
*           <small class="error">
*             <i class="fa fa-holder"></i>Error message</small>
*           <small class="warning">
*             <i class="fa fa-holder"></i>Warning message</small>
*           <small class="data">
*             <i class="fa fa-holder"></i>Data message</small>
*         </div>
*         <div class="hint">This is some hint text</div>
*       </div>
*     </div>
*   </div>
*   <div class="column small-6">
*     <div class="question-grid-based required label-position-left indent-3">
*       <div class="label-holder">
*         <label for="">
*           <span class="text">Question Indent 3
*             <a class="seq">1234</a>
*           </span>
*           <span class="required-holder">
*             <i class="fa fa-holder-dynamic"></i>
*           </span>
*         </label>
*         <div class="hint">This is some hint text</div>
*       </div>
*       <div class="input-holder">
*         <div class="input-space">
*           <input type="text">
*         </div>
*         <div class="message-holder">
*           <small class="error">
*             <i class="fa fa-holder"></i>Error message</small>
*           <small class="warning">
*             <i class="fa fa-holder"></i>Warning message</small>
*           <small class="data">
*             <i class="fa fa-holder"></i>Data message</small>
*         </div>
*         <div class="hint">This is some hint text</div>
*       </div>
*     </div>
*   </div><div class="column small-6"></div>
* </div>
*/


/**
* Repeating Switches Column Modifier:
* `.group-3up` - special quesitons have repeating inputs like radio buttons ths controls how if the inputs will spread themselves into columns.
* 
*   @example
* <div class="row">
*    <div class="column small-12">
*        <div class="question-grid-based required label-position-left span-2-col group-2up">
*            <div class="label-holder">
*              <label for="">
*              <span class="text">Question Indent 3
*              <a class="seq">1234</a>
*          </span>
*          <span class="required-holder">
*              <i class="fa fa-holder-dynamic"></i>
*          </span>
*        </label>
*      </div>
*      <div class="input-holder">
*         <div class="switch-input-space">
*           <div class="switch radius">
*              <input class="switch-input" id="radius-checkbox1" type="checkbox" value="true">
*              <label class="switch-paddle" for="radius-checkbox1">
*              <span class="show-for-sr">Do you like me?</span>
*              <span class="switch-active" aria-hidden="true"><i class="fa fa-check-circle-o"></i></span>
*              <span class="switch-inactive" aria-hidden="true"><i class="fa fa-times-circle"></i></span>
*             </label>
*           </div>
*           <label class="switch-value" for="radius-checkbox1">Random Label Length</label>
*         </div>
*         <div class="switch-input-space">
*           <div class="switch radius">
*             <input class="switch-input" id="radius-checkbox2" type="checkbox" value="true">
*             <label class="switch-paddle" for="radius-checkbox2">
*              <span class="show-for-sr">Do you like me?</span>
*              <span class="switch-active" aria-hidden="true"><i class="fa fa-check-circle-o"></i></span>
*              <span class="switch-inactive" aria-hidden="true"><i class="fa fa-times-circle"></i></span>
*             </label>
*           </div>
*           <label class="switch-value" for="radius-checkbox2">Random Label Length</label>
*         </div>
*         <div class="switch-input-space">
*           <div class="switch radius">
*             <input class="switch-input" id="radius-checkbox3" type="checkbox" value="true">
*             <label class="switch-paddle" for="radius-checkbox3">
*              <span class="show-for-sr">Do you like me?</span>
*              <span class="switch-active" aria-hidden="true"><i class="fa fa-check-circle-o"></i></span>
*              <span class="switch-inactive" aria-hidden="true"><i class="fa fa-times-circle"></i></span>
*             </label>
*           </div>
*           <label class="switch-value" for="radius-checkbox3">Random Label Length</label>
*         </div>
*         <div class="switch-input-space">
*           <div class="switch radius">
*             <input class="switch-input" id="radius-checkbox4" type="checkbox" value="true">
*             <label class="switch-paddle" for="radius-checkbox4">
*              <span class="show-for-sr">Do you like me?</span>
*              <span class="switch-active" aria-hidden="true"><i class="fa fa-check-circle-o"></i></span>
*              <span class="switch-inactive" aria-hidden="true"><i class="fa fa-times-circle"></i></span>
*             </label>
*           </div>
*           <label class="switch-value" for="radius-checkbox4">Random Label Length</label>
*         </div>
*         <div class="switch-input-space">
*           <div class="switch radius">
*             <input class="switch-input" id="radius-checkbox5" type="checkbox" value="true">
*             <label class="switch-paddle" for="radius-checkbox5">
*              <span class="show-for-sr">Do you like me?</span>
*              <span class="switch-active" aria-hidden="true"><i class="fa fa-check-circle-o"></i></span>
*              <span class="switch-inactive" aria-hidden="true"><i class="fa fa-times-circle"></i></span>
*             </label>
*           </div>
*           <label class="switch-value" for="radius-checkbox5">Random Label Length</label>
*         </div>
*         <div class="switch-input-space">
*           <div class="switch radius">
*             <input class="switch-input" id="radius-checkbox6" type="checkbox" value="true">
*             <label class="switch-paddle" for="radius-checkbox6">
*              <span class="show-for-sr">Do you like me?</span>
*              <span class="switch-active" aria-hidden="true"><i class="fa fa-check-circle-o"></i></span>
*              <span class="switch-inactive" aria-hidden="true"><i class="fa fa-times-circle"></i></span>
*             </label>
*           </div>
*           <label class="switch-value" for="radius-checkbox6">Random Label Length</label>
*         </div>
*      </div>
*    </div>
*   </div>
* </div>
**/


/**
* Fluid Question Group:
* `.question-group.fluid-align` - A containter that will align the labels  to the longest label.
* 
*   @example
*   <h5 class="highlighted">Default</h5>
* <div class=" question-group fluid-align">
*     <div class="question-grid-based span-2-col required label-position-left">
*       <div class="label-holder">
*         <label for="">
*           <span class="text">Question Title  that is Longer
*             <a class="seq">1234</a>
*           </span>
*           <span class="required-holder">
*             <i class="fa fa-holder-dynamic"></i>
*           </span>
*         </label>
*       </div>
*       <div class="input-holder">
*         <div class="input-space">
*           <input type="text">
*         </div>
*         <div class="hint">This is some hint text</div>
*       </div>
*     </div>
*     <div class="question-grid-based span-2-col required label-position-left">
*       <div class="label-holder">
*         <label for="">
*           <span class="text">Title
*             <a class="seq">1234</a>
*           </span>
*           <span class="required-holder">
*             <i class="fa fa-holder-dynamic"></i>
*           </span>
*         </label>
*       </div>
*       <div class="input-holder">
*         <div class="input-space">
*           <input type="text">
*         </div>
*         <div class="hint">This is some hint text</div>
*       </div>
*     </div>
*     <div class="question-grid-based span-2-col required label-position-left">
*       <div class="label-holder">
*         <label for="">
*           <span class="text">Question Title
*             <a class="seq">1234</a>
*           </span>
*           <span class="required-holder">
*             <i class="fa fa-holder-dynamic"></i>
*           </span>
*         </label>
*       </div>
*       <div class="input-holder">
*         <div class="input-space">
*           <input type="text">
*         </div>
*         <div class="hint">This is some hint text</div>
*       </div>
*     </div>
* </div>
*/