
.input-space a.button, .input-space button, .input-space .button{
  	i{margin-right: 0;}
}

.date-input-holder{  max-width: calc(100% - 3rem);}
.date-picker-holder {
	min-width: calc(3rem);
	.button{
	@include baseline-font(2,0,0,0,$tight);
	line-height:1;
    // *default* all inputs are medium sized
    padding:rem-calc(ms(0)*.6) rem-calc(ms(0)*.5);
    height: rem-calc(ms(0)* 2.5);
    // *landscape phones* inputs shrink on short screens that are smaller then an Ipad
    @include bp(md-height-down){
        padding:rem-calc(ms(0)*.3) rem-calc(ms(0)*.5);
        height: rem-calc(ms(0)*2);
    }
    .disabled &,.locked &{ @extend %disabledinput;}
}}

/**
* Questions -Required:
* `.question` - This is a standard formating for an input question. 
* 
*   @example
*	<div class="question required">
*		<div class="label-holder">
*			<label for="">
*				<span class="text">Question Dropdown Title (Required)</span>
*				<span class="required-holder">
*					<i class="fa fa-holder-dynamic"></i>
*				</span>
*			</label>
*		</div>
*		<div class="input-holder">
*			 <div class="input-space column small-6 large-9">
*				<input type="text"/>
*			</div>
*			<div class="column small-6 large-3 value">
*				Years
*			</div>
*		</div>
*		<div class="message-holder">
*				<small class="error"><i class="fa fa-holder"></i> Error message</small>
*				<small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*				<small class="data"><i class="fa fa-holder"></i> Data message</small>
*		</div>
*		<div class="hint">This is some hint text</div>
*	</div>
*/
/**
* Questions - States:
* `.question + .warning + error +...` - Modify the container with `.required`, `.warning`, '.error', and other states. Modifiers change the icons and control the visiblity of the message holder.
* 
*   @example
*	<div class="question warning wildcard">
*		<div class="label-holder">
*			<label for="">
*				<span class="text">Question</span>
*				<span class="required-holder">
*					<i class="fa fa-holder-dynamic"></i>
*				</span>
*			</label>
*		</div>
*		<div class="input-holder">
*			 <div class="input-space column small-6 large-9">
*				<input type="text"/>
*			</div>
*			<div class="column small-6 large-3 value">
*				Years
*			</div>
*		</div>
*		<div class="message-holder">
*				<small class="error"><i class="fa fa-holder"></i> Error message</small>
*				<small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*				<small class="info"><i class="fa fa-holder"></i> Data message</small>
*		</div>
*		<div class="hint">This is some hint text</div>
*	</div>
**/

