.question-grid-based{ 
    // default sizing is elements are inside of a small-6
    // &.span-1-col{}
    // default setting is label-position-left
    @include grid-row($behavior: nest);
    .label-holder, .input-holder{@include grid-column(12);}

    @include bp(md){
       &.label-position-left , &.label-position-right{
      .label-holder, .input-holder{ display:inline-block;} 
      .label-holder{ @include grid-column(1 of 2); }
      .input-holder{ @include grid-column(1 of 2); }  
      &.span-2-col{
        .label-holder{ @include grid-column(1 of 4); }
        .input-holder{ @include grid-column(3 of 4); }  
      } 
      &.span-3-col{
        .label-holder{ @include grid-column(1 of 6); }
        .input-holder{ @include grid-column(1 of 6); }  
      }       
    }
    }
     @include bp(lg){
       &.label-position-left , &.label-position-right{
      .label-holder, .input-holder{ display:inline-block;} 
      .label-holder{ @include grid-column(1 of 3); }
      .input-holder{ @include grid-column(2 of 3); }  
      &.span-2-col{
        .label-holder{ @include grid-column(1 of 6); }
        .input-holder{ @include grid-column(5 of 6); }  
      } 
      &.span-3-col{
        .label-holder{ @include grid-column(1 of 9); }
        .input-holder{ @include grid-column(8 of 9); }  
      }       
    }
    }
    &.label-position-top{
      .label-holder, .input-holder{@include grid-column(12);}
    }


    &.label-position-left{
      .label-holder, .input-holder{ float:left;} 
    }
    &.label-position-top{}
    &.label-position-right{
      &, &.span-2-col, &.span-3-col{ .label-holder, .input-holder{ float:right;} }

      .label-holder{ padding-left:0; }
      .input-holder{ padding-right:0 } 
      &.single-switch{
          .input-holder{
            margin-right:-7.5em;
            width:auto;
            .input-space{padding-right:0;}
          }
          .label-holder{padding-left:8em;; width:100%;}

      }
    }

}

/**
* Questions Grid Based:
* `.question-grid-based` - This is a variation of the question block used by NCDR. `.label-holder &amp; .input-holder` are used as containters so you can add class grid sizer to the  `split_1of5, split_2of5, split_3of5, split_4of5` to control the size of the label and input space.
* 
*   @example
* <h5 class="highlighted">Default</h5>
* <div class='row'><div class='column small-6'><div class="question-grid-based required label-position-left ">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question Title<a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   <div class="hint">This is some hint text</div>
*   </div>
*   <div class="input-holder">
*      <div class="input-space">
*       <input type="text"/>
*     </div>
*   <div class="message-holder">
*       <small class="error"><i class="fa fa-holder"></i> Error message</small>
*       <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*       <small class="data"><i class="fa fa-holder"></i> Data message</small>
*   </div>
*   <div class="hint">This is some hint text</div>
*   </div>
* </div></div></div>
* <h5 class="highlighted">label-position-top</h5>
* <div class='row'><div class='column small-12 '><div class="question-grid-based required label-position-top">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question Title<a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   <div class="hint">This is some hint text</div>
*   </div>
*   <div class="input-holder">
*      <div class="input-space">
*       <input type="text"/>
*     </div>
*   <div class="message-holder">
*       <small class="error"><i class="fa fa-holder"></i> Error message</small>
*       <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*       <small class="data"><i class="fa fa-holder"></i> Data message</small>
*   </div>
*   <div class="hint">This is some hint text</div>
*   </div>
* </div></div></div>
* <h5 class="highlighted">label-position-right span-2-col</h5>
* <div class='row'><div class='column small-12 '><div class="question-grid-based required label-position-right span-2-col">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question Title<a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   <div class="hint">This is some hint text</div>
*   </div>
*   <div class="input-holder">
*      <div class="input-space">
*       <input type="text"/>
*     </div>
*   <div class="message-holder">
*       <small class="error"><i class="fa fa-holder"></i> Error message</small>
*       <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*       <small class="data"><i class="fa fa-holder"></i> Data message</small>
*   </div>
*   <div class="hint">This is some hint text</div>
*   </div>
* </div></div></div>
* <h5 class="highlighted">label-position-right span-2-col</h5>
* <div class='row'><div class='column small-12 '><div class="question-grid-based required label-position-right span-2-col single-switch">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question Title<a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   <div class="hint">This is some hint text</div>
*   </div>
*   <div class="input-holder">
*      <div class="input-space ">
*    <div class="switch large sg">
*      <input class="switch-input sg" id="largeSwitch" type="checkbox" name="exampleSwitch">
*      <label class="switch-paddle sg" for="largeSwitch">
*        <span class="show-for-sr sg">Show Large Elephants</span>
*      </label>
*    </div>
*     </div>
*   </div>
* </div></div></div>
*/


