.question-grid-based{

  @include grid-row($behavior: nest);
	.label-holder,.input-holder,.value-holder{
    @include grid-column(1 of 2);
	}

  &.split_1of5{
    .label-holder{ @include grid-column(1 of 5); }
    .input-holder,.value-holder{ @include grid-column(4 of 5); }
  }
  &.split_2of5{
    .label-holder{ @include grid-column(2 of 5); }
    .input-holder,.value-holder{ @include grid-column(3 of 5); }
  }
  &.split_3of5{
    .label-holder{ @include grid-column(3 of 5); }
    .input-holder,.value-holder{ @include grid-column(2 of 5); }
  }
  &.split_4of5{
    .label-holder{ @include grid-column(4 of 5); }
    .input-holder,.value-holder{ @include grid-column(1 of 5); }
  }

	.message-holder,.hint{
		@include grid-row();  
	}
	.label-holder{
		text-align: left;
	}
  .input-holder{
    .message-holder{text-align: right;}
    }
  &.center-alignment .label-holder{text-align: right;}
  &.center-alignment   .input-holder{
    .message-holder,.hint{text-align: left;}
    }
  .label-holder .text{ padding-right: 0;}
  &.required .label-holder .text{padding-right: 1rem;}

}
.question-group.fluid-align{
  display: table !important;
  .question-grid-based{
    display: table-row !important;
    .label-holder,.input-holder{
      display:table-cell !important;
      vertical-align: top;
      float:none;
    }
    .label-holder{width:1%; padding-top: .89rem;padding-right:0;}
    .input-holder{width:auto;}
  }

}
// Seq Numbers are a special NCDR paradym.
.label-holder,.message-holder,.hint{
	 .seq{
		@include baseline-font(-2,0,0);
		color: rebrand-color($primary-color,2);
		vertical-align: top;
		display: inline-block;
		margin-top: -.75em;
		margin-left: -.35em;
		&:hover{color:mix(rebrand-color($primary-color,2),$black); text-decoration: underline;}
	}
}
/**
* Questions Grid Based:
* `.question-grid-based` - This is a variation of the question block used by NCDR. `.label-holder &amp; .input-holder` are used as containters so you can add class grid sizer to the  `split_1of5, split_2of5, split_3of5, split_4of5` to control the size of the label and input space.
* 
*   @example
* <h5 class="highlighted">Default</h5>
* <div class="question-grid-based required">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question Title<a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   <div class="hint">This is some hint text</div>
*   </div>
*   <div class="input-holder">
*      <div class="input-space column small-6 large-9">
*       <input type="text"/>
*     </div>
*     <div class="column value small-6 large-3">
*       Years
*     </div>
*   <div class="message-holder">
*       <small class="error"><i class="fa fa-holder"></i> Error message</small>
*       <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*       <small class="data"><i class="fa fa-holder"></i> Data message</small>
*   </div>
*   <div class="hint">This is some hint text</div>
*   </div>
* </div>
*/


/**
* Questions Grid Based (Size Modifier):
* `.question-grid-based.split_2of5` - This is a modifier of spacing for the label-holder and the input-holder are controled my size modifiers on the question container. Grid sizers are `split_1of5, split_2of5, split_3of5, split_4of5`. The first number is the perpotional size of the label-holder in relation to container.
* 
*   @example
* <div class="question-grid-based required split_1of5">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question (1 of 5) <a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   <div class="hint">This is some hint text</div>
*   </div>
*   <div class="input-holder">
*      <div class="input-space">
*       <input type="text"/>
*     </div>
*   <div class="message-holder">
*       <small class="error"><i class="fa fa-holder"></i> Error message</small>
*       <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*       <small class="data"><i class="fa fa-holder"></i> Data message</small>
*   </div>
*   <div class="hint">This is some hint text</div>
*   </div>
* </div>
* <div class="question-grid-based required split_2of5 warning">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question (2 of 5) <a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   <div class="hint">This is some hint text</div>
*   </div>
*   <div class="input-holder">
*      <div class="input-space">
*       <input type="text"/>
*     </div>
*   <div class="message-holder">
*       <small class="error"><i class="fa fa-holder"></i> Error message</small>
*       <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*       <small class="data"><i class="fa fa-holder"></i> Data message</small>
*   </div>
*   <div class="hint">This is some hint text</div>
*   </div>
* </div>
* <div class="question-grid-based required split_3of5">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question (3 of 5)<a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   <div class="hint">This is some hint text</div>
*   </div>
*   <div class="input-holder">
*      <div class="input-space">
*       <input type="text"/>
*     </div>
*   <div class="message-holder">
*       <small class="error"><i class="fa fa-holder"></i> Error message</small>
*       <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*       <small class="data"><i class="fa fa-holder"></i> Data message</small>
*   </div>
*   <div class="hint">This is some hint text</div>
*   </div>
* </div>
*/

/**
* Questions Grid Based (Alignment Modifier):
* `.question-grid-based.center-alignment` - The default alignment for the labels are to the left but to align the label and hints to the center just add `.center-alignment` to the question container and it will center align the inputs and labels.
* 
*   @example
* <div class="question-grid-based center-alignment">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question Title (center-alignment)<a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   <div class="hint">This is some hint text</div>
*   </div>
*   <div class="input-holder">
*      <div class="input-space column small-6 large-9">
*       <input type="text"/>
*     </div>
*     <div class="column value small-6 large-3">
*       Years
*     </div>
*   <div class="message-holder">
*       <small class="error"><i class="fa fa-holder"></i> Error message</small>
*       <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*       <small class="data"><i class="fa fa-holder"></i> Data message</small>
*   </div>
*   <div class="hint">This is some hint text</div>
*   </div>
* </div>
*/

/**
* Questions Group Fluid Align (Containter):
* `.question-group.fluid-align .question-grid-based` - A containter that will align the labels and input divide to the longest label.
* 
*   @example
* <div class="question-group fluid-align">
* <div class="question-grid-based ">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question Title <a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   </div>
*   <div class="input-holder">
*      <div class="input-space">
*       <input type="text"/>
*     </div>
*   <div class="message-holder">
*       <small class="error"><i class="fa fa-holder"></i> Error message</small>
*       <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*       <small class="data"><i class="fa fa-holder"></i> Data message</small>
*   </div>
*   <div class="hint">This is some hint text</div>
*   </div>
* </div>
* <div class="question-grid-based ">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question Longer Title <a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   </div>
*   <div class="input-holder">
*      <div class="input-space">
*       <input type="text"/>
*     </div>
*   <div class="message-holder">
*       <small class="error"><i class="fa fa-holder"></i> Error message</small>
*       <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*       <small class="data"><i class="fa fa-holder"></i> Data message</small>
*   </div>
*   <div class="hint">This is some hint text</div>
*   </div>
* </div>
* <div class="question-grid-based">
*   <div class="label-holder">
*     <label for="">
*       <span class="text">Question <a class="seq">1234</a></span>
*       <span class="required-holder">
*         <i class="fa fa-holder-dynamic"></i>
*       </span>
*     </label>
*   </div>
*   <div class="input-holder">
*      <div class="input-space">
*       <input type="text"/>
*     </div>
*   <div class="message-holder">
*       <small class="error"><i class="fa fa-holder"></i> Error message</small>
*       <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
*       <small class="data"><i class="fa fa-holder"></i> Data message</small>
*   </div>
*   <div class="hint">This is some hint text</div>
*   </div>
* </div>
* </div>
*/