<div class="row">
    <div class="column small-12 medium-4 large-3 visible-grid">
        <div class="panel">
            <span class="show-for-small-only">The screen is small and the container div has a class of 'small-12'</span>
            <span class="show-for-medium-only">The screen is medium and the container div has a class of 'medium-4'</span>
            <span class="show-for-large-only">the screen is large and the container div has a class of 'large-3'</span>
        </div>
    </div>
    <div class="column small-6 medium-4 large-3 visible-grid">
        <div class="panel">
            <span class="show-for-small-only">The screen is small and the container div has a class of 'small-6'</span>
            <span class="show-for-medium-only">The screen is medium and the container div has a class of 'medium-4'</span>
            <span class="show-for-large-only">the screen is large and the container div has a class of 'large-3'</span>
        </div>
    </div>
    <div class="column small-6 medium-4 large-3 visible-grid">
        <div class="panel">
            <span class="show-for-small-only">The screen is small and the container div has a class of 'small-6'</span>
            <span class="show-for-medium-only">The screen is medium and the container div has a class of 'medium-4'</span>
            <span class="show-for-large-only">the screen is large and the container div has a class of 'large-3'</span>
        </div>
    </div>
    <div class="column small-12 medium-12 large-3 visible-grid">
        <div class="panel">
            <span class="show-for-small-only">The screen is small and the container div has a class of 'small-12'</span>
            <span class="show-for-medium-only">The screen is medium and the container div has a class of 'medium-12'</span>
        <span class="show-for-large-only">the screen is large and the container div has a class of 'large-3'</span></div>
    </div>
</div>
<style>
.visible-grid>.panel{
color:black;
border:1px solid #aaa;
background-color: #ccc;
padding: 1em;
}
</style>
