   <section class="sg-block sg-section-mobile-header">
      <div class="sg-text">
        <h3 id="mobile-header" class="sg">Mobile Header</h3>
        <p class="sg">
          <code class="sg">.moible-header</code>- there is a basic layout of short tabbed header of apps</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="row">
            <header class="mobile-header">
              <a href="#!/content/calculator/" class="logo">
                <img src="assets/img/headerlogo.svg" alt="ACC Statin Intolerance Guidelines">
              </a>
              <ul class="nav tabs tabs-primary">
                <li class="icon tab-title">
                  <a class="home">
                    <i class="fa fa-holder"></i>
                  </a>
                </li>
                <li id="calculator-Tab" class="selected tab-title">
                  <a href="#!/content/calculator/" class="condensable condensable-word small">Eval
                    <span class="condense">uate</span>
                  </a>
                </li>
                <li id="recommendation-Tab" class=" tab-title">
                  <a href="#!/content/recommendation/prescribinginfo/" class="condensable condensable-word small">Recommend
                    <span class="condense">ation</span>
                  </a>
                </li>
              </ul>
            </header>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">header</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;mobile-header&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;#!/content/calculator/&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;logo&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">img</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">&quot;assets/img/headerlogo.svg&quot;</span> <span class="hljs-attribute">alt</span>=<span class="hljs-value">&quot;ACC Statin Intolerance Guidelines&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nav tabs tabs-primary&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;icon tab-title&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;home&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;calculator-Tab&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;selected tab-title&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;#!/content/calculator/&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;condensable condensable-word small&quot;</span>&gt;</span>Eval
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;condense&quot;</span>&gt;</span>uate<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;recommendation-Tab&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot; tab-title&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;#!/content/recommendation/prescribinginfo/&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;condensable condensable-word small&quot;</span>&gt;</span>Recommend
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;condense&quot;</span>&gt;</span>ation<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">header</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>