<section class="sg-block sg-section-mobile-footer">
      <div class="sg-text">
        <h3 id="mobile-footer" class="sg">Mobile Footer</h3>
        <p class="sg">
          <code class="sg">.footer.page</code>- there is a basic layout of short tabbed footer for mobile apps</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <footer class="mobile-footer">
            <a href="#!/content/home/" class="logo">
              <img style="border:none 0; " src="assets/img/footerlogo.svg" alt="ACC Statin Intolerance Guidelines">
            </a>
            <ul class="nav tabs tabs-primary reverse swappable small">
              <li id="guideline-Tab" class="">
                <a href="#!/content/guideline/home">
                  <span class="short-text">Resources</span>
                  <span class="long-text">Resources</span>
                </a>
              </li>
              <li id="legal-Tab" class="selected">
                <a href="#!/content/legal">
                  <span class="short-text">Disclaimer</span>
                  <span class="long-text">Disclaimer</span>
                </a>
              </li>
              <li id="about-Tab" class="">
                <a href="#!/content/about">
                  <span class="short-text">About</span>
                  <span class="long-text">About the App</span>
                </a>
              </li>
            </ul>
          </footer>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">footer</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;mobile-footer&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;#!/content/home/&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;logo&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">img</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">&quot;border:none 0; &quot;</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">&quot;assets/img/footerlogo.svg&quot;</span> <span class="hljs-attribute">alt</span>=<span class="hljs-value">&quot;ACC Statin Intolerance Guidelines&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nav tabs tabs-primary reverse swappable small&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;guideline-Tab&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;#!/content/guideline/home&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;short-text&quot;</span>&gt;</span>Resources<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;long-text&quot;</span>&gt;</span>Resources<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;legal-Tab&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;selected&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;#!/content/legal&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;short-text&quot;</span>&gt;</span>Disclaimer<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;long-text&quot;</span>&gt;</span>Disclaimer<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;about-Tab&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;#!/content/about&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;short-text&quot;</span>&gt;</span>About<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;long-text&quot;</span>&gt;</span>About the App<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">footer</span>&gt;</span></pre>
      </div>
    </section>