   <section class="sg-block sg-section-split-layout-with-off-canvas-reveal">
      <div class="sg-text">
        <h3 id="split-layout-with-off-canvas-reveal" class="sg">Split Layout With Off Canvas Reveal</h3>
        <p class="sg">
          <code class="sg">.mobile-offcanvas-wrapper</code>- This is a structural container that has the ablity to change from content and sidebar to just content and the sidebar being off canvas. Trigger the off canvas reveal by adding
          <code class="sg">.navOn</code>to the div.split-layout. Change the switch point by adding
          <code class="sg">.large</code>,
          <code class="sg">.medium</code>, or
          <code class="sg">.small</code>.
          <br class="sg">!!! must include _layout-split.scss !!!
          <br class="sg">!!! requires javascripts foundation equzlizer will remove the sidebar collapse !!!</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="mobile-offcanvas-wrapper">
            <section class="split-layout medium navOn">
              <aside class="split-sidebar">
                <h2>Sidebar</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
              </aside>
              <article class="split-content page with-group-sections">
                <div class="page-wrapper">
                  <div class="content-padding">
                    <h1>Outside of the Group Section
                      <blockquote>I need to be wrapped by a div.content-padding to line up</blockquote>
                    </h1>
                  </div>
                  <div class="group-section">
                    <h3>Inside of a Group Section</h3>
                    <p>Some extra content in the content area</p>
                    <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of &quot;de Finibus Bonorum et Malorum&quot; (The Extremes of Good and Evil) by Cicero, written in 45 BC.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;mobile-offcanvas-wrapper&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">section</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;split-layout medium navOn&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">aside</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;split-sidebar&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>Sidebar<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>Contrary to popular belief, Lorem Ipsum is not simply random text.<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">aside</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">article</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;split-content page with-group-sections&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;page-wrapper&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;content-padding&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">h1</span>&gt;</span>Outside of the Group Section
            <span class="hljs-tag">&lt;<span class="hljs-title">blockquote</span>&gt;</span>I need to be wrapped by a div.content-padding to line up<span class="hljs-tag">&lt;/<span class="hljs-title">blockquote</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">h1</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;group-section&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">h3</span>&gt;</span>Inside of a Group Section<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>Some extra content in the content area<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
            a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
            from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of &quot;de Finibus Bonorum et Malorum&quot; (The Extremes
            of Good and Evil) by Cicero, written in 45 BC.<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">article</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">section</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>