 <section class="sg-block sg-section-sticky-button-bar">
      <div class="sg-text">
        <h3 id="sticky-button-bar" class="sg">Sticky Button Bar</h3>
        <p class="sg">
          <code class="sg">body.stuck-footer .footer.sticky-button-bar</code>- Sticky button bars are made for moving an actional button bar into a fixed possition out of its normal flow so it can be on screan when it is below the fold. This ui element need to be combined with waypoint to trigger .footer-stuck on the body to toggle on and off at appropriate times.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas" id="sticky-button-bar-holder">
          <div class="footer sticky-button-bar">
            <div class="row">
              <div class="pull-right">
                <a class="secondary button" href="#">Secondary Button</a>
                <a class="button" href="#">Action Button</a>
              </div>
            </div>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;footer sticky-button-bar&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;pull-right&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;secondary button&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;#&quot;</span>&gt;</span>Secondary Button<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;#&quot;</span>&gt;</span>Action Button<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>