   <section class="sg-block sg-section-website-footer-lite-">
      <div class="sg-text">
        <h3 id="website-footer-lite-" class="sg">Website Footer (Lite)</h3>
        <p class="sg">
          <code class="sg">footer</code>- the ACC.org footer is very large and has many moving parts this is the shorter lighter version for applications</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <footer class="page-footer">
            <div class="row">
              <a href="/">
                <img class="logo" src="Assets/img/oma-01.svg" alt="Home">
              </a>
            </div>
            <div class="footer-darker">
              <div class="row">
                <div class="columns large-8">
                  <section class="address row">
                    <h3>American College of Cardiology</h3>
                    <address>
                      <!-- http://microformats.org/wiki/hcard -->
                      <h4>Heart House</h4>
                      <ul>
                        <li>
                          <span class="street-address">2400 N. St. NW</span>
                        </li>
                        <li>
                          <span class="locality">Washington</span>,
                          <span class="country-name">
                            <abbr title="District of Colombia">DC</abbr>
                          </span>
                          <span class="postal-code">20037</span>
                        </li>
                        <li>
                          <a href="mailto:resource@acc.org" class="email">
                            <strong>Email:</strong>resource@acc.org</a>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <span tel="+12023756000" class="tel">
                            <strong>Phone:</strong>(202) 375-6000, ext. 5603</span>
                        </li>
                        <li>
                          <span tel="+18002574737" class="tel">
                            <strong>Toll Free:</strong>(800) 253-4636, ext. 5603</span>
                        </li>
                        <li>
                          <span fax="+12023757000" class="fax">
                            <strong>Fax:</strong>(202) 375-7000</span>
                        </li>
                      </ul>
                    </address>
                  </section>
                  <section class="social-buttons row">
                    <h4>Stay Connected</h4>
                    <ul>
                      <li>
                        <a class="button twitter icon-only block" href="https://twitter.com/accintouch" target="_blank">
                          <i class="fa fa-twitter"></i>
                          <span class="text">Twitter</span>
                        </a>
                      </li>
                      <li>
                        <a class="button facebook icon-only block" href="https://www.facebook.com/AmericanCollegeofCardiology" target="_blank">
                          <span class="text">Facebook</span>
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a class="button linkedin icon-only block" href="http://www.linkedin.com/groups/American-College-Cardiology-732607?trk=myg_ugrp_ovr" target="_blank">
                          <span class="text">LinkedIn</span>
                          <i class="fa fa-linkedin"></i>
                        </a>
                      </li>
                      <li>
                        <a class="button googleplus icon-only block" href="https://plus.google.com/118164094874227618578/about" target="_blank">
                          <span class="text">Google+</span>
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                      <li>
                        <a class="button youtube icon-only block" href="http://www.youtube.com/user/ACCinTouch" target="_blank">
                          <span class="text">Youtube</span>
                          <i class="fa fa-youtube-play"></i>
                        </a>
                      </li>
                    </ul>
                  </section>
                </div>
                <div class="columns large-4">
                  <section class="acc-websites row ">
                    <h4>Powered By the ACC</h4>
                    <nav class="nav-list small">
                      <ul class="">
                        <li>
                          <a target="_blank" class="" href="http://www.acc.org">
                            <span class="text">Acc.org</span>
                            <i class="fa fa-external-link-square"></i>
                          </a>
                        </li>
                        <li>
                          <a target="_blank" class="" href="http://cvquality.acc.org/">
                            <span class="text">ACC Quality Improvement for Institutions</span>
                            <i class="fa fa-external-link-square"></i>
                          </a>
                        </li>
                        <li>
                          <a target="_blank" class="" href="http://www.ncdr.com">
                            <span class="text">NCDR.com</span>
                            <i class="fa fa-external-link-square"></i>
                          </a>
                        </li>
                        <li>
                          <a target="_blank" class="" href="http://www.cardiosmart.org">
                            <span class="text">CardioSmart.org</span>
                            <i class="fa fa-external-link-square"></i>
                          </a>
                        </li>
                        <li>
                          <a target="_blank" class="" href="http://blog.cardiosource.org">
                            <span class="text">ACCinTouch.com</span>
                            <i class="fa fa-external-link-square"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </section>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-4 columns">
                <h5>
                  <cite>&#xA9; 2015 American College of Cardiology</cite>
                </h5>
              </div>
              <div class="large-8 columns">
              </div>
            </div>
          </footer>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">footer</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;page-footer&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;/&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">img</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;logo&quot;</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">&quot;Assets/img/oma-01.svg&quot;</span> <span class="hljs-attribute">alt</span>=<span class="hljs-value">&quot;Home&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;footer-darker&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;columns large-8&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">section</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;address row&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">h3</span>&gt;</span>American College of Cardiology<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">address</span>&gt;</span>
            <span class="hljs-comment">&lt;!-- http://microformats.org/wiki/hcard --&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">h4</span>&gt;</span>Heart House<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">ul</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;street-address&quot;</span>&gt;</span>2400 N. St. NW<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;locality&quot;</span>&gt;</span>Washington<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>,
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;country-name&quot;</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">abbr</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">&quot;District of Colombia&quot;</span>&gt;</span>DC<span class="hljs-tag">&lt;/<span class="hljs-title">abbr</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;postal-code&quot;</span>&gt;</span>20037<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;mailto:resource@acc.org&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;email&quot;</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">strong</span>&gt;</span>Email:<span class="hljs-tag">&lt;/<span class="hljs-title">strong</span>&gt;</span>resource@acc.org<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">ul</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">tel</span>=<span class="hljs-value">&quot;+12023756000&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;tel&quot;</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">strong</span>&gt;</span>Phone:<span class="hljs-tag">&lt;/<span class="hljs-title">strong</span>&gt;</span>(202) 375-6000, ext. 5603<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">tel</span>=<span class="hljs-value">&quot;+18002574737&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;tel&quot;</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">strong</span>&gt;</span>Toll Free:<span class="hljs-tag">&lt;/<span class="hljs-title">strong</span>&gt;</span>(800) 253-4636, ext. 5603<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">fax</span>=<span class="hljs-value">&quot;+12023757000&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fax&quot;</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">strong</span>&gt;</span>Fax:<span class="hljs-tag">&lt;/<span class="hljs-title">strong</span>&gt;</span>(202) 375-7000<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">address</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">section</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">section</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;social-buttons row&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">h4</span>&gt;</span>Stay Connected<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">ul</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button twitter icon-only block&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;https://twitter.com/accintouch&quot;</span> <span class="hljs-attribute">target</span>=<span class="hljs-value">&quot;_blank&quot;</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-twitter&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Twitter<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button facebook icon-only block&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;https://www.facebook.com/AmericanCollegeofCardiology&quot;</span> <span class="hljs-attribute">target</span>=<span class="hljs-value">&quot;_blank&quot;</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Facebook<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-facebook&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button linkedin icon-only block&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://www.linkedin.com/groups/American-College-Cardiology-732607?trk=myg_ugrp_ovr&quot;</span>
              <span class="hljs-attribute">target</span>=<span class="hljs-value">&quot;_blank&quot;</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>LinkedIn<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-linkedin&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button googleplus icon-only block&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;https://plus.google.com/118164094874227618578/about&quot;</span> <span class="hljs-attribute">target</span>=<span class="hljs-value">&quot;_blank&quot;</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Google+<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-google-plus&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button youtube icon-only block&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://www.youtube.com/user/ACCinTouch&quot;</span> <span class="hljs-attribute">target</span>=<span class="hljs-value">&quot;_blank&quot;</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Youtube<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-youtube-play&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">section</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;columns large-4&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">section</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;acc-websites row &quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">h4</span>&gt;</span>Powered By the ACC<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">nav</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nav-list small&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">target</span>=<span class="hljs-value">&quot;_blank&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://www.acc.org&quot;</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Acc.org<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-external-link-square&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">target</span>=<span class="hljs-value">&quot;_blank&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://cvquality.acc.org/&quot;</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>ACC Quality Improvement for Institutions<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-external-link-square&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">target</span>=<span class="hljs-value">&quot;_blank&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://www.ncdr.com&quot;</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>NCDR.com<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-external-link-square&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">target</span>=<span class="hljs-value">&quot;_blank&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://www.cardiosmart.org&quot;</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>CardioSmart.org<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-external-link-square&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">target</span>=<span class="hljs-value">&quot;_blank&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://blog.cardiosource.org&quot;</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>ACCinTouch.com<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-external-link-square&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">nav</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">section</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;large-4 columns&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h5</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">cite</span>&gt;</span>&amp;copy; 2015 American College of Cardiology<span class="hljs-tag">&lt;/<span class="hljs-title">cite</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;large-8 columns&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">footer</span>&gt;</span></pre>
      </div>
    </section>