<div class="page-wrapper">
    <div class="content-padding section-padding">

        <div class="row">
            <div class="column">
                <h1 class="no-vertical-margin">
                    Committee Name
                    <span class="sub-line float-right small italic">
                        COMMITTEE/90823402934
                    </span>
                    <span class="sub-line">
                        ACC Guidance Committee
                    </span>
                </h1>
            </div>
        </div>
    </div>
</div>
<nav class="overlap nav">
    <ul class="tabs ">
        <li class="tab-title">
            <a href="open-committees.html">
                Synopsis
            </a>
        </li>
        <li class="tab-title is-active">
            <a href="open-committees-details.html">
                Committee Details
            </a>
        </li>
    </ul>
</nav>
<div class="page-wrapper">
    <div class="row section-padding">
        <div class="column ">
            <div class="card">
                <div class="colored-paper info">
                    <b>
                        Roles and Responsibilities
                    </b>
                </div>
                <div class="section-padding">
                    <p>
                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                    </p>
                </div>
                <div class="colored-paper info">
                    <b>
                        Potential sources of conflicts of interest and suggested methods of adjudication
                    </b>
                </div>
                <div class="section-padding">
                    <p>
                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                    </p>
                </div>
                <div class="colored-paper info">
                    <b>
                        Regular reporting and communication mechanisms
                    </b>
                </div>
                <div class="section-padding">
                    <p>
                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                    </p>
                </div>
                <div class="colored-paper info">
                    <b>
                        Meeting Schedule
                    </b>
                </div>
                <div class="section-padding">
                    <p>
                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row group-divide">
        <div class="column text-right">
            <a class="button secondary" href="">
                Nominate A Member
            </a>
            <a class="button" href="application-to-committee.html">
                Start Application
            </a>
        </div>
    </div>
</div>