<div class="page-wrapper">
    <div class="row">
        <div class="column">
            <h1 class="">
                Committee Name

                <span class="sub-line float-right small italic text-right">
                    <strong>
                        ACC Guidance Committee
                    </strong>
                    <br>
                        COMMITTEE/90823402934
                    </br>
                   <span class="label large">
                        Nominated
                        <i class="fa fa-thumbs-up">
                        </i>
                    </span>
                    <span class="label success large">
                                            Interested <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                                        </span>
                </span>
            </h1>
        </div>
    </div>
    <div class="row section-padding">
        <div class="column large-7">
            <div class="card">
                <div class="colored-paper info">
                    <h4>
                        Roles and Responsibilities:
                    </h4>
                </div>
                <div class="section-padding">
                    <p>
                        The Assembly of International Governors Steering Committee is an advisory group of regional representatives that provides guidance on international issues as identified by the ACC or the Assembly of International Governors.
                    </p>
                    <h5>
                        The AIGSC:
                    </h5>
                    <ul>
                        <li>
                            Supports the ACC/ACCF Board of Trustees by making recommendations for the International Strategy of the ACC.
                        </li>
                        <li>
                            Creates bi-directional communication between ACC International Chapters, ACC Board Standing Committees such as the Membership Committee, and the ACC Board of Trustees.
                        </li>
                        <li>
                            Recommends strategies for continued growth of all ACC member types internationally.
                        </li>
                        <li>
                            Implements and innovates important ACC initiatives including but not limited to ACC International Regional Conferences and educational programs, JACC Journals, and NCDR registries.
                        </li>
                        <li>
                            Leads strategic shift towards increasing engagement with current footprint of ACC International Chapters.
                        </li>
                        <li>
                            Monitors issues in international cardiovascular health and raises important issues to ACC leadership.
                        </li>
                        <li>
                            Establishes annual goals specifying its principal work focus areas for the coming year.
                        </li>
                        <li>
                            Be responsible for holding Chapters in their region responsible for performing Chapter Duties.
                        </li>
                        <li>
                            Administer corrective action to Governors as needed.
                        </li>
                    </ul>
                </div>
                <div class="colored-paper info">
                    <h4>
                        Competency Requirements
                    </h4>
                </div>
                <div class="section-padding">
                    <p>
                        Members must be able to anticipate & lead change and demonstrate strategic leadership by working to advise ACC on its international strategy and ensure the ACC achieves its mission to its fullest extent worldwide.
                    </p>
                    <p>
                        Members must also be knowledgeable about the cardiovascular community within their regions and its relevance to the ACC mission and activities.
                    </p>
                </div>
            </div>
        </div>
        <div class="column large-5">
            <h4>
                Available Positions
            </h4>
            {% include "elements/open-position" %}
            <h4>
                Current Members
            </h4>
            <div class="card">
                {% include "sections/current-members" %}
                <div class="colored-paper info">
                    <h4>
                        Composition
                    </h4>
                </div>
                <div class="section-padding">
                    Includes a chair, chair-elect, and 4 regional representatives from the Americas, Europe, Middle East/Africa, and Asia Pacific.
                </div>
            </div>
            <div class="card">
                <div class="colored-paper info">
                    <h4>
                        Meeting Schedule
                    </h4>
                </div>
                <div class="section-padding">
                    <p>
                        The AIG Steering Committee meets in person during the ACC leadership forum, ACC Scientific Sessions, and European Society of Cardiology.
                    </p>
                </div>
            </div>
        </div>
    </div>
     <div class="row section-padding">
        <div class="column ">
            <div class="card">
                <div class="colored-paper info">
                    <h4>
                        Potential sources of conflicts of interest and suggested methods of adjudication
                    </h4>
                </div>
                <div class="section-padding">
                    <p>
                       Potential conflicts of interest should be disclosed to the committee.
                    </p>
                </div>
                <div class="colored-paper info">
                    <h4>
                        Regular reporting and communication mechanisms
                    </h4>
                </div>
                <div class="section-padding">
                    <p>
                       The committee will convene bi-monthly calls to ensure ongoing engagement with the International Affairs staff.</p><p>
The committee will hold in person meetings with the BOT International Working Group whenever possible during major international meetings and convene teleconferences as necessary.
</p><p>
The committee and BOT International Working Group will work together to ensure that a strategy update is presented to the Board of Trustees twice a year.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>