<div class="page-wrapper">
    <div class="content-padding section-padding">
        <div class="row">
            <div class="column">
                <h1 class="no-vertical-margin">
                    Committee Name
                    <span class="sub-line float-right small italic">
                        COMMITTEE/90823402934
                    </span>
                    <span class="sub-line">
                        ACC Guidance Committee
                    </span>
                </h1>
            </div>
        </div>
    </div>
</div>
<nav class="overlap nav">
    <ul class="tabs ">
        <li class="tab-title is-active">
            <a href="open-committees.html">
                Synopsis
            </a>
        </li>
        <li class="tab-title ">
            <a href="open-committees-details.html">
                Committee Details
            </a>
        </li>
    </ul>
</nav>
<div class="page-wrapper">
    <div class="row section-padding">
        <div class="column large-7">
            <div class="card">
                <div class="colored-paper info">
                    <b>
                        Roles and Responsibilities:
                    </b>
                </div>
                <div class="section-padding">
                    <p>
                        The Assembly of International Governors Steering Committee is an advisory group of regional representatives that provides guidance on international issues as identified by the ACC or the Assembly of International Governors.
                    </p>
                    <h3>
                        The AIGSC:
                    </h3>
                    <ul>
                        <li>
                            Supports the ACC/ACCF Board of Trustees by making recommendations for the International Strategy of the ACC.
                        </li>
                        <li>
                            Creates bi-directional communication between ACC International Chapters, ACC Board Standing Committees such as the Membership Committee, and the ACC Board of Trustees.
                        </li>
                        <li>
                            Recommends strategies for continued growth of all ACC member types internationally.
                        </li>
                        <li>
                            Implements and innovates important ACC initiatives including but not limited to ACC International Regional Conferences and educational programs, JACC Journals, and NCDR registries.
                        </li>
                        <li>
                            Leads strategic shift towards increasing engagement with current footprint of ACC International Chapters.
                        </li>
                        <li>
                            Monitors issues in international cardiovascular health and raises important issues to ACC leadership.
                        </li>
                        <li>
                            Establishes annual goals specifying its principal work focus areas for the coming year.
                        </li>
                        <li>
                            Be responsible for holding Chapters in their region responsible for performing Chapter Duties.
                        </li>
                        <li>
                            Administer corrective action to Governors as needed.
                        </li>
                    </ul>
                </div>
                <div class="colored-paper info">
                    <b>
                        Competency Requirements
                    </b>
                </div>
                <div class="section-padding">
                    <p>
                        Members must be able to anticipate &amp; lead change and demonstrate strategic leadership by working to advise ACC on its international strategy and ensure the ACC achieves its mission to its fullest extent worldwide.</p>
<p>
Members must also be knowledgeable about the cardiovascular community within their regions and its relevance to the ACC mission and activities.
                    </p>
                </div>
                
            </div>
        </div>
        <div class="column large-5">
            <h4>
                Available Positions
            </h4>
            {% include "elements/open-position" %}
            <h4>
                Current Members
            </h4>
            <div class="card">
                {% include "sections/current-members" %}
                <div class="colored-paper info">
                    <b>
                        Composition
                    </b>
                </div>
                <div class="section-padding">
            
                    Includes a chair, chair-elect, and 4 regional representatives from the Americas, Europe, Middle East/Africa, and Asia Pacific.
                </div>
            </div>
            <div class="card">
                <div class="colored-paper info">
                    <b>
                        Meeting Schedule
                    </b>
                </div>
                <div class="section-padding">
                    <p>
                        The AIG Steering Committee meets in person during the ACC leadership forum, ACC Scientific Sessions, and European Society of Cardiology.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row group-divide">
        <div class="column text-right">
            <a class="button secondary" href="">
                Nominate A Member
            </a>
            <a class="button" href="application-to-committee.html">
                Start Application
            </a>
        </div>
    </div>
</div>