<div class="page-wrapper">
    <div class="content-padding section-padding">

        <div class="row">
            <div class="column">
                <h1 class="no-vertical-margin">
                    Committee Name
                    <span class="sub-line float-right small italic">
                    <strong>
                        ACC Guidance Committee
                    </strong><br>
                        COMMITTEE/90823402934
                    </span>
                </h1>
            </div>
        </div>
    </div>
</div>
<nav class="overlap nav">
    <ul class="tabs ">
        <li class="tab-title">
            <a href="open-committees.html">
                Synopsis
            </a>
        </li>
        <li class="tab-title is-active">
            <a href="open-committees-details.html">
                Committee Details
            </a>
        </li>
    </ul>
</nav>
<div class="page-wrapper">
    <div class="row section-padding">
        <div class="column ">
            <div class="card">
                <div class="colored-paper info">
                    <b>
                        Potential sources of conflicts of interest and suggested methods of adjudication
                    </b>
                </div>
                <div class="section-padding">
                    <p>
                       Potential conflicts of interest should be disclosed to the committee.
                    </p>
                </div>
                <div class="colored-paper info">
                    <b>
                        Regular reporting and communication mechanisms
                    </b>
                </div>
                <div class="section-padding">
                    <p>
                       The committee will convene bi-monthly calls to ensure ongoing engagement with the International Affairs staff.</p><p>
The committee will hold in person meetings with the BOT International Working Group whenever possible during major international meetings and convene teleconferences as necessary.
</p><p>
The committee and BOT International Working Group will work together to ensure that a strategy update is presented to the Board of Trustees twice a year.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row group-divide">
        <div class="column text-right">
            <a class="button secondary" href="">
                Nominate A Member
            </a>
            <a class="button" href="application-to-committee.html">
                Start Application
            </a>
        </div>
    </div>
</div>