<table class="table no-margin">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-right">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr class="highlighted">
      <td>Member Name</td>
      <td class="text-right">Chair <sup><i class="fa fa-asterisk"></i></sup></td>
    </tr>
    <tr>
      <td>Member Name</td>
      <td class="text-right">Chair</td>
   </tr>
   <tr>
      <td>Member Name</td>
      <td class="text-right">Chair</td>
   </tr>
   <tr>
      <td>Member Name</td>
      <td class="text-right">Chair</td>
   </tr>
   <tr class="info">
      <td>Member Name</td>
      <td class="text-right">Staff Liason - Primary</td>
   </tr>
      <tr class="info">
      <td>Member Name</td>
      <td class="text-right">Staff Liason - Secondary</td>
   </tr>
  </tbody>
  <tfoot><tr>
    <td colspan="2"> <sup><i class="fa fa-asterisk"></i></sup> Planned Retirement this Season</td>
  </tr></tfoot>
</table>