<div class="card no-padding">
  <nav class="nav-checklist nav-list">
  <ul>
      <li >
      <i class="fa fa-holder-dynamic"></i>
        <span class="text h5">Member Name</span><small class="float-right italic small">Member Type</small>
    </li>
    <li >
      <i class="fa fa-holder-dynamic"></i>
        <span class="text h5">Member Name</span><small class="float-right italic small">Member Type</small>
    </li>
    <li >
      <i class="fa fa-holder-dynamic"></i>
        <span class="text h5">Member Name</span><small class="float-right italic small">Member Type</small>
    </li>
    <li >
      <i class="fa fa-holder-dynamic"></i>
        <span class="text h5">Member Name</span><small class="float-right italic small">Member Type</small>
    </li>
    <li >
      <i class="fa fa-holder-dynamic"></i>
        <span class="text h5">Member Name</span><small class="float-right italic small">Member Type</small>
    </li>
    
  </ul>
</nav>
</div>