<div class="row">
  <header class="header page">
    <a href="index.html" class="logo">
      <img src="assets/img/headerlogo.svg" alt="ACC Statin Intolerance Guidelines">
    </a>
    <div class="button-group small quicklinks"><a href="" class="nobutton button">FAQ</a><a href="" class="nobutton button">ACC</a><a href="" class="nobutton button">Committee Calendar</a></div>
    <div class="logedin">Doctor Lolly Pop | <a href="" class="link">Log Out</a></div>
	</header>
	{% include 'sections/nav/topbar-closed-application' %}
</div>