<div class="row">
  <header class="header page">
    <a href="#!/content/calculator/" class="logo">
      <img src="assets/img/headerlogo.svg" alt="Customer First">
    </a>
    <ul class="nav tabs tabs-primary">
      <li class="active selected">
        <a class="home " href="index.html">
          <i class="fa fa-holder"></i> Search
        </a>
      </li>
      <li id="logout-Tab" class="">
        <a href="#!/content/recommendation/logoout/" class="condensable small">Log Out
        </a>
      </li>
    </ul>
  </header>
</div>