<div class="row">
  <header class="header page">
    <a href="#!/" class="logo">
      <img src="assets/img/headerlogo.svg" alt="ACC Statin Intolerance Guidelines">
    </a>
	</header>

	<div class="top-bar">
		<div class="hide-for-medium">
		  <div class="top-bar-left" onClick="$('#siteMenu .top-bar-left').toggleClass('display-block')">
		       <a class="top-bar-toggle"><i class="fa fa-bars"></i>&nbsp;Menu</a>
		  </div>
		  <div class="top-bar-right" onClick="$('#siteMenu .top-bar-left').toggleClass('display-block')">
		       <a class="top-bar-toggle">Search&nbsp;<i class="fa fa-search"></i></a>
		  </div>
		</div>
	  <div id="siteMenu" class="stack-medium">
	    <div class="top-bar-left" class="show-for-medium">
	      <ul class="menu">
	        <li>
		      <button type="button" data-toggle="example-dropdown">Toggle Dropdown</button>
	          <div class="dropdown-pane" id="example-dropdown" data-dropdown data-dropdown data-hover="true" data-hover-pane="true">
				<div class="row collapse">
					<div class="column medium-6"><ul class="submenu">
					<li><a href="">Menu item</a></li>
					<li><a href="">Menu item</a></li>
					<li><a href="">Menu item</a></li>
					<li><a href="">Menu item</a></li>
					<li><a href="">Menu item</a></li>
				</ul>		</div>
					<div class="column medium-6"><ul class="submenu">
					<li><a href="">Menu item</a></li>
					<li><a href="">Menu item</a></li>
					<li><a href="">Menu item</a></li>
					<li><a href="">Menu item</a></li>
					<li><a href="">Menu item</a></li>
				</ul>
				</div>
				</div>
	          </div>
	        </li>
	        <li>
	          <a href="#">Two</a>
	        </li>
	        <li>
	          <a href="#">Three</a>
	        </li>
	      </ul>
	    </div>
	    <div class="top-bar-right" class="show-for-medium">
	     	<ul class="menu">
	        <li>
	          <a href="">Drop Down</a>
	        </li>
	        <li>
	          <a href="#">Two</a>
	        </li>
	        <li>
	          <a href="#">Three</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</div>
</div>