<div class="row">
  <header class="header page">
    <a href="#!/" class="logo">
      <img src="assets/img/headerlogo.svg" alt="ACC Statin Intolerance Guidelines">
    </a>
	</header>
	{% include 'sections/nav/topbar' %}
</div>