
<div class="row">
    <div class="column">
        <h2>
            Email Address(es)
            <div class="sub-line">
                <b>
                    At least one Email Address is required.
                </b>
            </div>
        </h2>
        <a href="" class="button small expanded success"><i class="fa fa-plus"></i> Add an Email Address</a>
    </div>
</div>