<div class="page-wrapper content-padding">
    <div class="">
        <div class="row">
            <div class="column">
                <h1 class="no-vertical-margin">
                    Dr. Watchmacallit Mars, MD, FACC
                    <span class="sub-line float-right italic text-right">
                    <strong>
                        Hostpital Name
                    </strong><br>
                        dwatchmacallit@****
                    </span>
                </h1>
            </div>
        </div>
    </div>

    <div class="row section-padding">
        <div class="column large-7">
            <div class="card">
                {% comment %}<div class="colored-paper info">
                    <h2 class="single-line-height">
                        Compentency Rating
                        <div class="sub-line">
                            Please rate the requester's compentency levels below.  
                        </div>
                    </h2>
                </div>{% endcomment %}
{% comment %}
<div class="section-padding">
                    <div class="">
                    <h2 class="with-underline">Leadership
                        <small class=""><a href="" class="link"><i class="fa fa-info-circle"></i></a></small>
                    </h2>
                    {% include 'elements/stars-buttons' %}
                </div>
                                <div class="">
                    <h2 class="with-underline">Teamwork
                        <small class=""><a href="" class="link"><i class="fa fa-info-circle"></i></a></small>
                    </h2>
                    {% include 'elements/stars-buttons-good' %}
                </div>
                                <div class="">
                    <h2 class="with-underline">Stewardship
                        <small class=""><a href="" class="link"><i class="fa fa-info-circle"></i></a></small>
                    </h2>
                    {% include 'elements/stars-buttons-good' %}
                </div>
                <div class="">
                    <h2 class="with-underline">Inovation
                        <small class=""><a href="" class="link"><i class="fa fa-info-circle"></i></a></small>
                    </h2>
                    {% include 'elements/stars-buttons-disabled' %}
                </div>
</div>{% endcomment %}
                <div class="colored-paper info">
                    <h2 class="no-vertical-margin">
                        Statement of Reference
                    </h2>
                </div>
                <div class="section-padding">
                <p>Please fill this request out be a nice human being.</p>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                
            </div>
        </div>
        <div class="column large-5">
            {% comment %} <h4>
            Statement of Interest
            </h4>
            <div class="card">
            <p>{% include "elements/lorem" %}
            </p> </div>
            {% endcomment %}
            <h4>
                Committees Applying To
            </h4>
            <div class="slots">
                {% include "elements/committee-List-item-selected" %}
                {% include "elements/committee-List-item-selected" %}
            </div>
            
        </div>
    </div>
    <div class="row group-divide">
        <div class="column text-right">
            <a class="button secondary" href="">
                Save For Later
            </a>
            <a class="button" href="application-to-committee.html">
                Submit Recomendation
            </a>
        </div>
    </div>
</div>

<div class="reveal large no-padding paper-page page" data-reveal="" id="comm-modal">
    {% include "sections/committee-overview" %}
    <button aria-label="Close modal" class="close-button" data-close="" type="button">
        <span aria-hidden="true">
            <i class="fa fa-times"></i>
        </span>
    </button>
</div>