<div class="section-padding page-wrapper">
    <div class="card section-padding content-padding">
        <div class="colored-paper">
            <h2>Search and Select A Member</h2>
            <p>Search by First Last Name, or by Email</p>
        </div>
        {%include "elements/searchbar"%}
        <div class="section-padding">
            <h4>
                Select a member from below
            </h4>
            <table class="table banded">
                <thead>
                    <tr>
                        <th>
                            Select
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Institution
                        </th>
                        <th>
                            Location
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {% include "elements/radio-select"  %}
                        </td>
                        <td>
                            Luke Skywalker
                        </td>
                        <td>
                            The Rebel Aliance
                        </td>
                        <td>
                            Hollywood, CA
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% include "elements/radio-noselect"  %}
                        </td>
                        <td>
                           Han Solo
                        </td>
                        <td>
                            The Rebel Aliance
                        </td>
                        <td>
                            Hollywood, CA
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% include "elements/radio-noselect"  %}
                        </td>
                        <td>
                            Darth Vader
                        </td>
                        <td>
                            The Empire
                        </td>
                        <td>
                            Hollywood, CA
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>