<div class="callout no-margin">

<b class="bold">Modes of the Design: </b>
  <a href="user-dashboard-empty.html" class="link">Empty State</a> |
  <a href="user-dashboard-nominated.html" class="link">Nominated State</a> |
  <a href="#" class="link">Applied State</a> |
  <a href="#" class="link">Applied and Nomination</a>

</div>