<div class="row">
    <div class="column small-12 large-6">
        <div class="switch-input-space">
            <div class="switch checkbox tiny">
                <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                    <label class="switch-paddle" for="checkbox-checkbox">
                        <span class="show-for-sr">
                            Do you like me?
                        </span>
                        <span aria-hidden="true" class="switch-active">
                            <i class="fa fa-holder">
                            </i>
                        </span>
                        <span aria-hidden="true" class="switch-inactive">
                            <i class="fa fa-holder">
                            </i>
                        </span>
                    </label>
                </input>
            </div>
            <label class="switch-value" for="checkbox-checkbox">
                I want to speak
            </label>
        </div>
    </div>
    <div class="column small-12 large-6">
        <div class="switch-input-space">
            <div class="switch checkbox tiny">
                <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                    <label class="switch-paddle" for="checkbox-checkbox">
                        <span class="show-for-sr">
                            Do you like me?
                        </span>
                        <span aria-hidden="true" class="switch-active">
                            <i class="fa fa-holder">
                            </i>
                        </span>
                        <span aria-hidden="true" class="switch-inactive">
                            <i class="fa fa-holder">
                            </i>
                        </span>
                    </label>
                </input>
            </div>
            <label class="switch-value" for="checkbox-checkbox">
                I want to present
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="column small-12 large-6">
        <div class="switch-input-space">
            <div class="switch checkbox tiny">
                <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                    <label class="switch-paddle" for="checkbox-checkbox">
                        <span class="show-for-sr">
                            Do you like me?
                        </span>
                        <span aria-hidden="true" class="switch-active">
                            <i class="fa fa-holder">
                            </i>
                        </span>
                        <span aria-hidden="true" class="switch-inactive">
                            <i class="fa fa-holder">
                            </i>
                        </span>
                    </label>
                </input>
            </div>
            <label class="switch-value" for="checkbox-checkbox">
                I want to volunteer
            </label>
        </div>
    </div>
</div>