<footer class="page-footer">
  <div class="row">
    <a href="/">
      <img class="logo" src="Assets/img/oma-01.svg" alt="Home">
    </a>
  </div>
  <div class="footer-darker">
    <div class="row">
      <div class="columns large-8">
        <section class="address">
          <address>
          <h4>American College of Cardiology
            <span class="sub-line">Heart House</span>
          </h4>
            <!-- http://microformats.org/wiki/hcard -->
            <ul>
              <li>
                <span class="street-address">2400 N. St. NW</span>
              </li>
              <li>
                <span class="locality">Washington</span>,
                <span class="country-name">
                  <abbr title="District of Colombia">DC</abbr>
                </span>
                <span class="postal-code">20037</span>
              </li>
              <li>
                <a href="mailto:resource@acc.org" class="email">
                  <strong>Email:</strong>resource@acc.org</a>
              </li>
            </ul>
            <ul>
              <li>
                <span tel="+12023756000" class="tel">
                  <strong>Phone:</strong>(202) 375-6000, ext. 5603</span>
              </li>
              <li>
                <span tel="+18002574737" class="tel">
                  <strong>Toll Free:</strong>(800) 253-4636, ext. 5603</span>
              </li>
              <li>
                <span fax="+12023757000" class="fax">
                  <strong>Fax:</strong>(202) 375-7000</span>
              </li>
            </ul>
          </address>
        </section>
        <section class="social-buttons">
          <h4>Stay Connected</h4>
          <ul>
            <li>
              <a class="button twitter icon-only block" href="https://twitter.com/accintouch" target="_blank">
                <i class="fa fa-twitter"></i>
                <span class="text">Twitter</span>
              </a>
            </li>
            <li>
              <a class="button facebook icon-only block" href="https://www.facebook.com/AmericanCollegeofCardiology" target="_blank">
                <span class="text">Facebook</span>
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="button linkedin icon-only block" href="http://www.linkedin.com/groups/American-College-Cardiology-732607?trk=myg_ugrp_ovr"
              target="_blank">
                <span class="text">LinkedIn</span>
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a class="button googleplus icon-only block" href="https://plus.google.com/118164094874227618578/about" target="_blank">
                <span class="text">Google+</span>
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a class="button youtube icon-only block" href="http://www.youtube.com/user/ACCinTouch" target="_blank">
                <span class="text">Youtube</span>
                <i class="fa fa-youtube-play"></i>
              </a>
            </li>
          </ul>
        </section>
      </div>
      <div class="columns large-4">
        <section class="acc-websites">
          <h4>Powered By the ACC</h4>
          <nav class="nav-list small">
            <ul class="">
              <li>
                <a target="_blank" class="" href="http://www.acc.org">
                  <span class="text">Acc.org</span>
                  <i class="fa fa-external-link-square"></i>
                </a>
              </li>
              <li>
                <a target="_blank" class="" href="http://cvquality.acc.org/">
                  <span class="text">ACC Quality Improvement for Institutions</span>
                  <i class="fa fa-external-link-square"></i>
                </a>
              </li>
              <li>
                <a target="_blank" class="" href="http://www.ncdr.com">
                  <span class="text">NCDR.com</span>
                  <i class="fa fa-external-link-square"></i>
                </a>
              </li>
              <li>
                <a target="_blank" class="" href="http://www.cardiosmart.org">
                  <span class="text">CardioSmart.org</span>
                  <i class="fa fa-external-link-square"></i>
                </a>
              </li>
              <li>
                <a target="_blank" class="" href="http://blog.cardiosource.org">
                  <span class="text">ACCinTouch.com</span>
                  <i class="fa fa-external-link-square"></i>
                </a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <h5>
        <cite>&copy; 2015 American College of Cardiology</cite>
      </h5>
    </div>
    <div class="large-8 columns">
    </div>
  </div>
</footer>