/**
* Colors:
* `ACC's Colors` - The ACC has a set of standard colors which include the +ACC Blue+, +Scrub Colors+, and +Intent Colors+. The colors that change depending the product are the +Scrub Colors+
* 
*   @example
*	<table class="table">
*		<thead>
*			<tr>
*				<th>Color Name</th>
*				<th>Hex Color</th>
*			</tr>
*		</thead>
*		<tbody>
*			<tr>
*				<td><h3>ACC Blue</h3></td>
*				<td style="background-color:#{$brand-color};"class="color-block">#{$brand-color}</td>
*			</tr>
*			<tr>
*				<td><h3>Product Color</h3></td>
*				<td style="background-color:#{$product-brand-color};"class="color-block">#{$product-brand-color}</td>
*			</tr>
*			<tr>
*				<td><h3>Primary Color</h3></td>
*				<td  style="background-color:#{$primary-color};"class="color-block">#{$primary-color}</td>
*			</tr>
*			<tr>
*				<td><h3>Secondary Color</h3></td>
*				<td style="background-color:#{$secondary-color};"class="color-block">#{$secondary-color}</td>
*			</tr>
*			<tr>
*				<td><h3>Tertiary Color</h3></td>
*				<td style="background-color:#{$tertiary-color};"class="color-block">#{$tertiary-color}</td>
*			</tr>
*			<tr>
*				<td><h3>Success Color</h3></td>
*				<td style="background-color:#{$success-color};"class="color-block">#{$success-color}</td>
*			</tr>
*			<tr>
*				<td><h3>Warning Color</h3></td>
*				<td style="background-color:#{$warning-color};"class="color-block">#{$warning-color}</td>
*			</tr>
*			<tr>
*				<td><h3>Error Color</h3></td>
*				<td style="background-color:#{$error-color};"class="color-block">#{$error-color}</td>
*			</tr>
*		</tbody>
*	</table>
*/
.color-block{
	width: 50%;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    color:white;
}
td.product-brand-color{background-color: $product-brand-color}
td.brand-color{background-color: $brand-color}
td.primary-color{background-color: $primary-color}
td.secondary-color{background-color: $secondary-color}
td.tertiary-color{background-color: $tertiary-color}
td.attention-color{background-color: $attention-color}
td.warning-color{background-color: $attention-color}
td.success-color{background-color: $success-color}
td.select-color{background-color: $select-color}
td.error-color{background-color: $error-color}
td.alert-color{background-color: $error-color}
