// This code is just for dependency this is to help maintain the project but doesn't produce any css.
$required-SCSS_states: "false" !default;
$required_data:(
	'bool' :$required-SCSS_states,
	'required':'__states.required.scss',
	'path':'scss/base/__states.required.scss',
	'file':'__fa-holder.states.scss'
	);
@include required-check($required_data...);
// End of required check
@mixin fa-var($var){
	 .fa-holder-dynamic:before, &.fa:before, >.fa-holder:before{ content: $var;}

}

@each $State in $states{
	$selector:map-get($State,"Selector");
	$icon-var: map-get($State,"Icon");
	#{$selector}{
		@include fa-var($icon-var);
		&.fa:before{ color:map-get($State,"Color"); }
	}
}

.required{
	@include fa-var($fa-var-asterisk);
	&.fa:before{ color:$alert-color; }
}