// This code is just for dependency this is to help maintain the project but doesn't produce any css.
$required-SCSS_states: "false" !default;
$required_data:(
	'bool' :$required-SCSS_states,
	'required':'__states.required.scss',
	'path':'scss/base/__states.required.scss',
	'file':'__fa-holder.states.scss'
	);
@include required-check($required_data...);

// End of required check
@each $State in $states{
	$selector:map-get($State,"Selector");
	@include setTrump('icon',map-get($State,'State'),'#{$selector} .fa-holder:before, #{$selector}.fa:before,#{$selector} >.fa-holder:before');
	@include setTrump('color',map-get($State,'State'),'#{$selector}.fa');
}

.required{
 	@include fa-holder($fa-var-asterisk,"parent");
 	.required-holder{ @include fa-holder( $fa-var-asterisk, "container" ); }
	&.fa{ color: $warning-color; }
}