@mixin font-display(){
	font-family: 'Muli','Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: 300;
    $font-name:"Muli";
}

@mixin font-slab {
    font-family: 'Muli', "Times New Roman",  'Lucida Bright', Georgia, serif;
    font-weight: 400;
    letter-spacing: .5px;
    $font-name:"roboto-slab";
}
@mixin font-slab-bold {
    font-family: 'Muli', "Times New Roman",  'Lucida Bright', Georgia, serif;
    font-weight: 700;
    letter-spacing: .75px;
    $font-name:"roboto-slab";
}

@mixin font-bold {
    font-family: 'Muli','Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -.25px;
    $font-name:"Muli";
}

@mixin font {
    font-family: 'Muli','Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -.25px;
    $font-name:"Muli";
}

@mixin font-light {
    font-family:  'Muli','Open Sans',  "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 300;
    $font-name:"Muli";
}
@mixin font-medium {
    font-family: 'Muli','Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    $font-name:"Muli";
}

@mixin font-italic {
    font-family: 'Muli','Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    $font-name:"Muli";
}
@mixin font-italic-bold {
    font-family: 'Muli','Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: italic;
    $font-name:"Muli";
}

html{
    -webkit-font-smoothing:antialiased;
    -webkit-line-break:after-white-space;
    -webkit-locale:"en";
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}


