/**
* Headline order-markering:
* `.order-marker.` - It is some times useful to add an order-marker to the beginning of headlines.
* 
*   @example
*   <h1 class="with-underline"><span class="order-marker">1</span>Header 1 Tag
*     
*   </h1>
*   <h2 class="with-underline"><span class="order-marker">2</span>Header 2 Tag</h2>
*   <h3 class="with-underline"><span class="order-marker">a</span>Header 3 Tag</h3>
*   <h4 class="with-underline"><span class="order-marker">b</span>Header 4 Tag</h4>
*   <h5 class="with-underline"><span class="order-marker">c</span>Header 5 Tag</h5>
*/

span.order-marker
   {
    background-color: rebrand-color($primary-color,2);
    color: #fff;
    border-radius: 1000px;
    display: inline-block;
    height: 1.5em;
    margin-right: 0;
    margin-bottom: 0;
    padding: .75em .45em .5em;
    position: relative;
    top: -.25em;
    margin-right: .5em;
    text-align: center;
    padding-top: .75em;
    text-transform: capitalize;
    line-height: 0;
}