$ms-base: 14px !default;
$ms-ratio: 1.25  !default; //minor 3rd
$optimal-characters:65;
$tight:1.4;
$normal:1.5;
$loose:1.65;
$airy:2;


$base-font-size: 14px;
$baseline-modifier:$normal;
$base-line: $baseline-modifier * $base-font-size;

// parent-level is the ms() of the parent

@mixin baseline-font($font-level, $margin-top:0, $margin-bottom:0,$parent-level:0,$baseline:$base-line){
	$font-size: ms($font-level);
	@if($parent-level > 0){
		$font-size: ms($font-level)/ms($parent-level) * $base-font-size;
		// @debug $font-size "fontsize";
	}
	// @debug $font-size "real - fontsize";
	$raw-line: strip-unit($font-size) /  strip-unit($baseline);
	$lines:ceil( $raw-line ); 
	$line-height:  ( $baseline * $lines ) / $font-size * 1em;
	font-size: $font-size/$base-font-size * 1em;
	@if($parent-level > 0){
		$line-height:  ( $baseline * $lines ) / ms($font-level) * 1em;
		// @debug $font-size "fontsize";
	}
	line-height: $line-height;
	// @debug "lines" $lines;
	// @debug "line-height: " $line-height/$lines;
	margin-top: $margin-top * $line-height/$lines;
	margin-bottom: $margin-bottom *  $line-height/$lines;
}