/**
* Style Markup:
* `edge > outline` -coloring to show invisible containers in the styleguide.
* 
*   @example
*	<style>
*		.edge,.outline{ border:thin #ccc solid; position: relative; padding:16px 4px 4px;}
*		.outline{ border:dashed thin red}
*		.outline .outline{ border:dotted thin blue; display:inline-block;}
*		.outline .outline .outline{ border:dotted thin green; display:inline-block;}
*		.notation{font-size:10px; position: absolute; top: 0px;right: 4px;}
*		.outline .notation{ color:red;}
*		.outline .outline .notation{ color:blue;}
*		.outline .outline .outline  .notation{ color:green;}
*	</style>
**/