/**
* Textures:
* `Textures` - Subtle textures are used on the design to give a subtle level of depth.
*
*   @example
*	<h2>Textures</h2>
*	<div class="row"><h3>Paper Textures</h3>
*	<div class="texture column medium-6 large-4">
*		<div class="content-padding">
*			<h4 class="texture--name">News Print Paper lite</h4>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/billie-holiday-lite.png)"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">billie-holiday-lite.png</span></li>
*				<li><strong>Usage: </strong><span class="text">Soft paper used in the background of groupings and overlaps.</span></li>	
*			</ul>
*		</div>
*	</div>
*	<div class="texture column medium-6 large-4">
*		<div class="content-padding">
*			<h4 class="texture--name">News Print Paper</h4>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/billie-holiday.png)"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">billie-holiday.png</span></li>
*				<li><strong>Usage: </strong><span class="text">Soft paper used in the background of groupings and overlaps.</span></li>	
*			</ul>
*		</div>
*	</div>
*	<div class="texture column medium-6 large-4">
*		<div class="content-padding">
*			<h4 class="texture--name">News Print Paper Dirty</h4>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/billie-holiday-speck.png); background-color:#198dae;"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">billie-holiday-spec.png</span></li>
*				<li><strong>Usage: </strong><span class="text">Alternate soft paper used in the background of groupings and overlaps.</span></li>	
*			</ul>
*		</div>
*	</div>
*	<div class="texture column medium-6 large-4">
*		<div class="content-padding">
*			<h4 class="texture--name">Construction Paper</h4>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/construction-paper.png); background-color:#198dae;"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">construction-paper.png</span></li>
*				<li><strong>Usage: </strong><span class="text">A colorable texture to drop in color fields when needed.</span></li>	
*			</ul>
*		</div>
*	</div>
*	<div class="texture column medium-6 large-4">
*		<div class="content-padding">
*			<h4 class="texture--name">Construction Paper Lite</h4>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/paper-texture.png); background-color:#198dae;"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">paper-texture.png</span></li>
*				<li><strong>Usage: </strong><span class="text">A colorable texture to drop in color fields when needed.</span></li>	
*			</ul>
*		</div>
*	</div>
*	<div class="texture column medium-6 large-4 end">
*		<div class="content-padding">
*			<h4 class="texture--name">Carbon Paper</h4>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/crossed_stripes.png)"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">crossed_stripes.png</span></li>
*				<li><strong>Usage: </strong><span class="text">Footer background with a lux quality.</span></li>	
*			</ul>
*		</div>
*	</div></div><div class="row"><h3>Ink Marks</h3><p>Application Response is shown with "ink" markings that can be simply colored by changing the background-color.</p>
*	<div class="texture column medium-6 large-4">
*		<div class="content-padding">
*			<h4 class="texture--name">Cross Hatched Ink</h4>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/empty_diamond@2x.png);background-color:#{$primary-color}"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">empty_diamond@2x</span></li>
*				<li><strong>Special Usage: </strong><span class="text">Table cell states</span></li>	
*			</ul>
*		</div>
*	</div>
*	<div class="texture column medium-6 large-4">
*		<div class="content-padding">
*			<h4 class="texture--name">Cross Hatched Ink Tight</h4>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/empty_diamond.png);background-color:#{$primary-color}"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">empty_diamond</span></li>
*				<li><strong>Special Usage: </strong><span class="text">Disabled Buttons</span></li>	
*			</ul>
*		</div>
*	</div>
*	<div class="texture column medium-6 large-4">
*		<div class="content-padding">
*			<h4 class="texture--name">Stripped Ink</h4>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/empty_stripe@2x.png);background-color:#{$primary-color}"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">empty_stripe@2x.png</span></li>
*				<li><strong>Usage: </strong><span class="text">Page responses, error messages, and warning messages</span></li>	
*			</ul>
*		</div>
*	</div>
*	<div class="texture column medium-6 large-4">
*		<div class="content-padding">
*			<h4 class="texture--name">Stripped Ink with Blue Color Bleed</h4>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/empty_stripe-alt@2x.png);background-color:#{$primary-color}"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">empty_stripe-alt@2x.png</span></li>
*				<li><strong>Usage: </strong><span class="text">This texture is used in a alternating column background in table rows that are showing states.</span></li>	
*			</ul>
*		</div>
*	</div>
*	<div class="texture column medium-6 large-4 end">
*		<div class="content-padding">
*			<h4 class="texture--name">Stripped Ink Tight</h4>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/empty_stripe.png);background-color:#{$primary-color}"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">empty_stripe.png</span></li>
*				<li><strong>Special Usage: </strong><span class="text">List item states.</span></li>	
*			</ul>
*		</div>
*	</div>
*	</div>	
*/




.texture{
	.texture--name{color:$brand-color}
	.texture--thumb{
		width: auto;
		border: 1px solid grey(30);
		display: inline-block;
		padding: 5px;
		width:162px;
		height:162px;
		}
	.texture--holder{ 
		width:150px;
		height:150px;
	}
	.texture--uppercase{ text-transform: uppercase;}
	.texture--cite{@include baseline-font(0);color:font-color($black);}
	
}
