/**
* Textures:
* `Textures` - Subtle textures.
*
*   @example
*	<h2>Textures</h2>
*	<div class="row">
*	<div class="texture column small-6 medium-3 large-4">
*		<div class="content-padding">
*			<h3 class="texture--name">Construction Paper</h3>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/billie-holiday.png)"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">bille-holiday.png</span></li>
*				<li><strong>Usage: </strong><span class="text">Soft paper used in the background of groupings and overlaps.</span></li>	
*			</ul>
*		</div>
*	</div>
*	<div class="texture column small-6 medium-3 large-4">
*		<div class="content-padding">
*			<h3 class="texture--name">Carbon Paper</h3>
*			<div class="texture--thumb">
*				<div class="texture--holder" style="background-image:url(Assets/img/crossed_stripes.png)"></div>
*			</div>
*			<ul class="no-bullet texture--cite">
*				<li><strong>File Name: </strong><span class="text">crossed_stripes.png</span></li>
*				<li><strong>Usage: </strong><span class="text">Footer background with a lux quality.</span></li>	
*			</ul>
*		</div>
*	</div>
*	</div>	
*/




.texture{
	.texture--name{color:$brand-color}
	.texture--thumb{
		width: auto;
		border: 1px solid grey(30);
		display: inline-block;
		padding: 5px;
		width:162px;
		height:162px;
		}
	.texture--holder{ 
		width:150px;
		height:150px;
	}
	.texture--uppercase{ text-transform: uppercase;}
	.texture--cite{@include baseline-font(0);color:font-color($black);}
	
}
