$typography-highlight-color:rebrand-color(color($primary-color,80) , 2);
$typography-line-colors:rebrand-color(color($primary-color,80) , 2);

$h1-spacing:1.5rem;
$h2-spacing:1rem;
$h3-spacing:.7rem;
$h4-spacing:.5rem;
$h5-spacing:.5rem;
$h6-spacing:.75rem;
%h1,%h2,%h3,%h4,%h5,%h6{ margin-top:0; clear:both;}
%h1{
letter-spacing: -1px;
@include font-display();
}
%h2{
@include font-slab();
}
%h4{
@include font-slab-bold();
}
%h3,%h5,%h6 { 
	@include font-bold();
}

.h1{
	@extend %h1;
	@include baseline-font(4,1,1,0,$base-line);
	@include bp(md){
		@include baseline-font(5,1,1);
		
		}
	@include bp(lg){
		@include baseline-font(6,1,1);	
	}

}
.h2{
	@extend %h2;
	$base-line: 1.1 * $base-font-size;
	@include baseline-font(2,.75,.25,0,$base-line);
	@include bp(md){
		@include baseline-font(3,.75,.25);
		
		}
	@include bp(lg){
		@include baseline-font(4,.75,.25);	
	}

}
.h3{
	@extend %h3;
		$base-line: 1.1 * $base-font-size;
	@include baseline-font(2,.75,.25,0,$base-line);
	@include bp(md){
		@include baseline-font(2,.25,.75);
		}
	@include bp(lg){
		@include baseline-font(3,.75,.25);	
	}

}
.h4{
	@extend %h4;
	@include baseline-font(1,.5,.5);
	@include bp(md){
		@include baseline-font(2,.25,.75);
	}
}
.h5{@extend %h5;@include baseline-font(0); 	
	@include bp(md){
		@include baseline-font(1);
	}
}
.h6{@extend %h6;@include baseline-font(0);}

%normal {
	@include font; 
	color:fontcolor($real-black);
	@include baseline-font(0);
}
%bold   { @include font-bold; }
%loud  { color:fontcolor($real-black,'loud');}
%quiet {color: fontcolor($real-black,'quiet'); }
%italic {@include font-italic;}
%strong {@include font-bold;color:fontcolor(rebrand-color($primary-color, 2),"xloud");}

%emphasis{color: mix(rebrand-color($primary-color, 2),fontcolor($real-black,'loud'));; @include font-italic; font-weight:900;}
%subtle{ @include font-light;color: mix(rebrand-color($primary-color, 2),fontcolor($real-black,'light'));}
.block-margins { margin: 0 em($base-line) 0; }

%unordered-list { list-style-type: disc; }
%ordered-list { list-style: decimal; }
%inline-list{ list-style: none; display:block;margin:0; >li{display:inline-block;margin-left: .25rem;} }

/**
 * Header Tags:
 * `Headers` - Headers are used to separate and organize blocks of text. 
 *  You can also us `.h1`,`.h2`,`.h3`,`.h4`,`.h5`, or `.h6` 
 *  to make any text elements style like the associated header tag 
 *
 *     @example
 *     h1 Header 1 Tag
 *		small subheader
 *     h2 Header 2 Tag
 *     h3 Header 3 Tag
 *     h4 Header 4 Tag
 *     h5 Header 5 Tag 
 *     h6 Header 6 Tag
 */


h1{
	
	@extend .h1;
	color:fontcolor($black,"xloud");
}
h2{

	@extend .h2;
	color:fontcolor($black,"loud");
}
h3{
	@extend .h3;
	color:fontcolor($black);
}
h4{
	@extend .h4;
	color:fontcolor($black);
}
h5{
	@extend .h5;
	color:fontcolor($black);
}
h6{
	@extend .h6;
	color:fontcolor($black,"quiet");
}
p{ 
	@extend %normal;
	margin-bottom:.25em;
	@include bp(sm-height){
		margin-bottom:.5em;
	}

}
ul,ol{
	@extend %normal;
	margin-bottom:1em;
	@include bp(sm-height){margin-bottom:.5em;}
	@include bp(xs-height){margin-bottom:.75em;}
	li{
		margin-bottom:.25em;
		@include bp(sm-height){margin-bottom:.2em;}
		@include bp(xs-height){margin-bottom:.1em;}
	}
	}

