<h1>Colors, Textures, Fonts &amp; Icons</h1>
<p>a paragraph that would talk about the high reaching goals of the project.</p>
<div class="button-group small radius">
	<a href="index.html" class="button">No Brand Coloring</a>
	<a href="samplebrandcoloring.html" class="button">Sample Brand Coloring</a>
</div>