<section class="sg-block sg-section-colors">
      <div class="sg-text">
        <h3 id="colors" class="sg">Colors</h3>
        <p class="sg">
          <code class="sg">ACC's Colors</code>- The ACC has a set of standard colors which include the +ACC Blue+, +Scrub Colors+, and +Intent Colors+. The colors that change depending the product are the +Scrub Colors+</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <table class="table">
            <thead>
              <tr>
                <th>Color Name</th>
                <th>Hex Color</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ACC Blue</td>
                <td class="brand-color" style="background-color:#00386b;color:white">#00386b</td>
              </tr>
              <tr>
                <td>Product Color</td>
                <td class="product-brand-color" style="background-color:#9a1267;color:white">#9a1267</td>
              </tr>
              <tr>
                <td>Primary Color</td>
                <td style="background-color:#198dae;color:white">#198dae</td>
              </tr>
              <tr>
                <td>Secondary Color</td>
                <td style="background-color:#b3b3b3;color:white">#b3b3b3</td>
              </tr>
              <tr>
                <td>Tertiary Color</td>
                <td style="background-color:#944DE0;color:white">#944DE0</td>
              </tr>
              <tr>
                <td>Success Color</td>
                <td style="background-color:#19BB9B;color:white">#19BB9B</td>
              </tr>
              <tr>
                <td>Warning Color</td>
                <td style="background-color:#E08514;color:white">#E08514</td>
              </tr>
              <tr>
                <td>Error Color</td>
                <td style="background-color:#c32231;color:white">#c32231</td>
              </tr>
            </tbody>
          </table>
        </div><pre class="sg-code sg-hidden"><span class="hljs-tag">&lt;<span class="hljs-title">table</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"table"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">thead</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">th</span>&gt;</span>Color Name<span class="hljs-tag">&lt;/<span class="hljs-title">th</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">th</span>&gt;</span>Hex Color<span class="hljs-tag">&lt;/<span class="hljs-title">th</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">thead</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tbody</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>ACC Blue<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"brand-color"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"background-color:#00386b;color:white"</span>&gt;</span>#00386b<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>Product Color<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"product-brand-color"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"background-color:#9a1267;color:white"</span>&gt;</span>#9a1267<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>Primary Color<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"background-color:#198dae;color:white"</span>&gt;</span>#198dae<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>Secondary Color<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"background-color:#b3b3b3;color:white"</span>&gt;</span>#b3b3b3<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>Tertiary Color<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"background-color:#944DE0;color:white"</span>&gt;</span>#944DE0<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>Success Color<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"background-color:#19BB9B;color:white"</span>&gt;</span>#19BB9B<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>Warning Color<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"background-color:#E08514;color:white"</span>&gt;</span>#E08514<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>Error Color<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"background-color:#c32231;color:white"</span>&gt;</span>#c32231<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tbody</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">table</span>&gt;</span></pre>
      <button class="sg-expando sg-expando-reveal"></button></div>
    </section>