 <section class="sg-block sg-section-colors">
      <div class="sg-text">
        <h3 id="colors" class="sg">Colors</h3>
        <p class="sg">
          <code class="sg">ACC&apos;s Colors</code>- The ACC has a set of standard colors which include the +ACC Blue+, +Scrub Colors+, and +Intent Colors+. The colors that change depending the product are the +Scrub Colors+</p>
        <p class="sg">Foundation for Sites by ZURB Version 6.2.3 foundation.zurb.com Licensed under MIT Open Source</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <table class="table">
            <thead>
              <tr>
                <th>Color Name</th>
                <th>Hex Color</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h3>ACC Blue</h3>
                </td>
                <td style="background-color:#00386b;" class="color-block">#00386b</td>
              </tr>
              <tr>
                <td>
                  <h3>Product Color</h3>
                </td>
                <td style="background-color:#9a1267;" class="color-block">#9a1267</td>
              </tr>
              <tr>
                <td>
                  <h3>Primary Color</h3>
                </td>
                <td style="background-color:#198dae;" class="color-block">#198dae</td>
              </tr>
              <tr>
                <td>
                  <h3>Secondary Color</h3>
                </td>
                <td style="background-color:#b3b3b3;" class="color-block">#b3b3b3</td>
              </tr>
              <tr>
                <td>
                  <h3>Tertiary Color</h3>
                </td>
                <td style="background-color:#7d5891;" class="color-block">#7d5891</td>
              </tr>
              <tr>
                <td>
                  <h3>Success Color</h3>
                </td>
                <td style="background-color:#14B057;" class="color-block">#14B057</td>
              </tr>
              <tr>
                <td>
                  <h3>Warning Color</h3>
                </td>
                <td style="background-color:#E08514;" class="color-block">#E08514</td>
              </tr>
              <tr>
                <td>
                  <h3>Error Color</h3>
                </td>
                <td style="background-color:#c32231;" class="color-block">#c32231</td>
              </tr>
              <tr>
                <td>
                  <h3>Navigation Color</h3>
                </td>
                <td style="background-color:#018adb;" class="color-block">#018adb</td>
              </tr>
            </tbody>
          </table>
          <h3>Scrub Colors</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Color Name</th>
                <th>Hex Color</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h3>Scrub Teal</h3>
                </td>
                <td style="background-color:#198dae;" class="color-block">#198dae</td>
              </tr>
              <tr>
                <td>
                  <h3>Scrub Green</h3>
                </td>
                <td style="background-color:#14B057;" class="color-block">#14B057</td>
              </tr>
              <tr>
                <td>
                  <h3>Scrub Blue</h3>
                </td>
                <td style="background-color:#018adb;" class="color-block">#018adb</td>
              </tr>
              <tr class="seperator secondary">
                <td colspan="2">Less Used Colors for Highlights and Pinstripes</td>
              </tr>
              <tr>
                <td>
                  <h3>Scrub Purple</h3>
                </td>
                <td style="background-color:#198dae;" class="color-block">#198dae</td>
              </tr>
              <tr>
                <td>
                  <h3>Scrub Magenta</h3>
                </td>
                <td style="background-color:#70cd40;" class="color-block">#70cd40</td>
              </tr>
              <tr>
                <td>
                  <h3>Scrub Leaf Green</h3>
                </td>
                <td style="background-color:#b84299;" class="color-block">#b84299</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>