      <section class="sg-block sg-section-colors">
        <div class="sg-text">
          <h3 id="colors" class="sg">
            Colors
          </h3>
          <p class="sg">
            <code class="sg">
              ACC&apos;s Colors
            </code>
            - The ACC has a set of standard colors which include the +ACC Blue+, +Scrub Colors+,
            and +Intent Colors+. The colors that change depending the product are the +Scrub
            Colors+
          </p>
        </div>
        <div class="sg-example">
          <div class="sg-canvas">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Color Name
                  </th>
                  <th>
                    Hex Color
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h3>
                      ACC Blue
                    </h3>
                  </td>
                  <td style="background-color:#00386b;" class="color-block">
                    #00386b
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>
                      Product Color
                    </h3>
                  </td>
                  <td style="background-color:#9a1267;" class="color-block">
                    #9a1267
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>
                      Primary Color
                    </h3>
                  </td>
                  <td style="background-color:#198dae;" class="color-block">
                    #198dae
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>
                      Secondary Color
                    </h3>
                  </td>
                  <td style="background-color:#b3b3b3;" class="color-block">
                    #b3b3b3
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>
                      Tertiary Color
                    </h3>
                  </td>
                  <td style="background-color:#944DE0;" class="color-block">
                    #944DE0
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>
                      Success Color
                    </h3>
                  </td>
                  <td style="background-color:#19BB9B;" class="color-block">
                    #19BB9B
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>
                      Warning Color
                    </h3>
                  </td>
                  <td style="background-color:#E08514;" class="color-block">
                    #E08514
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>
                      Error Color
                    </h3>
                  </td>
                  <td style="background-color:#c32231;" class="color-block">
                    #c32231
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pre class="sg-code">
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                table
              </span>
              <span class="hljs-attribute">
                class
              </span>
              =
              <span class="hljs-value">
                &quot;table&quot;
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                thead
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                th
              </span>
              &gt;
            </span>
            Color Name
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                th
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                th
              </span>
              &gt;
            </span>
            Hex Color
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                th
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                thead
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                tbody
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            ACC Blue
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              <span class="hljs-attribute">
                style
              </span>
              =
              <span class="hljs-value">
                &quot;background-color:#00386b;&quot;
              </span>
              <span class="hljs-attribute">
                class
              </span>
              =
              <span class="hljs-value">
                &quot;color-block&quot;
              </span>
              &gt;
            </span>
            #00386b
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            Product Color
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              <span class="hljs-attribute">
                style
              </span>
              =
              <span class="hljs-value">
                &quot;background-color:#9a1267;&quot;
              </span>
              <span class="hljs-attribute">
                class
              </span>
              =
              <span class="hljs-value">
                &quot;color-block&quot;
              </span>
              &gt;
            </span>
            #9a1267
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            Primary Color
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              <span class="hljs-attribute">
                style
              </span>
              =
              <span class="hljs-value">
                &quot;background-color:#198dae;&quot;
              </span>
              <span class="hljs-attribute">
                class
              </span>
              =
              <span class="hljs-value">
                &quot;color-block&quot;
              </span>
              &gt;
            </span>
            #198dae
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            Secondary Color
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              <span class="hljs-attribute">
                style
              </span>
              =
              <span class="hljs-value">
                &quot;background-color:#b3b3b3;&quot;
              </span>
              <span class="hljs-attribute">
                class
              </span>
              =
              <span class="hljs-value">
                &quot;color-block&quot;
              </span>
              &gt;
            </span>
            #b3b3b3
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            Tertiary Color
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              <span class="hljs-attribute">
                style
              </span>
              =
              <span class="hljs-value">
                &quot;background-color:#944DE0;&quot;
              </span>
              <span class="hljs-attribute">
                class
              </span>
              =
              <span class="hljs-value">
                &quot;color-block&quot;
              </span>
              &gt;
            </span>
            #944DE0
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            Success Color
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              <span class="hljs-attribute">
                style
              </span>
              =
              <span class="hljs-value">
                &quot;background-color:#19BB9B;&quot;
              </span>
              <span class="hljs-attribute">
                class
              </span>
              =
              <span class="hljs-value">
                &quot;color-block&quot;
              </span>
              &gt;
            </span>
            #19BB9B
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            Warning Color
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              <span class="hljs-attribute">
                style
              </span>
              =
              <span class="hljs-value">
                &quot;background-color:#E08514;&quot;
              </span>
              <span class="hljs-attribute">
                class
              </span>
              =
              <span class="hljs-value">
                &quot;color-block&quot;
              </span>
              &gt;
            </span>
            #E08514
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            Error Color
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                h3
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;
              <span class="hljs-title">
                td
              </span>
              <span class="hljs-attribute">
                style
              </span>
              =
              <span class="hljs-value">
                &quot;background-color:#c32231;&quot;
              </span>
              <span class="hljs-attribute">
                class
              </span>
              =
              <span class="hljs-value">
                &quot;color-block&quot;
              </span>
              &gt;
            </span>
            #c32231
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                td
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                tr
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                tbody
              </span>
              &gt;
            </span>
            <span class="hljs-tag">
              &lt;/
              <span class="hljs-title">
                table
              </span>
              &gt;
            </span>
          </pre>
        </div>
      </section>