 <section class="sg-block sg-section-fonts">
      <div class="sg-text">
        <h3 id="fonts" class="sg">Fonts</h3>
        <p class="sg">
          <code class="sg">OpenSans &amp; Roboto Slab</code>- OpenSans is the major font family used in all digital text accross properties at the ACC. Roboto Slab and Roboto are used in highlighted cases like labels, Primary Navs, and some Header Tags.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h2 class="group-divide-bottom font--name small-12">OpenSans
            <blockquote>font-family: &apos;Open Sans&apos;, &apos;Helvetica Neue&apos;, Helvetica, Helvetica, Arial, sans-serif;</blockquote>
          </h2>
          <div class="font row font-display">
            <div class="ms12 column medium-2 small-3 font--dropcase_2x">Os</div>
            <div class="column medium-10 small-9 font--example">
              <h3>Display Fonts &amp; Headers</h3>
              <div class="font--lowercase ms6">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--uppercase ms6">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--numbers ms6">0123456789</div>
              <div class="font--lowercase ms4">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--uppercase ms4">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--numbers ms4">0123456789</div>
            </div>
          </div>
          <h2 class="group-divide-bottom font--name small-12">Roboto Slab
            <blockquote>font-family: &apos;Roboto Slab&apos;, &apos;Times New Roman&apos;, &apos;Lucida Bright&apos;, Georgia, serif;</blockquote>
          </h2>
          <div class="font row font-slab">
            <div class="ms12 column medium-2 small-3 font--dropcase_2x">Rb</div>
            <div class="column medium-10 small-9 font--example">
              <h3>Primary Navigation, Headers &amp; Labels</h3>
              <div class="font--lowercase ms4">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--uppercase ms4">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--numbers ms4">0123456789</div>
              <div class="font--lowercase ms2">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--uppercase ms2">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--numbers ms2">0123456789</div>
            </div>
          </div>
          <h2 class="group-divide-bottom font--name small-12">Open Sans
            <blockquote>font-family: &apos;Open Sans&apos;, &apos;Helvetica Neue&apos;, Helvetica, Helvetica, Arial, sans-serif;</blockquote>
          </h2>
          <div class="font row font">
            <div class="ms12 column medium-2 small-3 font--dropcase_2x">Os</div>
            <div class="column medium-10 small-9 font--example">
              <h3>Body Copy, Lists &amp; Tables</h3>
              <div class="font--lowercase ms1">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--uppercase ms1">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--numbers ms1">0123456789</div>
              <div class="font--lowercase ms">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--uppercase ms">abcdefghijklmnopqrstuvwxyz</div>
              <div class="font--numbers ms">0123456789</div>
            </div>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h2</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;group-divide-bottom font--name small-12&quot;</span>&gt;</span>OpenSans
  <span class="hljs-tag">&lt;<span class="hljs-title">blockquote</span>&gt;</span>font-family: &apos;Open Sans&apos;, &apos;Helvetica Neue&apos;, Helvetica, Helvetica, Arial, sans-serif;<span class="hljs-tag">&lt;/<span class="hljs-title">blockquote</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font row font-display&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;ms12 column medium-2 small-3 font--dropcase_2x&quot;</span>&gt;</span>Os<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column medium-10 small-9 font--example&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">h3</span>&gt;</span>Display Fonts &amp; Headers<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--lowercase ms6&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--uppercase ms6&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--numbers ms6&quot;</span>&gt;</span>0123456789<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--lowercase ms4&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--uppercase ms4&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--numbers ms4&quot;</span>&gt;</span>0123456789<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h2</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;group-divide-bottom font--name small-12&quot;</span>&gt;</span>Roboto Slab
  <span class="hljs-tag">&lt;<span class="hljs-title">blockquote</span>&gt;</span>font-family: &apos;Roboto Slab&apos;, &apos;Times New Roman&apos;, &apos;Lucida Bright&apos;, Georgia, serif;<span class="hljs-tag">&lt;/<span class="hljs-title">blockquote</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font row font-slab&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;ms12 column medium-2 small-3 font--dropcase_2x&quot;</span>&gt;</span>Rb<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column medium-10 small-9 font--example&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">h3</span>&gt;</span>Primary Navigation, Headers &amp; Labels<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--lowercase ms4&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--uppercase ms4&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--numbers ms4&quot;</span>&gt;</span>0123456789<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--lowercase ms2&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--uppercase ms2&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--numbers ms2&quot;</span>&gt;</span>0123456789<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h2</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;group-divide-bottom font--name small-12&quot;</span>&gt;</span>Open Sans
  <span class="hljs-tag">&lt;<span class="hljs-title">blockquote</span>&gt;</span>font-family: &apos;Open Sans&apos;, &apos;Helvetica Neue&apos;, Helvetica, Helvetica, Arial, sans-serif;<span class="hljs-tag">&lt;/<span class="hljs-title">blockquote</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font row font&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;ms12 column medium-2 small-3 font--dropcase_2x&quot;</span>&gt;</span>Os<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column medium-10 small-9 font--example&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">h3</span>&gt;</span>Body Copy, Lists &amp; Tables<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--lowercase ms1&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--uppercase ms1&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--numbers ms1&quot;</span>&gt;</span>0123456789<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--lowercase ms&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--uppercase ms&quot;</span>&gt;</span>abcdefghijklmnopqrstuvwxyz<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font--numbers ms&quot;</span>&gt;</span>0123456789<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>