    <section class="sg-block sg-section-fonts">
      <div class="sg-text">
        <h3 id="fonts" class="sg">Fonts</h3>
        <p class="sg">
          <code class="sg">OpenSans &amp; Roboto Slab</code>- OpenSans is the major font family used in all digital text accross properties at the ACC. Roboto Slab and Roboto are used in highlighted cases like labels, Primary Navs, and some Header Tags.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h2 class="group-divide-bottom font--name small-12">OpenSans
            <span class="sub-line">font-family: &apos;Open Sans&apos;, &apos;Helvetica Neue&apos;, Helvetica, Helvetica, Arial, sans-serif;</span>
          </h2>
          <div class="font row font-display">
            <div class="ms12 column medium-4 small-6 large-3 font--dropcase_2x">Os</div>
            <div class="column large-9 medium-8 small-6 font--example">
              <h3>Display Fonts &amp; Headers</h3>
              <div class="font--lowercase ms6">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--uppercase ms6">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--numbers ms6">0 1 2 3 4 5 6 7 8 9</div>
              <div class="font--lowercase ms4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--uppercase ms4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--numbers ms4">0 1 2 3 4 5 6 7 8 9</div>
            </div>
          </div>
          <h2 class="group-divide-bottom font--name small-12">Roboto Slab
            <span class="sub-line">font-family: &apos;Roboto Slab&apos;, &apos;Times New Roman&apos;, &apos;Lucida Bright&apos;, Georgia, serif;</span>
          </h2>
          <div class="font row font-slab">
            <div class="ms12 column medium-4 small-6 large-3 font--dropcase_2x">Rb</div>
            <div class="column large-9 medium-8 small-6 font--example">
              <h3>Primary Navigation, Headers &amp; Labels</h3>
              <div class="font--lowercase ms4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--uppercase ms4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--numbers ms4">0 1 2 3 4 5 6 7 8 9</div>
              <div class="font--lowercase ms2">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--uppercase ms2">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--numbers ms2">0 1 2 3 4 5 6 7 8 9</div>
            </div>
          </div>
          <h2 class="group-divide-bottom font--name small-12">Open Sans
            <span class="sub-line">font-family: &apos;Open Sans&apos;, &apos;Helvetica Neue&apos;, Helvetica, Helvetica, Arial, sans-serif;</span>
          </h2>
          <div class="font row font">
            <div class="ms12 column medium-4 small-6 large-3 font--dropcase_2x">Os</div>
            <div class="column large-9 medium-8 small-6 font--example">
              <h3>Body Copy, Lists &amp; Tables</h3>
              <div class="font--lowercase ms1">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--uppercase ms1">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--numbers ms1">0 1 2 3 4 5 6 7 8 9</div>
              <div class="font--lowercase ms">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--uppercase ms">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
              <div class="font--numbers ms">0 1 2 3 4 5 6 7 8 9</div>
            </div>
          </div>
        </div>
      </div>
    </section>