<section class="sg-block sg-section-font-classes">
      <div class="sg-text">
        <h3 id="font-classes" class="sg">Font Classes</h3>
        <p class="sg">
          <code class="sg">font-xxx</code>- These classes allow for quick overrides to the font that is being displayed. This is helpful when dealing with formated content areas that are non-basic like contact ares, addresses, question and answer where display control is not driven by the semantic html usage. This control at a DOM level reduces the need to write new styles.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h1>
            <span class="font-bold">.font-bold
              <span class="font-slab-bold">.font-slab-bold
                <span class="font-slab">.font-slab
                  <span class="font-medium">.font-medium
                    <span class="font">.font
                      <span class="font-light">.font-light
                        <span class="font-display">.font-display</span>
                      </span>
                    </span>
                  </span>
                </span>
              </span>
            </span>
          </h1>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h1</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font-bold&quot;</span>&gt;</span>.font-bold<span class="hljs-tag">&lt;/<span class="hljs-title">spam</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font-slab-bold&quot;</span>&gt;</span>.font-slab-bold<span class="hljs-tag">&lt;/<span class="hljs-title">spam</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font-slab&quot;</span>&gt;</span>.font-slab<span class="hljs-tag">&lt;/<span class="hljs-title">spam</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font-medium&quot;</span>&gt;</span>.font-medium<span class="hljs-tag">&lt;/<span class="hljs-title">spam</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font&quot;</span>&gt;</span>.font<span class="hljs-tag">&lt;/<span class="hljs-title">spam</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font-light&quot;</span>&gt;</span>.font-light<span class="hljs-tag">&lt;/<span class="hljs-title">spam</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;font-display&quot;</span>&gt;</span>.font-display<span class="hljs-tag">&lt;/<span class="hljs-title">spam</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h1</span>&gt;</span></pre>
      </div>
    </section>