<section class="sg-block sg-section-icons-from-font-awesome">
                <div class="sg-text">
                    <h3 id="icons-from-font-awesome" class="sg">Icons from Font Awesome</h3>
                    <p class="sg">
                    <code class="sg">fa-xxx</code>- fully css stylable font icons from Font Awesome. Please read documentation from the font awesome website.</p>
                </div>
                <div class="sg-example">
                    <div class="sg-canvas">
                        <div id="web-application">
                            <h2 class="page-header">Font Awesome</h2>
                            <div class="row fontawesome-icon-list">
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/arrows">
                                    <i class="fa fa-arrows"></i>&#xA0; arrows</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/arrows-h">
                                    <i class="fa fa-arrows-h"></i>&#xA0; arrows-h</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/arrows-v">
                                    <i class="fa fa-arrows-v"></i>&#xA0; arrows-v</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/asterisk">
                                    <i class="fa fa-asterisk"></i>&#xA0; asterisk</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/at">
                                    <i class="fa fa-at"></i>&#xA0; at</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/bookmark">
                                    <i class="fa fa-bookmark"></i>&#xA0; bookmark</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/bookmark-o">
                                    <i class="fa fa-bookmark-o"></i>&#xA0; bookmark-o</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/briefcase">
                                    <i class="fa fa-briefcase"></i>&#xA0; briefcase</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/bug">
                                    <i class="fa fa-bug"></i>&#xA0; bug</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/building">
                                    <i class="fa fa-building"></i>&#xA0; building</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/calculator">
                                    <i class="fa fa-calculator"></i>&#xA0; calculator</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/calendar">
                                    <i class="fa fa-calendar"></i>&#xA0; calendar</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/calendar-o">
                                    <i class="fa fa-calendar-o"></i>&#xA0; calendar-o</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/camera">
                                    <i class="fa fa-camera"></i>&#xA0; camera</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/camera-retro">
                                    <i class="fa fa-camera-retro"></i>&#xA0; camera-retro</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-down">
                                    <i class="fa fa-caret-square-o-down"></i>&#xA0; caret-square-o-down</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-left">
                                    <i class="fa fa-caret-square-o-left"></i>&#xA0; caret-square-o-left</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-right">
                                    <i class="fa fa-caret-square-o-right"></i>&#xA0; caret-square-o-right</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-up">
                                    <i class="fa fa-caret-square-o-up"></i>&#xA0; caret-square-o-up</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/cart-arrow-down">
                                    <i class="fa fa-cart-arrow-down"></i>&#xA0; cart-arrow-down</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/check">
                                    <i class="fa fa-check"></i>&#xA0; check</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/check-circle">
                                    <i class="fa fa-check-circle"></i>&#xA0; check-circle</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/check-circle-o">
                                    <i class="fa fa-check-circle-o"></i>&#xA0; check-circle-o</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/check-square">
                                    <i class="fa fa-check-square"></i>&#xA0; check-square</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/check-square-o">
                                    <i class="fa fa-check-square-o"></i>&#xA0; check-square-o</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/circle">
                                    <i class="fa fa-circle"></i>&#xA0; circle</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/circle-o">
                                    <i class="fa fa-circle-o"></i>&#xA0; circle-o</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/circle-o-notch">
                                    <i class="fa fa-circle-o-notch"></i>&#xA0; circle-o-notch</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/circle-thin">
                                    <i class="fa fa-circle-thin"></i>&#xA0; circle-thin</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/clock-o">
                                    <i class="fa fa-clock-o"></i>&#xA0; clock-o</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/times">
                                    <i class="fa fa-close"></i>&#xA0; close
                                    <span class="text-muted">(alias)</span>
                                    </a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/cloud">
                                    <i class="fa fa-cloud"></i>&#xA0; cloud</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/cloud-download">
                                    <i class="fa fa-cloud-download"></i>&#xA0; cloud-download</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/cloud-upload">
                                    <i class="fa fa-cloud-upload"></i>&#xA0; cloud-upload</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/code">
                                    <i class="fa fa-code"></i>&#xA0; code</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/coffee">
                                    <i class="fa fa-coffee"></i>&#xA0; coffee</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/cog">
                                    <i class="fa fa-cog"></i>&#xA0; cog</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/cogs">
                                    <i class="fa fa-cogs"></i>&#xA0; cogs</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/comment">
                                    <i class="fa fa-comment"></i>&#xA0; comment</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/comment-o">
                                    <i class="fa fa-comment-o"></i>&#xA0; comment-o</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/pencil-square-o">
                                    <i class="fa fa-edit"></i>&#xA0; edit
                                    <span class="text-muted">(alias)</span>
                                    </a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/envelope">
                                    <i class="fa fa-envelope"></i>&#xA0; envelope</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/envelope-o">
                                    <i class="fa fa-envelope-o"></i>&#xA0; envelope-o</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/exclamation">
                                    <i class="fa fa-exclamation"></i>&#xA0; exclamation</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/exclamation-circle">
                                    <i class="fa fa-exclamation-circle"></i>&#xA0; exclamation-circle</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/exclamation-triangle">
                                    <i class="fa fa-exclamation-triangle"></i>&#xA0; exclamation-triangle</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/external-link">
                                    <i class="fa fa-external-link"></i>&#xA0; external-link</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/wifi">
                                    <i class="fa fa-wifi"></i>&#xA0; wifi</a>
                                </div>
                                <div class="column small-2 medium-3">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icon/wrench">
                                    <i class="fa fa-wrench"></i>&#xA0; wrench</a>
                                </div>
                                <div class="column small-12">
                                    <a href="http://fortawesome.github.io/Font-Awesome/icons/">full list of icons</a>
                                </div>
                            </div>
                        </div>
                            </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;web-application&quot;</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-title">h2</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;page-header&quot;</span>&gt;</span>Font Awesome<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row fontawesome-icon-list&quot;</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/arrows&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-arrows&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; arrows<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/arrows-h&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-arrows-h&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; arrows-h<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/arrows-v&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-arrows-v&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; arrows-v<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/asterisk&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-asterisk&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; asterisk<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/at&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-at&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; at<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/bookmark&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-bookmark&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; bookmark<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/bookmark-o&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-bookmark-o&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; bookmark-o<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/briefcase&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-briefcase&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; briefcase<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/bug&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-bug&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; bug<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/building&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-building&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; building<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/calculator&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-calculator&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; calculator<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/calendar&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-calendar&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; calendar<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/calendar-o&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-calendar-o&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; calendar-o<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/camera&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-camera&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; camera<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/camera-retro&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-camera-retro&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; camera-retro<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-down&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-square-o-down&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; caret-square-o-down<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-left&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-square-o-left&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; caret-square-o-left<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-right&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-square-o-right&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; caret-square-o-right<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-up&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-square-o-up&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; caret-square-o-up<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/cart-arrow-down&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-cart-arrow-down&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; cart-arrow-down<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/check&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-check&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; check<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/check-circle&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-check-circle&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; check-circle<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/check-circle-o&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-check-circle-o&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; check-circle-o<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/check-square&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-check-square&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; check-square<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/check-square-o&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-check-square-o&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; check-square-o<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/circle&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-circle&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; circle<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/circle-o&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-circle-o&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; circle-o<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/circle-o-notch&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-circle-o-notch&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; circle-o-notch<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/circle-thin&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-circle-thin&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; circle-thin<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/clock-o&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-clock-o&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; clock-o<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/times&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-close&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; close
                            <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text-muted&quot;</span>&gt;</span>(alias)<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                          <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/cloud&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-cloud&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; cloud<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/cloud-download&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-cloud-download&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; cloud-download<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/cloud-upload&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-cloud-upload&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; cloud-upload<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/code&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-code&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; code<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/coffee&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-coffee&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; coffee<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/cog&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-cog&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; cog<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/cogs&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-cogs&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; cogs<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/comment&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-comment&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; comment<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/comment-o&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-comment-o&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; comment-o<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/pencil-square-o&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-edit&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; edit
                            <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text-muted&quot;</span>&gt;</span>(alias)<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
                          <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/envelope&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-envelope&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; envelope<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/envelope-o&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-envelope-o&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; envelope-o<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/exclamation&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-exclamation&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; exclamation<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/exclamation-circle&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-exclamation-circle&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; exclamation-circle<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/exclamation-triangle&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-exclamation-triangle&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; exclamation-triangle<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/external-link&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-external-link&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; external-link<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/wifi&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-wifi&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; wifi<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-2 medium-3&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icon/wrench&quot;</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-wrench&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp; wrench<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-12&quot;</span>&gt;</span>
                          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://fortawesome.github.io/Font-Awesome/icons/&quot;</span>&gt;</span>full list of icons<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
                </div>
            </section>