<div class="sg-canvas">
          <h2>Textures</h2>
          <div class="row">
            <h3>Paper Textures</h3>
            <div class="texture column large-4">
              <div class="content-padding">
                <h4 class="texture--name">News Print
                  <small>Solid</small>
                </h4>
                <div class="texture--thumb">
                  <div class="texture--holder" style="background-image:url(Assets/img/billie-holiday-lite.png)"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">billie-holiday-lite.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">Soft paper used in the background.
                      <strong>This texture opaque and can not be colored.</strong>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="texture column large-4">
              <div class="content-padding">
                <h4 class="texture--name">News Print
                  <small>Transparent</small>
                </h4>
                <div class="texture--thumb">
                  <div class="texture--holder half-width" style="background-image:url(Assets/img/billie-holiday.png)"></div>
                  <div class="texture--holder half-width" style="background-image:url(Assets/img/billie-holiday.png);background-color:#6cda22;"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">billie-holiday.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">News Print that can have a color behind it.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="texture column large-4">
              <div class="content-padding">
                <h4 class="texture--name">News Print
                  <small>Dirty &amp; Distressed</small>
                </h4>
                <div class="texture--thumb">
                  <div class="texture--holder" style="background-image:url(Assets/img/billie-holiday-speck.png); background-color:#198dae;"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">billie-holiday-spec.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">Alternate soft paper used in the background of groupings and overlaps.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="texture column large-4 end">
              <div class="content-padding">
                <h4 class="texture--name">News Print
                  <small>Dark</small>
                </h4>
                <div class="texture--thumb">
                  <div class="texture--holder" style="background-image:url(Assets/img/textured_paper.png)"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">textured_paper.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">This paper texture is used below news print when there is a need for a deepr layer of texture like in the overlap tabs that break the surface of News Print backgrounds.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="texture column large-4">
              <div class="content-padding">
                <h4 class="texture--name">Construction Paper</h4>
                <div class="texture--thumb">
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/construction-paper.png); background-color:#198dae;"></div>
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/construction-paper.png); background-color:#b3b3b3;"></div>
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/construction-paper.png); background-color:#c32231;"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">construction-paper.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">A colorable texture to drop in color fields when needed.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="texture column large-4">
              <div class="content-padding">
                <h4 class="texture--name">Construction Paper
                  <small>Subtle</small>
                </h4>
                <div class="texture--thumb">
                  <div class="texture--holder" style="background-image:url(Assets/img/paper-texture.png); background-color:#198dae;"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">paper-texture.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">A colorable texture to drop in color fields when needed.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="texture column large-4 end">
              <div class="content-padding">
                <h4 class="texture--name">Carbon Paper</h4>
                <div class="texture--thumb">
                  <div class="texture--holder" style="background-image:url(Assets/img/crossed_stripes.png)"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">crossed_stripes.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">Footer background with a lux quality.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <h3>Ink Marks</h3>
            <p>Application Response is shown with "ink" markings that can be simply colored by changing the background-color.</p>
            <div class="texture column large-4">
              <div class="content-padding">
                <h4 class="texture--name">Cross Hatched Ink
                  <small>With Alt Grey</small>
                </h4>
                <div class="texture--thumb">
                  <div class="texture--holder  half-width" style="background-image:url(Assets/img/empty_diamond@2x.png);background-color:#198dae"></div>
                  <div class="texture--holder  half-width" style="background-image:url(Assets/img/empty_diamond_grey@2x.png);background-color:#198dae"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">empty_diamond@2x.png</span>
                  </li>
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">empty_diamond_grey@2x.png</span>
                  </li>
                  <li>
                    <strong>Special Usage:</strong>
                    <span class="text">Table cell states</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="texture column large-4">
              <div class="content-padding">
                <h4 class="texture--name">Cross Hatched Ink
                  <small>Tight</small>
                </h4>
                <div class="texture--thumb">
                  <div class="texture--holder" style="background-image:url(Assets/img/empty_diamond.png);background-color:#198dae"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">empty_diamond</span>
                  </li>
                  <li>
                    <strong>Special Usage:</strong>
                    <span class="text">Disabled Buttons</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="texture column large-4">
              <div class="content-padding">
                <h4 class="texture--name">striped Ink</h4>
                <div class="texture--thumb">
                  <div class="texture--holder" style="background-image:url(Assets/img/empty_stripe@2x.png);background-color:#198dae"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">empty_stripe@2x.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">Page responses, error messages, and warning messages</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="texture column large-4">
              <div class="content-padding">
                <h4 class="texture--name">striped Ink
                  <small>Alt Grey</small>
                </h4>
                <div class="texture--thumb">
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/empty_stripe_grey@2x.png);background-color:#dd5aa8;"></div>
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/empty_stripe@2x.png);background-color:#dd5aa8;"></div>
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/empty_stripe_grey@2x.png);background-color:#dd5aa8;"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">empty_stripe_grey@2x.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">Alternate versions of responses callouts and errors.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="texture column large-4">
              <div class="content-padding">
                <h4 class="texture--name">striped Ink
                  <small>Alt Blue</small>
                </h4>
                <div class="texture--thumb">
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/empty_stripe_blue@2x.png);background-color:#dd5aa8;"></div>
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/empty_stripe@2x.png);background-color:#dd5aa8;"></div>
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/empty_stripe_blue@2x.png);background-color:#dd5aa8;"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">empty_stripe_blue@2x.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">Alternate versions of responses callouts and errors.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="texture column large-4 end">
              <div class="content-padding">
                <h4 class="texture--name">striped Ink
                  <small>Tight</small>
                </h4>
                <div class="texture--thumb">
                  <div class="texture--holder" style="background-image:url(Assets/img/empty_stripe.png);background-color:#198dae"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">empty_stripe.png</span>
                  </li>
                  <li>
                    <strong>Special Usage:</strong>
                    <span class="text">List item states.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="texture column large-4">
              <div class="content-padding">
                <h4 class="texture--name">Weaves</h4>
                <div class="texture--thumb">
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/cream_pixels.png); background-color:#E08514;"></div>
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/cream_pixels_alt.png); background-color:#E08514;"></div>
                  <div class="texture--holder third-width" style="background-image:url(Assets/img/cream_pixels_altdark.png); background-color:#E08514;"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">cream_pixels.png
                      <br>cream_pixels_alt.png
                      <br>cream_pixels_altdark.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">A colorable texture to drop in to tables for the striped and baneded tables.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>