 <section class="sg-block sg-section-textures">
      <div class="sg-text">
        <h3 id="textures" class="sg">Textures</h3>
        <p class="sg">
          <code class="sg">Textures</code>- Subtle textures.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h2>Textures</h2>
          <div class="row">
            <div class="texture column small-6 medium-3 large-4">
              <div class="content-padding">
                <h3 class="texture--name">Construction Paper</h3>
                <div class="texture--thumb">
                  <div class="texture--holder" style="background-image:url(Assets/img/billie-holiday.png)"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">bille-holiday.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">Soft paper used in the background of groupings and overlaps.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="texture column small-6 medium-3 large-4">
              <div class="content-padding">
                <h3 class="texture--name">Carbon Paper</h3>
                <div class="texture--thumb">
                  <div class="texture--holder" style="background-image:url(Assets/img/crossed_stripes.png)"></div>
                </div>
                <ul class="no-bullet texture--cite">
                  <li>
                    <strong>File Name:</strong>
                    <span class="text">crossed_stripes.png</span>
                  </li>
                  <li>
                    <strong>Usage:</strong>
                    <span class="text">Footer background with a lux quality.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>Textures<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;texture column small-6 medium-3 large-4&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;content-padding&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h3</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;texture--name&quot;</span>&gt;</span>Construction Paper<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;texture--thumb&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;texture--holder&quot;</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">&quot;background-image:url(Assets/img/billie-holiday.png)&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;no-bullet texture--cite&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">strong</span>&gt;</span>File Name:<span class="hljs-tag">&lt;/<span class="hljs-title">strong</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>bille-holiday.png<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">strong</span>&gt;</span>Usage:<span class="hljs-tag">&lt;/<span class="hljs-title">strong</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Soft paper used in the background of groupings and overlaps.<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;texture column small-6 medium-3 large-4&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;content-padding&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h3</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;texture--name&quot;</span>&gt;</span>Carbon Paper<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;texture--thumb&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;texture--holder&quot;</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">&quot;background-image:url(Assets/img/crossed_stripes.png)&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;no-bullet texture--cite&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">strong</span>&gt;</span>File Name:<span class="hljs-tag">&lt;/<span class="hljs-title">strong</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>crossed_stripes.png<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">strong</span>&gt;</span>Usage:<span class="hljs-tag">&lt;/<span class="hljs-title">strong</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Footer background with a lux quality.<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>