<section class="sg-block sg-section-textures">
    <div class="sg-text">
        <h3 id="textures" class="sg">Textures</h3>
        <p class="sg">
        <code class="sg">Textures</code>- Subtle textures.</p>
    </div>
    <div class="sg-example">
        <div class="sg-canvas">
            <h2>Textures</h2>
            <div class="row">
                <h3>Paper Textures</h3>
                <div class="texture column medium-6 large-4">
                    <div class="content-padding">
                        <h4 class="texture--name">Construction Paper</h4>
                        <div class="texture--thumb">
                            <div class="texture--holder" style="background-image:url(Assets/img/billie-holiday.png)"></div>
                        </div>
                        <ul class="no-bullet texture--cite">
                            <li>
                                <strong>File Name:</strong>
                                <span class="text">billie-holiday.png/span&gt;</span>
                            </li>
                            <li>
                                <strong>Usage:</strong>
                                <span class="text">Soft paper used in the background of groupings and overlaps.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="texture column medium-6 large-4">
                    <div class="content-padding">
                        <h4 class="texture--name">classy_fabric_@2X</h4>
                        <div class="texture--thumb">
                            <div class="texture--holder" style="background-image:url(Assets/img/classy_fabric_@2X.png)"></div>
                        </div>
                        <ul class="no-bullet texture--cite">
                            <li>
                                <strong>File Name:</strong>
                                <span class="text">classy_fabric_@2X.png</span>
                            </li>
                            <li>
                                <strong>Usage:</strong>
                                <span class="text">Soft paper used in the background of groupings and overlaps.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="texture column medium-6 large-4 end">
                    <div class="content-padding">
                        <h4 class="texture--name">Carbon Paper</h4>
                        <div class="texture--thumb">
                            <div class="texture--holder" style="background-image:url(Assets/img/crossed_stripes.png)"></div>
                        </div>
                        <ul class="no-bullet texture--cite">
                            <li>
                                <strong>File Name:</strong>
                                <span class="text">crossed_stripes.png</span>
                            </li>
                            <li>
                                <strong>Usage:</strong>
                                <span class="text">Footer background with a lux quality.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>Ink Marks</h3>
                <p>Application Response is shown with &quot;ink&quot; markings that can be simply colored by changing the background-color.</p>
                <div class="texture column medium-6 large-4">
                    <div class="content-padding">
                        <h4 class="texture--name">Cross Hatched Ink</h4>
                        <div class="texture--thumb">
                            <div class="texture--holder" style="background-image:url(Assets/img/empty_diamond@2x.png);background-color:#198dae"></div>
                        </div>
                        <ul class="no-bullet texture--cite">
                            <li>
                                <strong>File Name:</strong>
                                <span class="text">empty_diamond@2x</span>
                            </li>
                            <li>
                                <strong>Special Usage:</strong>
                                <span class="text">Table cell states</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="texture column medium-6 large-4">
                    <div class="content-padding">
                        <h4 class="texture--name">Cross Hatched Ink Tight</h4>
                        <div class="texture--thumb">
                            <div class="texture--holder" style="background-image:url(Assets/img/empty_diamond.png);background-color:#198dae"></div>
                        </div>
                        <ul class="no-bullet texture--cite">
                            <li>
                                <strong>File Name:</strong>
                                <span class="text">empty_diamond</span>
                            </li>
                            <li>
                                <strong>Special Usage:</strong>
                                <span class="text">Disabled Buttons</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="texture column medium-6 large-4">
                    <div class="content-padding">
                        <h4 class="texture--name">Stripped Ink</h4>
                        <div class="texture--thumb">
                            <div class="texture--holder" style="background-image:url(Assets/img/empty_stripe@2x.png);background-color:#198dae"></div>
                        </div>
                        <ul class="no-bullet texture--cite">
                            <li>
                                <strong>File Name:</strong>
                                <span class="text">empty_stripe@2x.png</span>
                            </li>
                            <li>
                                <strong>Usage:</strong>
                                <span class="text">Page responses, error messages, and warning messages</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="texture column medium-6 large-4">
                    <div class="content-padding">
                        <h4 class="texture--name">Stripped Ink with Color Bleed</h4>
                        <div class="texture--thumb">
                            <div class="texture--holder" style="background-image:url(Assets/img/empty_stripe-alt@2x.png);background-color:#198dae"></div>
                        </div>
                        <ul class="no-bullet texture--cite">
                            <li>
                                <strong>File Name:</strong>
                                <span class="text">empty_stripe-alt@2x.png</span>
                            </li>
                            <li>
                                <strong>Usage:</strong>
                                <span class="text">Info or hightlighed text which use lighter ink colors.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="texture column medium-6 large-4 end">
                    <div class="content-padding">
                        <h4 class="texture--name">Stripped Ink Tight</h4>
                        <div class="texture--thumb">
                            <div class="texture--holder" style="background-image:url(Assets/img/empty_stripe.png);background-color:#198dae"></div>
                        </div>
                        <ul class="no-bullet texture--cite">
                            <li>
                                <strong>File Name:</strong>
                                <span class="text">empty_stripe.png</span>
                            </li>
                            <li>
                                <strong>Special Usage:</strong>
                                <span class="text">List item states.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>