.footer{
	border-top:rebrand-color(grey(30),1) 2px solid;

	img.logo{margin: .25rem 1rem;}
	.tabs {margin-right: .35rem;}
	.tabs li{margin-bottom: .5rem;}
	@include bp(md){
		text-align: right;
		img.logo{display: none;}


		}
	@include bp(sm-down){
		.tabs{margin: 0;}
		img.logo{max-width:95%;margin:.25rem 2.5%;}
	}
}