.header{
	border-bottom: grey(30) 2px solid;
	padding:2px;
	.tabs {margin-right: .35rem;}
	img.logo{display: none;}
	@include bp(md){
		text-align: right;
			img.logo{display: inline-block;clear:none;float:left;margin: .25rem 1rem;}
			ul.nav.tabs{clear:none;display: inline-block; font-size: 18px;width:auto;
				li a{@include font-slab();}
			}

		}
}