#auto-save{
  display: block;
  width:100%;
  position:fixed;
  background-color:$acc-blue;
  opacity: .85;
  border-bottom:2px solid $acc-blue;
  top:0;
  left:0;
  right:0;
  text-align: center;
  .message{
    @include font-slab-bold;
    @include baseline-font(2);
    color:$white;
  }
}

.autosave-block {
    display: inline-block;
    text-align: left;
    color: #fff;
    background-color: $primary-color;
    width: 100%;
    padding: .25rem;
    position: fixed;
    top: 0;
    @include font-bold();
}
