.page-wrapper,.page .page-wrapper{max-width:60em;margin:0 auto;}
.input-space {
  position: relative;
}

select {
  background-position: right 0rem center;
}

.input-space .input-lock,
.switch-input-space .input-lock {
  position: absolute;
  top: -1px;
  right: 0;
  padding: .57143rem;
  font-size: 1em;
  line-height: 1;
  color: grey;
  display:none;
  .disabled &{ display:block; }
}

.paper-page.repeater-area {
  background-color: $success-color;
  background-image: url(../img/bottom-shade.png), url(../img/top-shade.png), url(../img/cream_pixels_alt.png);
  background-position: bottom right, right -1px, top right;
  background-repeat: repeat-x, repeat-x, repeat;
  margin-bottom: .25rem;
  .close-button{
    color: #fff;
    border: #fff solid 1px;
    border-radius: 6px;
    padding: .5em 1em;
    margin: 0;
    top: 0;
    right: -.5em;
    &:hover{background-color:rgba(0, 0, 0, .25);}
  }
}

.render {
  padding: .5em 1em;
  margin-bottom: .5em;
  border: 1px solid grey(40);
  border-radius: 4px;
}

.render ul {
  list-style: none;
}

.render-actions {
  background-color: grey(80);
  border-left: 1px solid grey(30);
  background-image:url(../img/cream_pixels.png);
}

.render.animated.fadeIn {
  padding: 0;
}

.render ul {
  margin: 0
}

.render ul li {
  padding: .25em 1em;
}

.render-actions a {
	background-color: mix(grey(5),color($primary-color,10));
	text-align: center;
	color: black;
	width: 33%;
	padding: .25em 0;
	font-size: ms(-1);
	border-bottom:1px solid grey(20);
      margin: 6px;
    width: auto;
    border: 1px solid;
    border-radius: 6px;
    background-color: grey;
    background-image: none;
	&:hover {
	background-color: #fff;
	color: grey(100);
 }
}



.render-actions a.disabled {
  &,
  &:hover {
    background-color: grey(80);
    color: grey(40);
    background-image: url(../img/cream_pixels.png);
    @include font-light();
    i.fa {
      color: grey(30);
   }
}
}
.render{
  position:relative;
  padding:0;
  .starred.primary, .locked,.added-flag {
    display: block;
    background-color: $primary-color;
    color: white;
  }
  .has-tip.locked {
    background-color: grey(20);
    color: grey(60);
  }
  .added-flag{
    background-color:rgba($success-color,.75);
    border-radius: 0 0  $global-border-radius $global-border-radius;
        display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    color:$real-black;
  }
}


//    Flex Rules around render
.render {
	display:flex;
  .render-holder {
	display:block;flex:2 1 75%;
  }
  .render-actions {
  	display:flex;
    flex: 0 0 175px;
  	flex-direction: column ;
    a {
    	flex:0 1 auto;
	    vertical-align: middle;

    }
 }
}
.question{
  .switch, .question-grid-based .switch {
  margin-top:.25em;
  margin-bottom:.25em;
}
}
label.switch-value{
    font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1em;}

.page-message.callout.empty {
    background: none transparent;
    border: 0;
    padding: 0;
}

.page-message.empty .icon-holder {
    font-size: 1em;
    color:orange;
    padding:0
}

.page-message.empty .icon-holder .fa-square-o { display:none;}
