<tr>
	<td class="name"><a class="h5" href="admin-applicant.html">Dr. Lolly Pop, FACC</a>
		<div class="dates small">
			<small class="submitted">Submitted:<b>	10/13/2017</b></small> 
			<small class="modified">Returned:<b>	10/13/2017</b></small> 
			<small class="reviewed">Reviewed:<b>	10/13/2017</b></small>
			<small class="admin">Rejected:<b>	10/13/2017</b></small>
		</div>
	</td>
	<td class="type">FACC</td>
	<td class="Nominated text-center success"><i class="fa fa-check-circle"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
		<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="action text-right"> <a href="" class="button secondary tiny radius"><i class="fa fa-gear"></i>&nbsp;<i class="fa fa-angle-down"></i></a></td>
</tr>
<tr>
	<td class="name"><a class="h5" href="admin-applicant.html">Dr. Pepper, FACC</a>
		<div class="dates small">
			<small class="submitted">Submitted:<b>	10/13/2017</b></small> 
			<small class="modified">Returned:<b>	10/13/2017</b></small> 
			<small class="reviewed">Reviewed:<b>	10/13/2017</b></small>
			<small class="admin">Rejected:<b>	10/13/2017</b></small>
		</div>
	</td>
	<td class="type">FACC</td>
	<td class="Nominated"></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center "></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
		<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="action text-right"> <a href="" class="button secondary tiny radius"><i class="fa fa-gear"></i>&nbsp;<i class="fa fa-angle-down"></i></a></td>
</tr>
<tr>
	<td class="name"><a class="h5" href="admin-applicant.html">Dr. Whatchamacallit, MD </a>
		<div class="dates small">
			<small class="submitted">Submitted:<b>	10/13/2017</b></small> 
			<small class="modified">Returned:<b>	10/13/2017</b></small> 
			<small class="reviewed">Reviewed:<b>	10/13/2017</b></small>
			<small class="admin">Rejected:<b>	10/13/2017</b></small>
		</div>
	</td>
	<td class="type">FACC</td>
	<td class="Nominated"></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
		<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center "></td>
	<td class="content text-center "></td>
	<td class="action text-right"> <a href="" class="button disabled secondary tiny radius"><i class="fa fa-gear"></i>&nbsp;<i class="fa fa-angle-down"></i></a></td>
</tr>