<tr>
	<td class="name"><a class="link" href="">Dr. Lolly Pop, FACC</a>
		<div class="dates small">
			<small class="submitted">Submitted:<strong>	10/13/2017</strong></small> 
			<small class="modified">Mod:<strong>	10/13/2017</strong></small> 
			<small class="reviewed">Reviewed:<strong>	10/13/2017</strong></small>
		</div>
	</td>
	<td class="type">FACC</td>
	<td class="Nominated text-center success"><i class="fa fa-check-circle"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
		<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="action text-right"> <a href="" class="button secondary tiny radius"><i class="fa fa-gear"></i>&nbsp;<i class="fa fa-angle-down"></i></a></td>
</tr>
<tr>
	<td class="name"><a class="link" href="">Dr. Pepper, FACC</a>
		<div class="dates small">
			<small class="submitted">Submitted:<strong>	10/13/2017</strong></small> 
			<small class="modified">Mod:<strong>	10/13/2017</strong></small> 
			<small class="reviewed">Reviewed:<strong>	10/13/2017</strong></small>
		</div>
	</td>
	<td class="type">FACC</td>
	<td class="Nominated"></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center "></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
		<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="action text-right"> <a href="" class="button secondary tiny radius"><i class="fa fa-gear"></i>&nbsp;<i class="fa fa-angle-down"></i></a></td>
</tr>
<tr>
	<td class="name"><a class="link" href="">Dr. Whatchamacallit, MD </a>
		<div class="dates small">
			<small class="submitted">Submitted:<strong>	10/13/2017</strong></small> 
			<small class="modified">Mod:<strong>	10/13/2017</strong></small> 
			<small class="reviewed">Reviewed:<strong>	10/13/2017</strong></small>
		</div>
	</td>
	<td class="type">FACC</td>
	<td class="Nominated"></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
		<td class="content text-center highlighted"><i class="fa fa-check"></i></td>
	<td class="content text-center "></td>
	<td class="content text-center "></td>
	<td class="action text-right"> <a href="" class="button disabled secondary tiny radius"><i class="fa fa-gear"></i>&nbsp;<i class="fa fa-angle-down"></i></a></td>
</tr>