<table class="comittee table striped desaturate">
	<thead>
		<tr>
			<th>Name</th>
			<th class="small-1">Open Positions</th>
			<th class="small-1">Action</th>
		</tr>
	</thead>
	<tbody>	
		<tr>
			<td><a href="admin-committee-manage-single.html" class="link bold">Committee Name</a></td>
			<td>0</td>
			<td><a href="" style="white-space: nowrap;">Make Committee Active</a></td>
		</tr>
		<tr>
			<td><a href="admin-committee-manage-single.html" class="link bold">Committee Name</a></td>
			<td>0</td>
			<td><a href="" style="white-space: nowrap;">Make Committee Active</a></td>
		</tr>
		<tr>
			<td><a href="admin-committee-manage-single.html" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td><a href="" style="white-space: nowrap;">Make Committee Active</a></td>
		</tr>
		<tr>
			<td><a href="admin-committee-manage-single.html" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td><a href="" style="white-space: nowrap;">Make Committee Active</a></td>
		</tr>		<tr>
			<td><a href="admin-committee-manage-single.html" class="link bold">Committee Name</a></td>
			<td>0</td>
			<td><a href="" style="white-space: nowrap;">Make Committee Active</a></td>
		</tr>		<tr>
			<td><a href="admin-committee-manage-single.html" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td><a href="" style="white-space: nowrap;">Make Committee Active</a></td>
		</tr>		<tr>
			<td><a href="admin-committee-manage-single.html" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td><a href="" style="white-space: nowrap;">Make Committee Active</a></td>
		</tr>
		
	</tbody>
</table>