<table class="comittee table striped desaturate">
	<thead>
		<tr>
			<th>Name</th>
			<th class="small-1">Open Positions</th>
			<th class="small-1">Eligible</th>
			<th class="small-1">Inligible</th>
			<th class="small-1">Unknown</th>
		</tr>
	</thead>
	<tbody>	
		<tr>
			<td><a href="admin-committees.html" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td>1</td>
			<td>5</td>
			<td><i class="fa fa-holder"></i></td>
		</tr>
		<tr>
			<td><a href="admin-committees.html" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td>3</td>
			<td>1</td>
			<td><i class="fa fa-holder"></i></td>
		</tr>
		<tr class="warning">
			<td><a href="admin-committees.html" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td>2</td>
			<td>4</td>
			<td><i class="fa fa-holder"></i>3</td>
		</tr>
		<tr>
			<td><a href="admin-committees.html" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td>3</td>
			<td>5</td>
			<td><i class="fa fa-holder"></i></td>
		</tr>		<tr>
			<td><a href="admin-committees.html" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td>3</td>
			<td>5</td>
			<td><i class="fa fa-holder"></i></td>
		</tr>		<tr>
			<td><a href="admin-committees.html" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td>3</td>
			<td>5</td>
			<td><i class="fa fa-holder"></i></td>
		</tr>		<tr>
			<td><a href="admin-committees.html" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td>3</td>
			<td>5</td>
			<td><i class="fa fa-holder"></i></td>
		</tr>
		
	</tbody>
</table>