<table class="comittee table striped no-margin">
	<thead>
		<tr>
			<td>Name</td>
			<td class="small-1">Eligible</td>
			<td class="small-1">Inligible</td>
			<td class="small-1">Unknown</td>
		</tr>
	</thead>
	<tbody>	
		<tr>
			<td><a href="" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td>4</td>
			<td><i class="fa fa-holder"></i></td>
		</tr>
				<tr>
			<td><a href="" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td>4</td>
			<td><i class="fa fa-holder"></i></td>
		</tr>
				<tr class="warning">
			<td><a href="" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td>4</td>
			<td><i class="fa fa-holder"></i>3</td>
		</tr>
				<tr>
			<td><a href="" class="link bold">Committee Name</a></td>
			<td>2</td>
			<td>4</td>
			<td><i class="fa fa-holder"></i></td>
		</tr>
		
	</tbody>
</table>