<div class="row group-divide">
    <div class="column">
        <a class="button alert float-right" href="">
           <i class="fa fa-times"></i> Delete
        </a>
        <a class="button warning float-right" href="">
          <i class="fa fa-pencil"></i>  Edit
        </a>
    </div>
</div>