<div class="notes content-padding">
	<div class="question no-margin callout info">
		<div class="label-holder"><label for=""><span class="text bold">Notes:</span></label></div>
		<div class="input-holder">
			<div class="input-space"><textarea name="" id="" cols="30" rows="3"></textarea></div>
		</div>
		<div class="hint">To leave a message on a person comment on them directly.</div>
		<div class="input-holder">
			<div class="input-space text-right"><a href="" class="button secondary tiny">cancel</a> <a href="" class="button tiny">comment</a></div>
		</div>
	</div>
	<div class="section-padding content-padding">
		<ul class="no-bullet">
                            <li class="group-divide-auto">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                <cite class="text-right">
                                    <strong>
                                        Nicole Homes
                                    </strong>
                                    <span class="lite">
                                        Jan 1st 2017 | 12:53 PM
                                    </span>
                                </cite>
                            </li>
                            <li class="group-divide-auto">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <cite class="text-right">
                                    <strong>
                                        Marthea Williams
                                    </strong>
                                    <span class="lite">
                                        Jan 1st 2017 | 12:50 PM
                                    </span>
                                </cite>
                            </li>
                            <li class="group-divide-auto">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <cite class="text-right">
                                    <strong>
                                        Nicole Homes
                                    </strong>
                                    <span class="lite">
                                        Jan 1st 2017 | 12:42 PM
                                    </span>
                                </cite>
                            </li>
                            <li class="group-divide-auto">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                <cite class="text-right">
                                    <strong>
                                        Nicole Homes
                                    </strong>
                                    <span class="lite">
                                        Jan 1st 2017 | 12:39 PM
                                    </span>
                                </cite>
                            </li>
                        </ul>
	{% include "elements/pagination-bottom"%}
	</div>
</div>