<div class="row section-padding">
    <div class="card">
    <div class="colored-paper info"><h4>Leadership Competency</h4></div>
        <div class="row section-padding">
            <div class="column medium-6">
                <div class="row">
                    <div class="question column small-4">
                        <div class="label-holder">
                            <span class="text">
                                Order
                            </span>
                            <span class="required-holder">
                                <i class="fa fa-holder-dynamic">
                                </i>
                            </span>
                        </div>
                        <div class="input-holder">
                            <div class="input-space column">
                                <select id="" name="">
                                    <option value="">
                                        1
                                    </option>
                                    <option value="">
                                        2
                                    </option>
                                    <option value="">
                                        3
                                    </option>
                                    <option value="">
                                        4
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="message-holder">
                            <small class="error">
                                Error Message
                            </small>
                        </div>
                        <div class="hint">
                        </div>
                    </div>
                    <div class="question column medium-8 disabled">
                        <div class="label-holder">
                            <span class="text">
                                System ID
                            </span>
                            <span class="required-holder">
                                <i class="fa fa-holder-dynamic">
                                </i>
                            </span>
                        </div>
                        <div class="input-holder">
                            <div class="input-space column">
                                <input disabled="" type="text" value="Leadership_Competency">
                                </input>
                            </div>
                        </div>
                        <div class="message-holder">
                            <small class="error">
                                Error Message
                            </small>
                        </div>
                        <div class="hint">
                        </div>
                    </div>
                    <div class="question column small-12">
                        <div class="label-holder">
                            <span class="text">
                                Label
                            </span>
                            <span class="required-holder">
                                <i class="fa fa-holder-dynamic">
                                </i>
                            </span>
                        </div>
                        <div class="input-holder">
                            <div class="input-space column">
                                <input type="text">
                                </input>
                            </div>
                        </div>
                        <div class="message-holder">
                            <small class="error">
                                Error Message
                            </small>
                        </div>
                        <div class="hint">
                        </div>
                    </div>
                </div>
            </div>
            <div class="column medium-6">
                <div class="row">
                    <div class="column ">
                        <table class="table banded">
                            <thead>
                                <tr>
                                    <th>
                                        Order
                                    </th>
                                    <th>
                                        Label
                                    </th>
                                    <th class="text-right">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="question">
                                <tr>
                                    <td>
                                        <select id="" name="">
                                            <option value="">
                                                1
                                            </option>
                                        </select>
                                    </td>
                                    <td class="">
                                        <input type="text" value="Exhibits Influential Leadership"/>
                                    </td>
                                    <td class="text-right">
                                        <a class="button alert tiny" href="">
                                            <i class="fa fa-times">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                                 <tr>
                                    <td>
                                        <select id="" name="">
                                            <option value="">
                                                1
                                            </option>
                                        </select>
                                    </td>
                                    <td class="">
                                        <input type="text" value="Demonstrates Strategic Leadership"/>
                                    </td>
                                    <td class="text-right">
                                        <a class="button alert tiny" href="">
                                            <i class="fa fa-times">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                                                                 <tr>
                                    <td>
                                        <select id="" name="">
                                            <option value="">
                                                1
                                            </option>
                                        </select>
                                    </td>
                                    <td class="">
                                        <input type="text" value="Maintains Organizational Awareness & Stewardship"/>
                                    </td>
                                    <td class="text-right">
                                        <a class="button alert tiny" href="">
                                            <i class="fa fa-times">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="question">
                                <tr>
                                    <td class="text-center" colspan="3">
                                        Add New Switch
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select id="" name="">
                                            <option value="">
                                                first
                                            </option>
                                            <option value="">
                                                end
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input placeholder="label" type="text"/>
                                    </td>
                                    <td>
                                        <a class="button small success expanded" href="">
                                            Add New Switch
                                        </a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>