<div class="group-divide-auto">
    <div class="row">
        <div class="question column medium-1">
            <div class="label-holder">
                <span class="text">
                    Order
                </span>
                <span class="required-holder">
                    <i class="fa fa-holder-dynamic">
                    </i>
                </span>
            </div>
            <div class="input-holder">
                <div class="input-space column">
                    <select id="" name="">
                        <option value="">
                            1
                        </option>
                        <option value="">
                            2
                        </option>
                        <option value="">
                            3
                        </option>
                        <option value="">
                            4
                        </option>
                    </select>
                </div>
            </div>
            <div class="message-holder">
                <small class="error">
                    Error Message
                </small>
            </div>
            <div class="hint">
            </div>
        </div>
        <div class="question column medium-3 disabled">
            <div class="label-holder">
                <span class="text">
                    System ID
                </span>
                <span class="required-holder">
                    <i class="fa fa-holder-dynamic">
                    </i>
                </span>
            </div>
            <div class="input-holder">
                <div class="input-space column">
                    <input disabled="" type="text" value="CompChecks">
                    </input>
                </div>
            </div>
            <div class="message-holder">
                <small class="error">
                    Error Message
                </small>
            </div>
            <div class="hint">
            </div>
        </div>
        <div class="question column medium-8">
            <div class="label-holder">
                <span class="text">
                    Label
                </span>
                <span class="required-holder">
                    <i class="fa fa-holder-dynamic">
                    </i>
                </span>
            </div>
            <div class="input-holder">
                <div class="input-space column">
                    <input type="text">
                    </input>
                </div>
            </div>
            <div class="message-holder">
                <small class="error">
                    Error Message
                </small>
            </div>
            <div class="hint">
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="column ">
    		


    			<table class="table banded">
    			<thead>	
{% comment %}    				<tr><th colspan="3">Switches</th></tr>
{% endcomment %}					<tr>
						<th>Order</th>
						<th>Label</th>
						<th class=text-right>Action</th>
					</tr>
    			</thead>
    			<tbody class="question">
    				<tr>
    					<td><select name="" id="">
    						<option value="">1</option>
    					</select></td>
    					<td class="" ><input type="text" value="Exhibits Influential Leadership"></td>
    					<td class=text-right><a href="" class="button alert tiny"><i class="fa fa-times"></i></a></td>
    				</tr>
    			</tbody>
    			<tfoot class="question">
    				<tr>
    					<td colspan="3" class="text-center">Add New Switch</td>
    				</tr>
    				<tr>
    					<td>
	    					<select name="" id="">
	    					<option value="">first</option>
	    						<option value="">end</option>
	    					</select>
    					</td>
    					<td><input type="text" placeholder="label"></td>
    					<td><a href="" class="button small success expanded">Add New Switch</a></td>
    				</tr>
    			</tfoot>
    		</table>
    		</div>
    	    </div>
</div>