// This code is just for dependency this is to help maintain the project but doesn't produce any css.
$required-SCSS_states: "false" !default;
$required_data:(
	'bool' :$required-SCSS_states,
	'required':'__states.required.scss,_table.seperator.scss',
	'path':'scss/base/__states.required.scss',
	'file':'_table.seperator.scss'
	);
@include required-check($required_data...);

@each $State in $states{
	$selector:map-get($State,'Selector');
	$color:map-get($State,'Color');
	$sepstate-color-base:$color;
	$sepstate-color:scale-color($sepstate-color-base,$lightness:15%);
	$sepstate-darkcolor:scale-color($sepstate-color,$lightness:-10%);
	$sepstate-lightcolor:scale-color($sepstate-color,$lightness:10%);
	.table #{$selector}.seperator td, .table #{$selector}.seperator:nth-child(even) td:nth-child(odd){

		background-color: $sepstate-color;
		/* will be "on top", if browser supports it */
		background-image: linear-gradient(to left ,$sepstate-lightcolor  ,$sepstate-darkcolor);
		/* these will reset other properties, like background-position, but it does know what you mean */
		background: $sepstate-color;
		background: linear-gradient(to left ,$sepstate-lightcolor  ,$sepstate-darkcolor);
		border-top:$sepstate-darkcolor 1px solid;
		border-bottom:$sepstate-darkcolor 2px solid; 
		color:color-contrast($sepstate-color);
	}

}


/**
* Tables Row(Seperator + State):
* ` .seperator.error` - An Error State on a table sep.
* 
*   @example
*	<table class="table stripped">
*		<thead>
*			<tr>
*				<th>table header</th>
*				<th>table header</th>
*				<th>table header</th>
*			</tr>
*		</thead>
*		<tbody>
*			<tr>
*				<td> row 1  cell A</td>
*				<td> row 1  cell B</td>
*				<td> row 1  cell C</td>
*			</tr>
*			<tr class="seperator info">
*				<td colspan='3'> Separator With Info</td>
*			</tr>
*			<tr>
*				<td> row 1  cell A</td>
*				<td> row 1  cell B</td>
*				<td> row 1  cell C</td>
*			</tr>
*			<tr class="seperator success">
*				<td colspan='3'> Separator With success</td>
*			</tr>
*			<tr>
*				<td> row 1  cell A</td>
*				<td> row 1  cell B</td>
*				<td> row 1  cell C</td>
*			</tr>
*			<tr class="seperator error">
*				<td colspan='3'> Separator With Error</td>
*			</tr>
*			<tr>
*				<td> row 1  cell A</td>
*				<td> row 1  cell B</td>
*				<td> row 1  cell C</td>
*			</tr>
*			<tr class="seperator warning">
*				<td colspan='3'> Separator With warning</td>
*			</tr>
*			<tr>
*				<td> row 1  cell A</td>
*				<td> row 1  cell B</td>
*				<td> row 1  cell C</td>
*			</tr>
*			<tr class="seperator disabled">
*				<td colspan='3'> Separator With disabled</td>
*			</tr>
*			<tr>
*				<td> row 1  cell A</td>
*				<td> row 1  cell B</td>
*				<td> row 1  cell C</td>
*			</tr>
*		</tbody>
*		<tfoot>
*			<tr>
*				<td colspan="3">footer cell</td>
*			</tr>
*		</tfoot>
*	</table>
*/
