$table-cell-color:rebrand-color($primary-color,2);
$cell-texture:"../img/cream_pixels.png";
$cell-texture-column:"../img/cream_pixels_blue.png";
$cell-texture-row:"../img/cream_pixels_alt.png";
$cell-texture-overlap:"../img/cream_pixels_altblue.png";

%colored-row{
	// background-color:grey(7);
	background-image:url($cell-texture-row);
	}
%colored-column{
	 @if $primary-app-color-brightness < 60
		{background-color: color($table-cell-color,10);}
	@else 
		{background-color: color($table-cell-color,30);}
	}
%grey-column{
	background-color:grey(5);
	}
%overlapped-column-row{
	@if $primary-app-color-brightness < 60
		{background-color:mix(color($table-cell-color,14),grey(7));}
	@else 
		{background-color:mix(color($table-cell-color,30),grey(10));}
	}
%grey-overlapped-column-row{
	background-color:grey(10);
	}

.banded tbody,.striped tbody{
	tr:nth-child(even) td{@extend %colored-row;}
	}
.striped{
	th:nth-child(even){@extend %overlapped-column-row;}
	td:nth-child(even){@extend %colored-column;}
}
.striped.desaturate{
	th:nth-child(even){@extend %grey-overlapped-column-row;}
	td:nth-child(even){@extend %grey-column;}
}
.striped, .banded{
	tbody tr + tr td{border-top:0px solid;}
	th,td{padding:.25rem .25rem .25rem .55rem;}
	tfoot{
		td,td:nth-child(even) {	
			color:$black;
			border-top:1px solid rebrand-color($primary-color,2);
			background-color: grey(20);
		}
	}
}

.striped tbody{
	tr:nth-child(even) td:nth-child(even){ @extend %overlapped-column-row;}
}
.striped.desaturate tbody{
	tr:nth-child(even) td:nth-child(even){ @extend %grey-overlapped-column-row;}
}
/**
* Tables (Banded):
* `.banded` - There are two high styled tables `.banded` or `.striped`.
* 
*   @example
*	<table class="table banded">
*		<thead>
*			<tr>
*				<th>table header</th>
*				<th>table header</th>
*				<th>table header</th>
*			</tr>
*		</thead>
*		<tbody>
*			<tr>
*				<td> row 1  cell A</td>
*				<td> row 1  cell B</td>
*				<td> row 1  cell C</td>
*			</tr>
*			<tr>
*				<td> row 2  cell A</td>
*				<td> row 2  cell B</td>
*				<td> row 2  cell C</td>
*			</tr>
*			<tr>
*				<td> row 3  cell A</td>
*				<td> row 3  cell B</td>
*				<td> row 3  cell C</td>
*			</tr>
*		</tbody>
*		<tfoot>
*			<tr>
*				<td colspan="3">footer cell</td>
*			</tr>
*		</tfoot>
*	</table>
*/






/**
* Tables (Striped):
* ` .striped` - Table with the class`.striped`.
* 
*   @example
*	<table class="table striped">
*		<thead>
*			<tr>
*				<th>table header</th>
*				<th>table header</th>
*				<th>table header</th>
*			</tr>
*		</thead>
*		<tbody>
*			<tr>
*				<td> row 1  cell A</td>
*				<td> row 1  cell B</td>
*				<td> row 1  cell C</td>
*			</tr>
*			<tr>
*				<td> row 2  cell A</td>
*				<td> row 2  cell B</td>
*				<td> row 2  cell C</td>
*			</tr>
*			<tr>
*				<td> row 2  cell A</td>
*				<td> row 2  cell B</td>
*				<td> row 2  cell C</td>
*			</tr>
*		</tbody>
*		<tfoot>
*			<tr>
*				<td colspan="3">footer cell</td>
*			</tr>
*		</tfoot>
*	</table>
*/
/**
* Tables (Striped Desaturate):
* ` .striped.desaturate` - Table with the class`.striped.desaturate` will produce a table that is cross colored with only greys.
* 
*   @example
*	<table class="table striped desaturate">
*		<thead>
*			<tr>
*				<th>table header</th>
*				<th>table header</th>
*				<th>table header</th>
*			</tr>
*		</thead>
*		<tbody>
*			<tr>
*				<td> row 1  cell A</td>
*				<td> row 1  cell B</td>
*				<td> row 1  cell C</td>
*			</tr>
*			<tr>
*				<td> row 2  cell A</td>
*				<td> row 2  cell B</td>
*				<td> row 2  cell C</td>
*			</tr>
*			<tr>
*				<td> row 2  cell A</td>
*				<td> row 2  cell B</td>
*				<td> row 2  cell C</td>
*			</tr>
*		</tbody>
*		<tfoot>
*			<tr>
*				<td colspan="3">footer cell</td>
*			</tr>
*		</tfoot>
*	</table>
*/