table{
	width:100%;
	border-collapse: collapse;
	margin-bottom: 1rem;
}
td,th{text-align: left}

thead {
	th{@extend %loud; @extend %h5;border:0;border-bottom:2px solid $secondary-color;}
}
tbody td{@extend %normal;}
tfoot td{@extend %italic;border:0;border-top:1px solid grey(30); font-size: .9rem;}