
<div class="column small-3">
	<h1>H1 Tag</h1>
	<nav class="nav-list">
		<ul>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
		</ul>
	</nav>
</div>
<div class="column small-3">
	<h2>H2 Tag</h2>
	<nav class="nav-list">
		<ul>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
		</ul>
	</nav>
</div>
<div class="column small-3">
	<h3>H3 Tag</h3>
	<nav class="nav-list">
		<ul>
			<li class="selected"><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
		</ul>
	</nav>
</div>

{% comment %}Checklist Nav{% endcomment %}
<div class="column small-3">
	<p>This is a checklist nav</p>
	<nav class="nav-list nav-checklist">
		<ul>
			<li class="selected"><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
		</ul>
	</nav>
</div>