<div class="section-nav back">
	<a href="">
		<div class="circle"><i class="fa fa-holder-dynamic"></i></div>
		<div class="text"> Previous Section Name</div>
	</a>
</div>
{% comment %}content fluf{% endcomment %}
<div class="row page-wrapper">
	<h1  class="column small-12">this is a section</h1>
<div class="column small-12 medium-6 large-3">
	<nav class="nav-list">
		<ul>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
		</ul>
	</nav>
</div>
<div class="column small-12 medium-6 large-3">
	<h2>H2 Tag</h2>
	<nav class="nav-list">
		<ul>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
		</ul>
	</nav>
</div>
<div class="column small-12 medium-6 large-3">
	<h3>H3 Tag</h3>
	<nav class="nav-list">
		<ul>
			<li class="selected"><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
			<li><a href="#"><span class="text">Navigation Text</span> <i class="fa fa-holder"></i></a></li>
		</ul>
	</nav>
</div>
</div>

<div class="section-nav forward">
	<a href="">
		<div class="circle"><i class="fa fa-holder-dynamic"></i></div>
		<div class="text"> Next Section Name</div>
	</a>
</div>
