// This code is just for dependency this is to help maintain the project but doesn't produce any css.
$required-SCSS_states: "false" !default;
$required_data:(
	'bool' :$required-SCSS_states,
	'required':'__states.required.scss',
	'path':'scss/base/__states.required.scss',
	'file':'_nav-checklist.state.scss'
	);
@include required-check($required_data...);
// End of required check



.nav-list.nav-checklist li{
	@each $State in $states{
		&#{map-get($State,'Selector')}{
			background-color: color(map-get($State,'Color'),30);
			border-color: color(map-get($State,'Color'),35);
			border-bottom-width: 1;
			color:fontcolor($real-black);
			@include fa-holder(map-get($State,'Icon'),'dynamic');
			i{color:map-get($State,'Color');}
			&:hover{
				background-color: color(map-get($State,'Color'),20);
			}
		}
	}
}
// DOCUMENTATION OF ELEMENT
/**
* Nav List (Checklist w/ States):
* `.nav-checklist.statename` - add class to the nav to change the list item to reflect the state with `.warning`, `.error`, `.highlighted`...
* 
*   @example
*	<nav class="nav-list nav-checklist">
*	<ul>
*	<li class="">
*	<a><span class="text">Nav List Item 1(blank)</span><i class="fa fa-holder-dynamic"></i></a>
*	<li  class="selected warning">
*	<a><span class="text">Nav List Item 2(selected and warning)</span><i class="fa fa-holder-dynamic"></i></a>
*	</li>
*	<li  class="highlighted">
*	<a><span class="text">Nav List Item 3(highlighted)</span><i class="fa fa-holder-dynamic"></i></a>
*	</li>
*	<li  class="warning">
*	<a><span class="text">Nav List Item 4(warning)</span><i class="fa fa-holder-dynamic"></i></a>
*	</li>
*	<li class="error">
*	<a><span class="text">Nav List Item 5(error)</span><i class="fa fa-holder-dynamic"></i></a>
*	</li  class="">
*	</ul>
*	</nav>
*/