// This code is just for dependency this is to help maintain the project but doesn't produce any css.
$required-SCSS_states: "false" !default;
$required_data:(
	'bool' :$required-SCSS_states,
	'required':'__states.required.scss',
	'path':'scss/base/__states.required.scss',
	'file':'_nav-checklist.state.scss'
	);
@include required-check($required_data...);
// End of required check



.nav-list.nav-checklist li{
	@each $State in $states{
		&#{map-get($State,'Selector')}{
			$state-name: map-get($State, 'State');
			$state-selector: map-get($State, 'Selector');
			$state-color: map-get($State, 'Color');
			
			@if $state-name == "completed"{
				background-color: #fff;
			}
			@else if $state-name == "disabled"{
				&, &:hover{
					cursor:none;
			    	cursor: not-allowed;
					background-color: $state-color; 
					color:grey(40);
					background-image: url(../img/empty_stripe.png);
				}
				& a, & a:hover{
					color:grey(40);
					cursor:none;
			    	cursor: not-allowed;
			    }
			}@else{
				background-color: color($state-color,20);
				border-color: color($state-color,35);
				border-bottom-width: 1;
				&:hover{
				background-color: color($state-color,40);
				}
			}   
			

			//@include fa-holder(map-get($State,'Icon'),'dynamic');
			// i{color:$state-color;}
			@include setTrump('icon',$state-name,'.nav-list.nav-checklist li#{$state-selector} .fa-holder-dynamic:before');
			@include setTrump('color',$state-name,'.nav-list.nav-checklist li#{$state-selector} i');
			@include setTrump('background-color',$state-name,'.nav-list.nav-checklist li#{$state-selector}');
			

			@if $state-name == "disabled"{
				
				
			    
			}@else{
				color:fontcolor($real-black);
				&.selected{
					color:fontcolor(color-contrast($state-color));
					&:hover{color:fontcolor(color-contrast(color($state-color,20)));}
				}
			}
		}
	}
}
// DOCUMENTATION OF ELEMENT
/**
* Nav List (Checklist w/ States):
* `.nav-checklist.statename` - add class to the nav to change the list item to reflect the state with `.warning`, `.error`, `.highlighted`...
* 
*   @example
*	<nav class="nav-list nav-checklist">
*	<ul>
*	<li class="">
*	<a><span class="text">Nav List Item 1(blank)</span><i class="fa fa-holder-dynamic"></i></a>
*	<li  class="selected warning">
*	<a><span class="text">Nav List Item 2(selected and warning)</span><i class="fa fa-holder-dynamic"></i></a>
*	</li>
*	<li  class="highlighted">
*	<a><span class="text">Nav List Item 3(highlighted)</span><i class="fa fa-holder-dynamic"></i></a>
*	</li>
*	<li  class="warning">
*	<a><span class="text">Nav List Item 4(warning)</span><i class="fa fa-holder-dynamic"></i></a>
*	</li>
*	<li class="error">
*	<a><span class="text">Nav List Item 5(error)</span><i class="fa fa-holder-dynamic"></i></a>
*	</li >
*	<li class="disabled">
*	<a><span class="text">Nav List Item 5(disabled)</span><i class="fa fa-holder-dynamic"></i></a>
*	</li >
*	</ul>
*	</nav>
*/