/**
* Tabs (Basic):
* `.tabs` - Group of nav that is build for a horizontal space. <h5 class="warning">( !! WARNING !! Updated HTML and Styles From Ver 1)</h5>
* 
*   @example
*	<ul class="nav tabs">
*		<li class="tabs-title icon"><a class="home"><i class="fa fa-holder"></i></a></li>
*		<li class="tabs-title"><a>Tab 2</a></li>
*		<li class="tabs-title is-active"><a >Tab 3</a></li>
*		<li class="tabs-title"><a >Tab 4</a></li>
*	</ul>
*/


// @import "../../helpers/flex";
$tab-color: grey(20);
$tab-hover-color: grey(25);
$tab-selected-color:#fff;
$tab-selected-hover-color:scale-color($secondary-color, $lightness:-15%);
$tab-darktext:$global-default-dark-text;
$tab-lighttext:$global-default-light-text;

.tabs{
	div.row{  max-width: 1200px;}
  &,.tabs-title > a{
    @include font-slab-bold();
    font-size:rem-calc(ms(-2));
    @include bp(md){
      font-size: rem-calc(ms(-1));
    }
    @include bp(lg){
      font-size: rem-calc(ms(0));
    }
  }
	margin-left: 0;
	width:100%;
	background: grey(10);

	li,.tabs-title{	
    background-color: $tab-color;
		border-top-left-radius: $global-border-radius * .5;
		border-top-right-radius: $global-border-radius * .5;
		display: inline-block;
		margin:.2rem .2rem -1px;
    @include bp(md){
      margin:.25rem .25rem -1px;
      border-top-left-radius: $global-border-radius * .75;
      border-top-right-radius: $global-border-radius * .75;
    } 
    @include bp(lg){
      margin:.3rem .3rem -1px;
      border-top-left-radius: $global-border-radius;
      border-top-right-radius: $global-border-radius;
    } 
		
    > a{
			&, &:hover{background-color: transparent;}
			display: inline-block;
			padding: .25em .5em .35em;
			text-align: center;
			white-space: nowrap;
			vertical-align: top;
			margin: 0 auto;
			width: 100%;
			color:color-contrast($tab-color,$tab-darktext,$tab-lighttext);
			@include bp(md){
				padding: .35em .75em .45em;
			}	
      @include bp(lg){
        padding: .65em 1em .75em;
      } 		
		}

		&:hover{
			background-color:$tab-hover-color;
			a{
				color:color-contrast($tab-hover-color,$tab-darktext,$tab-lighttext);
			}
		}

		&.selected,&.is-active{
			background-color:$tab-selected-color;
			padding-left: 0;
			padding-right: 0;
			cursor:context-menu;
      margin-bottom:-2px;
      bottom:-1px;
      position: relative;;
			a{
				color:color-contrast($tab-selected-color,$tab-darktext,$tab-lighttext);cursor:context-menu;
			}
		}
		&.icon{
			a{
				padding-left: .5em !important;
				padding-right: .5em !important;
			}
			width:3em;
			&.selected,&.is-active{
				background-color: $tab-selected-color;
				a{
					color:color-contrast($tab-selected-color,$tab-darktext,$tab-lighttext);
					&:hover{color:fontcolor($black);}
					}

				&:hover{
					background-color: $tab-selected-hover-color;
					a{
						color:color-contrast($tab-selected-hover-color,$tab-darktext,$tab-lighttext);
					}
				}
			}

		} 
		&.secondary{
			background-color: color($secondary-color, 60);
			a{
				color:color-contrast(color($secondary-color, 60),$tab-darktext,$tab-lighttext);
			}
			&:hover{background-color: color($secondary-color, 100);
				a{color:color-contrast(color($secondary-color,100),$tab-darktext,#fff);}
			}

		}
		&.disabled, &.disabled:hover{
			background: url("../img/subtlenet2.png") repeat;
			a, &{
				color: grey(40);
				cursor: not-allowed;
				opacity: .5;
			}

		}
	}
	@include bp(xs-down){
			width:100%;
			clear:both;
			@include flexbox();
			flex-direction:row;
			flex-wrap:wrap;
			align-items:stretch;
			align-content: stretch;
			margin:.2em 0;
			li{@include flex(1 1 auto);
			&.icon{@include flex(0 0 2em);}
			}
	}
}