.comment-holder {
    padding: 1.25em;
    margin: 0 -.5em -.5em;
    background: #fff;
    .lite {
        display: block;
        font-size: ms(-2);
        line-height: 1;
    }
}


.off-canvas.position-right {
    border-left: 1px solid grey(60);
}

.off-canvas .paper-page {
    background-image: url(../img/cream_pixels_altdark.png);
}

.circle-button {
    position: absolute;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
    overflow: hidden;
    width: 50px;
    height: 50px;
    background: #25b6e0;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 4px solid #fff;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.61);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.61);
    i {
        font-size: 25px;
        line-height: 1em;
        margin: -.1em -.25em;
        color: #fff;
        -webkit-transition: all 1.5s;
        transition: all 1.5s;
        -ms-transform: translate(0px, 0);
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
}



.off-canvas-content.is-open-right .off-canvas-toggle i.fa:before{
    content: "\f061";
}

.off-canvas-content.is-open-left .off-canvas-toggle i.fa:before{
    content: "\f060";
}

.tabs {
    max-width: 98%;
}

