<tr>
	<td class="info full-cell"><button type="button" data-toggle="button" data-id="000003087675" class="full-cell"><i class="fa fa-check-square fa-2x"></i></button></td>
	<td>
		<div><a href="javascript:void(0)" onclick="ViewSelected('000003087675')">Imran Samiullah, MBBS</a></div>
		<div class="hide-for-large "><small>drimransami@yahoo.com</small></div>
	    <div class="hide-for-large ">id: <small>000003087675</small></div>
        <div class="hide-for-large ">b: <small>107486</small></div>
	</td>
	<td class="show-for-large">
		<div>000003087675</div>
		<div class="small">INDIV</div>
	</td>
	<td class="show-for-large">drimransami@yahoo.com</td>
	<td class="nowrap address">
		<div class="nowrap row text-right">BUREWALA<span class="hide-for-large">, PUNJAB</span></div>
		<div class="small show-for-large">PUNJAB</div>
		<div class="hide-for-large row collapse">
			<div class="small-12 column text-right">
			<!-- <span class="purchase-icon acc" title="ACC2017"></span><span class="purchase-icon iscience" title="iSCIENCE"></span> -->
			</div>
			<div class="small-12 column text-right"><input type="button" class="button tiny nobutton link radius disabled" value="Move Purchase" ></div>
		</div>
	</td>
	<td class="show-for-large">107486</td>
	<td class="show-for-large">
	</td>
	<td class="show-for-large">
		<input type="button"  class="button tiny secondary radius float-right disabled" value="Move Purchase" >
	</td>
</tr>