
<tr>
	<td class="show-for-large">
		<div class="h5"><a href="javascript:void(0)" onclick="ViewSelected('000003087675')">Imran Samiullah, MBBS</a></div>
		<div><small class="personifyID">000003087675</small>
		<small class="italic"> - INDIV</small></div>
	</td>
	<td class="show-for-large">
		<div>drimransami@yahoo.com</div>
		<div class="small">BUREWALA<span class="italic">, PUNJAB</span></div>
	</td>
	<td class="show-for-large">
		<span class="purchase-icon acc" title="ACC2017"></span><span class="purchase-icon iscience" title="iSCIENCE"></span>

	</td>
	<td class="show-for-large"><a  class="button secondary tiny expanded" data-open="movePurchaseModal">Move</a></td>
	<td class="hide-for-large">
		<div class="content-padding">
			<h3>Imran Samiullah, MBBS</h3>
		<div><small class="personifyID">000003087675</small>
		<small class="italic"> - INDIV</small></div>
		<div>drimransami@yahoo.com</div>
		<div class="small">BUREWALA<span class="italic">, PUNJAB</span></div>
		<div><span class="purchase-icon acc" title="ACC2017"></span><span class="purchase-icon iscience" title="iSCIENCE"></span></div>
		<div class="section-padding"><a  class="button secondary tiny expanded" data-open="movePurchaseModal">Move Purchase</a></div>
		</div>
	</td>
	
</tr>