<thead>
    <tr>
       
        <th class="show-for-large">
            <div class="h5">Identifier</div>
        </th>
        <th class="show-for-large">
            <div class="h5">Contact Info</div>
        </th>
        <th class="show-for-large">
            <div class="h5">Purchases</div>
        </th>
        <th class="show-for-large">&nbsp;</th>
   </tr>
</thead>