<thead>
        <tr>
            <th><span class="glyphicon glyphicon-ok"></span></th>
            <th class="show-for-large"><a href="javascript:void(0)" onclick="setOrder('MasterCustomerId')">Id</a></th>
            <th><a href="javascript:void(0)" onclick="setOrder('LastName ASC, FirstName ASC')">Name</a></th>
            <th class="show-for-large"><a href="javascript:void(0)" onclick="setOrder('PrimaryEmail')">Email</a></th>
            <th class="nowrap address"><span class="show-for-large"><a href="javascript:void(0)" onclick="setOrder('City')">City</a></span><span class="hide-for-large">Address<br>Member Type<br>Purchases</span></th>
            <th class="show-for-large"><a href="javascript:void(0)" onclick="setOrder('State')">State</a></th>
            <th class="show-for-large"><a href="javascript:void(0)" onclick="setOrder('MemberType')">Member Type</a></th>
            <th class="show-for-large">Badge Id</th>
            <th class="show-for-large">Purchased</th>
            <th></th>
        </tr>
    </thead>