<thead>
    <tr>
        <th class="secondary icon text-justified" ><i class="fa fa-check"></i></th>
        <th class="show-for-large">
            <div class="h5">Identifier</div>
        </th>
        <th class="show-for-large">
            <div class="h5">Contact Info</div>
        </th>
        <th class="show-for-large">
            <div class="h5">Purchases</div>
        </th>
        <th class="nowrap address hide-for-large"><span class="">Address<br>Member Type<br>Purchases</span></th>
   </tr>
</thead>