{% extends 'layouts/layout' %}
{% block content %}
<div class="mobile-offcanvas-wrapper">
    <section class="split-layout medium">
        <aside class="split-sidebar">
            <div class="row">
                <div class="column">
                    <h2>
                        Open Committees
                    </h2>
                    {% include "elements/searchbar" %}
                </div>
            </div>
            <div class="">
                <nav class="">
                    <ul class="committee-list">
                        {% include "elements/committee-List-item-notactive" %}
                        {% include "elements/committee-List-item-active" %}
                        {% include "elements/committee-List-item-notactive" %}
                        {% include "elements/committee-List-item-notactive" %}
                        {% include "elements/committee-List-item-notactive" %}
                        {% include "elements/committee-List-item-notactive" %}
                    </ul>
                </nav>
            </div>
            {% include "elements/pagination-bottom" %}
        </aside>
        <article class="split-content page with-group-sections">
            <div class="section-nav back hide-for-medium">
                <a>
                    <div class="circle">
                        <i class="fa fa-holder-dynamic">
                        </i>
                    </div>
                    <div class="text">
                        Back to Open Committees
                    </div>
                </a>
            </div>
            {% include "elements/page-message-deadline" %}
            <div class="page-wrapper">
                {% include "sections/committee-details" %}
            </div>
            
        </article>
    </section>
</div>
{% endblock %}

{% comment %}
<img src="output/abstract-q-c-640-480-1.jpg">
</img>
{% endcomment %}
