$circle-radius:25px;
$circle-color:fontcolor($secondary-color);
$circle-color-hover:fontcolor($secondary-color,'loud');
$circle-darktext:$dark-text-default;
$circle-lighttext:$light-text-default;

// Override Var
$circle-lighttext:#fff;
.section-nav{
	width:100%;
	display: block;
	position: relative;
	border:0px solid grey(30);

	.text{@extend %h4; padding-top:$circle-radius * .25; padding-bottom:$circle-radius * .25; }
	.circle{
		position:absolute;
		
		width: $circle-radius*2;
		height: $circle-radius*2;
		background: $circle-color;
		-moz-border-radius: $circle-radius;
		-webkit-border-radius: $circle-radius;
		border-radius: $circle-radius;
		border:4px solid color-contrast($circle-color,$circle-darktext,$circle-lighttext);
		-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.61);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.61);
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.61);
		i{
			font-size: $circle-radius;
			line-height:1em;
		 	margin:($circle-radius - 4px)/2;
		 	color:color-contrast($circle-color,$circle-darktext,$circle-lighttext);
		 	&:before{vertical-align: bottom;}
		}

	}
	&.forward{
		border-top-width: 1px;
		background: url('../img/top-shade.png') repeat-x top right,url('../img/billie-holiday.png') repeat top right;
		margin-top: $circle-radius *1.5;
		@include fa-holder($fa-var-chevron-right,'dynamic');
		.circle{right:$circle-radius/2;bottom: $circle-radius/2;}
		.text{ padding-right:$circle-radius*3; text-align: right;}
	}
	&.back{
		background: url('../img/bottom-shade.png') repeat-x bottom right,url('../img/billie-holiday.png') repeat top right;
		margin-bottom: $circle-radius *1.5;
		@include fa-holder($fa-var-chevron-left,'dynamic');
		.text{ padding-left:$circle-radius*3; text-align: left;}
		.circle{left:$circle-radius/2;top: $circle-radius/2;}
	}
	&:hover .circle{
			background: $circle-color-hover;
			border:4px solid color-contrast($circle-color-hover,$circle-darktext,$circle-lighttext);
			-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.45);
			-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.45);
			box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.45);
			i{color:color-contrast($circle-color-hover,$circle-darktext,$circle-lighttext)}
		}
	a{


	}

}