.accordion h2.toggle .sub-line {
    font-size: 0.5em;
    line-height: 1.25em;
    margin: 0em 1rem 0em 2.5rem;
}
.with-group-sections .page-wrapper > .group-section.flow-chart{
    padding:.5rem;
}
.panzoom{    
    border: 2px solid grey(20);
}
.panzoom-buttons{
    position: absolute; 
    top: 2px; 
    right: 2px;
}
.group-section > .callout{margin-top: 1rem;}
.button.reset-button{
	margin-top: -2em;
	@include bp(md){		
	    position: absolute;
	    top: 1.5em;
	    margin: 1.5rem 0 0;
	    right: 1em;
	    width:auto;

		}

}

.unit-of-measure{
	position: absolute;
	
	top: -.25em;
    right: .5rem;
    @include bp(sm-height){
    	top:0em;
    }
        @include bp(md-height){
    	top:.5em;
    }
	@include bp(md){
		top:.5em;
    	right: .75em;
	}
	@include bp(lg){
		top: 1.25em;
		right: 1.25em;
	}
	.switch-value{
		text-align: right;
		 padding-right: .5em;
		 padding-top: .25em;
		 vertical-align: top;
		 font-weight: 900;

	}
}



.inputList li, .inputList li span{display:none;}
.inputList li.warning,.inputList li.error{display: block;}
.inputList li.warning span.warning, .inputList li.error span.error{display:inline;}