recommendationTable {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.47em; }
  .recommendationTable td {
    border: 0px none;
    padding: .5em; }
  .recommendationTable .recommendationLevel1, .recommendationTable .recommendationLevel1 {
    font-family: 'Roboto Bold',Helvetica, Arial, sans-serif;
    text-shadow: 0px 0px 0px transparent;
    font-weight: normal; }
  .recommendationTable .recommendationLevel2 {
    padding-left: 3%; }
  .recommendationTable .recommendationLevel3 {
    padding-left: 6%; }
  .recommendationTable .recommendationLevel4 {
    padding-left: 9%;
    font-family: 'Roboto Condensed Light',Helvetica, Arial, sans-serif;
    text-shadow: 0px 0px 0px transparent;
    font-weight: normal; }
  .recommendationTable .CORI, .recommendationTable .CORIIa, .recommendationTable .CORIIb, .recommendationTable .LOE-A, .recommendationTable .LOE-B, .recommendationTable .LOE-C {
    text-align: center;
    font-family: 'Roboto Bold',Helvetica, Arial, sans-serif;
    text-shadow: 0px 0px 0px transparent;
    font-weight: normal; }
  .recommendationTable .CORI {
    background-color: #9BBB59; }
  .recommendationTable .CORIIa {
    background-color: #FFFF00; }
  .recommendationTable .CORIIb {
    background-color: #FFC000; }
  .recommendationTable .LOE-A {
    background-color: #548DD4; }
  .recommendationTable .LOE-B {
    background-color: #8DB3E2; }
  .recommendationTable .LOE-C {
    background-color: #C6D9F1; }
  .recommendationTable tr:nth-child(odd) {
    background: #f5f5f5; }
  .recommendationTable thead tr.recommendationTableHeaders {
    background-color: #ccc; }
  .recommendationTable thead th {
    padding: 5px; }
  .recommendationTable thead small, .recommendationTable thead strong {
    display: block;
    margin: 0 auto; }
  .recommendationTable thead small {
    font-family: 'Roboto Condensed Light',Helvetica, Arial, sans-serif;
    text-shadow: 0px 0px 0px transparent;
    font-weight: normal;
    font-size: 10px; }
  .recommendationTable thead strong {
    font-family: 'Roboto Bold',Helvetica, Arial, sans-serif;
    text-shadow: 0px 0px 0px transparent;
    font-weight: normal;
    margin-top: -6px; }
  .recommendationTable thead strong.left {
    margin-left: 0;
    text-align: left;
    font-size: 1.3em;
    margin: 0.2em 0.2em 0.2em 5PX; }
  .recommendationTable small.left {
    margin-left: 0;
    text-align: left;
    font-size: 11px;
    margin-left: 5PX; }
  .recommendationTable tr > td + td, .recommendationTable tr > th + th {
    border-left: 2px solid white; }
  .recommendationTable tr > td, .recommendationTable tr > th {
    border-bottom: 2px solid white; }