$typography-highlight-color:rebrand-color(color($primary-color,80) , 2);
$typography-line-colors:rebrand-color(color($primary-color,80) , 2);

$h1-spacing:1.5rem;
$h2-spacing:1rem;
$h3-spacing:.7rem;
$h4-spacing:.5rem;
$h5-spacing:.5rem;
$h6-spacing:.75rem;

%h1,%h2,%h3,%h4,%h5,%h6{clear:both;}
%h1{
@include font-display();
}
%h2{
@include font-slab();
}
%h4{
@include font-slab-bold();
}
%h3,%h5,%h6 { 
	@include font-bold();
}
.h1{
	@extend %h1;
	@include baseline-font(4);
	@include bp(md){
		@include baseline-font(5);
		
		}
	@include bp(lg){
		@include baseline-font(5);	
	}

}
.h2{
	$font-name:"normal";
	@extend %h2;
	@include baseline-font(3,$font-name:$font-name);
	@include bp(md){
		@include baseline-font(4,$font-name:$font-name);
		
		}
	@include bp(lg){
		@include baseline-font(5,$font-name:$font-name);	
	}

}
.h3{
	@extend %h3;
	@include baseline-font(2);
	@include bp(md){
		@include baseline-font(3);
		}
	@include bp(lg){
		@include baseline-font(4);	
	}

}
.h4{
	@extend %h4;
	@include baseline-font(1);
	@include bp(md){
		@include baseline-font(2);
	}
}
.h5{
	@extend %h5;
	@include baseline-font(0); 	
	@include bp(md){
		@include baseline-font(1);
	}
}
.h6{ 
	@extend %h6; 
	@include baseline-font(0);
	@include bp(md){
		@include baseline-font(1);
	} 
}

%normal {
	@include font; 
	@include baseline-font(0,0,0);
}
%bold   { @include font-bold; }
%loud  { color:fontcolor($real-black,'loud');}
%quiet { color: fontcolor($real-black,'quiet'); }
%italic { @include font-italic;}
%strong { @include font-bold;color:fontcolor(rebrand-color($primary-color, 2),"xloud");}

%emphasis{ 
	color: mix(rebrand-color($primary-color, 2),fontcolor($real-black,'loud'));
	@include font-italic;
	font-weight:900;
}
%subtle{ @include font-light;color: mix(rebrand-color($primary-color, 2),fontcolor($real-black,'light'));}
%unordered-list { list-style-type: disc; }
%ordered-list { list-style: decimal; }
%inline-list{ list-style: none; display:block;margin:0; >li{display:inline-block;margin-left: .25rem;} }

/**
 * Header Tags:
 * `Headers` - Headers are used to separate and organize blocks of text. 
 *  You can also us `.h1`,`.h2`,`.h3`,`.h4`,`.h5`, or `.h6` 
 *  to make any text elements style like the associated header tag 
 *
 *     @example
 *     h1 Header 1 Tag
 *		small subheader
 *     h2 Header 2 Tag
 *     h3 Header 3 Tag
 *     h4 Header 4 Tag
 *     h5 Header 5 Tag 
 *     h6 Header 6 Tag
 */


h1{
	
	@extend .h1;
}
h2{

	@extend .h2;
}
h3{
	@extend .h3;

}
h4{
	@extend .h4;

}
h5{
	@extend .h5;

}
h6{
	@extend .h6;
}
p{ 
	@extend %normal;
	+ p{
		@include bp(sm-height){
			margin-top:  .25 * $baseline;
		}
		margin-top: .5 * $baseline;
	}
	

}
ul,ol{

	margin-bottom:  .25 * $baseline;
	@include bp(xs-height){margin-bottom:  .25 * $baseline;}
	@include bp(sm-height){margin-bottom:  .5 * $baseline;}
	li{
		@include font; 
		@include baseline-font(-1,.1,.9);
		// margin-bottom:.125em;
		// @include bp(xs-height){margin-bottom:  .25 * $baseline;}
		// @include bp(sm-height){margin-bottom:  .375 * $baseline;}
	}
	}

