<div class="question required">  
  <div class="label-holder">
    <label for="">
      <span class="text">Selectable Group Buttons</span>
      <span class="required-holder">
        <i class="fa fa-holder-dynamic"></i>
      </span>
    </label>
  </div>
  <div class="input-holder row collapse">
    <div class="column small-12">
      <ul class="button-group even-3 selectable selected-btn1">
        <li class="btn1"><a href="" class="button"><i class="fa fa-check"></i><span class="text">Yes</span></a></li>
        <li class="btn2"><a href="" class="button"><i class="fa fa-check"></i><span class="text">No</span></a></li>
        <li class="btn3"><a href="" class="button"><i class="fa fa-check"></i><span class="text">Maybe</span></a></li>
      </ul>
    </div>
  </div>
  <div class='hint'>This is helper text for this question</div>
</div>