<div class="question {{question-buttongroup.state}}">  
  <div class="label-holder">
    <label for="" class="label"></label>  
    <i class="fa fa-holder-dynamic"></i>
    <label for="">
      <span class="text">{{question-buttongroup.title}}</span>
      <span class="required-holder">
        <i class="fa fa-holder-dynamic"></i>
      </span>
    </label>
  </div>
  <div class="input-holder">
    <ul class="button-group even-3 selectable selected-{{question-buttongroup.selectedbutton}}">
      <li class="btn1"><a href="" class="button"><i class="fa fa-check"></i><span class="text">Yes</span></a></li>
      <li class="btn2"><a href="" class="button"><i class="fa fa-check"></i><span class="text">No</span></a></li>
      <li class="btn3"><a href="" class="button"><i class="fa fa-check"></i><span class="text">Maybe</span></a></li>
    </ul>
  </div>
  <div class='hint'><a href="#!/subpages/labs" class="link">List of labs for secondary causes</a></div>
</div>