<table class='table' cellspacing="0">
  <thead>
    <tr> 
     <th class="">No</th>
      <th class="">Competition</th>
      <th class="">John</th>
      <th class="">Adam</th>
      <th class="">Robert</th>
      <th class="">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="error"><i class="fa fa-holder"></i></td>
  </tr>    
    <tr>
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="alert"><i class="fa fa-holder"></i></td>
  </tr>    <tr>
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="green-check"><i class="fa fa-holder"></i></td>
  </tr>    <tr>
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="grey-check"><i class="fa fa-holder"></i></td></tr>
    
  </tr>
  </tbody>
  <tfoot>
    <tr>    <td class="">3</td>
    <td class="">Shooting</td>
    <td class="">70%</td>
    <td class="">55%</td>
    <td class="">90%</td>
    <td class="">16:00</td>
  </tfoot>
</table>

<table class='table banded' cellspacing="0">
  <thead>
    <tr> 
     <th class="">No</th>
      <th class="">Competition</th>
      <th class="">John</th>
      <th class="">Adam</th>
      <th class="">Robert</th>
      <th class="">Paul</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td class="">1</td>
    <td class="">Swimming</td>
    <td class="">1:30</td>
    <td class="">2:05</td>
    <td class="">1:15</td>
    <td class="">1:41</td>
  </tr>
  <tr class="seperator">
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="">16:00</td>
  </tr>
    <tr>
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="">16:00</td>
  </tr>    <tr>
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="">16:00</td>
  </tr>    <tr>
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="">16:00</td>
  </tr>
  </tbody>
  <tfoot>
    <tr>    <td class="">3</td>
    <td class="">Shooting</td>
    <td class="">70%</td>
    <td class="">55%</td>
    <td class="">90%</td>
    <td class="">88%</td></tr>
  </tfoot>
</table>
<table class='table stripped' cellspacing="0">
  <thead>
    <tr> 
     <th class="">No</th>
      <th class="">Competition</th>
      <th class="">John</th>
      <th class="">Adam</th>
      <th class="">Robert</th>
      <th class="">Paul</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td class="">1</td>
    <td class="">Swimming</td>
    <td class="">1:30</td>
    <td class="">2:05</td>
    <td class="">1:15</td>
    <td class="">1:41</td>
  </tr>
  <tr class="seperator">
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="">16:00</td>
  </tr>
    <tr>
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="">16:00</td>
  </tr>    <tr>
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="">16:00</td>
  </tr>    <tr>
    <td class="">2</td>
    <td class="">Running</td>
    <td class="">15:30</td>
    <td class="">14:10</td>
    <td class="">15:45</td>
    <td class="">16:00</td>
  </tr>
  </tbody>
  <tfoot>
    <tr>    <td class="">3</td>
    <td class="">Shooting</td>
    <td class="">70%</td>
    <td class="">55%</td>
    <td class="">90%</td>
    <td class="">88%</td></tr>
  </tfoot>
</table>
<!-- Todo  to make the table sort you need to ad the column class to the table class and then ad the column #  -->
<table class='table stripped sort-asc col3 sorting' cellspacing="0">
  <thead>
    <tr class="sortable"> 
      <th class="col1">
        <div class="firefoxfix relative">
          <span class="sort"><i class="fa fa-holder"></i></span>
            <a>
                Sortable Column Name
                <i data-tooltip class="has-tip fa fa-question-circle" title="This helps when clicked on"></i>
            </a>
          </div>
      </th>
     <th class="col2">
        <div class="firefoxfix relative">
          <span class="sort"><i class="fa fa-holder"></i></span>
            <a>
                Sortable Column Name
                <i data-tooltip class="has-tip fa fa-question-circle" title="This helps when clicked on"></i>
            </a>
          </div>
      </th>
      <th class="col3">
        <div class="firefoxfix relative">
          <span class="sort"><i class="fa fa-holder"></i></span>
            <a>
                Sortable Column Name
                <i data-tooltip class="has-tip fa fa-question-circle" title="This helps when clicked on"></i>
            </a>
          </div>
      </th>
      <th class="col4">
        <div class="firefoxfix relative">
          <span class="sort"><i class="fa fa-holder"></i></span>
            <a>
                Sortable Column Name
                <i data-tooltip class="has-tip fa fa-question-circle" title="This helps when clicked on"></i>
            </a>
          </div>
      </th>
      <th class="col5">
        <div class="firefoxfix relative">
          <span class="sort"><i class="fa fa-holder"></i></span>
            <a>
                Sortable Column Name
                <i data-tooltip class="has-tip fa fa-question-circle" title="This helps when clicked on"></i>
            </a>
          </div>
      </th>
      <th class="col6">
        <div class="firefoxfix relative">
          <span class="sort"><i class="fa fa-holder"></i></span>
            <a>
                Sortable Column Name
                <i data-tooltip class="has-tip fa fa-question-circle" title="This helps when clicked on"></i>
            </a>
          </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="">1</td>
      <td class="">Swimming</td>
      <td class="">1:30</td>
      <td class="">2:05</td>
      <td class="">1:15</td>
      <td class="">1:41</td>
    </tr>
    <tr class="seperator">
      <td class="">2</td>
      <td class="">Running</td>
      <td class="">15:30</td>
      <td class="">14:10</td>
      <td class="">15:45</td>
      <td class="">16:00</td>
    </tr>
      <tr>
      <td class="">2</td>
      <td class="">Running</td>
      <td class="">15:30</td>
      <td class="">14:10</td>
      <td class="">15:45</td>
      <td class="">16:00</td>
    </tr>
    <tr>
      <td class="">2</td>
      <td class="">Running</td>
      <td class="">15:30</td>
      <td class="">14:10</td>
      <td class="">15:45</td>
      <td class="">16:00</td>
    </tr>
    <tr>
      <td class="">2</td>
      <td class="">Running</td>
      <td class="">15:30</td>
      <td class="">14:10</td>
      <td class="">15:45</td>
      <td class="">16:00</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td class="">3</td>
      <td class="">Shooting</td>
      <td class="">70%</td>
      <td class="">55%</td>
      <td class="">90%</td>
      <td class="">88%</td>
    </tr>
  </tfoot>
</table>