<section class="sg-block sg-section-callout">
      <div class="sg-text">
        <h3 id="callout" class="sg">Callout</h3>
        <p class="sg">
          <code class="sg">.callout</code>- a small part of content that is called out on the page. This type of treatment is great for asides, extra info or alerts.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="callout">
            <h5>This call out is used for showing content on the page that should not be missed.</h5>
          </div>
        </div><pre class="sg-code sg-hidden"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"callout"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">h5</span>&gt;</span>This call out is used for showing content on the page that should not be missed.<span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      <button class="sg-expando sg-expando-reveal"></button></div>
    </section>
    <section class="sg-block sg-section-callout-states-">
      <div class="sg-text">
        <h3 id="callout-states-" class="sg">Callout [States]</h3>
        <p class="sg">
          <code class="sg">.callouts + .warning</code>- Callouts are built to be effected by states so they can reflect there message as Info, Warning, Error for example.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="callout warning">
            <h5>I am a call out that shows a warning about something in this section.</h5>
          </div>
        </div><pre class="sg-code sg-hidden"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"callout warning"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">h5</span>&gt;</span>I am a call out that shows a warning about something in this section.<span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      <button class="sg-expando sg-expando-reveal"></button></div>
    </section>
    <section class="sg-block sg-section-callout-with-close-bar">
      <div class="sg-text">
        <h3 id="callout-with-close-bar" class="sg">Callout with close bar</h3>
        <p class="sg">
          <code class="sg">.callouts &amp; .close-bar</code>- most callouts are openned and closed by other inputs or section triggers but there are times when a callout should be dismissed. In these cases adding the
          <code class="sg">.closebar</code>DOM is most useful.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="callout warning">
            <a class="close-bar">
              <span class="close-button">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
            </a>
            <h5>I am a call out that is a warnning but can be dismissed.</h5>
          </div>
        </div><pre class="sg-code sg-hidden"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"callout warning"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"close-bar"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"close-button"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"fa fa-times"</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">h5</span>&gt;</span>I am a call out that is a warnning but can be dismissed.<span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      <button class="sg-expando sg-expando-reveal"></button></div>
    </section>