 <div class="page paper-page">
	<div class="page-wrapper">
	    <div class="content-padding">
	        <div class="row section-padding">
	            <h1 class="">
	                Demo Layout
	            </h1>
	        </div>
	        <div class="row">
	            <div class="page-message callout warning lifted">
	                <a class="close-bar">
	                    <span class="close-button">
	                        <i aria-hidden="true" class="fa fa-times">
	                        </i>
	                    </span>
	                </a>
	                <div class="message-container">
	                    <div class="icon-holder">
	                        <span class="fa-stack fa-lg">
	                            <i class="fa fa-square-o fa-stack-2x">
	                            </i>
	                            <i class="fa fa-holder fa-stack-1x">
	                            </i>
	                        </span>
	                    </div>
	                    <div class="message-holder">
	                        <h5>
	                            I am a Page Message Callout! The information in this area implies system or page context
	                        </h5>
	                        <p>I am using the 'lifted' class to make me float and seem more important then the other page message.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="page-message callout">
	                <a class="close-bar">
	                    <span class="close-button">
	                        <i aria-hidden="true" class="fa fa-times">
	                        </i>
	                    </span>
	                </a>
	                <div class="message-container">
	                    <div class="icon-holder">
	                        <span class="fa-stack fa-lg">
	                            <i class="fa fa-square-o fa-stack-2x">
	                            </i>
	                            <i class="fa fa-holder fa-stack-1x">
	                            </i>
	                        </span>
	                    </div>
	                    <div class="message-holder">
	                        <h5>
	                            I am a Page Message Callout! The information in this area implies system or page context
	                        </h5>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <section class="section card">
	            <div class="colored-paper">
	                <h2>
	                    Section Name For Some Item
	                </h2>
	            </div>
<div class="section-padding">
		        	<p>
	            This is some text to show content on the page.
	            </p>
	            <div class="callout warning">
	                <h5>
	                    I am a plain callout.  The information in this callout implies section or card context.
	                </h5>
	            </div>
</div>
	        </section>
	    </div>
	</div>
</div>