<section class="sg-block sg-section-callout-page-messages">
      <div class="sg-text">
        <h3 id="callout-page-messages" class="sg">Callout - Page Messages</h3>
        <p class="sg">
          <code class="sg">.page-message</code>- added to
          <code class="sg">.callout</code>to make a top level message for an app. These
          <code class="sg">.page-message</code>are designed be be outside of cards and show up in the background area.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="page-message callout">
            <a class="close-bar">
              <span class="close-button">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
            </a>
            <div class="message-container">
              <div class="icon-holder">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-holder-dynamic fa-stack-1x"></i>
                </span>
              </div>
              <div class="message-holder">
                <h5>This app is for nonvalvular atrial fibrillation patients only, and should not be used to guide therapy in patients with mechanical or bioprosthetic valves.</h5>
              </div>
            </div>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;page-message callout&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;close-bar&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;close-button&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-times&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;message-container&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;icon-holder&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa-stack fa-lg&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-square-o fa-stack-2x&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic fa-stack-1x&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;message-holder&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h5</span>&gt;</span>This app is for nonvalvular atrial fibrillation patients only, and should not be used to guide therapy in patients
        with mechanical or bioprosthetic valves.<span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>

    <section class="sg-block sg-section-callout-page-messages-states-">
      <div class="sg-text">
        <h3 id="callout-page-messages-states-" class="sg">Callout - Page Messages [States]</h3>
        <p class="sg">
          <code class="sg">.page-message + .warning</code>- page messages are designed to work with states with the backgrounds, close bar and icon all changing to reflect the state add at the root level of the
          <code class="sg">.page-message</code>
        </p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="page-message callout warning">
            <a class="close-bar">
              <span class="close-button">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
            </a>
            <div class="message-container">
              <div class="icon-holder">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-holder-dynamic fa-stack-1x"></i>
                </span>
              </div>
              <div class="message-holder">
                <h5>This app is for nonvalvular atrial fibrillation patients only, and should not be used to guide therapy in patients with mechanical or bioprosthetic valves.</h5>
              </div>
            </div>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;page-message callout warning&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;close-bar&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;close-button&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-times&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;message-container&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;icon-holder&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa-stack fa-lg&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-square-o fa-stack-2x&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic fa-stack-1x&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;message-holder&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h5</span>&gt;</span>This app is for nonvalvular atrial fibrillation patients only, and should not be used to guide therapy in patients
        with mechanical or bioprosthetic valves.<span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>