  <section class="sg-block sg-section-zurb-foundation-kitchen-sink">
      <h3 id="zurb-foundation-kitchen-sink" class="sg">Zurb Foundation - Kitchen Sink</h3>
      <p class="sg">
        <code class="sg">kitchensink</code>- This is a visual representation of UI elements that come from the base framework from ZURB. This does not includes every single element from Foundation to view a full list go to the documentation.
        <a class="button tiny sg" href="http://foundation.zurb.com/docs">Go to Zurb Foundation Documentation</a>
      </p>
      <p class="sg">@example
        <h4 id="alert-boxes" class="sg">Callout</h4>
        <div class="callout sg">
          <h5 class="sg">This is a callout.</h5>
          <p class="sg">It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#" class="sg">It&apos;s dangerous to go alone, take this.</a>
        </div>
        <div class="callout secondary sg">
          <h5 class="sg">This is a secondary callout</h5>
          <p class="sg">It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#" class="sg">It&apos;s dangerous to go alone, take this.</a>
        </div>
        <div class="callout success sg">
          <h5 class="sg">This is a success callout</h5>
          <p class="sg">It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#" class="sg">It&apos;s dangerous to go alone, take this.</a>
        </div>
        <div class="callout warning sg">
          <h5 class="sg">This is a warning callout</h5>
          <p class="sg">It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#" class="sg">It&apos;s dangerous to go alone, take this.</a>
        </div>
        <div class="callout alert sg">
          <h5 class="sg">This is an alert callout</h5>
          <p class="sg">It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#" class="sg">It&apos;s dangerous to go alone, take this.</a>
        </div>
        <h4 id="buttons" class="sg">Breadcrumbs</h4>
        <nav aria-label="You are here:" role="navigation" class="sg">
          <ul class="breadcrumbs sg">
            <li class="sg">
              <a href="#" class="sg">Home</a>
            </li>
            <li class="sg">
              <a href="#" class="sg">Features</a>
            </li>
            <li class="disabled sg">Gene Splicing</li>
            <li class="sg">
              <span class="show-for-sr sg">Current:</span>Cloning
            </li>
          </ul>
        </nav>
        <h4 id="buttons" class="sg">Buttons</h4>
        <div class="row sg">
          <!-- Anchors (links) -->
          <a href="about.html" class="button sg">Learn More</a>
          <a href="#features" class="button sg">View All Features</a>
          <!-- Buttons (actions) -->
          <button type="button" class="success button sg">Save</button>
          <button type="button" class="alert button sg">Delete</button>
          <button type="button" class="alert button disabled sg">Disabled</button>
          <a class="tiny button sg" href="#">So Tiny</a>
          <a class="small button sg" href="#">So Small</a>
          <a class="large button sg" href="#">So Large</a>
          <a class="small button radius sg" href="#">So Small with Radius</a>
          <a class="large button round sg" href="#">So Large with Round</a>
          <a class="expanded button sg" href="#">Such Expand</a>
          <div class="button-group expanded sg">
            <a class="button sg">One</a>
            <a class="button sg">Two</a>
            <a class="button sg">Three</a>
          </div>
        </div>
        <div class="row sg">
          <h4 id="switches" class="sg">switches</h4>
          <div class="switch tiny sg">
            <input class="switch-input sg" id="tinySwitch" type="checkbox" name="exampleSwitch">
            <label class="switch-paddle sg" for="tinySwitch">
              <span class="show-for-sr sg">Tiny Sandwiches Enabled</span>
            </label>
          </div>
          <div class="switch small sg">
            <input class="switch-input sg" id="smallSwitch" type="checkbox" name="exampleSwitch">
            <label class="switch-paddle sg" for="smallSwitch">
              <span class="show-for-sr sg">Small Portions Only</span>
            </label>
          </div>
          <div class="switch large sg">
            <input class="switch-input sg" id="largeSwitch" type="checkbox" name="exampleSwitch">
            <label class="switch-paddle sg" for="largeSwitch">
              <span class="show-for-sr sg">Show Large Elephants</span>
            </label>
          </div>
        </div>
        <h4 class="sg">Grid</h4>
        <div class="row sg">
          <div class="column small-12 medium-4 large-3 visible-grid sg">
            <div class="panel sg">
              <span class="show-for-small-only sg">The screen is small and the container div has a class of &apos;small-12&apos;</span>
              <span class="show-for-medium-only sg">The screen is medium and the container div has a class of &apos;medium-4&apos;</span>
              <span class="show-for-large-up sg">the screen is large and the container div has a class of &apos;large-3&apos;</span>
            </div>
          </div>
          <div class="column small-6 medium-4 large-3 visible-grid sg">
            <div class="panel sg">
              <span class="show-for-small-only sg">The screen is small and the container div has a class of &apos;small-6&apos;</span>
              <span class="show-for-medium-only sg">The screen is medium and the container div has a class of &apos;medium-4&apos;</span>
              <span class="show-for-large-up sg">the screen is large and the container div has a class of &apos;large-3&apos;</span>
            </div>
          </div>
          <div class="column small-6 medium-4 large-3 visible-grid sg">
            <div class="panel sg">
              <span class="show-for-small-only sg">The screen is small and the container div has a class of &apos;small-6&apos;</span>
              <span class="show-for-medium-only sg">The screen is medium and the container div has a class of &apos;medium-4&apos;</span>
              <span class="show-for-large-up sg">the screen is large and the container div has a class of &apos;large-3&apos;</span>
            </div>
          </div>
          <div class="column small-12 medium-12 large-3 visible-grid sg">
            <div class="panel sg">
              <span class="show-for-small-only sg">The screen is small and the container div has a class of &apos;small-12&apos;</span>
              <span class="show-for-medium-only sg">The screen is medium and the container div has a class of &apos;medium-12&apos;</span>
              <span class="show-for-large-up sg">the screen is large and the container div has a class of &apos;large-3&apos;</span>
            </div>
          </div>
        </div>
        <div class="row sg">
          <div class="column small-12 medium-7 large-4 visible-grid sg">
            <div class="panel sg">
              <span class="show-for-small-only sg">The screen is small and the container div has a class of &apos;small-12&apos;</span>
              <span class="show-for-medium-only sg">The screen is medium and the container div has a class of &apos;medium-7&apos;</span>
              <span class="show-for-large-up sg">the screen is large and the container div has a class of &apos;large-4&apos;</span>
            </div>
          </div>
          <div class="column small-12 medium-5 large-8 visible-grid sg">
            <div class="panel sg">
              <span class="show-for-small-only sg">The screen is small and the container div has a class of &apos;small-12&apos;</span>
              <span class="show-for-medium-only sg">The screen is medium and the container div has a class of &apos;medium-5&apos;</span>
              <span class="show-for-large-up sg">the screen is large and the container div has a class of &apos;large-8&apos;</span>
            </div>
          </div>
        </div>
      </p>
    </section>

    <section class="sg-block sg-section-icons-from-font-awesome">
      <div class="sg-text">
        <h3 id="icons-from-font-awesome" class="sg">Icons from Font Awesome</h3>
        <p class="sg">
          <code class="sg">fa-xxx</code>- fully css stylable font icons from Font Awesome. Please read documentation from the font awesome website.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div id="web-application">
            <h2 class="page-header">Font Awesome</h2>
            <div class="row fontawesome-icon-list">
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/arrows">
                  <i class="fa fa-arrows"></i>&#xA0; arrows</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/arrows-h">
                  <i class="fa fa-arrows-h"></i>&#xA0; arrows-h</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/arrows-v">
                  <i class="fa fa-arrows-v"></i>&#xA0; arrows-v</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/asterisk">
                  <i class="fa fa-asterisk"></i>&#xA0; asterisk</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/at">
                  <i class="fa fa-at"></i>&#xA0; at</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/bookmark">
                  <i class="fa fa-bookmark"></i>&#xA0; bookmark</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/bookmark-o">
                  <i class="fa fa-bookmark-o"></i>&#xA0; bookmark-o</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/briefcase">
                  <i class="fa fa-briefcase"></i>&#xA0; briefcase</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/bug">
                  <i class="fa fa-bug"></i>&#xA0; bug</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/building">
                  <i class="fa fa-building"></i>&#xA0; building</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/calculator">
                  <i class="fa fa-calculator"></i>&#xA0; calculator</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/calendar">
                  <i class="fa fa-calendar"></i>&#xA0; calendar</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/calendar-o">
                  <i class="fa fa-calendar-o"></i>&#xA0; calendar-o</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/camera">
                  <i class="fa fa-camera"></i>&#xA0; camera</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/camera-retro">
                  <i class="fa fa-camera-retro"></i>&#xA0; camera-retro</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-down">
                  <i class="fa fa-caret-square-o-down"></i>&#xA0; caret-square-o-down</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-left">
                  <i class="fa fa-caret-square-o-left"></i>&#xA0; caret-square-o-left</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-right">
                  <i class="fa fa-caret-square-o-right"></i>&#xA0; caret-square-o-right</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/caret-square-o-up">
                  <i class="fa fa-caret-square-o-up"></i>&#xA0; caret-square-o-up</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/cart-arrow-down">
                  <i class="fa fa-cart-arrow-down"></i>&#xA0; cart-arrow-down</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/check">
                  <i class="fa fa-check"></i>&#xA0; check</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/check-circle">
                  <i class="fa fa-check-circle"></i>&#xA0; check-circle</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/check-circle-o">
                  <i class="fa fa-check-circle-o"></i>&#xA0; check-circle-o</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/check-square">
                  <i class="fa fa-check-square"></i>&#xA0; check-square</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/check-square-o">
                  <i class="fa fa-check-square-o"></i>&#xA0; check-square-o</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/circle">
                  <i class="fa fa-circle"></i>&#xA0; circle</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/circle-o">
                  <i class="fa fa-circle-o"></i>&#xA0; circle-o</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/circle-o-notch">
                  <i class="fa fa-circle-o-notch"></i>&#xA0; circle-o-notch</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/circle-thin">
                  <i class="fa fa-circle-thin"></i>&#xA0; circle-thin</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/clock-o">
                  <i class="fa fa-clock-o"></i>&#xA0; clock-o</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/times">
                  <i class="fa fa-close"></i>&#xA0; close
                  <span class="text-muted">(alias)</span>
                </a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/cloud">
                  <i class="fa fa-cloud"></i>&#xA0; cloud</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/cloud-download">
                  <i class="fa fa-cloud-download"></i>&#xA0; cloud-download</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/cloud-upload">
                  <i class="fa fa-cloud-upload"></i>&#xA0; cloud-upload</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/code">
                  <i class="fa fa-code"></i>&#xA0; code</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/coffee">
                  <i class="fa fa-coffee"></i>&#xA0; coffee</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/cog">
                  <i class="fa fa-cog"></i>&#xA0; cog</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/cogs">
                  <i class="fa fa-cogs"></i>&#xA0; cogs</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/comment">
                  <i class="fa fa-comment"></i>&#xA0; comment</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/comment-o">
                  <i class="fa fa-comment-o"></i>&#xA0; comment-o</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/pencil-square-o">
                  <i class="fa fa-edit"></i>&#xA0; edit
                  <span class="text-muted">(alias)</span>
                </a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/envelope">
                  <i class="fa fa-envelope"></i>&#xA0; envelope</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/envelope-o">
                  <i class="fa fa-envelope-o"></i>&#xA0; envelope-o</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/exclamation">
                  <i class="fa fa-exclamation"></i>&#xA0; exclamation</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/exclamation-circle">
                  <i class="fa fa-exclamation-circle"></i>&#xA0; exclamation-circle</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/exclamation-triangle">
                  <i class="fa fa-exclamation-triangle"></i>&#xA0; exclamation-triangle</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/external-link">
                  <i class="fa fa-external-link"></i>&#xA0; external-link</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/wifi">
                  <i class="fa fa-wifi"></i>&#xA0; wifi</a>
              </div>
              <div class="column small-6 medium-4 large-3">
                <a href="http://fortawesome.github.io/Font-Awesome/icon/wrench">
                  <i class="fa fa-wrench"></i>&#xA0; wrench</a>
              </div>
              <div class="column small-12">
                <a href="http://fortawesome.github.io/Font-Awesome/icons/">full list of icons</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>