 <section class="sg-block sg-section-brand-level">
  <div class="sg-text">
    <h3 id="brand-level">Brand Level</h3>
    <p>
      <code>var $brand-level</code>- this variable has the ablity to over take the standard acc coloring with a branded product color. Standard values are:
    </p>
      <ol>
        <li>Pure ACC Color</li>
        <li>Header Bar and Primaary Nav Selects</li>
        <li>Lines, Selects, and Header Bar</li>
        <li>Full Color OVer Take, Typography, Selects, Header Bar, and Lines</li>
      </ol>
  </div>
  <div class="sg-example">
    <div class="sg-canvas">
      <table class="table">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Color</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$brand-color</td>
            <td class="brand-color">&#xA0;</td>
          </tr>
          <tr>
            <td>$product-brand-color</td>
            <td class="product-brand-color">&#xA0;</td>
          </tr>
          <tr>
            <td>$primary-color</td>
            <td class="primary-color">&#xA0;</td>
          </tr>
          <tr>
            <td>$secondary-color</td>
            <td class="secondary-color">&#xA0;</td>
          </tr>
          <tr>
            <td>$tertiary-color</td>
            <td class="tertiary-color">&#xA0;</td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
</section>