    <section class="sg-block sg-section-base-framework">
      <div class="sg-text">
        <h3 id="base-framework" class="sg">Base Framework</h3>
        <p class="sg">
          <code class="sg">zurb foundation</code>- This style is base off of a reduced build of zurb foundation all of the grid, columns, base typography, and form elements can be used from zurb. All functions can be turned back on but to reduce build size many of the design features have been disabled.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <a class="button" href="http://foundation.zurb.com/docs">Go to Zurb Foundation Documentation</a>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://foundation.zurb.com/docs&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>Go to Zurb Foundation Documentation<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span></pre>
      </div>
    </section>