


.data-display {
	width:100%; background-color: $scrub-blue; display:block;
	.h3,strong{color:white;}
	strong{display: block;}
	.data{padding:.75rem 1rem 1.25rem;
			-moz-transition: padding .5s ease;
			-webkit-transition: padding .5s ease;
			-o-transition: padding .5s ease;
			transition: padding .5s ease;
	}

}
.data-display.stuck {
	position: fixed;top:0;right:0;z-index: 1000;
	.data{padding:.5rem 1rem .75rem;}
	
}
.data-display.shrink{background-color: $scrub-green; font-size: .8rem;
	strong{display: inline;}
	.h3{display: block;margin-bottom: 0}
	.data{padding:.25rem; }
}
