<div class="row group-divide text-center">
    <div class="content-padding">
        <h4>
            Is your {{page.title}} complete and up to date?
        </h4>
        <a class="disabled button" href="">
            <i class="fa fa-holder">
            </i>
            Yes, Continue with Application
        </a>
    </div>
</div>