<div class="callout card">
     <h5 class="colored-paper disabled">
            Promo or Discount Code
        </h5>
        <div class="row section-padding">
            <div class="question column ">
                <div class="input-holder row collapse">
                    <div class="input-space column small-6">
                        <input type="text">
                        </input>
                    </div>
                    <div class="input-space column small-6">
                        <a class="button alert expanded" href="">
                            <i class="fa fa-times">
                            </i>
                            Apply Code
                        </a>
                    </div>
                </div>
                <div class="message-holder">
                    <small class="error">
                        Error Message
                    </small>
                </div>
                <div class="hint">
                </div>
            </div>
        </div>
{% comment %}        <div class="row">
            <div class="question column">
                <div class="input-holder row collapse">
                    <div class="input-space column small-6">
                        <input type="text">
                        </input>
                    </div>
                    <div class="input-space column small-6">
                        <a class="button expanded" href="">
                            Apply Code
                        </a>
                    </div>
                </div>
                <div class="message-holder">
                    <small class="error">
                        Error Message
                    </small>
                </div>
                <div class="hint">
                </div>
            </div>
        </div>{% endcomment %}
        {% comment %}<div class="row">
            <div class="question column error">
                <div class="input-holder row collapse">
                    <div class="input-space column small-6">
                        <input type="text">
                        </input>
                    </div>
                    <div class="input-space column small-6">
                        <a class="button expanded" href="">
                            Apply Code
                        </a>
                    </div>
                </div>
                <div class="message-holder">
                    <small class="error">
                        There is no matching promo code
                    </small>
                </div>
                <div class="hint">
                </div>
            </div>
        </div>{% endcomment %}
        <div class="section-padding">
            <h5 class="colored-paper disabled">
            Payment Summary
        </h5>
        <table class="table banded">
            <tbody>
                <tr>
                    <td class="">
                        Application Fee
                    </td>
                    <td class="">
                        150.00 USD
                    </td>
                </tr>
                <tr>
                    <td class="">
                        Membership Dues
                    </td>
                    <td class="">
                        785.00 USD
                    </td>
                </tr>
                <tr class="">
                    <td class="">
                        <h6 class="success">20% Off Dues</strong>
                    </td>
                    <td class="">
                       <h6 class="success">157.00</strong>
                    </td>
                </tr>
                <tr>
                    <td class="">
                        Total
                    </td>
                    <td class="">
                        778.00 USD
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
</div>