</div>
<div id="add{{include.title  | remove: ' '}}">
    <div class="page paper-page repeater-area content-padding" style="display: none;">
        <div class="colored-paper success">
            <div class="content-padding row">
                <h4 class="no-vertical-margin" style="position: relative;">
                    <i class="fa fa-plus">
                    </i>
                    Add {{include.title}}
                    <a class="close-button radius" href="" onclick='{{include.title  | remove: " " }}Slide(event)'>
                        <i class="fa fa-times">
                        </i>
                        Close
                    </a>
                </h4>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="question-group section-padding success">