<table class="table banded">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Country</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: searchresults -->
                        <tr>
                            <td data-bind="text: LongName">Allan L. Mattern, M.D., FACC</td>
                            <td data-bind="text: address.country">United States</td>
                            <td class="text-right"><a " class="button tiny expanded secondary">Select &amp; Attach Letter</a></td>
                        </tr>
                        
                        <tr>
                            <td data-bind="text: LongName">George E. Matthews, MD, FACC</td>
                            <td data-bind="text: address.country">United States</td>
                            <td class="text-right"><a " class="button tiny expanded secondary">Select &amp; Attach Letter</a></td>
                        </tr>
                        
                        <tr>
                            <td data-bind="text: LongName">Charles J. Mattina, MD, FACC</td>
                            <td data-bind="text: address.country">United States</td>
                            <td class="text-right"><a " class="button tiny expanded secondary">Select &amp; Attach Letter</a></td>
                        </tr>
                        
                        <tr>
                            <td data-bind="text: LongName">Bradford J. Matthews, M.D., FACC</td>
                            <td data-bind="text: address.country">United States</td>
                            <td class="text-right"><a " class="button tiny expanded secondary">Select &amp; Attach Letter</a></td>
                        </tr>
                        
                        <tr>
                            <td data-bind="text: LongName">Carsten Matthias Schmalfuss, M.D., FACC</td>
                            <td data-bind="text: address.country">United States</td>
                            <td class="text-right"><a " class="button tiny expanded secondary">Select &amp; Attach Letter</a></td>
                        </tr>
                        
                        <tr>
                            <td data-bind="text: LongName">Eric Matthew Graham, M.D., FACC</td>
                            <td data-bind="text: address.country">United States</td>
                            <td class="text-right"><a " class="button tiny expanded secondary">Select &amp; Attach Letter</a></td>
                        </tr>
                        
                        <tr>
                            <td data-bind="text: LongName">Janis Town Matthai, NP, AACC</td>
                            <td data-bind="text: address.country">United States</td>
                            <td class="text-right"><a " class="button tiny expanded secondary">Select &amp; Attach Letter</a></td>
                        </tr>
                        
                        <tr>
                            <td data-bind="text: LongName">John Matthew Lee, MD, FACC</td>
                            <td data-bind="text: address.country">United States</td>
                            <td class="text-right"><a " class="button tiny expanded secondary">Select &amp; Attach Letter</a></td>
                        </tr>
                        
                        <tr>
                            <td data-bind="text: LongName">Brian Matthew Stegman, MD, FACC</td>
                            <td data-bind="text: address.country">United States</td>
                            <td class="text-right"><a " class="button tiny expanded secondary">Select &amp; Attach Letter</a></td>
                        </tr>
                        
                        <tr>
                            <td data-bind="text: LongName">Andre Rodrigues De Mattos Paixao, MD, FACC</td>
                            <td data-bind="text: address.country">United States</td>
                            <td class="text-right"><a " class="button tiny expanded secondary">Select &amp; Attach Letter</a></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>