<div class="user-id-block card">
  <div class="row">
        <img class="user-pic" src="Assets/img/profile-pic-default.jpg" alt="Avatar of Members Name">
        <div class="no-bullet user-info">
            <div class="user-name">
                <span class="fullName">
                    Sanjiv Agrawal
                    <span class="userDesignation">, DM, MD</span>
                </span> 
            </div>
       {% if include.applicationType != "" %}
      <div class="user-application">Application: {{include.applicationType}}</div>
      <div class="user-application-switch"><a href="" class="link">Change Selection</a></div>  
       {% endif %}   
    </div>
</div>
  <div class="clearfix column row">
    <a class="button secondary tiny radius expanded" href="index.html">Save &amp; Log Out</a>
  </div>
</div>
