<div class="user-id-block row collapse">
        <img class="user-pic" src="Assets/img/profile-pic-default.jpg" alt="Avatar of Members Name">
        <ul class="no-bullet user-info">
            <li class="user-name">
                <span class="fullName">
                    Sanjiv Agrawal
                    <span class="userDesignation">, DM, MD</span>
                </span> 
            </li>
       {% if include.applicationType != "" %}
      <li class="user-application">{{include.applicationType}}<a href="" class="user-application-switch"> <small>Change Application</small></a></li>
       {% endif %}   
      <li><a class="button  small expanded" href="index.html">Save &amp; Log Out</a></li>  
    </ul>
</div>
