/**
*  Tables:
*  `table` - plan tables are clean with barely any styles.
* 
*   @example
*	<table class="table">
*		<thead>
*			<tr>
*				<th>table header</th>
*				<th>table header</th>
*				<th>table header</th>
*			</tr>
*		</thead>
*		<tbody>
*			<tr>
*				<td>table row 1 table cell A<br><small>this is small text</small></td>
*				<td>table row 1 table cell B<br><small class="color-highlighted">this is small text with blue</small></td>
*				<td>table row 1 table cell C</td>
*			</tr>
*			<tr>
*				<td>table row 2 table cell A</td>
*				<td>table row 2 table cell B</td>
*				<td>table row 2 table cell C</td>
*			</tr>
*		</tbody>
*		<tfoot>
*			<tr>
*				<td colspan="3">footer cell</td>
*			</tr>
*		</tfoot>
*	</table>
 */
table{
	//need to remove bottom margin off of basic input elements to reduce the row height in the tables. 
	a.button, button,.inline-list,.nobutton{margin:0;}
}
 .table{
	width:100%;
	border-collapse: collapse;
	border:0;
	margin-bottom: 1rem;
	font-size:  rem-calc(ms(0));
	@extend %normal;
	tr + tr td,tr + tr th{ border-top:grey(10) 1px solid;}
	thead {
		tr:last-child th{ border-bottom:2px solid rebrand-color($primary-color,2); }
	}
	tbody tr:nth-child(even) {
	  background-color:transparent;
	}
	
	td,th{
		text-align: left;
		padding:.25rem;
		 .color-highlighted{color:rebrand-color(fontcolor($primary-color),2);}
		 small{font-size: 80%; color:fontcolor($black, 'quiet'); }
		}
	th{
		@extend %loud;
		@include baseline-font(0);
		@include font-bold();
		border:0;
		vertical-align: bottom;
		&.h1{@extend .h1;}
		&.h2{@extend .h2;}
		&.h3{@extend .h3;}
		&.h4{@extend .h4;}
		&.h1,&h2,&h3,&h4{
			 margin-top:0; clear:both;margin-bottom: -.15em;
		}
		.with-underline{border-bottom: 1px dotted grey(10);}
	}
	td{vertical-align: middle;}
	tfoot tr td{
		@extend %footstyle;
	}
	button,.button,input{margin:0 !important;}
}

%footstyle{
	@extend %italic;
	border:0;
	border-top:1px solid grey(30);
	font-size: .9rem;

}