//@import "vendor/font-awesome/_variables";
// %icon-cell{
// 		padding: .25rem .25rem .25rem .25rem;
// 		text-align: center;
// 		vertical-align: middle;
// 		i{margin: 0 auto;}
// 	}
// $icon-dark-text:$global-default-dark-text;
// $icon-light-text:$global-default-light-text;

// @mixin icon-cell-color($selector,$var,$bg){
	
// 	.table td#{$selector}{
// 		@extend %icon-cell;
// 		background-color:rgba($bg,.35);
// 		color:color-contrast(color($bg,25),$icon-dark-text,$icon-light-text);
// 		.fa-holder:before{content:$var;}
// 		tr.disabled &{background-color: grey(30); color:grey(5);}
// 	}
// 	.stripped,.banded{}	
// 		tr:nth-child(even) td#{$selector}{
// 			background-color:rgba($bg,.5);
// 		}
// 		tr.disabled:nth-child(even) td#{$selector}{
// 			background-color: grey(35);color:grey(5);
// 		}

// }
// @include icon-cell-color('.note',$fa-var-file-text,$primary-color);
// @include icon-cell-color('.data',$fa-var-cog,grey(50));
// @include icon-cell-color('.success',$fa-var-check,$success-color);
// @include icon-cell-color('.error',$fa-var-exclamation-circle,$error-red);
// @include icon-cell-color('.alert',$fa-var-exclamation-triangle,$warning-orange);
	

