

.close-bar {
  position: absolute;
  width: 100%;
  text-align: right;
  border-top: 5px solid grey(60);
  top: -1px;
  right: 0;
  left: 0; }
.close-bar:hover {
    border-color: $black;
    .close-button{ background-color: $black; }
     }
.close-bar .close-button {
    background: grey(60);
    top: 0;
    right: 0;
    color: white;
    padding: .25em; }
    .close-bar .close-button:hover {
      background-color: $black; }
    .close-bar .close-button .fa {
      color: $white; 
  }
//Close Bar States
@each $State in $states{
	$selector:map-get($State,"Selector");
	@include setTrump('border-color',map-get($State,'State'),'#{$selector} .close-bar');
	@include setTrump('background-color',map-get($State,'State'),'#{$selector} .close-bar .close-button');
	@include setContrastTrump(map-get($State,'Color'),'#{$selector} .close-bar .close-button .fa');
	@include setTrump('icon',map-get($State,'State'),'#{$selector}.page-message .fa-holder:before');
	
	#{$selector}{
		.close-bar:hover,.close-bar{
			border-color:mix($black,map-get($State,'Color'));
			.close-button,.close-button:hover{ 
				background:mix($black,map-get($State,'Color'));
				.fa{color:$white;}
			}
		}
	}


}




.page-message{
	background-color:rebrand-color(color($product-brand-color,30),2);
	.fa-holder:before{content:$fa-var-asterisk;}
	@extend .callout;
	@include grid-row();
	position:relative;
	
	.message-container{
		display:flex;
		margin:0 1em 0 0;
		align-items: center;

	}
	.icon-holder,.message-holder{}
	.icon-holder{
		flex:none;
		color:grey(60);
		font-size:1.5em;
		padding: 0 1em 0 0;
	}
	&.empty {
	    background: none transparent;
	    border: 0;
	    padding: 0;
	    .icon-holder {
		    font-size: 1em;
		    color:$warning-color;
		    padding:0;
		    .fa-square-o { display:none;}
		}
	}
	&.blank .icon-holder{ display:none;}
}


/**
* Callout - Page Messages:
* `.page-message` - added to `.callout` to make a top level message for an app.  These `.page-message` are designed be be outside of cards and show up in the background area. 
* 
*   @example
*	<div class="page-message callout">
*       <a class="close-bar">
*           <span class="close-button"><i class="fa fa-times" aria-hidden="true"></i></span>
*       </a>
*		<div class="message-container">
*  		<div class="icon-holder">
*                <span class="fa-stack fa-lg">
*                    <i class="fa fa-square-o fa-stack-2x"></i>
*                    <i class="fa fa-holder fa-stack-1x"></i>
*                </span>
*		</div>
*		<div class="message-holder">
*            <h5>This app is for nonvalvular atrial fibrillation patients only, and should not be used to guide therapy in patients with mechanical or bioprosthetic valves.</h5>
*       </div>
*		</div>
*	</div>
*/
/**
* Callout - Page Messages [States]:
* `.page-message + .warning` - page messages are designed to work with states with the backgrounds, close bar and icon all changing to reflect the state add at the root level of the `.page-message` 
* 
*   @example
*	<div class="page-message callout warning">
*       <a class="close-bar">
*           <span class="close-button"><i class="fa fa-times" aria-hidden="true"></i></span>
*       </a>
*		<div class="message-container">
*  		<div class="icon-holder">
*                <span class="fa-stack fa-lg">
*                    <i class="fa fa-square-o fa-stack-2x"></i>
*                    <i class="fa fa-holder fa-stack-1x"></i>
*                </span>
*		</div>
*		<div class="message-holder">
*            <h5>This app is for nonvalvular atrial fibrillation patients only, and should not be used to guide therapy in patients with mechanical or bioprosthetic valves.</h5>
*       </div>
*		</div>
*	</div>
*/
