<div class="row">
	<div class="column small-12">
		<h3>Select the reason for follow up</h1>
		<nav class="nav-list">
			<ul>
				<li><a href="#!/content/followUp/reason/page1"><span class="text">Patient is wondering if they have statin intolerance</span><i class="fa fa-holder"></i></a></li>
				<li><a href="#!/content/followUp/reason/page2"><span class="text">Labs have been returned</span><i class="fa fa-holder"></i></a></li>
				<li><a href="#!/content/followUp/reason/page3"><span class="text">Patient was taken off the original statin</span><i class="fa fa-holder"></i></a></li>
				<li><a href="#!/content/followUp/reason/page4"><span class="text">Patient was rechallenged with the original statin</span><i class="fa fa-holder"></i></a></li>
				<li><a href="#!/content/followUp/reason/page5"><span class="text">Considering starting patient on alternative statin</span><i class="fa fa-holder"></i></a></li>
				<li><a href="#!/content/followUp/reason/page6"><span class="text">Muscle symptoms returned on alternative statin</span><i class="fa fa-holder"></i></a></li>
			</ul>
		</nav>
	</div>
</div>