<div id="Application-Details">
    <div class="section-padding">
        <h3>
            Professional Experiance
        </h3>
        <p>
            {% include 'elements/lorem' %}
        </p>
    </div>
    <div class="section-padding">
        <h3>
            Publications
        </h3>
        <p>
            {% include 'elements/lorem' %}
        </p>
    </div>
    <div class="section-padding">
        <h3>
            Awards
        </h3>
        <p>
            {% include 'elements/lorem' %}
        </p>
    </div>
</div>