<div id="Comments">
    <div class="group-divide-auto">
        <p>
            {% include 'elements/lorem-short' %}
        </p>
        <h5 class="text-right">
            Reviewer Name A
            <span class="sub-line">
                {% include 'elements/stars' %}
            </span>
        </h5>
    </div>
    <div class="group-divide-auto">
        <p>
            {% include 'elements/lorem-short' %}
        </p>
        <h5 class="text-right">
            Reviewer Name B
            <span class="sub-line">
                {% include 'elements/stars' %}
            </span>
        </h5>
    </div>
    <div class="group-divide-auto warning">
        <p>
            {% include 'elements/lorem-short' %}
        </p>
        <h5 class="text-right">
            Reviewer Name C
            <span class="sub-line">
                {% include 'elements/bad-stars' %}
            </span>
        </h5>
    </div>
    <div class="group-divide-auto highlighted">
        <p>
            {% include 'elements/lorem-short' %}
        </p>
        <h5 class="text-right">
            Reviewer Name A
            <span class="sub-line">
                {% include 'elements/great-stars' %}
            </span>
        </h5>
    </div>
</div>