.input-space {
	.input-lock{ 
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.57143rem;
		font-size: 1.5rem;
		line-height: 1;
		.lock-symbol{
			color:grey(50);
			&:hover{color:$link-color;}
		}
	}
}