$grid-column-count:12;
$brand-level:0; // Any Number between 0 and 3.   
$product-brand-color: #198dae;
$ms-base: 16px;
$ms-ratio: 1.333;
$ms-ratio-sm: $ms-ratio;
$ms-ratio-md: $ms-ratio;
$ms-ratio-lg: $ms-ratio;
$baseline-modifier:1.5;
$global-border-radius:6px;
$global-border-round:25px;
$vertical-space: $baseline-modifier * $ms-base / $ms-base * 1rem;
$mobile-app:true;

@import "helpers/mixens";
@import "helpers/flex";
@import 'base/brandVar';
@import "base/colors";
@import "helpers/breakpoints";
// modular-scale
@import "vendor/modular-scale";
@import "base/modular-scale-typography";

