$grid-column-count:12;
$brand-level:0; // Any Number between 0 and 3.   
$product-brand-color: #198dae;
$ms-base: 16px;
$ms-ratio: 1.2;
$ms-ratio-sm: 1.125;
$ms-ratio-md: 1.2;
$ms-ratio-lg: 1.25;
$baseline-modifier:1.5;
$global-border-radius:6px;
$global-border-round:25px;
$vertical-space: $baseline-modifier * $ms-base / $ms-base * 1rem;
$mobile-app:true;
$bp-xsm:0;
$bp-sm: 480px;
$bp-md:  640px;
$bp-lg: 1024px;
$bp-xl: 1200px;
$bp-xxl: 1440px;
// Dependencies
@import 'vendor/_vendor/normalize-scss/sass/normalize';
@import 'vendor/_vendor/sassy-lists/stylesheets/helpers/missing-dependencies';
@import 'vendor/_vendor/sassy-lists/stylesheets/helpers/true';
@import 'vendor/_vendor/sassy-lists/stylesheets/functions/contain';
@import 'vendor/_vendor/sassy-lists/stylesheets/functions/purge';
@import 'vendor/_vendor/sassy-lists/stylesheets/functions/remove';
@import 'vendor/_vendor/sassy-lists/stylesheets/functions/replace';
@import 'vendor/_vendor/sassy-lists/stylesheets/functions/to-list';

@import "helpers/mixens";
@import "helpers/flex";
@import 'base/brandVar';
@import "base/colors";
@import "helpers/breakpoints";
// modular-scale
@import "vendor/modular-scale";
@import "base/modular-scale-typography";

