 <section class="sg-block sg-section-tables">
      <div class="sg-text">
        <h3 id="tables" class="sg">Tables</h3>
        <p class="sg">
          <code class="sg">table</code>- plan tables are clean with barely any styles.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <table class="table">
            <thead>
              <tr>
                <th>table header</th>
                <th>table header</th>
                <th>table header</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>table row 1 table cell A
                  <br>
                  <small>this is small text</small>
                </td>
                <td>table row 1 table cell B
                  <br>
                  <small class="color-highlighted">this is small text with blue</small>
                </td>
                <td>table row 1 table cell C</td>
              </tr>
              <tr>
                <td>table row 2 table cell A</td>
                <td>table row 2 table cell B</td>
                <td>table row 2 table cell C</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">footer cell</td>
              </tr>
            </tfoot>
          </table>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">table</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;table&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">thead</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">th</span>&gt;</span>table header<span class="hljs-tag">&lt;/<span class="hljs-title">th</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">th</span>&gt;</span>table header<span class="hljs-tag">&lt;/<span class="hljs-title">th</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">th</span>&gt;</span>table header<span class="hljs-tag">&lt;/<span class="hljs-title">th</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">thead</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tbody</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>table row 1 table cell A
        <span class="hljs-tag">&lt;<span class="hljs-title">br</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">small</span>&gt;</span>this is small text<span class="hljs-tag">&lt;/<span class="hljs-title">small</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>table row 1 table cell B
        <span class="hljs-tag">&lt;<span class="hljs-title">br</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">small</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;color-highlighted&quot;</span>&gt;</span>this is small text with blue<span class="hljs-tag">&lt;/<span class="hljs-title">small</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>table row 1 table cell C<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>table row 2 table cell A<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>table row 2 table cell B<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>table row 2 table cell C<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tbody</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tfoot</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">colspan</span>=<span class="hljs-value">&quot;3&quot;</span>&gt;</span>footer cell<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tfoot</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">table</span>&gt;</span></pre>
      </div>
    </section>