  <section class="sg-block sg-section-table-states-cells">
      <div class="sg-text">
        <h3 id="table-states-cells" class="sg">Table States Cells</h3>
        <p class="sg">
          <code class="sg">td.state-name</code>- quickly color table cells.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <table class="table">
            <tr>
              <td class="error icon">
                <i class="fa fa-holder"></i>
              </td>
              <td class="">
                <i class="fa fa-holder"></i>
              </td>
              <td class="">Text</td>
              <td class="warning">
                <i class="fa fa-holder"></i>Warning</td>
            </tr>
            <tr>
              <td class="">
                <i class="fa fa-holder"></i>
              </td>
              <td class="info icon">
                <i class="fa fa-holder"></i>
              </td>
              <td class="">Text</td>
              <td class="info">
                <i class="fa fa-holder"></i>&#xA0;Info</td>
            </tr>
            <tr>
              <td class="">
                <i class="fa fa-holder"></i>
              </td>
              <td class="warning icon">
                <i class="fa fa-holder"></i>
              </td>
              <td class="error">Error</td>
              <td class="">
                <i class="fa fa-holder"></i>&#xA0;Text</td>
            </tr>
            <tr>
              <td class="success icon">
                <i class="fa fa-holder"></i>
              </td>
              <td class="info icon">
                <i class="fa fa-holder"></i>
              </td>
              <td class="success">Success</td>
              <td class="">
                <i class="fa fa-holder"></i>&#xA0;text</td>
            </tr>
          </table>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">table</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;table&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;error icon&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>Text<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;warning&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>Warning<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;info icon&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>Text<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;info&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp;Info<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;warning icon&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;error&quot;</span>&gt;</span>Error<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp;Text<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;success icon&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;info icon&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;success&quot;</span>&gt;</span>Success<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp;text<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">table</span>&gt;</span></pre>
      </div>
    </section>

    <section class="sg-block sg-section-table-states-rows">
      <div class="sg-text">
        <h3 id="table-states-rows" class="sg">Table States - Rows</h3>
        <p class="sg">
          <code class="sg">tr.state</code>- quickly color table rows with the states.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <table class="table stripped">
            <tr class="success">
              <td class="icon">
                <i class="fa fa-holder-dynamic"></i>
              </td>
              <td class=""></td>
              <td class="">Cell Data in success Row</td>
              <td class="">Icon is Dynamic</td>
            </tr>
            <tr class="warning">
              <td class="icon">
                <i class="fa fa-holder-dynamic"></i>
              </td>
              <td class=""></td>
              <td class="">Cell Data in Warning Row</td>
              <td class="error">I am an error cell</td>
            </tr>
            <tr class="error">
              <td class="icon">
                <i class="fa fa-holder-dynamic"></i>
              </td>
              <td class="">Icon is Dynamic</td>
              <td class="">Cell Data in Error Row</td>
              <td class="">Cell Data</td>
            </tr>
          </table>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">table</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;table stripped&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tr</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;success&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;icon&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>Cell Data in success Row<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>Icon is Dynamic<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tr</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;warning&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;icon&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>Cell Data in Warning Row<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;error&quot;</span>&gt;</span>I am an error cell<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tr</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;error&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;icon&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>Icon is Dynamic<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>Cell Data in Error Row<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>Cell Data<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">table</span>&gt;</span></pre>
      </div>
    </section>