 <section class="sg-block sg-section-tables-banded-">
      <div class="sg-text">
        <h3 id="tables-banded-" class="sg">Tables (Banded)</h3>
        <p class="sg">
          <code class="sg">.banded</code>- There are two high styled tables
          <code class="sg">.banded</code>or
          <code class="sg">.stripped</code>.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <table class="table banded">
            <thead>
              <tr>
                <th>table header</th>
                <th>table header</th>
                <th>table header</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>row 1 cell A</td>
                <td>row 1 cell B</td>
                <td>row 1 cell C</td>
              </tr>
              <tr>
                <td>row 2 cell A</td>
                <td>row 2 cell B</td>
                <td>row 2 cell C</td>
              </tr>
              <tr>
                <td>row 3 cell A</td>
                <td>row 3 cell B</td>
                <td>row 3 cell C</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">footer cell</td>
              </tr>
            </tfoot>
          </table>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">table</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;table banded&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">thead</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">th</span>&gt;</span>table header<span class="hljs-tag">&lt;/<span class="hljs-title">th</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">th</span>&gt;</span>table header<span class="hljs-tag">&lt;/<span class="hljs-title">th</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">th</span>&gt;</span>table header<span class="hljs-tag">&lt;/<span class="hljs-title">th</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">thead</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tbody</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>row 1 cell A<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>row 1 cell B<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>row 1 cell C<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>row 2 cell A<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>row 2 cell B<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>row 2 cell C<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>row 3 cell A<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>row 3 cell B<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span>&gt;</span>row 3 cell C<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tbody</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">tfoot</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">colspan</span>=<span class="hljs-value">&quot;3&quot;</span>&gt;</span>footer cell<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">tfoot</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">table</span>&gt;</span></pre>
      </div>
    </section>