{% include elements/repeaterAdd-begin.liquid title="Board Certification" %}
  <div class="row">
    {% include snippets/question-select.liquid label="Country" option="Choose.." size="small-12 large-3" state="required" hint="" %}
    {% include snippets/question-select.liquid label="Board Certification Type" option="Choose.." size="small-12 large-3" state="required" hint="" %}
    {% include snippets/question-select.liquid label="Certifying Board" option="Choose.." size="small-12 large-3" state="required" hint="" %}
    {% include snippets/question-date.liquid label="Issue Year" option="Choose.." size="small-12 large-3" state="required " hint="" %}
  </div>
{% include elements/repeaterAdd-end.liquid title="Board Certification" %}