    <div class="row content-padding" id="EducationData">
        <div class="repeater">
            <div class="render">
                <ul class="render-holder">
                    <li class="strong">
                       Board Certification Name
                    </li>
                    <li class="loud">
                        <span>
                          Certifying Board Name
                        </span>
                        |
                        <span>
                            Issued: YYYY
                        </span>
                    </li>

                </ul>
                <div class="render-actions">
                    <a class="edit" href="">
                        <i class="fa fa-holder">
                        </i>
                        <span class="text">
                            Edit
                        </span>
                    </a>
                    <a class="delete" href="">
                        <i class="fa fa-holder">
                        </i>
                        <span class="text">
                            Delete
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>