<div class="row">
	<h4 class="column">Break Down of Tasks</h4>

</div>
<div class="row column">
    <div class="page-message callout empty">
        <div class="message-container">
            <div class="icon-holder">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x">
                    </i>
                    <i class="fa fa-holder fa-stack-1x">
                    </i>
                </span>
            </div>
            <div class="message-holder">
                
              <p class="no-margin">
                    Of your professional activities, please provide the percentage of time you spend in the following specialization areas <span class="emphasis">(total must equal 100%)</span>.
                </p>
              
            </div>
        </div>
    </div>
</div>
<div class="row">
{% include snippets/question-percent.liquid label="Research" size="small-12 large-2" state="required" hint="" %}
{% include snippets/question-percent.liquid label="Administration" size="small-12 large-2" state="required" hint="" %}
{% include snippets/question-percent.liquid label="Education" size="small-12 large-2" state="required" hint="" %}
{% include snippets/question-percent.liquid label="Clinical" size="small-12 large-2" state="required" hint="" %}
{% include snippets/question-percent.liquid label="Other" size="small-12 large-2" state="required" hint="" %}
{% include snippets/question-percent.liquid label="Total" size="small-12 large-2 callout" state="required" hint="" %}
	
</div>
