<div class="row">
    <div class="column">
        <h1 class="with-underline">
            Demographics
        </h1>
    </div>
</div>
<div class="row">
	{% include snippets/question-select.liquid label="Sex" option="Choose.." size="small-12 large-4" state="required" hint="" %}
	{% include snippets/question-text.liquid label="Age" size="small-12 large-4" state="required" hint="" %}
	{% include snippets/question-select.liquid label="Race" option="Choose.." size="small-12 large-4" state="required" hint="" %}
	
</div>