<div class="row ">
    <div class="column">
        <div class="callout text-center card">
    <div class="colored-paper disabled">
        <h3 class="single-line-height">
        Finish and submit your application for review Quickly, Securely, and Easily through our Ebiz credit card payment.
    </h3>
    </div>
    <div class="row section-padding">
        <a class="button large" href="PayForApplication-credit.html" id="btnPayByCard"  type="button">
           <i class="fa fa-holder"></i> Pay by credit card <i class="fa fa-cc-visa">
            </i>
            <i class="fa fa-cc-mastercard">
            </i>
            <i class="fa fa-cc-amex">
            </i>
        </a>
    <h4>
        or
    </h4>
    <a class="nobutton small secondary" id="btnPayByCheck"  href="PayForApplication-check.html" type="link" value=""> pay by check &dagger; </a>
    </div>
     <div class="colored-paper disabled">  <h6>&dagger;  If you pay by check your application will be reviewed when payment has been recieved.</h6></div>
    
</div>
    </div>
</div>