    <div class="row">
       {% include snippets/question-select.liquid label="Prefix" option="..Choose" size="small-4 medium-3 large-2" state="required disabled" hint="" %}
       {% include snippets/question-text.liquid label="First Name" size="small-8 medium-5 large-3" state="required disabled" hint="" %}
       {% include snippets/question-text.liquid label="MI" size="large-2 medium-4" state="required disabled" hint="" %}
        {% include snippets/question-text.liquid label="Last Name" size="large-3 medium-8 small-8" state="required disabled" hint="" %}
        {% include snippets/question-select.liquid label="Suffix" option="Choose.." size="large-2 medium-4 small-4" state="required disabled" hint="" %}
    </div>
            <div class="row">
            <div class="question column medium-6 required disabled">
                <div class="label-holder">
                    <label>
                        <span class="text">
                            Credentials/Degrees
                        </span>
                        <span class="required-holder">
                            <i class="fa fa-holder">
                            </i>
                        </span>
                    </label>
                </div>
                <div class="input-holder">
                    <div class="input-space">
                        
                        <input type="text" disabled="true" class="disabled" value="DM, MD">
                        <span class="input-lock" data-bind="visible: true && true">
                            <i aria-describedby="tooltip-j2q2mq1c5" class="fa fa-lock lock-symbol has-tip" data-selector="tooltip-j2q2mq1c5" data-tooltip="" title="">
                            </i>
                        </span>
                    </div>
                </div>
                <div class="message-holder">
                    <small class="" data-bind="css:{ error: designation.hasError, warning: designation.hasWarning }">
                        <i class="fa fa-holder">
                        </i>
                        <!-- ko text: designation.validationMessage -->
                        <!-- /ko -->
                    </small>
                </div>
            </div>
            <div class="question column medium-6 required disabled" >
                <div class="label-holder">
                    <label>
                        <span class="text">
                            Professional Type
                        </span>
                        <span class="required-holder">
                            <i class="fa fa-holder">
                            </i>
                        </span>
                    </label>
                </div>
                <div class="input-holder row collapse">
                    <div class="input-space column small-9">
                        <input disabled="" type="text" id="profType">
                            
                        </input>
                    </div>
                    <div class="input-space column small-3">
                        <a onclick="extraQuestions(event)" class="button expanded success disabled" >
                            Add/Edit
                        </a>
                    </div>
                </div>
                <div class="message-holder">
                    <small class="" data-bind="css:{ error: professionaltypecode.hasError, warning: professionaltypecode.hasWarning }">
                        <i class="fa fa-holder">
                        </i>
                        <!-- ko text: professionaltypecode.validationMessage -->
                        <!-- /ko -->
                    </small>
                </div>
            </div>
        </div>
