<div class="section-padding " id="residentQuestions" data-title="Resident">

        <div class="row">
        {% include snippets/question-text.liquid label="Institution Name" size="small-12 large-5" state="required" hint="" %}
       {% include snippets/question-select.liquid label="Program Type" option="Choose.." size="small-12 large-4" state="required" hint="" %}
       {% include snippets/question-date.liquid label="Graduation Date" option="Choose.." size="small-12 large-3" state="required " hint="" %}
        </div>
        <div class="row">
        {% include elements/country-city-state.liquid type="Domestic" %}
        </div>
</div>