{% include elements/repeaterAdd-begin.liquid title="Email" %}
    <div class="row">
        {% include snippets/question-select.liquid label="Type" option="Choose.." size="small-12 large-2" state="required" hint="" %}
        {% include snippets/question-text.liquid label="Email Address" size="small-12 large-6" state="required" hint="" %}
        {% include snippets/question-switch.liquid label="Mark as prefered" id="email-primary" shape="tiny checkbox"  size="small-12 large-4 end" state="required" hint="" %}
    </div>
{% include elements/repeaterAdd-end.liquid title="Email" %}