
    <div class="row">
    <div class="column">
        <h1 class="with-underline">
            Contact Information
        </h1>
    </div>
</div>
<div class="row">
    <div class="column">
        <h2 id="Address">
            Address(es)
            <div class="sub-line">
                
                    At least one personal address is required.
               
            </div>
        </h2>
        <div class="repeater" id="repeaterAddress">
            <!-- ko foreach: addressinfo() -->
            <div class="render animated fadeIn">
                <ul class="render-holder">
                    <li class="has-tip starred primary" data-bind="visible: isprimary" title="Preferred Address">
                        <i class="fa fa-star">
                        </i>
                        Preferred Address
                    </li>
                    <li class="has-tip locked" data-bind="visible: isprimary" title="Locked: Primary Address - Please use edit to change">
                        <i class="fa fa-lock" title="Marked as Primary">
                        </i>
                        This address can be edited but not deleted
                    </li>
                    <!--ko if: 'home' == 'work' -->
                    <!--/ko-->
                    <!--ko ifnot: 'home' == 'work' -->
                    <li class="strong" data-bind="text: type">
                            Work
                       
                    </li>
                    <li class="loud" data-bind="text: address1">
                        No. 223/224 Old No. Plot B TTK Roak
                    </li>
                    <!--/ko-->
                    <li class="italic">
                        <span data-bind="text: city">
                            Chennai, Tamilnadu
                        </span>
                        <span class="italic" data-bind="text: statecode">
                        </span>
                        <span class="italic" data-bind="text: postalcode">
                            600018
                        </span>
                        <span class="italic break subtle" data-bind="text: countrycode">
                            India
                        </span>
                    </li>
                </ul>
                <div class="render-actions">
                    <a class="edit" data-bind="click: function() { $root.editCustomSection('address','addressinfo', $data) }" href="javascript:void(0)">
                        <i class="fa fa-holder">
                        </i>
                        <span class="text">
                            Edit
                        </span>
                    </a>
                    <a class="set disabled">
                        <i class="fa fa-star">
                        </i>
                        <span class="text">
                            mark as Preferred
                        </span>
                    </a>
                </div>
                <div class="message-holder">
                    <small class="warning">
                        <i class="fa fa-holder">
                        </i>
                        This is a dynamic render message.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %}this is just for effect not real code.{% endcomment %}
<div style="display: none;" id="AddressRender">
    <div class="render animated fadeIn" >
        <div class="added-flag" >
            <h4 class="text-center">
                Saving New Address <i class="fa fa-spinner fa-spin"></i>
            </h4>
        </div>
        <ul class="render-holder">
            <li class="strong" >
               
                    Home
              
            </li>
            <li class="loud" data-bind="text: address1">
                No. 223/224 Old No. Plot B TTK Roak
            </li>
            <li class="italic">
                <span data-bind="text: city">
                    Chennai, Tamilnadu
                </span>
                <span class="italic" data-bind="text: statecode">
                </span>
                <span class="italic" data-bind="text: postalcode">
                    600018
                </span>
                <span class="italic break subtle" data-bind="text: countrycode">
                    IND
                </span>
            </li>
        </ul>
        <div class="render-actions">
            <a class="set ">
                <i class="fa fa-star">
                </i>
                <span class="text">
                    mark as preferred
                </span>
            </a>
            <a class="edit" data-bind="click: function() { $root.editCustomSection('address','addressinfo', $data) }" href="javascript:void(0)">
                <i class="fa fa-holder">
                </i>
                <span class="text">
                    Edit
                </span>
            </a>
            <a class="delete ">
                <i class="fa fa-holder">
                </i>
                <span class="text">
                    Delete
                </span>
            </a>
        </div>
        <div class="message-holder">
            <small class="warning">
                <i class="fa fa-holder">
                </i>
                This is a dynamic render message.
            </small>
        </div>
    </div>
</div>
