<div class="row" id="Email">
    <div class="column">
        <h2>
            Email Address(es)
            <div class="sub-line">
                <b>
                    At least one Email Address is required.
                </b>
            </div>
        </h2>
    </div>
</div>