<div class="row content-padding" id="PostGraduateTrainingData">
    <div class="repeater">
        <div class="render">
            <ul class="render-holder">
                <li class="strong">
                    Name of Sponsor
                </li>
                <li class="loud">
                    <span>
                        United States
                    </span>
                    |
                    <span>
                        File: SponsorLetter.docx
                    </span>
                </li>

            </ul>
            <div class="render-actions">
                <a class="edit" href="">
                    <i class="fa fa-holder">
                    </i>
                    <span class="text">
                        Edit
                    </span>
                </a>
                <a class="delete" href="">
                    <i class="fa fa-holder">
                    </i>
                    <span class="text">
                        Delete
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>