{% include elements/repeaterAdd-begin.liquid title="Post Graduate Training" %}
   <div class="row">
       {% include snippets/question-text.liquid label="Institution Name" size="small-12 large-12" state="required" hint="" %}
   </div>
    <div class="row">
        {% comment %} Add Questions{% endcomment %}
        {% include snippets/question-select.liquid label="Training Type" option="Choose.." size="small-12 large-4" state="required" hint="" %}
        {% include snippets/question-select.liquid label="Area of Specialization" option="Choose.." size="small-12 large-5" state="required" hint="" %}
        {% include snippets/question-date.liquid label="End Year" option="Choose.." size="small-12 large-3" state="required " hint="" %}
   </div>
   <div class="row">
       {% include snippets/question-select.liquid label="Country" option="United States" size="small-12 large-4" state="required" hint="" %}
       {% include snippets/question-text.liquid label="State/Province" size="small-12 large-4" state="required" hint="" %}
       {% include snippets/question-text.liquid label="City" size="small-12 large-4" state="required" hint="" %}
       
       
   </div>
{% include elements/repeaterAdd-end.liquid title="Post Graduate Training" %}