<aside id="OMA_Sidebar" class="split-sidebar">
        <div class="branding row collapse hide-for-small-only">
          <div class="column medium-6"><h2 class="oma logo">American College of Cardiology</h2></div>
          <div class="column medium-6"><h2 class="oma title">Online Membership Application</h2></div>
        </div>
        <div class="row blue-bar hide-for-small-only"></div>
<div id="autoSave" class="row autosave-block hide" style="position: fixed;">
    <div class="column small-12">
        <i class="fa fa-spinner fa-spin"></i> Auto Save
    </div>
</div>
    {% include elements/user-block.liquid applicationType=""  %}
    <nav class="nav-list nav-checklist">
     <ul>
            <li {% if page.id == "personal" %} class="selected"{% endif %}>
                <a href="personalinfo.html">
                    <span class="text">
                        Personal Information
                    </span>
                    <i class="fa fa-holder">
                    </i>
                </a>
            </li>
            <li >
                <a href="choosemembership.html">
                    <span class="text">
                      Optional Extra Page
                    </span>
                    <i class="fa fa-holder">
                    </i>
                </a>
            </li>
            <li {% if page.id == "member" %} class="selected"{% else %} class="disabled" {% endif %}>
                <a href="choosemembership.html">
                    <span class="text">
                        Membership Selection
                    </span>
                    <i class="fa fa-holder">
                    </i>
                </a>
            </li>
            </ul></nav>

{% comment %}    <div class="content-padding section-padding text-center">
      <h4 class="single-line-height">Is your {{ page.title }} complete and up to date?</h4>
      <a href="" class="disabled button"><i class="fa fa-holder"></i> Yes, Continue with Application</a>
    </div>{% endcomment %}
</aside>