<aside id="OMA_Sidebar" class="split-sidebar">
        <div class="branding row collapse hide-for-small-only">
          <div class="column medium-6"><h2 class="oma logo">American College of Cardiology</h2></div>
          <div class="column medium-6"><h2 class="oma title">Online Membership Application</h2></div>
        </div>
        <div class="row blue-bar hide-for-small-only"></div>
<div id="autoSave" class="row autosave-block hide" style="position: fixed;">
    <div class="column small-12">
        <i class="fa fa-spinner fa-spin"></i> Auto Save
    </div>
</div>
    <div class="user-id-block row collapse">
        <img class="user-pic" src="Assets/img/profile-pic-default.jpg" alt="Avatar of Members Name">
        <ul class="no-bullet user-info">
            <li class="user-name">
                <span class="fullName">
                    Sanjiv Agrawal
                    <span class="userDesignation">, DM, MD</span>
                </span> 
            </li>
            
      
      
      <li><a class="link" href="/Account/SignOut">Save &amp; Signout</a></li>
        </ul>
    </div>

    <div class="content-padding text-center">
      <h4 class="single-line-height">Is your Personal Information complete and up to date?</h4>
      <a href="" class="disabled button"><i class="fa fa-holder"></i> Yes, Continue with Application</a>
    </div>
</aside>