
        <div class="branding row collapse hide-for-small-only">
          <div class="column medium-6"><h2 class="oma logo">American College of Cardiology</h2></div>
          <div class="column medium-6"><h2 class="oma title">Online Membership Application</h2></div>
        </div>
        <div class="row blue-bar hide-for-small-only"></div>
<div id="autoSave" class="row autosave-block hide" style="position: fixed;">
    <div class="column small-12">
        <i class="fa fa-spinner fa-spin"></i> Auto Save
    </div>
</div>
    <div class="user-id-block row collapse">
        <img class="user-pic" src="Assets/img/profile-pic-default.jpg" alt="Avatar of Members Name">
        <ul class="no-bullet user-info">
            <li class="user-name">
                <span class="fullName">
                    Sanjiv Agrawal
                    <span class="userDesignation">, DM, MD</span>
                </span> 
            </li>
            
      <li class="">FACC Domestic</li>
      
      <li><a class="link" href="index.html">Save &amp; Signout</a></li>
        </ul>
    </div>

     <nav class="nav-list nav-checklist">
        <ul>
            <li {% if page.id == "personal" %} class="selected"{% endif %}>
                <a href="personalinfo.html">
                    <span class="text">
                        Personal Information
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
            <li  {% if page.id == "employ" %} class="selected"{% endif %}  >
                <a href="EmploymentInfo.html">
                    <span class="text">
                        Current Employment
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
            <li  {% if page.id == "edu" %} class="selected"{% endif %}  >
                <a href="educationTraining.html">
                    <span class="text">
                        Education &amp; Training
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
            <li  {% if page.id == "apt" %} class="selected"{% endif %}  >
                <a href="appointments.html">
                    <span class="text">
                        Appointments
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
            <li  {% if page.id == "bc" %} class="selected"{% endif %}  >
                <a href="boardCertification.html">
                    <span class="text">
                        Board Certification
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
            <li  {% if page.id == "sp" %} class="selected"{% endif %}  >
                <a href="Sponsors.html">
                    <span class="text">
                        Sponsors
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
            <li  {% if page.id == "sp" %} class="selected"{% endif %}  >
                <a href="#">
                    <span class="text">
                        Publications <em>(placeholder)</em>
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
            <li  {% if page.id == "sp" %} class="selected"{% endif %}  >
                <a href="#">
                    <span class="text">
                        Professional Profile <em>(placeholder)</em>
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
            <li  {% if page.id == "submit" %} class="selected"{% endif %}  >
                <a href="submitapplication.html">
                    <span class="text">
                        Submit
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
        </ul>
    </nav>
