<aside id="OMA_Sidebar" class="split-sidebar">
        <div class="branding row collapse hide-for-small-only">
          <div class="column medium-6"><h2 class="oma logo">American College of Cardiology</h2></div>
          <div class="column medium-6"><h2 class="oma title">Online Membership Application</h2></div>
        </div>
        <div class="row blue-bar hide-for-small-only"></div>
<div id="autoSave" class="row autosave-block hide" style="position: fixed;">
    <div class="column small-12">
        <i class="fa fa-spinner fa-spin"></i> Auto Save
    </div>
</div>
    {% include elements/user-block.liquid applicationType=""  %}

    
</aside>