<div class="row content-padding" id="EducationData">
    <div class="repeater">
        <div class="render">
            <ul class="render-holder">
                <li class="strong">
                   Society Membership Name
                </li>

            </ul>
            <div class="render-actions">

                <a class="delete" href="">
                    <i class="fa fa-holder">
                    </i>
                    <span class="text">
                        Delete
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>