    <div class="row content-padding" id="EducationData">
        <div class="repeater">
            <div class="render">
                <ul class="render-holder">
                    <li class="strong">
                       {Sponsor's Full Name}
                    </li>
                    <li class="loud">
                        <span>
                        City State Country
                        </span>
                    </li>
                    <li>File:  DocumentName.docx</li>

                </ul>
                <div class="render-actions">
                    <a class="edit" href="">
                        <i class="fa fa-holder">
                        </i>
                        <span class="text">
                            Attach File
                        </span>
                    </a>
                    <a class="delete" href="">
                        <i class="fa fa-holder">
                        </i>
                        <span class="text">
                            Delete
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>