
<div id="addSponsorAdd">
    <div class="page paper-page repeater-area content-padding" style="display: none;">
        <div class="colored-paper success">
            <div class="content-padding row">
                <h4 class="no-vertical-margin" style="position: relative;">
                    <i class="fa fa-plus">
                    </i>
                    Add a Sponsor
                    <a class="close-button radius" href="" onclick="SponsorAddClose(event)">
                        <i class="fa fa-times">
                        </i>
                        Close
                    </a>
                </h4>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="question-group row">
                            {% include snippets/question-text.liquid label="Sponsors Full Name" size="small-12 large-4" state="required" hint="" %}
                              {% include snippets/question-select.liquid label="Country" option="Choose.." size="small-12 large-4" state="required" hint="" %}
                            <div class="question column medium-4">
                                <div class="label-holder">
                                    <span class="text">
                                    </span>
                                </div>
                                <div class="input-holder">
                                    <div class="input-space column">
                                        <a class="button expanded" href="">
                                            Attach Letter
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row group-divide">
                            <div class="column text-right">
                                <a class="button secondary" href="" onclick="SponsorAddSlide(event)">
                                    Cancel
                                </a>
                                <a class="button disabled" href="" onclick="SponsorAddSave(event)">
                                   <i class="fa fa-holder"></i> Save
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<page class="wrapper">
    <script>
        function SponsorAddSlide(e){
        e.preventDefault();
        ($('#addSponsorAddButton').css("display") == "none"  )? $('html, body').animate({scrollTop: $("#SponsorAdd").offset().top}, 500):$('html, body').animate({scrollTop: $("#addSponsorAdd").offset().top}, 500);
        $('#addSponsorAdd .repeater-area,#addSponsorResults .repeater-area').slideToggle();
        }
    function SponsorAddClose(e){
        e.preventDefault();
        ($('#addSponsorAddButton').css("display") == "none"  )? $('html, body').animate({scrollTop: $("#SponsorAdd").offset().top}, 500):$('html, body').animate({scrollTop: $("#addSponsorAdd").offset().top}, 500);
        $('#addSponsorAdd .repeater-area').slideToggle();
        }
    </script>
