.history{
	&,td{background-color: transparent;}
	body tr + tr{border-top:1px solid #fff;}
	.icon-cell{
		font-size:1rem;
		width:1%;
	}
	.title{
		@include font-bold();
		font-size:1rem;
	}
	.user-stamp{vertical-align: middle; width:1%}
	.time-stamp{
		@include font-italic();
		font-size: .75rem;
		width: 1%;
	}
}