<div id="branding"  data-bind="page: {id:'branding', afterShow: listchange}">
	{% include "../sections/branding/brandingintro" %}
	{% include "../sections/branding/colors" %}
	{% include "../sections/branding/texture" %}
	{% include "../sections/branding/fonts" %}
	{% include "../sections/branding/icons" %}
</div>
