<div data-bind="page: {id:'branding', afterShow: listChange }">
	{% include "../sections/branding/brandingintro" %}

	{% include "../sections/branding/colors" %}
	{% include "../sections/branding/texture" %}
	{% include "../sections/branding/fonts" %}
	{% include "../sections/branding/font-classes" %}
	{% include "../sections/branding/icons" %}
</div>
