<div id="branding"  data-bind="page: {id:'branding'}">
	{% include "../sections/branding/brandingintro" %}
	{% include "../sections/branding/colors" %}
	{% include "../sections/branding/icons" %}
</div>
