<div id="introduction"  data-bind="page: {id:'introduction', role: 'start', afterShow: listchange}">

    <h1>App Framework Sample 
    <span class="sub-line">with a branding color theme</span>
    </h1> 
       <a href="index.html" class="button tiny secondary"><i class="fa fa-arrow-left"></i>Go Back to Full Documentation</a>
    <p>Bristol has been built to take on a brand or product color. These pages are an example of how the color effects the UI. This is a sample and not the full documentation of the framework.</p>
    <h2>Most notable UI changes are listed below.</h2>
    <div class="content-padding">
        <ul>
            <li>Buttons</li>
            <li>Tabs</li>
            <li>Switches</li>
            <li>Some Typography</li>
            <li>Links</li>
            <li>Tables</li>
            <li>And Paint Dipped Paper</li>
        </ul>
    </div>
<a href="index.html" class="button tiny"><i class="fa fa-arrow-left"></i>Go Back to Full Documentation with no Color Theme</a>
</div>
