<div id="buttons"  data-bind="page: {id:'buttons', afterShow: listchange}">
	{% include "../sections/navigation/buttoninput-intro" %}
	{% include "../sections/navigation/buttons" %}
	{% include "../sections/navigation/button-group" %}
	<h2>Inputs</h2>
	{% include "../sections/navigation/switches" %}
	{% include "../sections/navigation/slider" %}
</div>
