<div id="buttons"  data-bind="page: {id:'buttons'}">
	{% include "../sections/navigation/buttoninput-intro" %}
	{% include "../sections/navigation/buttons" %}
	{% include "../sections/navigation/button-group" %}
</div>
