<div id="callouts" class="page" data-bind="page: {id:'callouts', afterShow: listchange}">
	<div class="page-wrapper">
		<div class="content-padding">
				<h1>Callouts and Messaging</h1>
				{% include "../sections/callouts/intro" %}
		</div>
	</div>
	{% include "../sections/callouts/callouts-demo" %}
	<div class="page-wrapper">
		<div class="content-padding">
				<h2>Code and Usage</h2>
				{% include "../sections/callouts/page-message" %}
		</div>
	</div>
</div>