<div data-bind="page: {id:'callouts', afterShow: listChange }">
	<h1>Callouts and Messaging</h1>
	{% include "../sections/callouts/intro" %}
	{% include "../sections/callouts/callouts-demo" %}
	<h2>Code and Usage</h2>
	{% include "../sections/callouts/callouts-base" %}
	{% include "../sections/callouts/page-message" %}
		{% include "../sections/callouts/page-message-states" %}
</div>