<div id="framework"  data-bind="page: {id:'framework'}">
	{% include "../sections/framework/frameworkintro" %}
	{% include "../sections/framework/framework" %}
	{% include "../sections/framework/framework-color-mod" %}
	{% include "../sections/framework/foundation-kitchensink" %}
</div>
