<div data-bind="page: {id:'framework', afterShow: listChange }">
	{% include "../sections/framework/frameworkintro" %}
	{% include "../sections/framework/framework-basic" %}
	{% include "../sections/framework/framework-color-mod" %}
	{% include "../sections/framework/foundation-kitchensink" %}
</div>
