<div id="introduction"  data-bind="page: {id:'introduction', role: 'start'}">
	<h1>The ACC's App Framework
	<blockquote>Code Name: Bristol</blockquote>
	</h1>
	<p>The American College of Cardiology is proud of its standards of excellence when it comes to the information it supplies to the best cardiologists in the world. And now it is taking great pains to bring that exceptional standards to its UI design.</p>
	<h2>Design Philosophy</h2>
	<p><strong>Bristol</strong> is the first major release for UI &amp; Design Standards by the college. The project was spearheaded by a cross division team governed by the Design Standards and Branding Commitee which was made up by team members from Digital Stradegy, Marketing &amp; Branding, and IT.</p>
	<p>The newest design from IT team is code named Bristol and ink.  The design is intended to be clean, open and focused on making data entry as smooth as possible.  Subtle textures and single lines mimic the feel of a pad of paper and a ball point pen.  The design consists of clean usage of a single "ink" and shades of grey.  The other "action" colors are used to imply intent or application responses.  Simple modifications of the primary ink color allows recognition and product branding.  </p>
	<h2>What Benefits Does the Framework give.</h2>
	<p><strong>From our member&#39;s perspective</strong>, the expectation is that the guide will make ACC products instantly recognizable through consistent brand and visual design across print and digital products.  Good and consistent interaction design with reduce the customer learning curve of our digital product while reinforcing the ACC brand.
	</p><p><strong>Internally</strong>, the guide has significant benefits as well, if used during product design and development:</p>
<div class="content-padding"><ul>
	<li>Reduce product design time by providing a visual design framework, eliminating the need for recurring style decisions</li>
	<li>Reduce product development time by providing a user interface element code base from which to generate customized designs.</li>
	<li>Reduce product suit updates, and single app maintenance.</li>
</ul></div>

</div>
