<div data-bind="page: {id:'introduction', role: 'start', afterShow: listChange }"}">
    <h1>
        The ACC's App Framework
        <strong>
            Version 3.1
        </strong>
        <span class="sub-line">
            Code Name: Bristol &amp; Ink
        </span>
    </h1>
    <p>
        The American College of Cardiology is proud of its standards of excellence when it comes to the information it supplies to the best cardiologists in the world. And now it is taking great pains to bring that exceptional standards to its UI design.
    </p>
    <h2>
        Design Philosophy
    </h2>
    <p>
        <strong>
            Bristol &amp; Ink
        </strong>
        is UI &amp; Design Standard for web based mobile apps at the American College of Cardiology. The project was spearheaded by a cross division team governed by the Design Standards and Branding Commitee which was made up by team members from IT, Marketing &amp; Branding, and Digital Stradegy.
    </p>
    <p>
        The newest design from IT team is code named Bristol and Ink.  The design is intended to be clean, open and focused on making data entry as smooth as possible.  Subtle textures and single lines mimic the feel of a pad of paper and a ball point pen.  The design consists of clean usage of a single "ink" and shades of grey.  The other "action" colors are used to imply intent or application responses.  Simple modifications of the primary ink color allows for subtle product branding.
    </p>
    <h2>
        What Benefits Does the Framework give.
    </h2>
    <p>
        <strong>
            From our member's perspective
        </strong>
        , the expectation is that the guide will make ACC products instantly recognizable through consistent brand and visual design across print and digital products.  Good and consistent interaction design with reduce the customer learning curve of our digital product while reinforcing the ACC brand.
    </p>
    <p>
        <strong>
            Internally
        </strong>
        , the guide has significant benefits as well, if used during product design and development:
    </p>
    <div class="content-padding">
        <ul>
            <li>
                Reduce product design time by providing a visual design framework, eliminating the need for recurring style decisions
            </li>
            <li>
                Reduce product development time by providing a user interface element code base from which to generate customized designs.
            </li>
            <li>
                Enable product suite updates, and reduce single app maintenance.
            </li>
        </ul>
    </div>
    <h2>
       Developement Backlog:
    </h2>
    <div class="callout highlighted">
        <h3>
            Version 3.1
        </h3>
        <h5>
           Circle Nav Update
        </h5>
        <ul>
            <li>
                DOM change to allow for more then one right and left button in the section
            </li>
            <li>
                Update of .page spacing to be cleaner. 
            </li>
            <li>
               small style tweaks to remove spacing issues for the icons and disabled circle button
            </li>
        </ul>
        <h3>
            Version 3.0
        </h3>
        <h5>
           Depreciated page decorators
        </h5>
        <ul>
            <li>
                .with-group-section is depreciated to .paper-page to more correctly describe  the class decorator
            </li>
            <li>
                .group-section is depreciated to .card to more correctly describe  the class decorator
            </li>
            <li>
                .header.page is now .header-mobile and .header-page to allow for differences between mobile and desktop header designs.
            </li>
             <li>
                .footer.page is now .footer-mobile and .footer-page to allow for differences between mobile and desktop footer designs.
            </li>
        </ul>
        <h5>
           Refactoring and DOM Changes
        </h5>
        <ul>
            <li>
                `.section-nav .circle` has been reworked.
            </li>
            <li>
                Removal of the `.forward` and `.backward`
            </li>
            <li>
                Added section placement with `.top` and `bottom`
            </li>
             <li>
                `.circle.button` now can take any button modifier like `.alert` and `navigation`
            </li>
        </ul>
        <h5>
           Improvements of Typography and Design
        </h5>
        <ul>
            <li>
                Changing the base font from Open Sans to Muli for a cleaner more open font. 
            </li>
            <li>
                Font Sizing and Vertical Spacing modified to be on a 24px baseline from a 21px baseline
            </li>
            <li>
                Reduction of Gutter Spacing when on smaller form factors
            </li>
             <li>
                All textures are reworked to remove the need for color manipulations.  When adding colors to the textures they now accept full strength colors and the images reduce the colors to the proper levels. 
            </li>
        </ul>
        <h5>
           Vendor Upgrades
        </h5>
                <ul>
            <li>
                Now Using Foundation 6!
            </li>
            <li>
                Now Using Font Awesome 4.7!
            </li>
        </ul>
        <h3>
            Version 2.8
        </h3>
        <h5>
            Page Level Callouts '.page-message'
        </h5>
        <ul>
            <li>
                Page or system level alert designs
            </li>
            <li>
                Page Messages are State Effected
            </li>
        </ul>
        <h3>
            Version 2.7
        </h3>
        <h5>
            Ghost Cards
        </h5>
        <ul>
            <li>
                State effected ghost cards fade into the background
            </li>
            <li>
                Colored Paper morph and shrink when on ghost cards
            </li>
        </ul>
        <h3>
            Version 2.6
        </h3>
        <h5>
            Graphic Enhancement of Overlap Tabs
        </h5>
        <ul>
            <li>
                Selectecd and/or Active tab treatment
            </li>
            <li>
                Branding Level now colors tab treatments
            </li>
        </ul>
        <h3>
            Version 2.5
        </h3>
        <h5>
            Refactor of Paper Cards
        </h5>
        <ul>
            <li>
                Paper Cards
            </li>
            <li>
                Colored Paper Refactored
            </li>
            <li>
                Background Paper States
            </li>
            <li>
                Colored Paper States
            </li>
        </ul>
        <h5>
            New Features to Tabs
        </h5>
        <ul>
            <li>
                Lock added Tab States
            </li>
            <li>
                Visited added Tab States
            </li>
        </ul>
        <h5 class="warning">
            Overlap Tabs
        </h5>
        <ul>
            <li class="strong">
                DOM Change
            </li>
            <li>
                Overlap Tabs will now stay in line with cards with the added change of moving nav.overlap to a container element
            </li>
        </ul>
        <h3>
            Version 2.4
        </h3>
        <h5>
            Foundation 6.2
        </h5>
        <ul>
            <li>
                Button Group altered to use Foundation stack functions
            </li>
        </ul>
        <h5>
            Refactoring of states to remove unused states.
            <span class="bold">
                Current List of States
            </span>
        </h5>
        <ul>
            <li>
                Error (.error)
            </li>
            <li>
                Warning (.warning)
            </li>
            <li>
                Success (.success)
            </li>
            <li>
                Info (.info)
            </li>
            <li>
                highlighted (.highlighted)
            </li>
            <li>
                disabled (.disabled)
            </li>
        </ul>
        <h5>
            Switch Upgrade
        </h5>
        <ul>
            <li>
                Grouped Switches
            </li>
            <li>
                State Coloring for inactive and active states on switches
            </li>
            <li>
                Paper Layer responds to vertical break points
            </li>
            <li>
                Page Layout responds to vertical break points
            </li>
        </ul>
        <h5>
            Spacing and alignment
        </h5>
        <ul>
            <li>
                Paint Dipped Cards. Alignment of holders
            </li>
            <li>
                use of calc() to remove single spaces of boarders when in browsers that support the function
            </li>
        </ul>
        <h3>
            Version 2.3
        </h3>
        <h5>
            Vertical Media Queries and Adjustments
        </h5>
        <ul>
            <li>
                Modular Scale Modification - line height and margin adapth to small height
            </li>
            <li>
                Vertical breakpoints added at 320, 480, 768px
            </li>
            <li>
                Paper Layer responds to vertical break points
            </li>
            <li>
                Page Layout responds to vertical break points
            </li>
        </ul>
        <h3>
            Version 2.2
        </h3>
        <h5>
            Grid Based Questions
        </h5>
        <ul>
            <li>
                Size Modifies
            </li>
            <li>
                Label Location Modifier
            </li>
            <li>
                Indent Modifier
            </li>
            <li>
                Repeating Input Grouping
            </li>
        </ul>
        <h3>
            Version 2.1
        </h3>
        <ul>
            <li>
                Unit Switches
            </li>
            <li>
                Grid Based Questions
            </li>
        </ul>
        <h3>
            Version 2.0
        </h3>
        <ul>
            <li>
                Foundation 6 is now fully integrated with the Framework
            </li>
            <li>
                Expanded Paper details
            </li>
            <li>
                New Switches
            </li>
            <li>
                Button Groups Simplified
            </li>
            <li>
                New Top Bar for Web Layouts
            </li>
        </ul>
        <a href="http://tools.acc.org/AppStyleGuide/v1/">
            Version 1 Documentation
        </a>
    </div>
</div>
