<div id="layouts"  data-bind="page: {id:'layouts'}">
	{% include "../sections/layouts/layouts-intro" %}
	{% include "../sections/layouts/grid" %}
	{% include "../sections/layouts/split-mobile" %}
	{% include "../sections/layouts/mobile-header" %}
	{% include "../sections/layouts/mobile-footer" %}


	{% include "../sections/layouts/web-footer" %}
</div>
