<div id="layouts"  data-bind="page: {id:'layouts'}">
	{% include "../sections/layouts/layouts-intro" %}
	<h2>Grouping Sections</h2>
	{% include "../sections/layouts/section-grouping" %}
	{% include "../sections/layouts/grid" %}
	{% include "../sections/layouts/split-mobile" %}
</div>
