<div id="layouts"  data-bind="page: {id:'layouts'}">
	{% include "../sections/layouts/layouts-intro" %}
	{% include "../sections/layouts/grid" %}
	{% include "../sections/layouts/split-mobile" %}
</div>
