<div id="layouts"  data-bind="page: {id:'layouts', afterShow: listchange}">
	{% include "../sections/layouts/layouts-intro" %}
	{% include "../sections/layouts/grid" %}
	{% include "../sections/layouts/split-mobile" %}
	{% include "../sections/layouts/sticky-button-bar" %}
	<a href="#!/demos/demo/demo--footer_sticky-button-bar" class="link">Click here to see demo of it sticky</a>
	{% include "../sections/layouts/mobile-header" %}
	{% include "../sections/layouts/mobile-footer" %}
	{% include "../sections/layouts/web-footer" %}
	{% include "../sections/ui-vendors/datadisplay-waypoint" %}
	

	<div class="shrink-waypoint">&nbsp;</div>
</div>
