<div data-bind="page: {id:'navigation', afterShow: listChange }">
	{% include "../sections/navigation/navigation-intro" %}
	{% include "../sections/navigation/top-bar" %}
	<h2>Tabs</h2>
	{% include "../sections/navigation/tabs-basic" %}
	{% include "../sections/navigation/tabs-overlap" %}
	{% include "../sections/navigation/tabs-primary-mobile-header" %}
	{% include "../sections/navigation/tabs-papercard" %}
	<h2>Nav Lists</h2>
	{% include "../sections/navigation/navlist-basic" %}
	{% include "../sections/navigation/navlist-checklist" %}
	{% include "../sections/navigation/navlist-mod" %}
	<h2>Pagination</h2>
	{% include "../sections/navigation/pagination" %}
	{% include "../sections/navigation/pagination-resultselector" %}
	<h2>Wizard Navs</h2>
	{% include "../sections/navigation/circle-section-nav" %}
	{% include "../sections/navigation/circle-section-nav-disabled" %}
</div>
