<div id="paper"  data-bind="page: {id:'paper', afterShow: listchange}">
	<h1>Paper Layers &amp; Grouping</h1>
	{% include "../sections/layouts/paper-card" %}
	{% include "../sections/layouts/paper-card-tabs" %}
	{% include "../sections/layouts/paper-card-colored-paper" %}
	{% include "../sections/layouts/paper-card-radius" %}
</div>