<div id="paper"  data-bind="page: {id:'paper', afterShow: listchange}">
	<h1>Paper Layers &amp; Grouping</h1>
	{% include "../sections/layouts/section-grouping" %}
	{% include "../sections/navigation/tabs-papercard" %}
</div>