<div id="qna"  data-bind="page: {id:'qna'}">
	{% include "../sections/qna/qna-intro" %}
	{% include "../sections/qna/question" %}
	{% include "../sections/qna/question-states" %}
	{% include "../sections/qna/question-inline" %}
<h2>Grouping Repeating Questions</h2>
{% include "../sections/qna/form-repeater" %}
</div>
