<div data-bind="page: {id:'qna', afterShow: listChange }">
	{% include "../sections/qna/qna-intro" %}
	{% include "../sections/qna/question" %}
	{% include "../sections/qna/question-states" %}
{% comment %}	<h2>Questions  Inline (Depreciated)</h2>
	{% include "../sections/qna/question-inline" %}{% endcomment %}
	<!-- <h2>Questions Grid Based</h2>
	{% include "../sections/qna/question-gridbased-intro" %}
	{% include "../sections/qna/question-gridbased" %}
	{% include "../sections/qna/question-gridbased--single-switch" %} -->

	<!-- <h3>Grouping and Fluid Alignment for Grid Based Questions</h3>
	{% include "../sections/qna/question-gridbased--repeating-switches" %}
	{% include "../sections/qna/question-gridbased--fluid-grouping" %}
	<div class="callout warning ">
          <h5>Override Warning</h5>
          <p>The use of the .question-group.fluid-align will override any sizing on the questions that might have been applied. </p>
        </div>
{% comment %} -->
<!-- 	<h2>Grouping Repeating Questions</h2>
	{% include "../sections/qna/form-repeater" %} -->
	<h2>Special Inputs</h2>
	{% include "../sections/qna/question-fileupload" %}
{% endcomment %}
</div>
