<div id="space-savers"  data-bind="page: {id:'space-savers'}">
	{% include "../sections/space-saver/space-saver-intro" %}
	{% include "../sections/space-saver/modal" %}
	{% include "../sections/space-saver/collapse-panel" %}
	{% include "../sections/space-saver/accordian" %}
	{% include "../sections/space-saver/swappable-text" %}
</div>