<div id="tables"  data-bind="page: {id:'tables'}">
	{% include "../sections/tables/table-intro" %}
	{% include "../sections/tables/table-base" %}
	{% include "../sections/tables/table-stripped" %}
	{% include "../sections/tables/table-banded" %}
	{% include "../sections/tables/table-with-separator" %}
</div>