<div data-bind="page: {id:'typography', afterShow: listChange }">
	{% include "../sections/typography/typographyintro" %}
	{% include "../sections/typography/headertags-basic" %}
	{% include "../sections/typography/headertags-mod" %}
	{% include "../sections/typography/headertags-subcontent" %}
	{% include "../sections/typography/headertags-counters" %}
	{% include "../sections/typography/headertags-states" %}
	{% include "../sections/typography/text-mod" %}
	{% include "../sections/branding/font-classes" %}
</div>
