<div id="typography"  data-bind="page: {id:'typography'}">
	{% include "../sections/typography/typographyintro" %}
	{% include "../sections/typography/headertags-basic" %}
	{% include "../sections/typography/headertags-mod" %}
	{% include "../sections/typography/headertags-subcontent" %}
	{% include "../sections/typography/headertags-states" %}

	{% include "../sections/typography/text-mod" %}
</div>
