.card.ghost h6 a.button{maring-top:-.5rem;}
.card.ghost + .card.ghost{ margin-top:.25rem; }
.single-line-height{line-height: 1;}

li.committee {
    margin: .1em;
    
    padding: .8em;
    position: relative;
    &:hover{
    	background-color:grey(10);
    	i.fa.fa-angle-right:before{content: "\f0da";}
    }
}
li.committee + li.committee{
    border-top: .1em solid grey(20);
}
li.committee .name{
   font-size:1.25em; 
   font-weight:bold;
   line-height:1;   
}
li.committee a{
    display:inline-block;
    vertical-align:middle;
    display: table-cell;
}
li.committee i.fa.fa-angle-right {
    height: 100%;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -.5em;
    font-size: 1.5em;
}