/**
* Buttons:
* `.nobutton .button or .button.disabled` - buttons are a touchable link or action.  There are a lot of features beyond the base version of button. Please look at all the features on <a href="http://foundation.zurb.com/sites/docs/button.html" class="link">Zurb Foundation</a>.  
* 
*   @example
*   <div class="row">
*   <a class="button">Button</a>
*   <a class="button + secondary">Secondary</a>
*   <a class="button disabled">button + disabled</a>
*   </div>
*/
/**
* Buttons Modification:
* `.button.[state] .button.disabled.[state] or .button.hollow.[state]` - sample buttons from `.button` you can modifiers <a href="http://foundation.zurb.com/sites/docs/button.html" class="link">View All Features</a>
* 
*   @example
*   <div class="row">
*   <button class="success button"><i class="fa fa-holder"></i>&nbsp;button + success</button>
*   <button class="button hollow">button + hollow</button>
*	<a class="button navigation">button + navigation&nbsp;<i class="fa fa-arrow-right"></i></a>
*   <a class="nobutton">nobutton</a>
*   </div>
*/


.button{
  @include font-slab-bold();
  @include button-style( rebrand-color($primary-color,2 ), auto, auto);
  margin-bottom: 0;
  &.radius{
    border-radius: $global-border-radius;
  }
  &.round{
    border-radius: $global-border-round;
  }
  &.icon-only{
  	.text{display:none;}
  }
  &.tiny{padding:.5em .75em; }
  &.tiny.round{ min-width:80px}
}
.button.secondary{ 
  @include button-style( $secondary-color, auto, auto);}
.button.navigation{ 
  @include button-style( $scrub-blue, auto, auto);
}
.button.default{ 
  @include button-style( grey(30), auto, auto);
}

%buttondisabled{
	background-color: grey(30);
	background-image: url(../img/empty_diamond.png);
	color:grey(50) !important;
	border:1px solid grey(50);
	cursor:not-allowed;
	opacity:.6;
}
button[disabled],
button:disabled,
.button.disabled,
.button.disabled:hover{
    &, &.success, &.alert, &.secondary {
        @extend %buttondisabled;

        .input-space & {
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
}
.link.disabled,.link.disabled:hover{
	background-image: url("../img/subtlenet2.png");
	color:fontcolor($black,'quiet');
	font-style: italic;
}
.nobutton{
	@include button-base;
	@include font-slab-bold();
	@include button-style( $white, auto, auto);
	margin-bottom: 0;
	&.disabled,&[disabled]{
		&,&:hover{
		color:fontcolor($black,'quiet');
		cursor:not-allowed;
		background-color: #fff;
		}
	}
}