.data-display {
    width:100%; background-color: $scrub-blue; display:block;
    .h3,strong{color:white;}
    strong{display: block;}
    .data{padding:.75rem 1rem 1.25rem;
            -moz-transition: padding .5s ease;
            -webkit-transition: padding .5s ease;
            -o-transition: padding .5s ease;
            transition: padding .5s ease;
    }
 
}
.data-display.stuck {
    position: fixed;top:0;right:0;z-index: 1000; width:100%;
    .data{padding:.5rem 1rem .75rem;}
     
}
.data-display.shrink{background-color: $scrub-green; font-size: .8rem;
    strong{display: inline;}
    .h3{display: block;margin-bottom: 0}
    .data{padding:.25rem; }
}

/**
* Sticky Headers with Scorebars:
* `.data-display` -
*
*   @example
*   <div class="data-display">
*       <header class="header page">
*           <a href="#!/content/calculator/" class="logo"><img src="assets/img/headerlogo.svg"  alt="ACC Statin Intolerance Guidelines"></a>
*           <ul class="nav tabs tabs-primary condensable condensable-word small">
*               <li class="icon"><a class="home">  <i class="fa fa-holder"></i></a></li>
*               <li id="calculator-Tab" class="selected"><a href="#!/content/calculator/">Eval  <span class="condense">uate</span></a></li>
*               <li id="recommendation-Tab" class=""><a href="#!/content/recommendation/prescribinginfo/" >Recommend  <span class="condense">ation</span></a></li>
*           </ul>
*       </header>
*       <div class="data row">
*           <div class="columns small-6">
*               <strong class="h3">Risk Scores</strong>
*               <strong>CHA2DS2-VASc: <span>3</span></strong>
*               <strong>HAS-BLED: <span>2.1</span></strong>
*           </div>
*           <div class="columns small-6">   
*               <strong class="h3">Renal Status</strong>
*               <strong>Cr: <span>1.2</span>  (CrCL: <span >1.4</span> )</strong>
*               <strong>CKD: <span >6</span></strong>
*           </div>
*       </div>
*   </div>
*  <div class="shrink-waypoint"></div>
**/