$score-bar-primary-color:rebrand-color($primary-color,2);
$score-bar-secondary-color:mix($score-bar-primary-color,$black,70);
$score-bar-size-unit:10px;
$max-width:$global-width;

/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(http://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsD86pq2NkPzVgw_9lpT6RGI.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(http://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@mixin font-cond {
    font-family: 'Roboto Condensed', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

@mixin font-bold-cond {
    font-family: 'Roboto Condensed', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.score-bar{
    .text-bold{@include font-bold;}
    .text-condensed{ @include font-cond; }
    .text-condensed-bold{ @include font-bold-cond ; }
    .text-light{@include font-light;}
    .small-fs-1x{font-size:1em;line-height:1em;}
    .small-fs-2x{font-size:1.5em;line-height:1em;}
    .small-fs-3x{font-size:2em;line-height:1em;}
    .small-fs-4x{font-size:2.5em;line-height:1em;}
    .small-fs-5x{font-size:3em;line-height:1em;}
    .small-fs-6x{font-size:4em;line-height:1em;}
    @include bp(md){
        .medium-fs-1x{font-size:1em;line-height:1em;}
        .medium-fs-2x{font-size:1.5em;line-height:1em;}
        .medium-fs-3x{font-size:2em;line-height:1em;}
        .medium-fs-4x{font-size:2.5em;line-height:1em;}
        .medium-fs-5x{font-size:3em;line-height:1em;}
        .medium-fs-6x{font-size:4em;line-height:1em;}
    }
    @include bp(lg){
        .large-fs-1x{font-size:1em;line-height:1em;}
        .large-fs-2x{font-size:1.5em;line-height:1em;}
        .large-fs-3x{font-size:2em;line-height:1em;}
        .large-fs-4x{font-size:2.5em;line-height:1em;}
        .large-fs-5x{font-size:3em;line-height:1em;}
        .large-fs-6x{font-size:4em;line-height:1em;}      
    }



}
.sticky-wrapper{
    margin-bottom: -1em;
}
.score-bar-holder {
    $size-unit:$score-bar-size-unit;
    width:100%; 
    background-color: $scrub-blue; 
    display:block;
    font-size: $size-unit;

    .score-bar{
        -moz-transition: padding .5s ease;
        -webkit-transition: padding .5s ease;
        -o-transition: padding .5s ease;
        transition: padding .5s ease;
         -moz-transition: font-size .5s ease;
        -webkit-transition: font-size .5s ease;
        -o-transition: font-size .5s ease;
        transition: font-size .5s ease;
        overflow: hidden;
    }
    .data-container{
        margin:0;
        padding-top:$size-unit;
        padding-right:$size-unit;
        padding-left:$size-unit;
        margin-bottom: -200px;
        padding-bottom: 200px;
        &.primary-color{ 
            background-color: $score-bar-primary-color;
            color:color-contrast($score-bar-primary-color);
            border-color:color-contrast($score-bar-primary-color);
        }
        &.secondary-color{ 
            background-color: $score-bar-secondary-color;
            color:color-contrast( $score-bar-secondary-color );
            border-color:color-contrast( $score-bar-secondary-color );
        }
     }   
    .shrink.stuck &{
     
        $size-unit:$score-bar-size-unit * .9;
        font-size: $size-unit;  
        .data-container{
            padding-top:$size-unit*.5;
            padding-right:$size-unit*.5;
            padding-left:$size-unit*.5;
            @include bp(sm-height){
                padding-top:$size-unit*.75;
                padding-right:$size-unit*.75;
                padding-left:$size-unit*.75;
            }
            @include bp(md-height){
                padding-top:$size-unit;
                padding-right:$size-unit;
                padding-left:$size-unit;
            }

        }

     @include bp(md){
          $size-unit: $score-bar-size-unit * .9.5;
            font-size: $size-unit;  
            .data-container{
                padding-top:$size-unit;
                padding-right:$size-unit;
                padding-left:$size-unit;
            }
        }
    @include bp(lg){
          $size-unit:$score-bar-size-unit;
            font-size: $size-unit;  
            .data-container{
                padding-top:$size-unit;
                padding-right:$size-unit;
                padding-left:$size-unit;
            }
        }


    }
}
.sticky-holder{
    &.stuck{
        position: fixed;
        top:0;
        right:0;
        z-index: 1000;
        width:100%;
    }
}
.data-group{
    padding:.1em .25em .1em;
     @include bp(md){
    padding:.25em .5em .5em;
    }
}
.data-group + .data-group,.data-header +.data-group{
    border-style: dotted;
    border-width:0px;
    border-top-width:1px;
    @include bp(md){
       border-left-width:0;
       border-top-width:1px;
        .shrink &{ 
            border-left-width: 1px;
            border-top-width: 0px; 
        }
    }
}
@include bp(md){
    .shrink .data-group + .data-group{  padding-left: 1em;}
   .shrink .data-header +.data-group{
        border-left-width: 0px;
    }
}
.data{padding-bottom:1em;}
.data-header{
    @include bp(md){
         max-width:30em;
     }
    .shrink &{
        padding-bottom:.25em;
        width:100%;
        @include bp(md){
            max-width:26em;
        }
    }
}
.data-group{
    display:table; 
    @include bp(md){
        max-width:30em;  
    }
    
    .data-value,.data-label{display:table-cell;}
    .data-value{width:10%;vertical-align:top;}
    .data-label{vertical-align:top;padding-left:.5rem;}
    .shrink &{ 
        @include bp(md){

            max-width:26em;
            width:50%;
            &.content-block{    
                width: 100%;
                padding-left: 0;
                border-left-width: 0;
                max-width:48em;
            }
            float:left;
        }

    }
}
@include bp(sm-down){
    .shrink .tabs.tabs-primary li a {padding:.1em .5em;}
}

/**
* Sticky Headers with Scorebars:
* `.data-display` -
*
*   @example
*   <div class="data-display">
*       <header class="header page">
*           <a href="#!/content/calculator/" class="logo"><img src="assets/img/headerlogo.svg"  alt="ACC Statin Intolerance Guidelines"></a>
*           <ul class="nav tabs tabs-primary condensable condensable-word small">
*               <li class="icon"><a class="home">  <i class="fa fa-holder"></i></a></li>
*               <li id="calculator-Tab" class="selected"><a href="#!/content/calculator/">Eval  <span class="condense">uate</span></a></li>
*               <li id="recommendation-Tab" class=""><a href="#!/content/recommendation/prescribinginfo/" >Recommend  <span class="condense">ation</span></a></li>
*           </ul>
*       </header>
*       <div class="data row">
*           <div class="columns small-6">
*               <strong class="h3">Risk Scores</strong>
*               <strong>CHA2DS2-VASc: <span>3</span></strong>
*               <strong>HAS-BLED: <span>2.1</span></strong>
*           </div>
*           <div class="columns small-6">   
*               <strong class="h3">Renal Status</strong>
*               <strong>Cr: <span>1.2</span>  (CrCL: <span >1.4</span> )</strong>
*               <strong>CKD: <span >6</span></strong>
*           </div>
*       </div>
*   </div>
*  <div class="shrink-waypoint"></div>
**/
