<footer class="footer">
	<img class="logo" src="assets/img/logo.png" alt="ACC Statin Intolerance Guidelines">
	<ul class="nav tabs primary">
		<li class=""><a href="">Guidelines &amp; Docs</a></li>
		<li class=""><a href="">Terms of Service</a></li>
		<li class=""><a href="">About the App</a></li>
	</ul>
</footer>