<!DOCTYPE doctype html>
<html class="no-js" lang="en">
    <head>
        <title>
            COM NOMS
        </title>
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<link href="assets/css/normalize.min.css" rel="stylesheet"/>
		<link href="assets/css/jquery-ui.css" rel="stylesheet"/>
		<link href="assets/css/jquery-uistructure.css" rel="stylesheet"/>
		<link href="assets/css/foundation-sites.css" rel="stylesheet"/>
		<link href="assets/css/index.css" id="theme" rel="stylesheet"/>
		<script src="https://use.fontawesome.com/e18aeca4c9.js"></script>
    </head>
    <body class="stuck-footer">