<header class="header">
	<img class="logo" src="assets/img/logo.png" alt="ACC Statin Intolerance Guidelines">
	<ul class="nav tabs primary">
		<li class="icon "><a class='home' href="#!/content/home/"><i class="fa fa-holder"></i></a></li>
		<li class="selected"><a href="#!/content/evaluate/calculator/">Evaluate</a></li>
		<li class=""><a href="#!/content/followUp/">Follow Up</a></li>
		<li class=""><a href="">Drug Comparison</a></li>
	</ul>
</header>