<div class="question">
  <div class="label-holder">
    <label for="">
      <span class="text">Age</span>
      <span class="required-holder">
        <i class="fa fa-holder-question"></i>
      </span>
    </label>
  </div>
  <div class="input-holder row collapse">
     <div class="input-space column small-8">
      <select name="" id="" class="input">
        <option value="">20-50</option>
        <option value="">50-60</option>
        <option value="">60-70</option>
        <option value="">70-80</option>
        <option value="">80-Up</option>
      </select>
    </div>
    <div class="column small-4"><small class="value">Years</small></div>
  </div>
  <div class="message-holder">
      <small class="error"><i class="fa fa-holder"></i> Error message</small>
      <small class="warning"><i class="fa fa-holder"></i> Warning message</small>
      <small class="alert"><i class="fa fa-holder"></i> Alert message</small>
      <small class="data"><i class="fa fa-holder"></i> Data message</small>
  </div>
</div>