<div class="repeater required">
	<div class="label-holder">
		<label for="">
			<span class="text">Email</span>
			<span class="required-holder">
				<i class="fa fa-holder-dynamic"></i>
			</span>
		</label>
	</div>
	<div class="render warning">
		<div class="render-actions">
			<a href="" class="edit"><i class="fa fa-holder"></i> edit</a>
			<a href="" class="delete"><i class="fa fa-holder"></i> delete</a>
		</div>
		<ul class="render-holder">
			<li class="strong">Jeff Morris</li>
			<li>jmorris@acc.org</li>
			<li class="italic stared">( <i class="fa fa-holder"></i> Primary Email )</li>
			<li class="validated"><i class="fa fa-holder"></i></li> 

		</ul>
		<div class="message-holder">
			<small class="warning">
				<i class="fa fa-holder-dynamic"></i>
				This is a dynamic render message.
			</small>
		</div>
	</div>
	<div class="render">
		<div class="render-actions">
			<a href="" class="edit"><i class="fa fa-holder"></i> edit</a>
			<a href="" class="delete"><i class="fa fa-holder"></i> delete</a>
		</div>
		<ul class="render-holder">
			<li class="strong">Jeff Morris</li>
			<li>jmorris@acc.org</li>
			<li class="validated"><i class="fa fa-holder"></i></li> 
			<li class="italic"><a href="#" class="link">make primary email</a></li>
		</ul>
		<div class="message-holder">
			<small class="warning">
				<i class="fa fa-holder-dynamic"></i>
				This is a dynamic render message.
			</small>
		</div>
	</div>
	<div class="question-group">
		<div class="row">
			<div class="column small-4">{% include "question" %}</div>
			<div class="column small-4">{% include "question" %}</div>
			<div class="column small-4">{% include "question" %}</div>
		</div>
		<div class="message-holder">
			<small class="warning"><i class="fa fa-holder"></i>
				This is a dynmic message for the question group.
			</small>
		</div>
	</div>
	<div class="repeater-action">
		<a href="" class="clear"><i class="fa fa-holder"></i>clear</a>
		<a href="" class="add new-repeater">Add new section<i class="fa fa-holder"></i></a>
	</div>
</div>	