<div class="content-padding">
  <h2>Sections</h2>
</div>
<nav  class="nav-list small">
  <ul>
    <li><a href="#!/sections/content/base"><span class="text">Base</span><i class="fa fa-holder-dynamic"></i></a></li>
  </ul>
</nav>
