   <div class="content-padding">
   	<h2>
   		Sections
   	</h2>
   </div>
    <nav  class="nav-list small">
    	<ul id="sidebar">
          <li><a href="#!/content/introduction"><span class="text">Introduction</span><i class="fa fa-holder-dynamic"></i></a></li>
      
    		<li><a href="#!/content/framework"><span class="text">Base HTML Framework</span><i class="fa fa-holder-dynamic"></i></a></li>
    		<li><a href="#!/content/branding"><span class="text">Colors, Fonts &amp; Icons</span><i class="fa fa-holder-dynamic"></i></a></li>
    		<li><a href="#!/content/typography"><span class="text">Typography</span><i class="fa fa-holder-dynamic"></i></a></li>
    		<li><a href="#!/content/tables"><span class="text">Tables</span><i class="fa fa-holder-dynamic"></i></a></li>
    		<li><a href="#!/content/navigation"><span class="text">Navigation &amp; Buttons</span><i class="fa fa-holder-dynamic"></i></a></li>
    	</ul>
    </nav>