   <div class="content-padding">
   	<h2>
   		Sections
   	</h2>
   </div>
    <nav  class="nav-list small">
    	<ul id="sidebar">
      <li><a href="#"><span class="text">Fake Link to Nowhere</span><i class="fa fa-holder-dynamic"></i></a></li>
      <li><a href="#"><span class="text">Fake Link to Nowhere</span><i class="fa fa-holder-dynamic"></i></a></li>
      <li><a href="#"><span class="text">Fake Link to Nowhere</span><i class="fa fa-holder-dynamic"></i></a></li>
      <li><a href="#"><span class="text">Fake Link to Nowhere</span><i class="fa fa-holder-dynamic"></i></a></li>
      <li><a href="#"><span class="text">Fake Link to Nowhere</span><i class="fa fa-holder-dynamic"></i></a></li>
    	</ul>
    </nav>