   <div class="content-padding">
   	<h2>
   		Sections
   	</h2>
   </div>
    <nav  class="nav-list small">
    	<ul >
          <li><a href="#!/sections/content/introduction"><span class="text">Introduction</span><i class="fa fa-holder-dynamic"></i></a></li>
      
    		<li><a href="#!/sections/content/framework"><span class="text">Base HTML Framework</span><i class="fa fa-holder-dynamic"></i></a></li>
    		<li><a href="#!/sections/content/branding"><span class="text">Colors, Fonts &amp; Icons</span><i class="fa fa-holder-dynamic"></i></a></li>
    		<li><a href="#!/sections/content/typography"><span class="text">Typography</span><i class="fa fa-holder-dynamic"></i></a></li>
    		<li><a href="#!/sections/content/tables"><span class="text">Tables</span><i class="fa fa-holder-dynamic"></i></a></li>
        <li><a href="#!/sections/content/buttons"><span class="text">Inputs: Buttons &amp; Switches</span><i class="fa fa-holder-dynamic"></i></a></li>
        <li><a href="#!/sections/content/navigation"><span class="text">Navigation: Tabs &amp; Nav Lists</span><i class="fa fa-holder-dynamic"></i></a></li>
        <li><a href="#!/sections/content/qna"><span class="text">Forms: Questions &amp; Answers</span><i class="fa fa-holder-dynamic"></i></a></li>
        <li><a href="#!/sections/content/layouts"><span class="text">Grids &amp; Layouts</span><i class="fa fa-holder-dynamic"></i></a></li>   
        <li><a href="#!/sections/content/paper"><span class="text">Paper Layers &amp; Grouping</span><i class="fa fa-holder-dynamic"></i></a></li>     
        <li><a href="#!/sections/content/space-savers"><span class="text">Space Savers: Modals, Accordians &amp; Collapses</span><i class="fa fa-holder-dynamic"></i></a></li>  
    	</ul>
    </nav>
   <div class="content-padding"><h2>Demos</h2></div> 
      <nav  class="nav-list small">
      <ul >
      <li><a href="samplebrandcoloring.html"><span class="text">Sample Brand Coloring</span><i class="fa fa-holder-dynamic"></i></a></li>
          <li><a href="#!/demos/demo/demo--footer_sticky-button-bar"><span class="text">Footer Sticky Button Bar</span><i class="fa fa-holder-dynamic"></i></a></li>      
    </ul>
  </nav>