<div class="repeater required">
	<div class="label-holder">
		<label for="">
			<span class="text">Email</span>
			<span class="required-holder">
				<i class="fa fa-holder-dynamic"></i>
			</span>
		</label>
	</div>
	{% include "/modules/repeaters/render" %}
	<div class="question-group">
		<div class="row">
			<div class="column small-4">{% include "question" %}</div>
			<div class="column small-4">{% include "question" %}</div>
			<div class="column small-4">{% include "question" %}</div>
		</div>
		<div class="message-holder">
			<small class="warning"><i class="fa fa-holder"></i>
				This is a dynmic message for the question group.
			</small>
		</div>
	</div>
	<div class="repeater-action">
		<a href="" class="clear"><i class="fa fa-holder"></i><span class="text">clear</span></a>
		<a href="" class="add new-repeater"><i class="triangle"></i><i class="fa fa-holder"></i> <span class="text">Add question Group</span></a>
	</div>
</div>		