footer {
	h4 {
		margin: 0;
	}

	ul {
		li {
			& + li {
				border-left: 1px solid grey(60);
			}

			&:last-child {
				padding-right: 0;
			}

			a.link {
				color: $acc-blue;
			}

			padding: 0 5px;
			display: inline-block;
			float: left;
		}

		&.ncdr-websites {
			float: right;
		}
	}

	&.page-footer {
		padding: 1rem 0 0 0;
	}

	.column, .columns {
		padding-right: 0;
	}

	.row.copyright {
		& h5, i {
			color: #fff;
		}

		background-color: $acc-blue;
		margin-top: 1em;
		padding: .5rem 0;
	}
}