/*
Error: Invalid CSS after "*\/": expected "}", was ""
        on line 166 of Assets/scss/vendor/foundation/_override.button-group.scss
        from line 124 of assets/scss/ascvd.scss

161: *   </div>
162: *   <div class="message-holder"><small class="error">Error</small></div>
163: * </div>
164: *
165: *\/

Backtrace:
Assets/scss/vendor/foundation/_override.button-group.scss:166
assets/scss/ascvd.scss:124
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1179:in `expected'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1115:in `expected'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1110:in `tok!'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:657:in `block'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:649:in `ruleset'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:674:in `block_child'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:664:in `block_contents'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:126:in `stylesheet'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:42:in `parse'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/engine.rb:403:in `_to_tree'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/engine.rb:309:in `to_tree'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:88:in `with_import'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:412:in `run'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"*/\": expected \"}\", was \"\"\A         on line 166 of Assets/scss/vendor/foundation/_override.button-group.scss\A         from line 124 of assets/scss/ascvd.scss\A \A 161: *   </div>\A 162: *   <div class=\"message-holder\"><small class=\"error\">Error</small></div>\A 163: * </div>\A 164: *\A 165: */"; }
