<table class="recommendationTable table">
	<thead>
		<tr class="recommendationTableHeaders">
			<th>
				Table Header A
			</th>
			<th>
				Table Header B
			</th>
			<th>
				Table Header C
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="recommendationLevel1" colspan="3">
				This is a greek table to show how a table might be used in a real world situation. 
			</td>
			
		</tr>
		<tr class="seperator">
			<td class="recommendationLevel1" colspan="3">
				fruit
			</td>
		</tr>
		<tr>
			<td>1. Apples</td>
			<td>1. Orange</td>
			<td>1. Plums</td>
		</tr>
		<tr>
			<td>2. Apples</td>
			<td>2. Orange</td>
			<td>2. Plums</td>
		</tr>
		<tr>
			<td>3. Apples</td>
			<td>3. Orange</td>
			<td>3. Plums</td>
		</tr>
		<tr class="seperator">
			<td class="recommendationLevel1" colspan="3">
				vegitables
			</td>
		</tr>
		<tr>
			<td>1. Squash</td>
			<td>1. Carrots</td>
			<td>1. Kale</td>
		</tr>
		<tr>
			<td>2. Squash</td>
			<td>2. Carrots</td>
			<td>2. Kale</td>
		</tr>
		<tr>
			<td>3. Squash</td>
			<td>3. Carrots</td>
			<td>3. Kale</td>
		</tr>
	</tbody>

</table>