<div class="row">
	<div class="column medium-4"><img src="http://placehold.it/350x150&txt=image" width="100%" alt=""></div>
	<div class="column medium-4"><img src="http://placehold.it/350x150&txt=image" width="100%" alt=""></div>
	<div class="column medium-4"><img src="http://placehold.it/350x150&txt=image" width="100%" alt=""></div>
</div>