.accordion h2.toggle .sub-line {
    font-size: 0.5em;
    line-height: 1.25em;
    margin: 0em 1rem 0em 2.5rem;
}
.with-group-sections .page-wrapper > .group-section.flow-chart{
    padding:.5rem;
}
.panzoom{    
    border: 2px solid grey(20);
}
.panzoom-buttons{
    position: absolute; 
    top: 2px; 
    right: 2px;
}
.group-section > .callout{margin-top: 1rem;}
.button.reset-button{
	margin-top: -2em;
	@include bp(md){		
	    position: absolute;
	    top: 2em;
	    margin: 0;
	    right: 1em;
	    width:auto;

		}
	@include bp(lg){
		top: 2em;
	}
}
@include bp(md-down){
	.panzoom {
		margin-top:1em;
	.button-group.expanded {
		top: -2em;
		right: 0px;
		width: 100%;
	    border: 2px solid grey(30);
		.button {
			padding: .5em;
			margin: 0;
			border-bottom: 0;
			}
		}
	}
}

.unit-of-measure{
	position: absolute;
	top: .25em;
    right: 1em;
    width:15em;
    @include bp(sm-height){
    	top:.5em;
    }
    @include bp(md-height){
    	top:1em;
    }
	@include bp(md){
		top: 1.75em;
    	right: .75em;
	}
	@include bp(lg){
		top: 1.75em;
		right: 1.25em;
	}
	.switch-value{
		text-align: right;
		padding-right: .75em;
		padding-top: .75em;
		vertical-align: top;
		font-weight: 900;
		line-height: 1;
		font-size: .75em;
		@include bp(md){
			top: 1.75em;
	    	right: .75em;
	    	font-size: 1em;
			padding-right: .5em;
			padding-top: .25em;
		}
	}
}
.no-word-wrap{display:inline-block;white-space:nowrap;}


.inputList li, .inputList li span{display:none;}
.inputList li.warning,.inputList li.error{display: block;}
.inputList li.warning span.warning, .inputList li.error span.error{display:inline;}
@include bp(lg){
	.race--group-button.button-group .button{
		width:50% !important;
		white-space:nowrap;
		&:first-child,&:last-child{width:25%  !important;}
	}
}

.page.header{
	.logo img{
			margin:7px 10px 0; width:320px;
			@include bp(md){margin:7px 10px 0; width:335px;}
			@include bp(lg){margin:6px 10px 0; width:500px;}
			@include bp(xl){margin:15px 15px 0; width:575px;}
	}

}
.page.footer .logo{
	img{ 
		margin: .25rem 2.5%;
	}
	@include bp(sm-down){
		img.show-small{display:block;width: 90%;margin:.25rem 5%;}
		img.show-medium{display:none;}
	}
	@include bp(sm){

		img.show-small{display:none;}
		img.show-medium{display:block;width:85%;margin: .25rem 7% .75em;}
	}
	@include bp(md){
		img.show-small{display:none;}
		img.show-medium{display:none;}
	}
		

}