 <section class="sg-block sg-section-buttons">
      <div class="sg-text">
        <h3 id="buttons" class="sg">Buttons</h3>
        <p class="sg">
          <code class="sg">.nobutton .button or .button.disabled</code>- buttons are a touchable link or action. There are a lot of features beyond the base version of button. Please look at all the features on
          <a href="http://foundation.zurb.com/sites/docs/button.html" class="link sg">Zurb Foundation</a>.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="row">
            <a class="button">Button</a>
            <a class="button + secondary">Secondary</a>
            <a class="button disabled">button + disabled</a>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button&quot;</span>&gt;</span>Button<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button + secondary&quot;</span>&gt;</span>Secondary<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button disabled&quot;</span>&gt;</span>button + disabled<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>