 <section class="sg-block sg-section-buttons-modification">
      <div class="sg-text">
        <h3 id="buttons-modification" class="sg">Buttons Modification</h3>
        <p class="sg">
          <code class="sg">.button.[state] .button.disabled.[state] or .button.hollow.[state]</code>- sample buttons from
          <code class="sg">.button</code>you can modifiers
          <a href="http://foundation.zurb.com/sites/docs/button.html" class="link sg">View All Features</a>
        </p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="row">
            <button class="success button">
              <i class="fa fa-holder"></i>&#xA0;button + success</button>
            <button class="button hollow">button + hollow</button>
            <a class="button navigation">button + navigation&#xA0;
              <i class="fa fa-arrow-right"></i>
            </a>
            <a class="nobutton">No Button</a>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;success button&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp;button + success<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button hollow&quot;</span>&gt;</span>button + hollow<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button navigation&quot;</span>&gt;</span>button + navigation&amp;nbsp;
    <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-arrow-right&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nobutton&quot;</span>&gt;</span>No Button<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>