 <section class="sg-block sg-section-nav-list-checklist-">
      <div class="sg-text">
        <h3 id="nav-list-checklist-" class="sg">Nav List (Checklist)</h3>
        <p class="sg">
          <code class="sg">.nav-checklist</code>- add class to the nav to change the .nav-list from forward links to a list with states of
          <code class="sg">.selected</code>,
          <code class="sg">.completed</code>,
          <code class="sg">.warning</code>,
          <code class="sg">.error</code>
        </p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <nav class="nav-list nav-checklist">
            <ul>
              <li class="">
                <a>
                  <span class="text">Nav List Item 1(blank)</span>
                  <i class="fa fa-holder-dynamic"></i>
                </a>
              </li>
              <li class="selected">
                <a>
                  <span class="text">Nav List Item 2(selected)</span>
                  <i class="fa fa-holder-dynamic"></i>
                </a>
              </li>
              <li class="completed">
                <a>
                  <span class="text">Nav List Item 3(completed)</span>
                  <i class="fa fa-holder-dynamic"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">nav</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nav-list nav-checklist&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Nav List Item 1(blank)<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;selected&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Nav List Item 2(selected)<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;completed&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Nav List Item 3(completed)<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">nav</span>&gt;</span></pre>
      </div>
    </section>

   <section class="sg-block sg-section-nav-list-checklist-w-states-">
      <div class="sg-text">
        <h3 id="nav-list-checklist-w-states-" class="sg">Nav List (Checklist w/ States)</h3>
        <p class="sg">
          <code class="sg">.nav-checklist.statename</code>- add class to the nav to change the list item to reflect the state with
          <code class="sg">.warning</code>,
          <code class="sg">.error</code>,
          <code class="sg">.highlighted</code>...</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <nav class="nav-list nav-checklist">
            <ul>
              <li class="">
                <a>
                  <span class="text">Nav List Item 1(blank)</span>
                  <i class="fa fa-holder-dynamic"></i>
                </a>
              </li>
              <li class="selected warning">
                <a>
                  <span class="text">Nav List Item 2(selected and warning)</span>
                  <i class="fa fa-holder-dynamic"></i>
                </a>
              </li>
              <li class="highlighted">
                <a>
                  <span class="text">Nav List Item 3(highlighted)</span>
                  <i class="fa fa-holder-dynamic"></i>
                </a>
              </li>
              <li class="warning">
                <a>
                  <span class="text">Nav List Item 4(warning)</span>
                  <i class="fa fa-holder-dynamic"></i>
                </a>
              </li>
              <li class="error">
                <a>
                  <span class="text">Nav List Item 5(error)</span>
                  <i class="fa fa-holder-dynamic"></i>
                </a>
              </li>
              <li class="disabled">
                <a>
                  <span class="text">Nav List Item 5(disabled)</span>
                  <i class="fa fa-holder-dynamic"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">nav</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;nav-list nav-checklist&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Nav List Item 1(blank)<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;selected warning&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Nav List Item 2(selected and warning)<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;highlighted&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Nav List Item 3(highlighted)<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;warning&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Nav List Item 4(warning)<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;error&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Nav List Item 5(error)<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;disabled&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Nav List Item 5(disabled)<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder-dynamic&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">nav</span>&gt;</span></pre>
      </div>
    </section>