  <section class="sg-block sg-section-pagination">
      <div class="sg-text">
        <h3 id="pagination" class="sg">Pagination</h3>
        <p class="sg">
          <code class="sg">.pagination-holder .pagination</code>- Pagination is often used when there is a table or page of results or repeated items. The Container defaultly styles the paginator to be at the bottom of the area of repeated content but render it at the top just add the class
          <code class="sg">.top</code>to render the pagination upside down. The paginator has a single modifier to condense the screen size by adding the class
          <code class="sg">.pagination--compact</code>.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="paper-page page-wrapper">
            <div class="content-padding section-padding">
              <div class="">
                <div class="pagination-holder top">
                  <ul class="pagination float-right">
                    <li class="arrow disable left">
                      <a href="">
                        <i class="fa fa-caret-left ">
                        </i>
                        <span class="text">
                          prev
                        </span>
                      </a>
                    </li>
                    <li class="current">
                      <a href="">
                        1
                      </a>
                    </li>
                    <li>
                      <a href="">
                        2
                      </a>
                    </li>
                    <li>
                      <a href="">
                        3
                      </a>
                    </li>
                    <li>
                      <a href="">
                        4
                      </a>
                    </li>
                    <li class="arrow right">
                      <a href="">
                        <span class="text">
                          next
                        </span>
                        <i class="fa fa-caret-right ">
                        </i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <section class="section card">
                <div class="group-section-pagination-holder top">
                  <ul class="pagination pagination--compact float-left">
                    <li class="arrow disable">
                      <a href="">
                        <i class="fa fa-caret-left ">
                        </i>
                        <span class="text">
                          prev
                        </span>
                      </a>
                    </li>
                    <li class="current">
                      <a href="">
                        1
                      </a>
                    </li>
                    <li>
                      <a href="">
                        2
                      </a>
                    </li>
                    <li>
                      <a href="">
                        3
                      </a>
                    </li>
                    <li>
                      <a href="">
                        4
                      </a>
                    </li>
                    <li class="arrow">
                      <a href="">
                        <span class="text">
                          next
                        </span>
                        <i class="fa fa-caret-right ">
                        </i>
                      </a>
                    </li>
                  </ul>
                  <ul class="pagination float-right">
                    <li class="action">
                      <a href="">
                        <i class="fa fa-plus ">
                        </i>
                        <span class="text">
                          Add
                        </span>
                      </a>
                    </li>
                    <li class="action">
                      <a href="">
                        <i class="fa fa-times ">
                        </i>
                        <span class="text">
                          Remove
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="callout">
                  this is some content
                </div>
                <div class="pagination-holder">
                  <ul class="pagination pagination--compact float-right">
                    <li class="arrow disable">
                      <a href="">
                        <i class="fa fa-caret-left ">
                        </i>
                        <span class="text">
                          prev
                        </span>
                      </a>
                    </li>
                    <li class="current">
                      <a href="">
                        1
                      </a>
                    </li>
                    <li>
                      <a href="">
                        2
                      </a>
                    </li>
                    <li>
                      <a href="">
                        3
                      </a>
                    </li>
                    <li>
                      <a href="">
                        4
                      </a>
                    </li>
                    <li class="arrow">
                      <a href="">
                        <span class="text">
                          next
                        </span>
                        <i class="fa fa-caret-right ">
                        </i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="group-section-pagination-holder">
                  <ul class="pagination pagination--compact float-left">
                    <li class="arrow disable">
                      <a href="">
                        <i class="fa fa-caret-left ">
                        </i>
                        <span class="text">
                          prev
                        </span>
                      </a>
                    </li>
                    <li class="current">
                      <a href="">
                        1
                      </a>
                    </li>
                    <li>
                      <a href="">
                        2
                      </a>
                    </li>
                    <li>
                      <a href="">
                        3
                      </a>
                    </li>
                    <li>
                      <a href="">
                        4
                      </a>
                    </li>
                    <li class="arrow">
                      <a href="">
                        <span class="text">
                          next
                        </span>
                        <i class="fa fa-caret-right ">
                        </i>
                      </a>
                    </li>
                  </ul>
                  <ul class="pagination float-right">
                    <li class="action">
                      <a href="">
                        <i class="fa fa-plus ">
                        </i>
                        <span class="text">
                          Add
                        </span>
                      </a>
                    </li>
                    <li class="action">
                      <a href="">
                        <i class="fa fa-times ">
                        </i>
                        <span class="text">
                          Remove
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </section>
              <div class="">
                <div class="pagination-holder">
                  <ul class="pagination pagination--compact float-left">
                    <li class="arrow disable">
                      <a href="">
                        <i class="fa fa-caret-left ">
                        </i>
                        <span class="text">
                          prev
                        </span>
                      </a>
                    </li>
                    <li class="current">
                      <a href="">
                        1
                      </a>
                    </li>
                    <li>
                      <a href="">
                        2
                      </a>
                    </li>
                    <li>
                      <a href="">
                        3
                      </a>
                    </li>
                    <li>
                      <a href="">
                        4
                      </a>
                    </li>
                    <li class="arrow">
                      <a href="">
                        <span class="text">
                          next
                        </span>
                        <i class="fa fa-caret-right ">
                        </i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;paper-page page-wrapper&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;content-padding section-padding&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;pagination-holder top&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;pagination float-right&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;arrow disable left&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-left &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                prev
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;current&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              1
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              2
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              3
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              4
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;arrow right&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                next
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-right &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">section</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;section card&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;group-section-pagination-holder top&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;pagination pagination--compact float-left&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;arrow disable&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-left &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                prev
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;current&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              1
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              2
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              3
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              4
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;arrow&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                next
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-right &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;pagination float-right&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-plus &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                Add
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-times &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                Remove
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;callout&quot;</span>&gt;</span>
        this is some content
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;pagination-holder&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;pagination pagination--compact float-right&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;arrow disable&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-left &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                prev
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;current&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              1
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              2
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              3
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              4
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;arrow&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                next
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-right &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;group-section-pagination-holder&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;pagination pagination--compact float-left&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;arrow disable&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-left &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                prev
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;current&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              1
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              2
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              3
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              4
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;arrow&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                next
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-right &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;pagination float-right&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-plus &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                Add
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-times &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                Remove
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">section</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;pagination-holder&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;pagination pagination--compact float-left&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;arrow disable&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-left &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                prev
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;current&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              1
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              2
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              3
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              4
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;arrow&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
                next
              <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-caret-right &quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>
