  <section class="sg-block sg-section-slider-foundation-override-">
      <div class="sg-text">
        <h3 id="slider-foundation-override-" class="sg">Slider (Foundation Override)</h3>
        <p class="sg">
          <code class="sg">.range-slider .vertical-range</code>- Sliders are a great peice of UI for mobile and range of numbers !!REQUIRES JAVASCRIPT OF FOUNDATION!!!</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="slider" data-slider="" data-initial-start="50" data-end="200">
            <span class="slider-handle" data-slider-handle="" role="slider" tabindex="1"></span>
            <span class="slider-fill" data-slider-fill=""></span>
            <input type="hidden">
          </div>
          <div class="slider vertical" data-slider="" data-initial-start="25" data-end="200" data-vertical="true">
            <span class="slider-handle" data-slider-handle="" role="slider" tabindex="1"></span>
            <span class="slider-fill" data-slider-fill=""></span>
            <input type="hidden">
          </div>
          <div class="slider" data-slider="" data-initial-start="25" data-initial-end="75">
            <span class="slider-handle" data-slider-handle="" role="slider" tabindex="1"></span>
            <span class="slider-fill" data-slider-fill=""></span>
            <span class="slider-handle" data-slider-handle="" role="slider" tabindex="1"></span>
            <input type="hidden">
            <input type="hidden">
          </div>
          <a class="link" href="http://foundation.zurb.com/sites/docs/slider.html">Foundation Documentation</a>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;slider&quot;</span> <span class="hljs-attribute">data-slider</span> <span class="hljs-attribute">data-initial-start</span>=<span class="hljs-value">&apos;50&apos;</span> <span class="hljs-attribute">data-end</span>=<span class="hljs-value">&apos;200&apos;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;slider-handle&quot;</span> <span class="hljs-attribute">data-slider-handle</span> <span class="hljs-attribute">role</span>=<span class="hljs-value">&quot;slider&quot;</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">&quot;1&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;slider-fill&quot;</span> <span class="hljs-attribute">data-slider-fill</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;hidden&quot;</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;slider vertical&quot;</span> <span class="hljs-attribute">data-slider</span> <span class="hljs-attribute">data-initial-start</span>=<span class="hljs-value">&apos;25&apos;</span> <span class="hljs-attribute">data-end</span>=<span class="hljs-value">&apos;200&apos;</span> <span class="hljs-attribute">data-vertical</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;slider-handle&quot;</span> <span class="hljs-attribute">data-slider-handle</span> <span class="hljs-attribute">role</span>=<span class="hljs-value">&quot;slider&quot;</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">&quot;1&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;slider-fill&quot;</span> <span class="hljs-attribute">data-slider-fill</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;hidden&quot;</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;slider&quot;</span> <span class="hljs-attribute">data-slider</span> <span class="hljs-attribute">data-initial-start</span>=<span class="hljs-value">&apos;25&apos;</span> <span class="hljs-attribute">data-initial-end</span>=<span class="hljs-value">&apos;75&apos;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;slider-handle&quot;</span> <span class="hljs-attribute">data-slider-handle</span> <span class="hljs-attribute">role</span>=<span class="hljs-value">&quot;slider&quot;</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">&quot;1&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;slider-fill&quot;</span> <span class="hljs-attribute">data-slider-fill</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;slider-handle&quot;</span> <span class="hljs-attribute">data-slider-handle</span> <span class="hljs-attribute">role</span>=<span class="hljs-value">&quot;slider&quot;</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">&quot;1&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;hidden&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;hidden&quot;</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;link&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://foundation.zurb.com/sites/docs/slider.html&quot;</span>&gt;</span>Foundation Documentation<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span></pre>
      </div>
    </section>
