  <section class="sg-block sg-section-switch-foundation-override-">
      <div class="sg-text">
        <h3 id="switch-foundation-override-" class="sg">Switch (Foundation Override)</h3>
        <p class="sg">
          <code class="sg">.switch</code>- Switches are a more visible and more touchable versions of checkbox and radio buttons. ADD
          <code class="sg">.check-visible</code>to a switch to make a check appear in the selected state of
          <code class="sg">.x-visible</code>to show the x when it is shut off.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h3>Radio Buttons should use `.round` modifier</h3>
          <div class="switch-input-space group-divide row">
            <div class="switch round">
              <input name="radiobutton-switch" type="radio" id="radio-y">
              <label for="radio-y" onclick=""></label>
            </div>
            <label class="switch-value" for="radio-y">Radio buttons have `.round` on the `.switch`</label>
          </div>
          <div class="switch-input-space group-divide row">
            <div class="switch round dot-visible">
              <input name="radiobutton-switch" type="radio" id="radio-n">
              <label for="radio-n" onclick=""></label>
            </div>
            <label class="switch-value" for="radio-n">`.dot-visible` Radio button a dot will appear when selected</label>
          </div>
          <h3>Checkboxes should use the `.radius` or no modifier at all</h3>
          <div class="switch-input-space group-divide row">
            <div class="switch check-visible radius">
              <input type="checkbox" id="hb-check0">
              <label for="hb-check0"></label>
            </div>
            <label class="switch-value" for="hb-check0">This is a checkbox is using the `.radius` modifier</label>
          </div>
          <div class="switch-input-space group-divide row">
            <div class="switch check-visible">
              <input type="checkbox" id="hb-check2">
              <label for="hb-check2"></label>
            </div>
            <label class="switch-value" for="hb-check2">This is a checkbox a check should appear when selected</label>
          </div>
          <div class="switch-input-space group-divide row">
            <div class="switch x-visible">
              <input type="checkbox" id="hb-check1">
              <label for="hb-check1"></label>
            </div>
            <label class="switch-value" for="hb-check1">&quot;x-visible&quot; When No is selected you should show an X</label>
          </div>
          <a class="link" href="http://foundation.zurb.com/docs/components/switch.html">Foundation Documentation</a>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h3</span>&gt;</span>Radio Buttons should use `.round` modifier<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space group-divide row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch round&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">&quot;radiobutton-switch&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;radio&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;radio-y&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;radio-y&quot;</span> <span class="hljs-attribute">onclick</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;radio-y&quot;</span>&gt;</span>Radio buttons have `.round` on the `.switch`<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space group-divide row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch round dot-visible&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">&quot;radiobutton-switch&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;radio&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;radio-n&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;radio-n&quot;</span> <span class="hljs-attribute">onclick</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;radio-n&quot;</span>&gt;</span>`.dot-visible` Radio button a dot will appear when selected<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h3</span>&gt;</span>Checkboxes should use the `.radius` or no modifier at all<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space group-divide row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch check-visible radius&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;checkbox&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;hb-check0&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;hb-check0&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;hb-check0&quot;</span>&gt;</span>This is a checkbox is using the `.radius` modifier<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space group-divide row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch check-visible&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;checkbox&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;hb-check2&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;hb-check2&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;hb-check2&quot;</span>&gt;</span>This is a checkbox a check should appear when selected<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space group-divide row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch x-visible&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;checkbox&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;hb-check1&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;hb-check1&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;hb-check1&quot;</span>&gt;</span>&quot;x-visible&quot; When No is selected you should show an X<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;link&quot;</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;http://foundation.zurb.com/docs/components/switch.html&quot;</span>&gt;</span>Foundation Documentation<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span></pre>
      </div>
    </section>