  <section class="sg-block sg-section-switch-foundation-override-">
      <div class="sg-text">
        <h3 id="switch-foundation-override-" class="sg">Switch (Foundation Override)</h3>
        <p class="sg">
          <code class="sg">.switch</code>- Switches are a more visible and more touchable versions of checkbox and radio buttons.
          <h5 class="warning sg">( !! WARNING !! Updated HTML and Styles From Ver 1)</h5>
        </p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="switch-input-space">
            <div class="switch">
              <input class="switch-input" id="yes-no-1" type="checkbox" name="exampleSwitch">
              <label class="switch-paddle" for="yes-no-1">
                <span class="show-for-sr">Do you like me?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
            <label class="switch-value" for="yes-no-1">Yes or No Question</label>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;yes-no-1&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;checkbox&quot;</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">&quot;exampleSwitch&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-paddle&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;yes-no-1&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;show-for-sr&quot;</span>&gt;</span>Do you like me?<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-active&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>Yes<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-inactive&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>No<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;yes-no-1&quot;</span>&gt;</span>Yes or No Question<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>

    <section class="sg-block sg-section-switch-disabled-">
      <div class="sg-text">
        <h3 id="switch-disabled-" class="sg">Switch (Disabled)</h3>
        <p class="sg">
          <code class="sg">disable</code>- on the input changes the look and cursor on rollover</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="switch-input-space  row">
            <div class="switch">
              <input class="switch-input" id="yes-no-disabled" disabled type="checkbox" name="exampleSwitch">
              <label class="switch-paddle" for="yes-no-disabled">
                <span class="show-for-sr">Do you like me?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
            <label class="switch-value" for="yes-no-disabled">Yes or No Question</label>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space  row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;yes-no-disabled&quot;</span> <span class="hljs-attribute">disabled</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;checkbox&quot;</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">&quot;exampleSwitch&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-paddle&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;yes-no-disabled&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;show-for-sr&quot;</span>&gt;</span>Do you like me?<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-active&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>Yes<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-inactive&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>No<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;yes-no-disabled&quot;</span>&gt;</span>Yes or No Question<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>

    <section class="sg-block sg-section-switch-modifing-classes">
      <div class="sg-text">
        <h3 id="switch-modifing-classes" class="sg">Switch modifing classes</h3>
        <p class="sg">
          <code class="sg">.switch</code>- Switches are remarkably flexable. Radio Buttons should use
          <code class="sg">.radio</code>as modifier, and Checkboxes use
          <code class="sg">.checkbox</code>.
          <code class="sg">.round</code>and
          <code class="sg">.radius</code>are very useful to change the look and feel of buttons.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="row group-divide">
            <h4>Radio Buttons should use `.round` or `.radio` modifier</h4>
            <p>You can make a radio with eiither placing the `.round` or `.radio`. *
              <div class="row collapse">
                <div class="switch-input-space column small-6">
                  <div class="switch round">
                    <input class="switch-input" id="yes-no-round" type="radio" name="radio-switch">
                    <label class="switch-paddle" for="yes-no-round">
                      <span class="show-for-sr">Do you like me?</span>
                      <span class="switch-active" aria-hidden="true">
                        <i class="fa fa-check-circle-o"></i>
                      </span>
                      <span class="switch-inactive" aria-hidden="true">
                        <i class="fa fa-times-circle"></i>
                      </span>
                    </label>
                  </div>
                  <label class="switch-value" for="yes-no-round">Radio button made with `.round`</label>
                </div>
                <div class="switch-input-space column small-6">
                  <div class="switch radio">
                    <input class="switch-input" id="yes-no-radio" type="radio" name="radio-switch">
                    <label class="switch-paddle" for="yes-no-radio">
                      <span class="show-for-sr">Do you like me?</span>
                      <span class="switch-active" aria-hidden="true">
                        <i class="fa fa-holder"></i>
                      </span>
                      <span class="switch-inactive" aria-hidden="true">
                        <i class="fa fa-holder"></i>
                      </span>
                    </label>
                  </div>
                  <label class="switch-value" for="yes-no-radio">Radio button made with `.radio`</label>
                </div>
              </div>
            </p>
          </div>
          <div class="row group-divide">
            <h4>Checkboxes should use `.radius`, `.checkbox`, no modifiers</h4>
            <p>If you want control over the positive and negative icons use `.radius`. Use `.checkbox` to set it to the standard icon in the positive position</p>
            <div class="row collapse">
              <div class="switch-input-space column small-6">
                <div class="switch radius">
                  <input class="switch-input" id="radius-checkbox" type="checkbox" value="true">
                  <label class="switch-paddle" for="radius-checkbox">
                    <span class="show-for-sr">Do you like me?</span>
                    <span class="switch-active" aria-hidden="true">
                      <i class="fa fa-check-circle-o"></i>
                    </span>
                    <span class="switch-inactive" aria-hidden="true">
                      <i class="fa fa-times-circle"></i>
                    </span>
                  </label>
                </div>
                <label class="switch-value" for="radius-checkbox">Checkbox button made with `.radius`</label>
              </div>
              <div class="switch-input-space column small-6">
                <div class="switch checkbox">
                  <input class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                  <label class="switch-paddle" for="checkbox-checkbox">
                    <span class="show-for-sr">Do you like me?</span>
                    <span class="switch-active" aria-hidden="true">
                      <i class="fa fa-holder"></i>
                    </span>
                    <span class="switch-inactive" aria-hidden="true">
                      <i class="fa fa-holder"></i>
                    </span>
                  </label>
                </div>
                <label class="switch-value" for="checkbox-checkbox">Checkbox button made with `.checkbox`</label>
              </div>
            </div>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row group-divide&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">h4</span>&gt;</span>Radio Buttons should use `.round` or `.radio` modifier<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>You can make a radio with eiither placing the `.round` or `.radio`. *
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row collapse&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space column small-6&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch round&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;yes-no-round&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;radio&quot;</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">&quot;radio-switch&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-paddle&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;yes-no-round&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;show-for-sr&quot;</span>&gt;</span>Do you like me?<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-active&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-check-circle-o&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-inactive&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-times-circle&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;yes-no-round&quot;</span>&gt;</span>Radio button made with `.round`<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space column small-6&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch radio&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;yes-no-radio&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;radio&quot;</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">&quot;radio-switch&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-paddle&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;yes-no-radio&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;show-for-sr&quot;</span>&gt;</span>Do you like me?<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-active&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-inactive&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;yes-no-radio&quot;</span>&gt;</span>Radio button made with `.radio`<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row group-divide&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">h4</span>&gt;</span>Checkboxes should use `.radius`, `.checkbox`, no modifiers<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>If you want control over the positive and negative icons use `.radius`. Use `.checkbox` to set it to the standard icon
    in the positive position<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row collapse&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space column small-6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch radius&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;radius-checkbox&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;checkbox&quot;</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-paddle&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;radius-checkbox&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;show-for-sr&quot;</span>&gt;</span>Do you like me?<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-active&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-check-circle-o&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-inactive&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-times-circle&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;radius-checkbox&quot;</span>&gt;</span>Checkbox button made with `.radius`<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space column small-6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch checkbox&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;checkbox-checkbox&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;checkbox&quot;</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">&quot;false&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-paddle&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;checkbox-checkbox&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;show-for-sr&quot;</span>&gt;</span>Do you like me?<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-active&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-inactive&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;checkbox-checkbox&quot;</span>&gt;</span>Checkbox button made with `.checkbox`<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>

    <section class="sg-block sg-section-value-switchers">
      <div class="sg-text">
        <h3 id="value-switchers" class="sg">Value Switchers</h3>
        <p class="sg">
          <code class="sg">.value-switch</code>- Add
          <code class="sg">.value-switch</code>to a switch so both inactive and active content of the switcher are visible and stay colored.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="switch-input-space column small-12">
            <div class="switch value-switch">
              <input class="switch-input" id="checkbox-value-switch" type="checkbox" value="false">
              <label class="switch-paddle" for="checkbox-value-switch">
                <span class="show-for-sr">Do you like me?</span>
                <span class="switch-active" aria-hidden="true">
                  <i class="fa fa-thumbs-up"></i>
                </span>
                <span class="switch-inactive" aria-hidden="true">
                  <i class="fa fa-thumbs-down"></i>
                </span>
              </label>
            </div>
          </div>
          <div class="switch-input-space column small-12">
            <div class="switch value-switch switch-2x radius">
              <input class="switch-input" id="checkbox-value-switch-radius" type="checkbox" value="false">
              <label class="switch-paddle" for="checkbox-value-switch-radius">
                <span class="show-for-sr">Do you like me?</span>
                <span class="switch-active" aria-hidden="true">US</span>
                <span class="switch-inactive" aria-hidden="true">SI</span>
              </label>
            </div>
            <label class="switch-value" for="checkbox-value-switch-radius">You expand the switch area with switch-2x and switch-4x</label>
          </div>
          <div class="switch-input-space column small-12">
            <div class="switch value-switch switch-4x round">
              <input class="switch-input" id="checkbox-value-switch-round" type="checkbox" value="false">
              <label class="switch-paddle" for="checkbox-value-switch-round">
                <span class="show-for-sr">Do you like me?</span>
                <span class="switch-active" aria-hidden="true">Inches</span>
                <span class="switch-inactive" aria-hidden="true">Centimeters</span>
              </label>
            </div>
            <label class="switch-value" for="checkbox-value-switch-round">You can also apply the `.radius` and `.round` to change the style
            </label>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space column small-12&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch value-switch&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;checkbox-value-switch&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;checkbox&quot;</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">&quot;false&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-paddle&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;checkbox-value-switch&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;show-for-sr&quot;</span>&gt;</span>Do you like me?<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-active&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-thumbs-up&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-inactive&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-thumbs-down&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space column small-12&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch value-switch switch-2x radius&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;checkbox-value-switch-radius&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;checkbox&quot;</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">&quot;false&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-paddle&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;checkbox-value-switch-radius&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;show-for-sr&quot;</span>&gt;</span>Do you like me?<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-active&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>US<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-inactive&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>SI<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;checkbox-value-switch-radius&quot;</span>&gt;</span>You expand the switch area with switch-2x and switch-4x<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space column small-12&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch value-switch switch-4x round&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;checkbox-value-switch-round&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;checkbox&quot;</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">&quot;false&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-paddle&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;checkbox-value-switch-round&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;show-for-sr&quot;</span>&gt;</span>Do you like me?<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-active&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>Inches<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-inactive&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>Centimeters<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;checkbox-value-switch-round&quot;</span>&gt;</span>You can also apply the `.radius` and `.round` to change the style
  <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>

   <section class="sg-block sg-section-switches-with-grouped-content">
      <div class="sg-text">
        <h3 id="switches-with-grouped-content" class="sg">Switches with Grouped Content</h3>
        <p class="sg">
          <code class="sg">.switch label</code>- labels can hold more then just plain text but can hold rich text when it is needed. Remember most margins are not needed when placed in labels so using
          <code class="sg">no-vertical-margin</code>might improve how it looks..</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="question required">
            <div class="label-holder">
              <label for="">
                <span class="text">
                  Select One
                </span>
                <span class="required-holder">
                  <i class="fa fa-holder-dynamic">
                  </i>
                </span>
              </label>
            </div>
            <div class="switch-input-space column medium-6 large-12">
              <div class="switch radio">
                <input class="switch-input" data-bind="checked:Form().painArea.ForEditing" id="radio1" name="painArea" type="radio" value="true">
                <label class="switch-paddle" for="radio1">
                  <span class="show-for-sr">
                    Bilateral: Possible intolerance
                  </span>
                  <span aria-hidden="true" class="switch-active">
                    <i class="fa fa-holder">
                    </i>
                  </span>
                  <span aria-hidden="true" class="switch-inactive">
                    <i class="fa fa-holder">
                    </i>
                  </span>
                </label>

              </div>
              <label class="switch-value" for="radio1">
                <h5 style="no-verticle-margin">
                  Bilateral
                </h5>
                <p>
                  Muscle symptoms are generalized (e.g., neck and shoulder pain, lower extremity pain)
                </p>
                <p class="strong">
                  Bilateral: Possible intolerance
                </p>
              </label>
            </div>
            <div class="switch-input-space column medium-6 large-12">
              <div class="switch radio">
                <input class="switch-input" data-bind="checked:Form().painArea.ForEditing" id="radio2" name="painArea" type="radio" value="false">
                <label class="switch-paddle" for="radio2">
                  <span class="show-for-sr">
                    Unilateral: Unlikely intolerance
                  </span>
                  <span aria-hidden="true" class="switch-active">
                    <i class="fa fa-holder">
                    </i>
                  </span>
                  <span aria-hidden="true" class="switch-inactive">
                    <i class="fa fa-holder">
                    </i>
                  </span>
                </label>

              </div>
              <label class="switch-value" for="radio2">
                <h5 style="no-verticle-margin">
                  Unilateral
                </h5>
                <p>
                  Muscle symptoms are isolated (e.g., knee or shoulder ache)
                </p>
                <p class="strong">
                  Unilateral: Unlikely intolerance
                </p>
              </label>
            </div>
          </div>
        </div><pre class="sg-code sg-hidden"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"question required"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"label-holder"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">""</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"text"</span>&gt;</span>
        Select One
      <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"required-holder"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"fa fa-holder-dynamic"</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-input-space column medium-6 large-12"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch radio"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-input"</span> <span class="hljs-attribute">data-bind</span>=<span class="hljs-value">"checked:Form().painArea.ForEditing"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"radio1"</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"painArea"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"radio"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"true"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-paddle"</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">"radio1"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"show-for-sr"</span>&gt;</span>
          Bilateral: Possible intolerance
        <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">"true"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-active"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"fa fa-holder"</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">"true"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-inactive"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"fa fa-holder"</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-value"</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">"radio1"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h5</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"no-verticle-margin"</span>&gt;</span>
        Bilateral
      <span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>
        Muscle symptoms are generalized (e.g., neck and shoulder pain, lower extremity pain)
      <span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"strong"</span>&gt;</span>
        Bilateral: Possible intolerance
      <span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-input-space column medium-6 large-12"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch radio"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-input"</span> <span class="hljs-attribute">data-bind</span>=<span class="hljs-value">"checked:Form().painArea.ForEditing"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"radio2"</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"painArea"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"radio"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"false"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-paddle"</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">"radio2"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"show-for-sr"</span>&gt;</span>
          Unilateral: Unlikely intolerance
        <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">"true"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-active"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"fa fa-holder"</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">"true"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-inactive"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"fa fa-holder"</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"switch-value"</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">"radio2"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h5</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"no-verticle-margin"</span>&gt;</span>
        Unilateral
      <span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>
        Muscle symptoms are isolated (e.g., knee or shoulder ache)
      <span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"strong"</span>&gt;</span>
        Unilateral: Unlikely intolerance
      <span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      <button class="sg-expando sg-expando-reveal"></button></div>
    </section>

    <section class="sg-block sg-section-switch-states-">
      <div class="sg-text">
        <h3 id="switch-states-" class="sg">Switch (States)</h3>
        <p class="sg">
          <code class="sg">.error-active</code>- Switches can be colored with a class [state]-active and [state]-inactive.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h3>Plain switch with `.error-active` and `.sucess-inactive` on the `.switch`</h3>
          <div class="switch-input-space row">
            <div class="switch warning-active error-inactive switch-2x">
              <input class="switch-input" id="active-inactive" type="checkbox" name="exampleSwitch">
              <label class="switch-paddle" for="active-inactive">
                <span class="show-for-sr">Do you like me?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
            <label class="switch-value" for="active-inactive">.switch.error-active.warning-inactive/label&gt;
            </label>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h3</span>&gt;</span>Plain switch with `.error-active` and `.sucess-inactive` on the `.switch`<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input-space row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch warning-active error-inactive switch-2x&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-input&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;active-inactive&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;checkbox&quot;</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">&quot;exampleSwitch&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-paddle&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;active-inactive&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;show-for-sr&quot;</span>&gt;</span>Do you like me?<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-active&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>Yes<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-inactive&quot;</span> <span class="hljs-attribute">aria-hidden</span>=<span class="hljs-value">&quot;true&quot;</span>&gt;</span>No<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;switch-value&quot;</span> <span class="hljs-attribute">for</span>=<span class="hljs-value">&quot;active-inactive&quot;</span>&gt;</span>.switch.error-active.warning-inactive/label&gt;
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>
