<section class="sg-block sg-section-top-bar">
      <div class="sg-text">
        <h3 id="top-bar" class="sg">Top Bar</h3>
        <p class="sg">
          <code class="sg">.top-bar</code>- This is "ACC Style" website headers. These should be used on any product that has multi pages and navigation beyond 1 to 2 tabs</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="top-bar">
            <div id="mobileMenu" class="hide-for-large">
              <div class="top-bar-left" onclick="$('#siteMenu .top-bar-left').toggleClass('display-block')">
                <a class="top-bar-toggle">
                  <i class="fa fa-bars"></i>&nbsp;Menu</a>
              </div>
              <div class="top-bar-right secondary" onclick="$('#siteMenu .search-bar').toggleClass('display-block')">
                <a class="top-bar-toggle  small condensable"><span class="condense">Search&nbsp;</span>
                  <i class="fa fa-search"></i>
                </a>
              </div>
               <div class="top-bar-right " onclick="$('#siteMenu .top-bar-right.user-nav').toggleClass('display-block')">
                <a class="top-bar-toggle small condensable"><span class="condense">Profile&nbsp;</span>
                  <i class="fa fa-user"></i>
                </a>
              </div>
            </div>
            <div id="siteMenu" class="stack-for-medium ">
              <div class="top-bar-left show-for-large">
                 <ul class="menu">
          <li class="dropdown-menu-item">
          <button type="button" data-toggle="example-dropdown"><i class="fa fa-holder" aria-hidden="true"></i> Toggle Dropdown </button>
            <div class="dropdown-pane double-column" id="example-dropdown" data-dropdown data-hover="true" data-hover-pane="true">
        <div class="row collapse">
          <div class="column medium-6">
          <ul class="submenu nav-level-1">
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li class="parent">
            <ul class="submenu nav-level-2">
            <li><a href="">Secondary Menu item</a></li>
            <li><a href="">Secondary Menu item</a></li>
            <li><a href="">Secondary Menu item</a></li>
            <li><a href="">Secondary Menu item</a></li>
            <li><a href="">Secondary Menu item</a></li>
            </ul> 
          </li>
          <li><a href="">Menu item</a></li>
        </ul>   
        </div>
          <div class="column medium-6"><ul class="submenu nav-level-1">
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
        </ul>
        </div>
        </div>
            </div>
          </li>
          <li>
            <a href="#">Two</a>
          </li>
          <li>
            <a href="#">Three</a>
          </li>
        </ul>
              </div>
                <div class="top-bar-right secondary show-for-large" onclick="$('#siteMenu .search-bar').toggleClass('display-block')">
                <ul class="menu"><li><a class="top-bar-toggle  small condensable"><span class="condense">Search&nbsp;</span>
                  <i class="fa fa-search"></i>
                </a></li></ul>
              </div>
              <div class="top-bar-right user-nav show-for-large">
                <ul class="menu">
                  <li>
                    <a href="">Drop Down</a>
                  </li>
                  <li>
                    <a href="#">Two</a>
                  </li>
                  <li>
                    <a href="#">Three</a>
                  </li>
                </ul>
              </div>
              <div class="search-bar">
              <div class="question">
              <div class="input-holder">
                  <div class="input-space column small-6 medium-9 large-10 ">
                    <input type="text" name="">
                  </div>
                  <div class="input-space column small-6 medium-3 large-2 ">
                    <button class="button expanded">Search</button>
                  </div>
              </div></div>
            </div>
            
            </div>
          </div>
        </div><pre class="sg-code sg-hidden"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"top-bar"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"hide-for-large"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"top-bar-left"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">"$('#siteMenu .top-bar-left').toggleClass('display-block')"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"top-bar-toggle"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"fa fa-bars"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>&amp;nbsp;Menu<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"top-bar-right"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">"$('#siteMenu .top-bar-left').toggleClass('display-block')"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"top-bar-toggle"</span>&gt;</span>Search&amp;nbsp;
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"fa fa-search"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"siteMenu"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"stack-for-medium"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"top-bar-left"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"show-for-large"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"menu"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"button"</span> <span class="hljs-attribute">data-toggle</span>=<span class="hljs-value">"example-dropdown"</span>&gt;</span>Toggle Dropdown<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"dropdown-pane double-column"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"example-dropdown"</span> <span class="hljs-attribute">data-dropdown</span> <span class="hljs-attribute">data-dropdown</span> <span class="hljs-attribute">data-hover</span>=<span class="hljs-value">"true"</span> <span class="hljs-attribute">data-hover-pane</span>=<span class="hljs-value">"true"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"row collapse"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"column medium-6"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"submenu nav-level-1"</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"parent"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"submenu nav-level-2"</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Secondary Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Secondary Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Secondary Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Secondary Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Secondary Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"column medium-6"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"submenu nav-level-1"</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Menu item<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>Two<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>Three<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"top-bar-right"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"show-for-large"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"menu"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Drop Down<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>Two<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>Three<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      <button class="sg-expando sg-expando-reveal"></button></div>
    </section>