 <section class="sg-block sg-section-top-bar">
      <div class="sg-text">
        <h3 id="top-bar" class="sg">Top Bar</h3>
        <p class="sg">
          <code class="sg">.top-bar</code>- This is modern website main nav. These should be used on any product that has multi pages and navigation beyond 1 to 2 tabs</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="siteMenu" id="siteMenu">
            <div class="top-bar hide-for-large" id="mobileMenu">
              <div class="top-bar-left" onclick="$(&apos;#siteMenu .top-bar-left&apos;).toggleClass(&apos;display-block&apos;)">
                <a class="top-bar-toggle">
                  <i class="fa fa-bars">
                  </i>
                  Menu
                </a>
              </div>
              <div class="top-bar-right secondary" onclick="$(&apos;#siteMenu .search-bar&apos;).toggleClass(&apos;display-block&apos;)">
                <a class="top-bar-toggle small ">
                  <i class="fa fa-search">
                  </i>
                  <span class="condense">
                    Search
                  </span>
                </a>
              </div>
              <div class="top-bar-right user-nav title" onclick="$(&apos;#siteMenu .top-bar-right.user-nav&apos;).toggleClass(&apos;display-block&apos;)">
                <a class="top-bar-toggle small ">
                  <i class="fa fa-user">
                  </i>
                  <span class="condense">
                    User
                  </span>
                </a>
              </div>
            </div>
            <div class="top-bar">
              <div class="top-bar-left show-for-large">
                <ul class="dropdown menu" data-dropdown-menu="">
                  <li class="has-submenu">
                    <a href="admin-seasons.html">
                      <b>Season:</b>ACC Guidance
                    </a>
                    <ul class="submenu menu vertical" data-submenu="" >
                      <li>
                        <a href="">NCDR</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="admin-applications.html">
                      Applications
                    </a>
                  </li>
                  <li>
                    <a href="admin-committees-dashboard.html">
                      Committees
                    </a>
                  </li>
                  <li>
                    <a href="admin-reports.html">
                      Reports
                    </a>
                  </li>
                </ul>
              </div>
              <div class="top-bar-right user-nav show-for-large" onclick="$(&apos;#siteMenu .search-bar&apos;).toggleClass(&apos;display-block&apos;)">
                <ul class="menu">
                  <li>
                    <a class="top-bar-toggle small condensable">
                      <span class="condense">
                        Search
                      </span>
                      <i class="fa fa-search">
                      </i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="search-bar">
              <div class="question">
                <div class="input-holder">
                  <div class="input-space column small-5 medium-3 large-2 ">
                    <select name="" id="">
                      <option value="">Open Committees</option>
                      <option value="">Members to Nominate</option>
                    </select>
                  </div>
                  <div class="input-space column small-6 medium-5 large-8 ">
                    <input name="" type="text">
                  </div>
                  <div class="input-space column small-1 medium-4 large-2 ">
                    <button class="button expanded small condensable">
                      <span class="condense ">Search</span>
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;siteMenu&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;siteMenu&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;top-bar hide-for-large&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;mobileMenu&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;top-bar-left&quot;</span> <span class="hljs-attribute">onclick</span>=<span class="hljs-value">&quot;$(&apos;#siteMenu .top-bar-left&apos;).toggleClass(&apos;display-block&apos;)&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;top-bar-toggle&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-bars&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        Menu
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;top-bar-right secondary&quot;</span> <span class="hljs-attribute">onclick</span>=<span class="hljs-value">&quot;$(&apos;#siteMenu .search-bar&apos;).toggleClass(&apos;display-block&apos;)&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;top-bar-toggle small &quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-search&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;condense&quot;</span>&gt;</span>
          Search
        <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;top-bar-right user-nav title&quot;</span> <span class="hljs-attribute">onclick</span>=<span class="hljs-value">&quot;$(&apos;#siteMenu .top-bar-right.user-nav&apos;).toggleClass(&apos;display-block&apos;)&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;top-bar-toggle small &quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-user&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;condense&quot;</span>&gt;</span>
          User
        <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;top-bar&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;top-bar-left show-for-large&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;dropdown menu&quot;</span> <span class="hljs-attribute">data-dropdown-menu</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;has-submenu&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;admin-seasons.html&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">b</span>&gt;</span>Season:<span class="hljs-tag">&lt;/<span class="hljs-title">b</span>&gt;</span>ACC Guidance
          <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;submenu menu vertical&quot;</span> <span class="hljs-attribute">data-submenu</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">&quot;display:none;&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>NCDR<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;admin-applications.html&quot;</span>&gt;</span>
            Applications
          <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;admin-committees-dashboard.html&quot;</span>&gt;</span>
            Committees
          <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">&quot;admin-reports.html&quot;</span>&gt;</span>
            Reports
          <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;top-bar-right user-nav show-for-large&quot;</span> <span class="hljs-attribute">onclick</span>=<span class="hljs-value">&quot;$(&apos;#siteMenu .search-bar&apos;).toggleClass(&apos;display-block&apos;)&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;menu&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;top-bar-toggle small condensable&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;condense&quot;</span>&gt;</span>
              Search
            <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-search&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;search-bar&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;question&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;input-holder&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;input-space column small-5 medium-3 large-2 &quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">select</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">&quot;&quot;</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>Open Committees<span class="hljs-tag">&lt;/<span class="hljs-title">option</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">&quot;&quot;</span>&gt;</span>Members to Nominate<span class="hljs-tag">&lt;/<span class="hljs-title">option</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">select</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;input-space column small-6 medium-5 large-8 &quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">&quot;&quot;</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;input-space column small-1 medium-4 large-2 &quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button expanded small condensable&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;condense &quot;</span>&gt;</span>Search<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-search&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>