 <section class="sg-block sg-section-data-display">
      <div class="sg-text">
        <h3 id="data-display" class="sg">Score Bars (.data-display)</h3>
        <p class="sg">
          <code class="sg">.data-display</code> Scorebars are following bars that give automatic feed back to changes on the calculators.
          <br class="sg">!! Requires Javascript to Function !!</p>
          <a href="data-display.html" target="_blank" class="button small">Open new windw to see it at work.</a>
      </div>
</section>