<div class="data-display">
 	<header class="header page">
	 	<a href="#" class="logo"><img src="assets/img/headerlogo.svg"  alt="ACC Statin Intolerance Guidelines"></a>
	 	<ul class="nav tabs primary">
			<li class="icon"><a class="home">  <i class="fa fa-holder"></i></a></li>
			<li id="calculator-Tab" class="selected"><a href="#" class="condensable small">Eval  <span class="condense">uate</span></a></li>
			<li id="recommendation-Tab" class=""><a href="#" class="condensable small">Recommend  <span class="condense">ation</span></a></li>
		</ul>
	</header>
	<div class="data row">
		<div class="columns small-6">
			<strong class="h3">Risk Scores</strong>
			<strong>CHA2DS2-VASc: <span>3</span></strong>
			<strong>HAS-BLED: <span>2.1</span></strong>
		</div>
		<div class="columns small-6">	
			<strong class="h3">Renal Status</strong>
			<strong>Cr: <span>1.2</span>  (CrCL: <span >1.4</span> )</strong>
			<strong>CKD: <span >6</span></strong>
		</div>
	</div>
</div>