
<div class="row">
  <header class="header page">
  	<div class="row">
  		<div class="column medium-6">
    <a href="index.html" class="logo">
      <img src="assets/img/headerlogo.svg" height="50" alt="ACC Statin Intolerance Guidelines">
    </a>
  			
  		</div>
  		<div class="column medium-6">
    {% include 'admin/sections/topbar-global' %}
    <div class="row">
    	<div class="column">
    		<div class="content-padding section-padding">
    			<div class="text-right">Optimus Prime | <em>Global Admin</em></div>
    		</div>
    	</div>
    </div>
  			
  		</div>
  	</div>
	</header>
{% include 'admin/sections/topbar-season' %}	
</div>