<div class="row">
  <header class="header page">
    <a href="/" class="logo">
      <img src="assets/img/headerlogo.svg" alt="ACC Statin Intolerance Guidelines">
    </a>
	</header>
	{% include 'admin/sections/topbar' %}
</div>