<div class="selected">
<div class="toggle" data-bind="click:panelShow">
    <h4 class="no-vertical-margin">
        <i class="fa fa-holder"> </i>
        Committee Name
        <div class="float-right no-vertical-margin">
                <select class="no-vertical-margin" id="" name="">
                    <option value="">
                        Select One
                    </option>
                    <option value="InElegible">
                        InElegible
                    </option>
                    <option default="" value="">
                        Elegible
                    </option>
                    <option value="">
                        Unknown
                    </option>
                </select>
            </div>
        <div class="sub-line link">
            Hide Statement of interest
        </div>
    </h4>
</div>
<div class="collapsable-panel inset">
    <div class="bar close">
        <a class="action-btn close" data-bind="click:panelHide">
            <i class="fa fa-holder">
            </i>
            close
        </a>
    </div>
    <div class="content">
        <div class="row">
            <div class="column small-12">
                <h4>
                    Statement of Interest
                    <span class="strong">
                        (Unique Statement)
                    </span>
                </h4>
                <p>
                    {% include "elements/lorem" %}
                </p>
            </div>
        </div>
    </div>
    <div class="bar jumpToTop">
    </div>
</div>
</div>
<div class="selected">
<div class="toggle" data-bind="click:panelShow">
    <h4 class="no-vertical-margin">
        <i class="fa fa-holder"> </i>
        Committee Name
        <div class="float-right no-vertical-margin">
                <select class="no-vertical-margin" id="" name="">
                    <option value="">
                        Select One
                    </option>
                    <option value="InElegible">
                        InElegible
                    </option>
                    <option default="" value="">
                        Elegible
                    </option>
                    <option value="">
                        Unknown
                    </option>
                </select>
            </div>
        <div class="sub-line link">
            Hide Statement of interest
        </div>
    </h4>
</div>
<div class="collapsable-panel inset">
    <div class="bar close">
        <a class="action-btn close" data-bind="click:panelHide">
            <i class="fa fa-holder">
            </i>
            close
        </a>
    </div>
    <div class="content">
        <div class="row">
            <div class="column small-12">
                <h4>
                    Statement of Interest
                    <span class="strong">
                        (Unique Statement)
                    </span>
                </h4>
                <p>
                    {% include "elements/lorem" %}
                </p>
            </div>
        </div>
    </div>
    <div class="bar jumpToTop">
    </div>
</div>
</div>
<div class="selected">
<div class="toggle" data-bind="click:panelShow">
    <h4 class="no-vertical-margin">
        <i class="fa fa-holder"> </i>
        Committee Name
        <div class="float-right no-vertical-margin">
                <select class="no-vertical-margin" id="" name="">
                    <option value="">
                        Select One
                    </option>
                    <option value="InElegible">
                        InElegible
                    </option>
                    <option default="" value="">
                        Elegible
                    </option>
                    <option value="">
                        Unknown
                    </option>
                </select>
            </div>
        <div class="sub-line link">
            Hide Statement of interest
        </div>
    </h4>
</div>
<div class="collapsable-panel inset">
    <div class="bar close">
        <a class="action-btn close" data-bind="click:panelHide">
            <i class="fa fa-holder">
            </i>
            close
        </a>
    </div>
    <div class="content">
        <div class="row">
            <div class="column small-12">
                <h4>
                    Statement of Interest
                    <span class="strong">
                        (Unique Statement)
                    </span>
                </h4>
                <p>
                    {% include "elements/lorem" %}
                </p>
            </div>
        </div>
    </div>
    <div class="bar jumpToTop">
    </div>
</div>
</div>
<div class="selected">
<div class="toggle" data-bind="click:panelShow">
    <h4 class="no-vertical-margin">
        <i class="fa fa-holder"> </i>
        Committee Name
        <div class="float-right no-vertical-margin">
                <select class="no-vertical-margin" id="" name="">
                    <option value="">
                        Select One
                    </option>
                    <option value="InElegible">
                        InElegible
                    </option>
                    <option default="" value="">
                        Elegible
                    </option>
                    <option value="">
                        Unknown
                    </option>
                </select>
            </div>
        <div class="sub-line link">
            Hide Statement of interest
        </div>
    </h4>
</div>
<div class="collapsable-panel inset">
    <div class="bar close">
        <a class="action-btn close" data-bind="click:panelHide">
            <i class="fa fa-holder">
            </i>
            close
        </a>
    </div>
    <div class="content">
        <div class="row">
            <div class="column small-12">
                <h4>
                    Statement of Interest
                    <span class="strong">
                        (Unique Statement)
                    </span>
                </h4>
                <p>
                    {% include "elements/lorem" %}
                </p>
            </div>
        </div>
    </div>
    <div class="bar jumpToTop">
    </div>
</div>
</div>
<div class="selected">
<div class="toggle" data-bind="click:panelShow">
    <h4 class="no-vertical-margin">
        <i class="fa fa-holder"> </i>
        Committee Name
        <div class="float-right no-vertical-margin">
                <select class="no-vertical-margin" id="" name="">
                    <option value="">
                        Select One
                    </option>
                    <option value="InElegible">
                        InElegible
                    </option>
                    <option default="" value="">
                        Elegible
                    </option>
                    <option value="">
                        Unknown
                    </option>
                </select>
            </div>
        <div class="sub-line link">
            Hide Statement of interest
        </div>
    </h4>
</div>
<div class="collapsable-panel inset">
    <div class="bar close">
        <a class="action-btn close" data-bind="click:panelHide">
            <i class="fa fa-holder">
            </i>
            close
        </a>
    </div>
    <div class="content">
        <div class="row">
            <div class="column small-12">
                <h4>
                    Statement of Interest
                    <span class="strong">
                        (Unique Statement)
                    </span>
                </h4>
                <p>
                    {% include "elements/lorem" %}
                </p>
            </div>
        </div>
    </div>
    <div class="bar jumpToTop">
    </div>
</div>
</div>