  <div class="selected">
<h4 class="toggle" data-bind="click:panelShow">
    <div class="row column">
        <i class="fa fa-holder">
        </i>
        <span class="text">
            Committee 1
            <div class="float-right">
                <a class="button tiny radius secondary" href="">
                    View Committee Detials
                </a>
            </div>
        </span>
    </div>
</h4>
<div class="collapsable-panel inset">
    <div class="bar close">
        <a class="action-btn close" data-bind="click:panelHide">
            <i class="fa fa-holder">
            </i>
            close
        </a>
    </div>
    <div class="content">
        <div class="row">
            <div class="column small-12">
                <h4>
                    Statement of Interest
                    <span class="strong">
                        (Unique Statement)
                    </span>
                </h4>
                <p>
                    {% include "elements/lorem" %}
                </p>
            </div>
        </div>
        <div class="row group-divide">
            <div class="question column small-12">
                <div class="switch-input-space">
                    <label class="switch-value strong" for="yes-no-1">
                        Is this candidate elegible for this Activity?
                    </label>
                    <div class="switch tiny radius">
                        <input class="switch-input" id="yes-no-1" name="exampleSwitch" type="checkbox">
                            <label class="switch-paddle" for="yes-no-1">
                                <span class="show-for-sr">
                                    Do you like me?
                                </span>
                                <span aria-hidden="true" class="switch-active">
                                    Yes
                                </span>
                                <span aria-hidden="true" class="switch-inactive">
                                    No
                                </span>
                            </label>
                        </input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bar jumpToTop">
    </div>
</div>
</div>
<div><h4 class="toggle" data-bind="click:panelShow">
    <i class="fa fa-holder">
    </i>
    <span class="text">
        Committee 2
    </span>
    <div class="float-right">
        <a class="button tiny radius hollow secondary" href="">
            View Committee Detials
        </a>
    </div>
</h4>
<div class="collapsable-panel ">
</div></div>
<div><h4 class="toggle" data-bind="click:panelShow">
    <i class="fa fa-holder">
    </i>
    <span class="text">
        Committee 3
    </span>
    <div class="float-right">
        <a class="button tiny radius hollow secondary" href="">
            View Committee Detials
        </a>
    </div>
</h4>
<div class="collapsable-panel ">
</div></div>
<div class="selected">
<h4 class="toggle" data-bind="click:panelShow">
    <div class="row column">
        <i class="fa fa-holder">
        </i>
        <span class="text">
            Committee 1
            <div class="float-right">
                <a class="button tiny radius secondary" href="">
                    View Committee Detials
                </a>
            </div>
        </span>
    </div>
</h4>
<div class="collapsable-panel inset">
    <div class="bar close">
        <a class="action-btn close" data-bind="click:panelHide">
            <i class="fa fa-holder">
            </i>
            close
        </a>
    </div>
    <div class="content">
        <div class="row">
            <div class="column small-12">
                <h4>
                    Statement of Interest
                    <span class="italic">
                        (Generic Statement)
                    </span>
                   
                </h4>
                <p>
                    {% include "elements/lorem" %}
                </p>
            </div>
        </div>
        <div class="row group-divide">
            <div class="question column small-12">
                <div class="switch-input-space">
                    <label class="switch-value strong" for="yes-no-1">
                        Is this candidate elegible for this Activity?
                    </label>
                    <div class="switch tiny radius">
                        <input class="switch-input" id="yes-no-1" name="exampleSwitch" type="checkbox">
                            <label class="switch-paddle" for="yes-no-1">
                                <span class="show-for-sr">
                                    Do you like me?
                                </span>
                                <span aria-hidden="true" class="switch-active">
                                    Yes
                                </span>
                                <span aria-hidden="true" class="switch-inactive">
                                    No
                                </span>
                            </label>
                        </input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bar jumpToTop">
    </div>
</div></div>
<div><h4 class="toggle" data-bind="click:panelShow">
    <i class="fa fa-holder">
    </i>
    <span class="text">
        Committee 5
    </span>
    <div class="float-right">
        <a class="button tiny radius hollow secondary" href="">
            View Committee Detials
        </a>
    </div>
</h4>
<div class="collapsable-panel ">
</div></div>
