<div class="siteMenu" id="siteMenu">
<div class="top-bar hide-for-large" id="mobileMenu">
    <div class="top-bar-left" onclick="$('#siteMenu .top-bar-left').toggleClass('display-block')">
        <a class="top-bar-toggle">
            <i class="fa fa-bars">
            </i>
            Menu
        </a>
    </div>
    <div class="top-bar-right secondary" onclick="$('#siteMenu .search-bar').toggleClass('display-block')">
        <a class="top-bar-toggle small ">
            <i class="fa fa-search">
            </i>
            <span class="condense">
                 Search
            </span>
        </a>
    </div>
    <div class="top-bar-right user-nav title" onclick="$('#siteMenu .top-bar-right.user-nav').toggleClass('display-block')">
        <a class="top-bar-toggle small ">
            <i class="fa fa-user">
            </i>
            <span class="condense">
                User
            </span>
        </a>
    </div>
</div>
    <div class="top-bar">
        <div class="top-bar-left show-for-large">
            <ul class="menu">
                <li>
                    <a href="user-dashboard.html">
                       <i class="fa fa-pie-chart"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a href="user-open-requests.html">
                        Requests <sup>(42)</sup>
                    </a>
                </li>
                <li>
                    <a href="user-open-committees.html">
                        Open Committees <sup>(234)</sup>
                    </a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right user-nav show-for-large">
            <ul class="menu">
                <li class="title">
                    <a href="user-profile.html"><i class="fa fa-user" aria-hidden="true"></i> Digital CV </a>
                </li>
                <li class="">
                    <a href="user-profile.html">
                      My ACC &nbsp;<i class="fa fa-external-link-square" aria-hidden="true"></i>  
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="search-bar">
        <div class="question">
            <div class="input-holder">
                <div class="input-space column small-5 medium-4 large-2 ">
                    <select name="" id="">
                        <option value="">Open Committees</option>
                        <option value="">Members to Nominate</option>
                    </select>
                </div>
                <div class="input-space column small-6 medium-4 large-8 ">
                    <input name="" type="text">
                    
                </div>
                <div class="input-space column small-1 medium-4 large-2 ">
                    <button class="button expanded small condensable">
                        <span class="condense ">Search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top-bar">
    <div class="stack-for-medium" id="siteMenu">
        <div class="top-bar-left show-for-large">
            <ul class="menu dropdown" data-dropdown-menu>
                <li>
                    <a href="admin-applications.html">
                        <b>Season:</b> ACC Guidance
                    </a>
                    <ul class="menu">
                        <li><a href="">NCDR</a></li>
                    </ul>
                </li>

                <li>
                    <a href="admin-applications.html">
                        Applications
                    </a>
                </li>
                <li>
                    <a href="admin-committees-dashboard.html">
                        Committees
                    </a>
                </li>
                <li>
                    <a href="admin-reports.html">
                        Reports
                    </a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right secondary show-for-large" onclick="$('#siteMenu .search-bar').toggleClass('display-block')">
            <ul class="menu">
                <li>
                    <a class="top-bar-toggle small condensable">
                        <span class="condense">
                            Search
                        </span>
                        <i class="fa fa-search">
                        </i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="search-bar">
            <div class="question">
                <div class="input-holder">
                    <div class="input-space  column small-5 medium-4 large-2 ">
                        <select name="" id="">
                          <option value="">Member Applications</option>
                          <option value="">Members</option>
                        </select>
                    </div>
                    <div class="input-space column small-6 medium-4 large-8 ">
                        <input name="" type="text">
                        </input>
                    </div>
                    <div class="input-space column small-1 medium-4 large-2 ">
                        <button class="button expanded small condensable">
                             
                             <span class="condense ">Search</span>
                             <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
