<div class="row">
    <div class="column">
        <div class="content-padding section-padding">
            <nav class="nav-utility">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="admin-seasons.html">
                            <i aria-hidden="true" class="fa fa-calendar">
                            </i>
                            Seasons
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin-users.html">
                            <i aria-hidden="true" class="fa fa-user">
                            </i>
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin-questions.html">
                            <i aria-hidden="true" class="fa fa-question-circle">
                            </i>
                            Questions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin-messages.html">
                            <i aria-hidden="true" class="fa fa-comment">
                            </i>
                            Messaging
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin-com-management.html">
                            <i aria-hidden="true" class="fa fa-users">
                            </i>
                            Committees
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin-notes.html">
                           <i class="fa fa-commenting-o" aria-hidden="true"></i>
                           All Notes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Logout
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>