
<div class="row" id="SectionName">
    <div class="column">
        <h2>
            Education
        </h2>
        <div class="call-out">
        {% comment %}message{% endcomment %}
        
        </div>
        <div class="repeater">
         {% comment %}   .render>ul.render-holder>li.loud+li^.render-actions>a.edit>i.fa.fa-holder+span.text{Edit}^a.delete>i.fa.fa-holder+span.text{Delete}{% endcomment %}

        </div>

    </div>
</div>
