<script type="text/javascript" src="assets/js/dist/jquery.js"></script>
<script type="text/javascript" src="assets/js/dist/knockout.js"></script>
<script type="text/javascript" src="assets/js/underscore.js"></script>
<script type="text/javascript" src="assets/js/dist/foundation.js"></script>
<script type="text/javascript" src="assets/js/koui.js"></script>
<script type="text/javascript" src="assets/js/jquery.waypoints.js"></script>
<script type="text/javascript" src="assets/js/jquery.panzoom.js"></script>
<script type="text/javascript" src="assets/js/waypoint/shortcuts/sticky.js"></script>
<script type="text/javascript" src="assets/js/d3.js"></script>
<script type="text/javascript" src="assets/js/pager.js"></script>
{% comment %}<script type="text/javascript" src="assets/js/vendor.min.js"></script>{% endcomment %}
<script type="text/javascript" src="assets/js/jquery.panzoom.js"></script>
<!-- <script type="text/javascript" src="assets/js/app.js"></script>-->
 <script type="text/javascript" src="assets/js/appdata.js"></script>
<script type="text/javascript" src="assets/js/formdata.js"></script>
<script type="text/javascript" src="assets/js/appviewmodel.js"></script>
<script type="text/javascript" src="assets/js/query-string.js"></script>
<script type="text/javascript" src="assets/js/email.js"></script>
<script type="text/javascript" src="assets/js/customAnalytics.js"></script>
{% comment %}<script type="text/javascript" src="assets/js/application.min.js"></script>{% endcomment %}
<script>
	$(document).foundation();
</script>
<style>

</style>
<script type="text/javascript" src="assets/js/daptChart.js"></script>
<script>


$(function() {
	$(".selectable a.button").click(function(e){
	e.preventDefault();
	$(this).addClass('selected').siblings().removeClass('selected');


});
     $("#Affiliate-Society a").click(function(e){
     	console.log("click");
        if($(this).data( "answer" ) === "yes" ){
            $("#Affiliate-Society-No,#sponsorHolder").slideUp();

            $("#Affiliate-Society-Yes, #societyHolder").slideDown();
        }
        if($(this).data( "answer" ) === "no" ){
            $("#Affiliate-Society-No,#sponsorHolder").slideDown();
            $("#Affiliate-Society-Yes, #societyHolder").slideUp();
        }

    });
});



</script>
<style>
select{
	-webkit-user-select: auto !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index:1000 !important; 
	}
</style>
