<div class="row">
    <div class="column small-10 medium-6">
        <h2 class="no-vertical-margin">Results</h2>
        </div>
    <div class="column small-2 medium-6">
        <div class="show-for-medium">
            <div class="button-group small float-right no-vertical-margin">
                <a href="javascript:void(0)" onclick="ShowEmailSelectedModal()" class="button secondary disabled">Email <span class="hidden-sm">Selected</span></a>
                <a href="javascript:void(0)" onclick="PrintSelected()" class="button secondary disabled">Print <span class="hidden-sm">Selected</span></a>
                <a href="javascript:void(0)" onclick="ViewSelected()" class="button secondary disabled">View <span class="hidden-sm">Selected</span></a>
            </div>
        </div>
        <div class="hide-for-medium text-right">
            <button class="button secondary tiny" type="button" data-toggle="example-dropdown"><i class="fa fa-bars"></i></button>
            <div class="dropdown-pane no-padding" id="example-dropdown" data-dropdown data-auto-focus="true">
                <nav class="nav-list small no-margin">
                    <ul>
                        <li><a href="javascript:void(0)" onclick="ShowEmailSelectedModal()"><span class="text">Email</span><i class="fa fa-envelope"></i> </a></li>
                        <li><a href="javascript:void(0)" onclick="PrintSelected()"><span class="text">Print</span><i class="fa fa-print"></i> </a></li>
                        <li><a href="javascript:void(0)" onclick="ViewSelected()"><span class="text">View</span><i class="fa fa-eye"></i> </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>