<div class="switch-input-space column small-6">
    <div class="switch radio">
        <input class="switch-input" id="yes-no-radio" name="radio-switch" type="radio">
            <label class="switch-paddle" for="yes-no-radio">
                <span class="show-for-sr">
                    Do you like me?
                </span>
                <span aria-hidden="true" class="switch-active">
                    <i class="fa fa-holder">
                    </i>
                </span>
                <span aria-hidden="true" class="switch-inactive">
                    <i class="fa fa-holder">
                    </i>
                </span>
            </label>
        </input>
    </div>
</div>