<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/styledown.css">
  <link rel="stylesheet" href="assets/css/normalize.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,600,400,300|Roboto+Slab:400,700|Raleway:300">
  <link rel="stylesheet" href="assets/css/jquery-ui.css">
  <link rel="stylesheet" href="assets/css/jquery-uistructure.css">
  <link rel="stylesheet" href="assets/css/foundation-sites.css">
   <link rel="stylesheet" href="assets/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/index.css" id="theme">

</head>
    <body>
    <div class="mobile-offcanvas-wrapper">
      <section class="split-layout fill-page-height medium  navOn">
        <aside id="OMA_Sidebar" class="split-sidebar">
                <div class="branding row collapse hide-for-small-only">
          <div class="column medium-6"><h2 class="oma logo">American College of Cardiology</h2></div>
          <div class="column medium-6"><h2 class="oma title">Online Membership Application</h2></div>
        </div>
        <div class="row blue-bar hide-for-small-only"></div>
<div id="autoSave" class="row autosave-block hide" style="position: fixed;">
    <div class="column small-12">
        <i class="fa fa-spinner fa-spin"></i> Auto Save
    </div>
</div>
    <div class="user-id-block row collapse">
        <img class="user-pic" src="Assets/img/profile-pic-default.jpg" alt="Avatar of Members Name">
        <ul class="no-bullet user-info">
            <li class="user-name">
                <span class="fullName">
                    Sanjiv Agrawal
                    <span class="userDesignation">, DM, MD</span>
                </span> 
            </li>
            
      <li class="">CV Team International</li>
      
      <li><a class="link" href="index.html">Save &amp; Signout</a></li>
        </ul>
    </div>

     <nav class="nav-list nav-checklist">
        <ul>
            <li {% if page.id == "personal" %} class="selected"{% endif %}>
                <a href="personalinfo-cvti.html">
                    <span class="text">
                        Personal Information
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
            <li class="disabled">
                <a href="choosemembership.html">
                    <span class="text">
                        Membership Selection
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
            <li  {% if page.id == "prov" %} class="selected"{% endif %}  >
                <a href="professionalverification.html">
                    <span class="text">
                       Professional Verification
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
            <li  {% if page.id == "submit" %} class="selected"{% endif %}  >
                <a href="submitapplication.html">
                    <span class="text">
                        Submit
                    </span>
                    <i class="fa fa-holder-dynamic">
                    </i>
                </a>
            </li>
        </ul>
    </nav>

        </aside>
        <article class="split-content">
             <div class="page">
               <div class="section-nav back">
                  <a>
                    <div class="circle">
                      <i class="fa fa-holder"></i>
                    </div>
                    <div class="text">Back to {Previous Page Name}</div>
                  </a>
                </div>
               <div class="page-wrapper">
                {{ content}}
                </div>
               <div class="section-nav forward">
                <a>
                  <div class="circle">
                    <i class="fa fa-holder"></i>
                  </div>
                  <div class="text">Forward to {Next Page Name}</div>
                </a>
              </div>
             </div>
        </article>
      </section>
    </div>
    {% include footer.html %}
    {% include scripts.html %}

    </body>
</html>