<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/styledown.css">
  <link rel="stylesheet" href="assets/css/normalize.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,600,400,300|Roboto+Slab:400,700|Raleway:300">
  <link rel="stylesheet" href="assets/css/jquery-ui.css">
  <link rel="stylesheet" href="assets/css/jquery-uistructure.css">
  <link rel="stylesheet" href="assets/css/foundation-sites.css">
   <link rel="stylesheet" href="assets/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/index.css" id="theme">

</head>
    <body>
    <div class="mobile-offcanvas-wrapper">
      <section class="split-layout fill-page-height medium  navOn">
        <aside id="OMA_Sidebar" class="split-sidebar">
            {% include sections/sidebar-error.liquid %}
        </aside>
        <article class="split-content">
             <div class="page">
               
                 <div id="backNav" class="section-nav back">
    <a>
      <div class="circle">
        <i class="fa fa-holder"></i>
      </div>
      <div class="text">Back to {Previous Page Name}</div>
    </a>
  </div>
              
                <div class="page-wrapper">
                {{ content}}
              </div>
              
                               <div id="forwardNav" class="section-nav forward">
    <a>
      <div class="circle">
        <i class="fa fa-holder"></i>
      </div>
      <div class="text">Forward to {Next Page Name}</div>
    </a>
  </div>

             </div>
        </article>
      </section>
    </div>
     <div class="reveal " data-reveal="" id="exampleModal1">
                <button aria-label="Close modal" class="close-button" data-close="" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
           
            <div class="callout warning text-center"><h1>
                <i class="warning fa">

                </i>
                Warning!
                <div class="sub-line">
                    Changing Membership Type Mid Application Process might force you to answer some sections again
                </div>
            </h1></div>
            <p >
                The particulars of each membership application are streamlined to ask the minimum requirements hense some sections that overlap between types might ask questions differently.
            </p>
            
            <div class="row group-divide">
                <div class="column ">
                <h6 class="text-center single-line-height">
                    Do you want to continue and select a new Member Type?
                </h6>
                <br>
                    <div class="button-group small expanded">
                        <a class="button secondary" href="">
                            Yes, Continue
                        </a>
                        <a class="button" href="">
                            No, Nevermind
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% include footer.html %}
    {% include scripts.html %}
{% include elements/auto-save.liquid %}
    </body>
</html>