<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>My Style Guide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/styledown.css">
  <link rel="stylesheet" href="assets/css/normalize.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,600,400,300|Roboto+Slab:400,700|Raleway:300">
  <link rel="stylesheet" href="assets/css/jquery-ui.css">
  <link rel="stylesheet" href="assets/css/jquery-uistructure.css">
  <link rel="stylesheet" href="assets/css/foundation-sites.css">
   <link rel="stylesheet" href="assets/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/index.css" id="theme">

</head>
    <body>
    <div class="mobile-offcanvas-wrapper">
      <section class="split-layout fill-page-height medium reverse navOn">
        <aside class="sidebar">
            {% include sections/sidebar-default.liquid %}
        </aside>
        <article class="split-content">
              <div class="page-wrapper">
                {{ content}}
              </div>
        </article>
      </section>
    </div>
    {% include footer.html %}
    {% include scripts.html %}

    </body>
</html>