{% extends 'layouts/admin-committee-layout' %}
{% block content %}
<div class="page-header">
		<div class="row section-padding">
			<div class="column">
				<h1>Applications</h1>
			</div>
		</div>
</div>
<div class="">
	<div class="page-wrapper layer-down" >

		<div class="row">
			<div class="card">
				<div class="colored-paper">
					<h2 class="no-vertical-margin">Reviewable Applications
						<div class="float-right button-group tiny no-vertical-margin">
							<a href="" class="secondary button">Filter</a>
							<a href="" class=" secondary button">Report</a>
						</div>
					</h2 >
				</div>
				{% include 'admin/elements/admin-table-searchbar' %}
				<div class="colored-paper grey-20 p-t-05em p-b-05em"  style="margin-bottom:.5em;">
                    <div class="">
                        <a href="" class="button hollow round tiny">Started/Draft</a>
                        <a href="" class="button tiny round ">Pending Revision</a>
                        <a href="" class="button hollow round tiny">Submitted</a>
                        <a href="" class="button hollow round tiny">Reviewed</a>
                        <a href="" class="button hollow round tiny">Submitted</a>
                        <a href="" class="button hollow round tiny">All</a>
                    </div>
                </div>
				<table id="application" class="table banded desaturate">
					{% include "admin/elements/app-thead" %}
					{% comment %}<tbody id="Draft">
						<tr class="seperator disabled">
							<td colspan="10">Started/Draft <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% include 'admin/elements/application-rows' %}
					</tbody>{% endcomment %}
					<tbody id="Revisions">
						{% comment %}<tr class="seperator disabled">
							<td colspan="10">Pending Revision <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% endcomment %}
						{% include 'admin/elements/application-rows' %}						
					</tbody>
					{% comment %}<tbody id="Submitted">
						<tr class="seperator highlighted">
							<td colspan="10">Submitted <a href="" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% include 'admin/elements/application-rows' %}
					</tbody>
					<tbody id="Reviewed">	
						<tr class="seperator success">
							<td colspan="10">Reviewed <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% include 'admin/elements/application-rows' %}
					</tbody>
					<tbody id="Rejected">
						<tr class="seperator error">
							<td colspan="10">Rejected <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>						
						{% include 'admin/elements/application-rows' %}
					</tbody>{% endcomment %}
				</table>
				{% include "elements/card-pagination-bottom"%}
			</div>
		</div>
	</div>
</div>
<style>
#Draft .dates .submitted,
table .dates .modified,
table .dates .admin,
table .dates .reviewed {
    display: none;
}
#Revisions .dates .modified {display: inline-block;}
#Reviewed .dates .reviewed {display: inline-block;}
#Rejected .dates .admin {display: inline-block;}

</style>
{% endblock %}

