{% extends 'layouts/admin-layout' %}
{% block content %}
<div class="paper-page page">
    <div class="section-nav back">
        <a href="admin-committees-dashboard.html">
            <div class="circle">
                <i class="fa fa-holder-dynamic">
                </i>
            </div>
            <div class="text">
                Back to Committee Dashboard
            </div>
        </a>
    </div>
    <div class="page-wrapper">
        <div class="row ">
            <div class="column">
                <h1 class="no-vertical-margin">
                    Committee Name ABC
                </h1>
            </div>
        </div>
    </div>
    <nav class="overlap nav">
        <ul class="tabs ">
            <li class="tab-title">
                <a class="home" href="admin-committees-details.html">
                    <i class="fa fa-holder">
                    </i>
                    Committee Details
                </a>
            </li>
            <li class="tab-title is-active">
                <a href="admin-committees.html">
                    Current Nominees
                </a>
            </li>
            <li class="tab-title disabled">
                <a href="admin-committees.html">
                    Appointment
                </a>
            </li>
        </ul>
    </nav>
    <div class="page-wrapper">
        <div class="row column ">
            <h2 class="no-vertical-margin">
                Current Nominees
                <div class="float-right button-group tiny no-vertical-margin">
                    <a class=" secondary button" href="">
                        Report
                    </a>
                </div>
            </h2>
        </div>
    </div>
</div>
<div class="mobile-offcanvas-wrapper" style="border-top:1px solid grey">
    <section class="split-layout medium">
        <aside class="split-sidebar ">
            <div class="">
                <div class="colored-paper no-margin ">
                    <h4 class="no-vertical-margin">
                        Elegible
                    </h4>
                </div>
                <div class="section-padding">
                    <nav class="nav nav-list">
                        <ul>
                            <li class="selected">
                                <a href="">
                                    <span class="text">
                                        <span class="name">
                                            Doctor M&amp;M
                                        </span>
                                        <span>
                                            FACC
                                        </span>
                                    </span>
                                    <i class="fa fa-arrow-right">
                                    </i>
                                </a>
                            </li>
                            <li>
                                {% include 'elements/nominee' %}
                            </li>
                        </ul>
                    </nav>
                   <div class="content-padding">
                        <a class="small expanded secondary button" href="">
                        Nominate Member Not In List
                    </a>
                   </div>
                </div>
                <div class="colored-paper no-margin warning">
                    <h4 class="no-vertical-margin">
                        <i class="fa fa-question-circle">
                        </i>
                        Unknown Elegiblity
                    </h4>
                </div>
                <div class="section-padding">
                    <nav class="nav nav-list">
                        <ul>
                            <li>
                                {% include 'elements/nominee' %}
                            </li>
                            <li>
                                {% include 'elements/nominee' %}
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="colored-paper no-margin disabled">
                    <h4 class="no-vertical-margin">
                        Inelegible
                    </h4>
                </div>
                <div class="section-padding content-padding">
                    <a class="link" href="">
                        view inelegible members
                    </a>
                </div>
            </div>
        </aside>
        <article class="split-content page paper-page" style="background:url('Assets/img/textured_paper.png') repeat, url('Assets/img/bottom-shade.png') bottom repeat-x, url('Assets/img/top-shade.png') top repeat-x">
            <div class="page-wrapper" style="max-width: 100%">
                <div class="row column">
                    <div class="card">
                        <div class="colored-paper">
                            <h2 class="single-line-height no-vertical-margin">
                                <span class="float-right">
                                    <select id="" name="">
                                        <option default="" value="">
                                            Elegible
                                        </option>
                                        <option value="">
                                            InElegible
                                        </option>
                                        <option value="">
                                            Unknown
                                        </option>
                                    </select>
                                </span>
                                Doctor Beta, FACC
                                <span class="sub-line">
                                    email@email.com
                                </span>
                            </h2>
                        </div>
                        <div class="row section-padding">
                            <div class="column medium-6">
                                <div class="section-padding content-padding callout highlighted">
                                    <h3>
                                        Statement of Interest
                                    </h3>
                                    <p>
                                        {% include 'elements/lorem' %}
                                    </p>
                                </div>
                                <div class="section-padding content-padding ">
                                    <h3>
                                        Competency
                                    </h3>
                                    <div class="row">
                                       <div class="column">
                                            <b>Leadership</b>
                                        <div class="float-right">
                                            Self:&nbsp;<strong>4.3</strong>/Peer:&nbsp;<strong>2.6</strong>
                                        </div>
                                       </div>
                                        <div class="column">
                                            <b>Technical</b>
                                        <div class="float-right">
                                            Self:&nbsp;<strong>4.9</strong>/Peer:&nbsp;<strong>4.6</strong>
                                        </div>
                                       </div>
                                    </div>
                                    <h3>Messaging Histroy</h3>
                                    <ul>
                                        <li>Date X Emailed User</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column medium-6">
                                <div class="seciton-padding">
                                    <div class="h3">
                                        {% include 'elements/stars'%}
                                    </div>
                                    <h3>
                                        Comment
                                    </h3>
                                    <textarea id="" name="" rows="5">
                                    </textarea>
                                    <a class="tiny button float-right" href="">
                                        Add Comment
                                    </a>
                                    <h3>
                                        Committee Ranking
                                        
                                    </h3>
                                    <nav class="nav nav-list nav-checklist">
                                        <ul>
                                            <li class="selected">
                                                <b>
                                                    1
                                                </b>
                                                Committee ABC
                                            </li>
                                            <li class="disabled">
                                                <b>
                                                    2
                                                </b>
                                                ~Committee Outside Perview ~
                                            </li>
                                            <li class="">
                                                <b>
                                                    3
                                                </b>
                                                Committee FGH
                                            </li>
                                            <li class="">
                                                <b>
                                                    4
                                                </b>
                                                Committee XYZ
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="colored-paper info">
                            <nav>
                                <ul class="nav tabs">
                                    <li class=" selected ">
                                        <a>
                                            Applicaiton Details
                                        </a>
                                    </li>
                                    <li class="hide-for-large">
                                        <a>
                                            Comments &amp; Ratings
                                        </a>
                                    </li>
                                    <li><a href="">Current Appointments</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="row">
                            <div class="columns large-6">
                            <h2 class="with-underline show-for-large">Application Details</h2>
                            {% include "admin/sections/com/application-details"%}
                            <h3>Disclosures</h3>
                            <span class="label success radius"><i class="fa fa-check"></i> Up to date</span> &nbsp;
                            <a href=""><i class="fa fa-file"></i>&nbsp;View Disclosures</a>
                            </div>
                            <div class="columns large-6 show-for-large">
                            <h2 class="with-underline show-for-large">
                            Comments &amp; Ratings
                                <div class="float-right">
                                    2.4 <i class="fa fa-star"></i>
                                </div>
                            </h2>
                            {% include "admin/sections/com/application-comments"%}</div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="column">
                    <div class="button-group small float-right">
                        <a class="button secondary" href="">
                            Remove
                        </a>
                        <a class="button" href="">
                            Award Nomination
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
{% endblock %}

{% comment %}
<img src="output/abstract-q-c-640-480-1.jpg"></img>{% endcomment %}