{% extends 'layouts/admin-layout' %}
{% block content %}
<div class="page paper-page">
    <div class="page-wrapper">
        <div class="row">
            <div class="column">
                <h1>
                    Settings
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="colored-paper">
                        <h2>
                            Nomination Season
                        </h2>
                    </div>
                    <div class="row column section-padding">
                        <table class="table banded">
                            <thead>
                                <tr>
                                    <th>
                                        i.fa.Appointment Year
                                    </th>
                                    <th>
                                        Appointment Type
                                    </th>
                                    <th>
                                        Start Date
                                    </th>
                                    <th>
                                        End Date
                                    </th>
                                    <th>
                                        Closure Time
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            	<tr>
                            		<td>2017</td>
                            		<td>ACC Guidance</td>
                            		<td>05/20/2017</td>
                            		<td>17/20/2017</td>
                            		<td>11:59 PM</td>
                            		<td class="text-right"><a href="" class="edit link"><i class="fa fa-holder"></i> Edit</a></td>
                            	</tr>
                            	                            	<tr>
                            		<td>2017</td>
                            		<td>NCDR</td>
                            		<td>05/20/2017</td>
                            		<td>17/20/2017</td>
                            		<td>11:59 PM</td>
                            		<td class="text-right"><a href="" class="edit link"><i class="fa fa-holder"></i> Edit</a></td>
                            	</tr>
                            	                            	<tr>
                            		<td>2016</td>
                            		<td>ACC Guidance</td>
                            		<td>05/20/2016</td>
                            		<td>17/20/2016</td>
                            		<td>11:59 PM</td>
                            		<td class="text-right"><a href="" class="edit link"><i class="fa fa-holder"></i> Edit</a></td>
                            	</tr>
                            	                            	<tr>
                            		<td>2016</td>
                            		<td>NCDR</td>
                            		<td>05/20/2016</td>
                            		<td>17/20/2016</td>
                            		<td>11:59 PM</td>
                            		<td class="text-right"><a href="" class="edit link"><i class="fa fa-holder"></i> Edit</a></td>
                            	</tr>
                            </tbody>
                            <tfoot class="question">
                                <tr>
                                    <td class="input-holder">
                                        <select id="" name="">
                                            <option value="">
                                                Year
                                            </option>
                                        </select>
                                    </td>
                                    <td class="input-holder">
                                        <select id="" name="">
                                            <option value="">
                                                Type
                                            </option>
                                        </select>
                                    </td>
                                    <td class="input-holder">
                                        <input class="date" type="date">
                                        </input>
                                    </td>
                                    <td class="input-holder">
                                        <input class="date" type="date"/>
                                    </td>
                                    <td class="input-holder">
                                        <input class="time" type="time"/>
                                    </td>
                                    <td class="input-holder">
                                        <a class="button success expanded" href="">
                                            Add Season
                                        </a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% comment %}
<img src="output/abstract-q-c-640-480-1.jpg">
    {% endcomment %}
</img>