{% extends 'layouts/admin-layout' %}
{% block content %}

<div class="page paper-page">
	<div class="page-wrapper" >
		<div class="row">
			<div class="column">
				<h1>Applications <a href="admin-applications-filtered.html" class="button small secondary float-right">Filter</a>
				</h1>

			</div>
		</div>
		<div class="row">
			<div class="card">
				{% include 'admin/elements/admin-table-searchbar' %}
				<table id="application" class="table banded desaturate">
					{% include "admin/elements/app-thead" %}
					<tbody id="Draft">
						<tr class="seperator disabled">
							<td colspan="10">Started/Draft <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% include 'admin/elements/application-rows' %}
					</tbody>
					<tbody id="Revisions">
						<tr class="seperator disabled">
							<td colspan="10">Pending Revision <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% include 'admin/elements/application-rows' %}						
					</tbody>
					<tbody id="Submitted">
						<tr class="seperator highlighted">
							<td colspan="10">Submitted <a href="" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% include 'admin/elements/application-rows' %}
					</tbody>
					<tbody id="Reviewed">	
						<tr class="seperator success">
							<td colspan="10">Reviewed <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% include 'admin/elements/application-rows' %}
					</tbody>
					<tbody id="Rejected">
						<tr class="seperator error">
							<td colspan="10">Rejected <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>						
						{% include 'admin/elements/application-rows' %}
					</tbody>
				</table>
				{% include "elements/card-pagination-bottom"%}
			</div>
		</div>
	</div>
</div>
<style>
#Draft .dates .submitted,
table .dates .modified,
table .dates .admin,
table .dates .reviewed {
    display: none;
}
#Revisions .dates .modified {display: inline-block;}
#Reviewed .dates .reviewed {display: inline-block;}
#Rejected .dates .admin {display: inline-block;}

</style>
{% endblock %}

