{% extends 'layouts/admin-committee-layout' %}
{% block content %}
<div class="page-header ">
    <div class="row">
        <div class="column">
            <h1 class="section-padding">Notes</h1></div>
    </div>
</div>
<div class="">
    <div class="row collapsed layer-down">

        <div class="column large-3 medium-4">
            <div class="card">
                <div class="colored-paper">
                    <h2>
					Leave a Note
					</h2>
                </div>
                   <div class="section-padding">
                   	 <textarea cols="30" id="" name="" rows="5">
                    </textarea>
                    <a class="button expanded add tiny radius" href="">
						<i class="fa fa-holder">
						</i>
						Add Note
					</a>
                   </div>
            </div>
        </div>
        <div class="column large-9 medium-8  " >
            <div class="card">
            	<div class="colored-paper info">
            	<h2>Admin Notes
				<div class="float-right button-group small no-vertical-margin">
					<a href="" class="button">All Notes</a><a href="" class="button">My Notes</a>
				</div>
            	</h2>
            </div>
            <div class="section-padding">

	            <ul class="no-bullet" >
	                <li class="group-divide-auto">
	                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
	                    <cite class="text-right">
	                        <strong>
								Nicole Homes
								</strong>
	                        <span class="lite">
									Jan 1st 2017 | 12:53 PM
								</span><br><small class="subtle">Path: Commitee Name</small>
	                    </cite>
	                </li>
	                <li class="group-divide-auto">
	                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

	                    <cite class="text-right">
	                        <strong>
								Marthea Williams
								</strong>
	                        <span class="lite">
									Jan 1st 2017 | 12:50 PM
							</span>
							<br><small class="subtle">Path: Commitee Name / Atendee list/ Atendee Name</small>
	                    </cite>
	                </li>
	                <li class="group-divide-auto">
	                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	                    <cite class="text-right">
	                        <strong>
								Nicole Homes
								</strong>
	                        <span class="lite">
									Jan 1st 2017 | 12:42 PM
								</span><br><small class="subtle">Path: Commitee Name / Atendee list/ Atendee Name</small>
	                    </cite>
	                </li>
	                <li class="group-divide-auto">
	                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
	                    <cite class="text-right">
	                        <strong>
								Nicole Homes
								</strong>
	                        <span class="lite">
									Jan 1st 2017 | 12:39 PM
								</span><br><small class="subtle">Path: Commitee Name / Atendee list/ Atendee Name</small>
	                    </cite>
	                </li>	                
	                <li class="group-divide-auto">
	                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	                    <cite class="text-right">
	                        <strong>
								Nicole Homes
								</strong>
	                        <span class="lite">
									Jan 1st 2017 | 12:42 PM
								</span><br><small class="subtle">Path: Commitee Name / Atendee list/ Atendee Name</small>
	                    </cite>
	                </li>
	                <li class="group-divide-auto">
	                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
	                    <cite class="text-right">
	                        <strong>
								Nicole Homes
								</strong>
	                        <span class="lite">
									Jan 1st 2017 | 12:39 PM
								</span><br><small class="subtle">Path: Note Management</small>
	                    </cite>
	                </li>
	            </ul>
            </div>
            	{% include "elements/card-pagination-bottom"%}
            </div>
        </div>
    </div>
</div>
<style>#note-holder{max-height:90vh;overflow-y: scroll;}</style>
{% endblock %}