{% extends 'layouts/admin-committee-layout' %} {% block content %}
<div class="row page-header section-padding">
    <div class="column">
        <h1>
           <a href="admin-committees-dashboard.html"><i class="fa fa-th-list" aria-hidden="true"></i></a> <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="admin-committees-list.html" class="link">Commitee Name ABC</a> <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="admin-committees-list.html" class="link">Applicant List</a>
           <i class="fa fa-angle-right" aria-hidden="true"></i> Applicant Name
           
        </h1>
        <div>
            <a class="button tiny radius hollow" href="admin-committees-list.html">Applicant List</a>
            <a class="button tiny radius " href="http://localhost:8000/docs/admin-committees.html">Applicant Details</a>
        </div>
    </div>
</div>
<section class="row ">

    <article class="layer-down column ">
        <div class="page-wrapper content-padding">
            <div class="row column">
                <div class="card">
                    <div class="colored-paper">
                        <h1 class="single-line-height no-vertical-margin">

                            <span class="float-right">
                                
                                <select id="" name="" class="no-margin">
                                    <option default="" value="">
                                        Elegible
                                    </option>
                                    <option value="">
                                        InElegible
                                    </option>
                                    <option value="">
                                        Unknown
                                    </option><option value="">
                                        Appoint
                                    </option>
                                </select>
                            </span>
                           <i class="fa fa-thumbs-up"></i>
                            Doctor Beta, FACC
                             <span class="sub-line"><b>NOMINATED</b> | Average Rating: 2.4  <i class="fa fa-star"> | Comments: 4 <i class="fa fa-comment"></i></i> | <i class="fa fa-envelope"></i> email@email.com
                            </span>
                        </h2>
                    </div>
                    <div class="row section-padding">
                        <div class="column large-4">

                            <div class="section-padding group-divide-auto">
                                <h3>
                                    Statement of Interest
                                </h3>
                                <p>
                                    {% include 'elements/lorem' %}
                                </p>
                            </div>
                            <div class="section-padding group-divide-auto">
                                <h3>
                                    Competency
                                </h3>
                                <div class="row">
                                    <div class="column">
                                        <ul class="compency-list">
                                            <li>
                                                Exhibits Influential Leadership
                                            </li>
                                            <li>
                                                Demonstrates Strategic Leadership
                                            </li>
                                            <li>
                                                Maintains Organizational Awareness & Stewardship
                                            </li>
                                        </ul>
                                        <p>
                                            {% include 'elements/lorem' %}
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="column large-4">
                                                        <div class="section-padding group-divide-auto">
                                <h3>
                                    Letter of Reccomendation
                                </h3>
                                <div class="">
                                    <h5>
                                        Collegue Name <small class="subhead">Fellow</small>
                                    </h5>
                                    <p>{% include 'elements/lorem-short' %} {% include 'elements/lorem-short' %} {% include 'elements/lorem-short' %}</p>
                                </div>
                            </div>
                            <div class="section-padding group-divide-auto">
                                <h3>
                                    Nominations
                                </h3>
                                <div class="call-out">
                                <h5>
                                        Collegue Name <small class="subhead">Fellow</small> <a href="" class="link sub-line">Letter of Recommendation</a>
                                </h5>
                                
                            </div>
                            </div>
                             <div class="secion-padding group-divide-auto">
                                <h3>
                                    Committee Prefference Ranking
                                </h3>
                                <nav class="nav-list nav-checklist">
                                    <ul>
                                        <li class="selected">
                                            <b>
                                                1
                                            </b> Committee ABC
                                        </li>
                                        <li class="disabled">
                                            <b>
                                                2
                                            </b> ~Committee Outside Perview ~
                                        </li>
                                        <li class="">
                                            <b>
                                                3
                                            </b> Committee FGH
                                        </li>
                                        <li class="">
                                            <b>
                                                4
                                            </b> Committee XYZ
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="column large-4">
                            {% include "elements/comment-rate" %}
                            <div class="row text-center">
                                <a href="" class="hollow button tiny">View Comments (3)</a>
                            </div>
                            {% comment %}{% include "admin/sections/com/application-comments"%}{% endcomment %}
                        </div>
                    </div>
                    <div class="colored-paper info">
                        <nav>
                            <ul class="nav tabs">
                                <li class=" selected ">
                                    <a>
                                        Applicaiton
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Appointments
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Chapter
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Committees
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Sections
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Attendance
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row section-padding">
                        <div class="columns">
                            <h2 class="with-underline show-for-large">
                                Application Details
                            </h2> {% include "admin/sections/com/application-details"%}
                            <h3>
                                Disclosures
                            </h3>
                            <span class="label success radius">
                                <i class="fa fa-check">
                                </i>
                                Up to date
                            </span>
                            <a href="">
                                <i class="fa fa-file">
                                </i>
                                View Disclosures
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <button aria-controls="offCanvasLeftSplit" aria-expanded="false" class="button warning small circle-button" data-toggle="offCanvasLeftSplit" id="member-toggle" type="button">
            <i class="fa fa-bars" style="color:white">
            </i>
        </button>
    </article>
</section>
{% include "elements/comments-on-user" %}

{% endblock %}