{% extends 'layouts/admin-committee-layout' %}
{% block content %}
<div class="row ">
    <div class="column">
        <h1 class="no-vertical-margin">
            Committee Name ABC
        </h1>
    </div>
</div>
<nav class="overlap nav">
    <ul class="tabs ">
        <li class="tab-title">
            <a class="home " href="admin-committees-details.html">
                <i class="fa fa-holder">
                </i>
                Committee Details
            </a>
        </li>
        <li class="tab-title">
            <a href="admin-committees-list.html">
                Nominees
            </a>
        </li>
        <li class="tab-title is-active">
            <a href="admin-committees-appointed.html">
                Appointment
            </a>
        </li>
    </ul>
</nav>
<div class="content page-wrapper">
    <div class="page-wrapper">
        <div class="row section-padding">
            <div class="row column">
                <h1>
                    Appointments
                    <div class="float-right button-group small">
                        <a class="button hollow" href="">
                            Group Actions
                        </a>
                        <a class="secondary button" href="">
                            Email Selected
                        </a>
                        <a class="secondary button" href="">
                            Write to Personify
                        </a>
                        <a class=" secondary button" href="">
                            Report
                        </a>
                    </div>
                </h1>
            </div>
            <div class="row column">
                <div class="card">
                    <div class="colored-paper">
                        <nav>
                            <ul class="nav tabs">
                                <li class="selected">
                                    <a>
                                        All
                                    </a>
                                </li>
                                <li class="">
                                    <a>
                                        Proposed
                                    </a>
                                </li>
                                <li class="">
                                    <a>
                                        Contacted
                                    </a>
                                </li>
                                <li class="">
                                    <a>
                                        Approved
                                    </a>
                                </li>
                                <li class="">
                                    <a>
                                        Declined
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="section-padding">
                        <table class="table banded">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-check">
                                        </i>
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Type &amp; Term
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th class="text-right">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="seperator info">
                                    <td colspan="6">
                                        Proposed
                                        <a class="float-right" href="   " style="color:#fff">
                                            hide section
                                            <i class="fa fa-eye">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-square-o">
                                        </i>
                                    </td>
                                    <td>
                                        Philippus Ehud
                                    </td>
                                    <td>
                                        Alternate | 3 years <a href="" class="link edit"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-plus" title="propesed">
                                        </i>
                                        10/20/2017
                                    </td>
                                    <td class="text-right">
                                        <div class="tiny">
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-envelope">
                                                </i>
                                                Request
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-check">
                                                </i>
                                                Approve
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-times">
                                                </i>
                                                Decline
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="seperator">
                                    <td colspan="6">
                                        Contacted
                                        <a class="float-right" href="   " style="color:#fff">
                                            hide section
                                            <i class="fa fa-eye">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-square-o">
                                        </i>
                                    </td>
                                    <td>
                                        Philippus Ehud
                                    </td>
                                    <td>
                                        Alternate | 3 years <a href="" class="link edit"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-reply-all fa-flip-horizontal" title="emailed again">
                                        </i>
                                        10/20/2017
                                    </td>
                                    <td class="text-right">
                                        <div class="tiny">
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-envelope">
                                                </i>
                                                Request
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-check">
                                                </i>
                                                Approve
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-times">
                                                </i>
                                                Decline
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-square-o">
                                        </i>
                                    </td>
                                    <td>
                                        Lucius Zakchaios
                                    </td>
                                    <td>
                                        Chair | 3 years  <a href="" class="link edit"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-reply-all fa-flip-horizontal" title="emailed again">
                                        </i>
                                        10/25/2017
                                    </td>
                                    <td class="text-right">
                                        <div class="tiny">
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-envelope">
                                                </i>
                                                Request
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-check">
                                                </i>
                                                Approve
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-times">
                                                </i>
                                                Decline
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-square-o">
                                        </i>
                                    </td>
                                    <td>
                                        Hevel Ethan
                                    </td>
                                    <td>
                                        Member | 1 year  <a href="" class="link edit"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-reply fa-flip-horizontal" title="emailed">
                                        </i>
                                        5/2/2016
                                    </td>
                                    <td class="text-right">
                                        <div class="tiny">
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-envelope">
                                                </i>
                                                Request
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-check">
                                                </i>
                                                Approve
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-times">
                                                </i>
                                                Decline
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="seperator success">
                                    <td colspan="6">
                                        Approved
                                        <a class="float-right" href="   " style="color:#333">
                                            hide section
                                            <i class="fa fa-eye">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-square-o">
                                        </i>
                                    </td>
                                    <td>
                                        Timotheus Joshua
                                    </td>
                                    <td>
                                        Alternate | 3 years <a href="" class="link edit"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-envelope" title="Approved via email">
                                        </i>
                                        5/2/2016
                                    </td>
                                    <td class="text-right">
                                        <div class="tiny">
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-undo">
                                                </i>
                                                Remove Decision
                                            </a>
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-pencil-square-o">
                                                </i>
                                                Write to Personify
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="seperator error">
                                    <td colspan="6">
                                        Declined
                                        <a class="float-right" href="   " style="color:#fff">
                                            hide section
                                            <i class="fa fa-eye">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-square-o">
                                        </i>
                                    </td>
                                    <td>
                                        Peretz Zerah
                                    </td>
                                    <td>
                                        Member | 3 years <a href="" class="link edit"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-laptop" title="Declined via System">
                                        </i>
                                        5/2/2016
                                    </td>
                                    <td class="text-right">
                                        <div class="tiny">
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-undo">
                                                </i>
                                                Remove Decision
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% include "elements/card-pagination-bottom" %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>