{% extends 'layouts/admin-committee-layout' %}
{% block content %}
<div class="page-header section-padding">
	<div class="row">
		<div class="column">
			<h1>Reports</h1>
		</div>
	</div>
</div>
<div class="layer-down">
	<div class="page-wrapper">

		<div class="row">
			<div class="column">
				<div class="card">
					<div class="colored-paper"><h2 class="no-vertical-margin">Report Settings</h2></div>
					<div class="section-padding row">
						<div class="column medium-4">
							<div class="question">
								<div class="label-holder"><label for="">Report Type</label></div>
								<div class="input-holder">
									<div class="input-space">
									<select name="" id="">
										<option>Report Type A</option>
										<option>Report Type B</option>
									</select>
									</div>
								</div>
							</div>
						</div>
					<div class="column medium-8">
						<div class="question">
							<div class="label-holder"><label for="">Key Word</label></div>
							<div class="input-holder">
								<div class="input-space"><input type="text"></div>
							</div>
						</div>
					</div>
					</div>
					<div class="colored-paper info">
						<h4 class="no-vertical-margin">Advanced</h4>
					</div>
					<div class="row">
						<div class="column medium-4">
							<div class="question">
								<div class="label-holder"><label for="">Date To</label></div>
								<div class="input-holder">
									<div class="input-space"><input type="text"></div>
								</div>
							</div>
						</div>
						<div class="column medium-4 end">
							<div class="question">
								<div class="label-holder"><label for="">Date From</label></div>
								<div class="input-holder">
									<div class="input-space"><input type="text"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="group-divide row">
						<div class="column">
							<a class="button float-right" href="">Run Report</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% comment %}<img src="output/abstract-q-c-640-480-1.jpg">{% endcomment %}