{% extends 'layouts/admin-layout' %}
{% block content %}

<div class="page paper-page">
	<div class="page-wrapper">
		<div class="row ">
			<div class="column">
				<h1>Committee Name ABC <div class="float-right button-group tiny"><a href="" class=" secondary button">Report</a></div></h1>
			</div>
		</div>
		<div class="row">
			<div class="column medium-6 large-4">
				<div class="card">
					<div class="colored-paper"><h3 class="no-vertical-margin">Nominees </h3></div>
					<div class="colored-paper info">
						<h4 class="no-vertical-margin">Elegible </h4>
					</div>
				<div class="section-padding">
					<nav class="nav nav-list">
					<ul>
						<li class="selected">
							<a href="">
								<span class="text">
									<span class="name">Doctor Beta</span>
									<span>FACC</span>
								</span>
								<i class="fa fa-arrow-right"></i>
							</a>
						</li>
						<li>{% include 'elements/nominee' %}</li>
						<li>{% include 'elements/nominee' %}</li>
					</ul>
					</nav>
					<a href="" class="small expanded secondary button">Nominate Member Not In List</a>
				</div>
				<div class="colored-paper warning">
					<h4 class="no-vertical-margin">Unknown Elegiblity</h4>
				</div>
				<div class="section-padding">
					<nav class="nav nav-list">
						<ul>
							<li>{% include 'elements/nominee' %}</li>
							<li>{% include 'elements/nominee' %}</li>
						</ul>
					</nav>
				</div>
				<div class="colored-paper disabled">
					<h4 class="no-vertical-margin">Inelegible</h4>
				</div>
				<div class="section-padding">
					<a href="" class="link">view inelegible members</a>
				</div>
				</div>
				<br>
				<div class="card">
				    <div class="colored-paper">
				    	<h4 class="no-vertical-margin">
				        Available Positions
					    </h4>
				    </div>
				   <div class="section-padding">
				   	 {% include "elements/open-position" %}
				   </div>
				    <div class="colored-paper">
				    	<h4 class="no-vertical-margin">Current Members</h4>
				    </div>
				    <div class="section-padding">
				    	{% include "sections/current-members" %}
				    </div>
				</div>
			</div>
			<div class="column medium-6 large-8">
			<div class="card">
				<div class="colored-paper info">
					<h2 class="single-line-height no-vertical-margin">
					<span class="float-right">
						<select name="" id="">
							<option value="" default>Elegible</option>
							<option value="">InElegible</option>
							<option value="">Unknown</option>
						</select>
					</span>
					Doctor Beta, FACC
					<span class="sub-line">email@email.com</span>
				</h2>
				</div>
				<div class="row section-padding">
					<div class="column medium-6"><div class="section-padding content-padding callout highlighted">
					<h3>Statement of Interest</h3>
					<p>{% include 'elements/lorem' %}</p>
				</div>
				</div>
					<div class="column medium-6"><div class="seciton-padding">
					<div class="h3">
						<b>Rate:</b>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</div>
					<h3>Comment</h3>
					<textarea name="" id="" rows="5"></textarea>
					<a href="" class="tiny button float-right">Add Comment</a>
					<h3>Committee Ranking</h3>
					<nav class="nav nav-list nav-checklist">
						<ul>
							<li class="selected"><b>1</b> Committee ABC</li>
							<li class="disabled"><b>2</b> ~Committee Outside Perview ~</li>
							<li class=""><b>3</b> Committee FGH</li>
							<li class=""><b>4</b> Committee XYZ</li>
						</ul>
					</nav>
				</div>
				<div class="button-group small expanded"><a href="" class="button secondary">Remove</a><a href="" class="button">Award Nomination</a></div>	
			</div>
		</div>
		<div class="colored-paper info">
			<nav>
          <ul class="nav tabs">
            <li class=" selected ">
              <a>Applicaiton Details</a>
            </li>
            <li class="">
              <a>Comments &amp; Ratings</a>
            </li>
          </ul>
        </nav>
		</div>
		<div>
			<div class="section-padding">
				<h3>Professional Experiance</h3>
				<p>{% include 'elements/lorem' %}</p>
			</div>
			<div class="section-padding">
				<h3>Publications</h3>
				<p>{% include 'elements/lorem' %}</p>
			</div>
			<div class="section-padding">
				<h3>Awards</h3>
				<p>{% include 'elements/lorem' %}</p>
			</div>
		</div>

	</div>
	</div>

		</div>
	</div>
</div>

{% endblock %}

{% comment %}<img src="output/abstract-q-c-640-480-1.jpg">{% endcomment %}