{% extends 'layouts/admin-layout' %}
{% block content %}
<div class="page paper-page">
  <div class="page-wrapper">

<div class="row">
	<div class="column small-6 large-8"><h1 class="single-line-height">Committee A Name</h1> </div>

	 
<div class="column small-6 large-4">		
<div class="text-right">
	<div class="switch-input-space float-right">
      <label class="switch-value" for="checkbox-checkbox" style="padding: .25em .75em;">show this committee in<br/> application searches</label>
      <div class="switch  tiny rotate checkbox">
        <input class="switch-input" id="checkbox-checkbox" type="checkbox" value="true" checked>
        <label class="switch-paddle" for="checkbox-checkbox">
          <span class="show-for-sr">Do you like me?</span>
          <span class="switch-active" aria-hidden="true">
            <i class="fa fa-holder"></i>
          </span>
          <span class="switch-inactive" aria-hidden="true">
            <i class="fa fa-holder"></i>
          </span>
        </label>
      </div>
    </div>
</div>
</div>

</div>
<div class="row">
	<div class="card">
	<div class="colored-paper">
		<h2>Discriptive Content</h2>
	</div>
	<div class="colored-paper info">
		<h3 class="no-margin">Roles and Responsibilities:</h3>
	</div>
	<div class="section-padding row">
		<div class="column">
			<textarea name="" id="" cols="30" rows="5">The Assembly of International Governors Steering Committee is an advisory group of regional representatives that provides guidance on international issues as identified by the ACC or the Assembly of International Governors.

The AIGSC:
Supports the ACC/ACCF Board of Trustees by making recommendations for the International Strategy of the ACC.
Creates bi-directional communication between ACC International Chapters, ACC Board Standing Committees such as the Membership Committee, and the ACC Board of Trustees.
Recommends strategies for continued growth of all ACC member types internationally.

            </textarea>


		</div>	
	</div>
	<div class="colored-paper info">
		<h3 class="no-margin">Competency Requirements</h3>
	</div>
	<div class="section-padding row">
		<div class="column">
			<textarea name="" id="" cols="30" rows="5">Members must be able to anticipate & lead change and demonstrate strategic leadership by working to advise ACC on its international strategy and ensure the ACC achieves its mission to its fullest extent worldwide.

Members must also be knowledgeable about the cardiovascular community within their regions and its relevance to the ACC mission and activities.
            </textarea>


		</div>	
	</div>
</div>

</div>




	</div>
</div>

{% endblock %}