{% extends 'layouts/admin-committee-layout' %}
{% block content %}
<div class="row page-header section-padding">
    <div class="column">
        <h1 class="">
           <a href="admin-committees-dashboard.html"><i class="fa fa-th-list" aria-hidden="true"></i></a> <i class="fa fa-angle-right" aria-hidden="true"></i> Name ABC <i class="fa fa-angle-right" aria-hidden="true"></i> Applicant List
           
        </h1>
        <div class="">
            <a class="button tiny radius" href="admin-committees-list.html">Applicant List</a>
            <a class="button tiny radius hollow" href="admin-committees-details.html">Committee Details</a>
            <a class="button tiny radius hollow disabled" href="admin-committees-appointed.html"><i class="fa fa-lock"></i> Appointment Day</a>
        </div>
    </div>
</div>
<section class="">
    <div class="page-wrapper layer-down content-padding">
        <div class="row column">
            
            <div class="card">
                <div class="colored-paper">
                    <h2 class="no-vertical-margin">Applicant List 
                        <div class="float-right button-group tiny no-vertical-margin"><a href="" class="secondary button">Filter</a><a href="" class=" secondary button">Report</a></div>
                    </h2>
                </div>
                <div class="section-padding">
                    <table class="table striped">
                    <thead>
                        <tr>
                            <th class="text-center" title="chair pick">
                                <i class="fa fa-thumbs-up fa-fw">
                                </i>
                            </th>
                            <th>
                                Name
                            </th>
                            <th class="text-center">
                                Preference
                            </th>
                            <th class="text-center">
                                Rating Average
                            </th>
                            <th class="text-center">
                                Comments
                            </th>
                            <th class="text-center">
                                Committee Participation
                            </th>
                            <th>
                                Set Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="seperator highlighted">
                            <td colspan="7">
                                Elegible
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <i class="fa fa-thumbs-up fa-fw">
                                </i>
                            </td>
                            <td>
                                <a class="list" href="admin-committees.html">
                                    Doctor Alpha, FACC
                                </a>
                            </td>
                            <td class="text-center">
                                1 of 1
                            </td>
                            <td class="text-center">
                                2.4
                                <i class="fa fa-star">
                                </i>
                            </td>
                            <td class="text-center">
                                4
                            </td>
                            <td class="text-center">
                                Cur(1) | Prev(2)
                            </td>
                            <td class="text-center">
                                <select class="no-vertical-margin" id="" name="">
                                    <option default="" value="">
                                        Elegible
                                    </option>
                                    <option value="">
                                        InElegible
                                    </option>
                                    <option value="">
                                        Unknown
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                            </td>
                            <td>
                                <a class="list" href="admin-committees.html">
                                    Doctor Beta, FACC
                                </a>
                            </td>
                            <td class="text-center">
                                1 of 1
                            </td>
                            <td class="text-center">
                                1.2
                                <i class="fa fa-star">
                                </i>
                            </td>
                            <td class="text-center">
                                4
                            </td>
                            <td class="text-center">
                                Cur(1) | Prev(2)
                            </td>
                            <td class="text-center">
                                <select class="no-vertical-margin" id="" name="">
                                    <option default="" value="">
                                        Elegible
                                    </option>
                                    <option value="">
                                        InElegible
                                    </option>
                                    <option value="">
                                        Unknown
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr class="seperator warning">
                            <td colspan="7">
                                Unknown Elegible
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                            </td>
                            <td>
                                <a class="list" href="admin-committees.html">
                                    Doctor Unknown, FACC
                                </a>
                            </td>
                            <td class="text-center">
                                4 of 4
                            </td>
                            <td class="text-center">
                                ~
                            </td>
                            <td class="text-center">
                                0
                            </td>
                            <td class="text-center">
                                Cur(0) | Prev(0)
                            </td>
                            <td class="text-center">
                                <select class="no-vertical-margin" id="" name="">
                                    <option value="">
                                        Select One
                                    </option>
                                    <option value="InElegible">
                                        InElegible
                                    </option>
                                    <option default="" value="">
                                        Elegible
                                    </option>
                                    <option value="">
                                        Unknown
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr class="seperator error">
                            <td colspan="7">
                               In Elegible
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                            </td>
                            <td>
                                <a class="list" href="admin-committees.html">
                                    Doctor Gama, FACC
                                </a>
                            </td>
                            <td class="text-center">
                                4 of 4
                            </td>
                            <td class="text-center">
                                ~
                            </td>
                            <td class="text-center">
                                1
                            </td>
                            <td class="text-center">
                                Cur(0) | Prev(0)
                            </td>
                            <td class="text-center">
                                <select class="no-vertical-margin" id="" name="">
                                    <option value="InElegible">
                                        InElegible
                                    </option>
                                    <option default="" value="">
                                        Elegible
                                    </option>
                                    <option value="">
                                        Unknown
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    Unknonwn or Unset Nominees will not be viewable by committee members to leave comments on.
                                </td>
                            </tr>
                        </tfoot>
                    </tbody>
                </table>
                </div>
                {% include "elements/card-pagination-bottom"%}
            </div>
        </div>
    </div>
</section>
{% endblock %}

