{% extends 'layouts/admin-committee-layout' %}
{% block content %}
<div class="row ">
    <div class="column section-padding">
        <h1 class="no-vertical-margin">
            Committee Name ABC
        </h1>
    </div>
</div>
<nav class="overlap nav no-vertical-margin">
    <ul class="tabs ">
        <li class="tab-title">
            <a class="home" href="admin-committees-details.html">
                <i class="fa fa-holder">
                </i>
                Committee Details
            </a>
        </li>
        <li class="tab-title is-active">
            <a href="admin-committees-list.html">
                Current Nominees
            </a>
        </li>
        <li class="tab-title disabled">
            <a href="admin-committees.html">
                Appointment
            </a>
        </li>
    </ul>
</nav>
{% comment %}
<div class="page-wrapper">
    <div class="row column ">
        <h2 class="">
            Current Nominees
            <div class="float-right button-group tiny no-vertical-margin">
                <a class=" secondary button" href="">
                    Report
                </a>
            </div>
        </h2>
    </div>
</div>
{% endcomment %}

    <section class="page paper-page no-padding" >

        <article>
            <div class="page-wrapper content-padding" style="max-width: 100%">
                <div class="row column">

                    <div class="card">
                        <div class="colored-paper">
                            <h4><i class="fa fa-users"></i> Nominees</h4>
                        </div> 
                        <div class="section-padding">
                            <table class="table striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-center">Preference</th>
                                        <th class="text-center">Rating Average</th>
                                        <th class="text-center">Comments</th>
                                        <th class="text-center">Committee Participation</th>
                                        <th>Chair Pick</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="admin-committees.html" class="list">Doctor Beta, FACC</a></td>
                                        <td class="text-center">1 of 1</td>
                                        <td class="text-center">2.4 <i class="fa fa-star"></i></td>
                                        <td class="text-center">4</td>
                                        <td class="text-center">Cur(1) | Prev(2)</td>
                                        <td><i class="fa fa-thumbs-up"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
            
        </article>

    </section>
</div>
{% endblock %}

{% comment %}
<img src="output/abstract-q-c-640-480-1.jpg"/>
{% endcomment %}
