{% extends 'layouts/admin-layout' %}
{% block content %}

<div class="page paper-page">
	<div class="page-wrapper">
		{% comment %}
			<div class="row">
				<div class="column small-12">
					{% include "elements/page-message-deadline" %}
				</div>
			</div>
			<div class="row section-padding">
				<div class="column small-12">
					{% include "elements/page-message-missing-data" %}
				</div>
			</div>
		{% endcomment %}
		<div class="row">
			<div class="column">
				<h1>TBD</h1>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}

{% comment %}<img src="output/abstract-q-c-640-480-1.jpg">{% endcomment %}