{% extends 'layouts/admin-layout' %} {% block content %}
    <div class="page-header section-padding">
        <div class="row">
            <div class="column">
                <h1> <i class="fa fa-question-circle" aria-hidden="true"></i>
                Questions Manager <span class="seperator"> \ </span><span>Global Questions</small>
                </h1>
                <div class="section-padding">
                    <a class="button tiny radius " href="admin-questions.html">Global Questions</a>
                    <a class="button tiny radius hollow " href="admin-questions-CV.html">  Digital CV Questions
                    </a>
                    <a class="button tiny radius hollow" href="admin-questions-type.html">
                        Type Questions
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-wrapper layer-down">
        <div class="row section-padding">
            <div class="column">
                <div class="card">
                    <div class="colored-paper info">
                        <h3>
                        Statement of Interest
                        <div class="float-right no-vertical-margin"><a href="" class="button no-vertical-margin button disabled">Delete</a></div>
                        </h3>

                    </div>
                    <div class="section-padding row">
                        <div class="question column medium-2">
                            <div class="label-holder">
                                <span class="text">
                                    Order
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <select id="" name="">
                                        <option value="">
                                            1
                                        </option>
                                        <option value="">
                                            2
                                        </option>
                                        <option value="">
                                            3
                                        </option>
                                        <option value="">
                                            4
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                        <div class="question column medium-3">
                            <div class="label-holder">
                                <span class="text">
                                    Type
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <select name="" id=""><option value="">TextArea</option></select>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">Error Message</small>
                            </div>
                            <div class="hint"></div>
                        </div>
                        <div class="question column medium-3 disabled">
                            <div class="label-holder">
                                <span class="text">
                                    ID
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input disabled="" type="text" value="Statement_of_Interest">
                                    </input>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                        <div class="question column medium-4">
                            <div class="label-holder">
                                <span class="text">
                                    Instructions
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input type="text" value="Please include your statement of interest.">
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">Error Message</small>
                            </div>
                            <div class="hint"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-padding">
            <div class="column small-12">
                <div class="card">
                    <div class="colored-paper success">
                        <h3>
                        Adding A Global Question
                        </h3>
                    </div>
                    <div class="row">
                        <div class="question column medium-4">
                            <div class="label-holder">
                                <span class="text">
                                    Question Title
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input type="text" value="Jelly Beans">
                                    </input>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                        <div class="question column medium-4 disabled">
                            <div class="label-holder">
                                <span class="text">
                                    ID
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input disabled="" type="text" value="Jelly_Beans">
                                    </input>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                        <div class="question column medium-4">
                            <div class="label-holder">
                                <span class="text">
                                    Question Type
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <select id="" name="">
                                        <option value="">
                                            Select One...
                                        </option>
                                        <option value="">
                                            Textarea - 250 max
                                        </option>
                                        <option value="">
                                            Textarea - 1000 max
                                        </option>
                                        <option value="">
                                            Yes|No
                                        </option>
                                        <option value="">
                                            Checkboxes
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="question column medium-8">
                            <div class="label-holder">
                                <span class="text">
                                    Label Text
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input type="text">
                                    </input>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                    </div>
                    <div class="row section-padding group-divide">
                        <div class="column">
                            <a class="button float-right" href="">
                                Save
                            </a>
                            <a class="button secondary float-right" href="">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}