{% extends 'layouts/admin-layout' %}
{% block content %}
    <div class="page-header section-padding">
        <div class="row">
            <div class="column">
                <h1> <i class="fa fa-question-circle" aria-hidden="true"></i>
                Questions Manager <span class="seperator"> \ </span><span>Type Questions</small>
                </h1>
                <div class="section-padding">
                    <a class="button tiny radius hollow" href="admin-questions.html">Global Questions</a>
                    <a class="button tiny radius hollow " href="admin-questions-CV.html">  Digital CV Questions
                    </a>
                    <a class="button tiny radius" href="admin-questions-type.html">
                        Type Questions
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="colored-paper">
            <div class="row">
                <div class="column small-12 medium-5">
                    <h2>
                        Select Committee Type
                    </h2>
                </div>
                <div class="column small-12 medium-7 text-right">
                    <select id="" name="" class="no-margin">
                        <option value="">
                            ACC
                        </option>
                        <option value="">
                            NCDR
                        </option>
                    </select>
                </div>
            </div>
        </div>
    <div class="page-wrapper layer-down"> 
        <div class="row section-padding">
            <div class="column">
                <div class="page-message callout highlighted lifted" style="max-width:100%;">
                    <a class="close-bar">
                    </a>
                    <div class="message-container">
                        <div class="icon-holder">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x">
                                </i>
                                <i class="fa fa-holder fa-stack-1x">
                                </i>
                            </span>
                        </div>
                        <div class="message-holder" style="flex: 2 0 auto;">
                            <h4>
                                You currently don't have a Committee Type selected
                            </h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-padding">
            <div class="column small-12">
                <div class="card">
                    <div class="colored-paper success">
                        <h2 class="no-vertical-margin">
                            Adding Question
                        </h2>
                    </div>
                    <div class="row">
                        <div class="question column medium-4">
                            <div class="label-holder">
                                <span class="text">
                                    Question Title
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input type="text" value="Jelly Beans">
                                    </input>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                    Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                        <div class="question column medium-4 disabled">
                            <div class="label-holder">
                                <span class="text">
                                    ID
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input disabled type="text" value="Jelly_Beans">
                                    </input>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                    Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                        <div class="question column medium-4">
                            <div class="label-holder">
                                <span class="text">
                                    Question Type
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <select id="" name="">
                                        <option value="">
                                            Select One...
                                        </option>
                                        <option value="">
                                            Textarea - 250 max
                                        </option>
                                        <option value="">
                                            Textarea - 1000 max
                                        </option>
                                        <option value="">
                                            Yes|No
                                        </option>
                                        <option value="">
                                            Checkboxes
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                    Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="question column medium-8">
                            <div class="label-holder">
                                <span class="text">
                                    Question Text
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input type="text">
                                    </input>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                    Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                    </div>
                    <div class="row section-padding group-divide">
                        <div class="column">
                            <a class="button float-right" href="">
                                Save
                            </a>
                            <a class="button secondary float-right" href="">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-padding">
            <div class="column">
                <div class="card">
                    <div class="colored-paper info">
                        <h4  class="no-vertical-margin">
                            Chocolate Chips: Checkbox
                        </h4>
                    </div>
                    <div class="row section-padding">
                        <div class="column medium-6">
                            <div class="row">
                                <div class="question column small-4">
                                    <div class="label-holder">
                                        <span class="text">
                                            Order
                                        </span>
                                        <span class="required-holder">
                                            <i class="fa fa-holder-dynamic">
                                            </i>
                                        </span>
                                    </div>
                                    <div class="input-holder">
                                        <div class="input-space column">
                                            <select id="" name="">
                                                <option value="">
                                                    1
                                                </option>
                                                <option value="">
                                                    2
                                                </option>
                                                <option value="">
                                                    3
                                                </option>
                                                <option value="">
                                                    4
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="message-holder">
                                        <small class="error">
                                            Error Message
                                        </small>
                                    </div>
                                    <div class="hint">
                                    </div>
                                </div>
                                <div class="question column medium-8 disabled">
                                    <div class="label-holder">
                                        <span class="text">
                                            System ID
                                        </span>
                                        <span class="required-holder">
                                            <i class="fa fa-holder-dynamic">
                                            </i>
                                        </span>
                                    </div>
                                    <div class="input-holder">
                                        <div class="input-space column">
                                            <input disabled="" type="text" value="Leadership_Competency">
                                            </input>
                                        </div>
                                    </div>
                                    <div class="message-holder">
                                        <small class="error">
                                            Error Message
                                        </small>
                                    </div>
                                    <div class="hint">
                                    </div>
                                </div>
                                <div class="question column small-12">
                                    <div class="label-holder">
                                        <span class="text">
                                            Question Text
                                        </span>
                                        <span class="required-holder">
                                            <i class="fa fa-holder-dynamic">
                                            </i>
                                        </span>
                                    </div>
                                    <div class="input-holder">
                                        <div class="input-space column">
                                            <input type="text">
                                            </input>
                                        </div>
                                    </div>
                                    <div class="message-holder">
                                        <small class="error">
                                            Error Message
                                        </small>
                                    </div>
                                    <div class="hint">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column medium-6">
                            <div class="row">
                                <div class="column ">
                                    <table class="table banded">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Order
                                                </th>
                                                <th>
                                                    Label
                                                </th>
                                                <th class="text-right">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="question">
                                            <tr>
                                                <td>
                                                    <select id="" name="">
                                                        <option value="">
                                                            1
                                                        </option>
                                                    </select>
                                                </td>
                                                <td class="">
                                                    <input type="text" value="Exhibits Influential Leadership">
                                                    </input>
                                                </td>
                                                <td class="text-right">
                                                    <a class="button alert tiny" href="">
                                                        <i class="fa fa-times">
                                                        </i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select id="" name="">
                                                        <option value="">
                                                            1
                                                        </option>
                                                    </select>
                                                </td>
                                                <td class="">
                                                    <input type="text" value="Demonstrates Strategic Leadership">
                                                    </input>
                                                </td>
                                                <td class="text-right">
                                                    <a class="button alert tiny" href="">
                                                        <i class="fa fa-times">
                                                        </i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select id="" name="">
                                                        <option value="">
                                                            1
                                                        </option>
                                                    </select>
                                                </td>
                                                <td class="">
                                                    <input type="text" value="Maintains Organizational Awareness & Stewardship">
                                                    </input>
                                                </td>
                                                <td class="text-right">
                                                    <a class="button alert tiny" href="">
                                                        <i class="fa fa-times">
                                                        </i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="question">
                                            <tr>
                                                <td class="text-center" colspan="3">
                                                    Add New Switch
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select id="" name="">
                                                        <option value="">
                                                            first
                                                        </option>
                                                        <option value="">
                                                            end
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input placeholder="label" type="text">
                                                    </input>
                                                </td>
                                                <td>
                                                    <a class="button small success expanded" href="">
                                                        Add New Switch
                                                    </a>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "admin/elements/delete-edit-button.liquid" %}
                </div>
            </div>
        </div>
        <div class="row section-padding">
            <div class="column">
                <div class="card">
                    <div class="colored-paper info">
                        <h3  class="no-vertical-margin">
                            Lemon Drop: Textarea
                        </h3>
                    </div>
                    <div class="section-padding">
                        <div class="row">
                            <div class="question column medium-2">
                                <div class="label-holder">
                                    <span class="text">
                                        Order
                                    </span>
                                    <span class="required-holder">
                                        <i class="fa fa-holder-dynamic">
                                        </i>
                                    </span>
                                </div>
                                <div class="input-holder">
                                    <div class="input-space column">
                                        <select id="" name="">
                                            <option value="">
                                                1
                                            </option>
                                            <option value="">
                                                2
                                            </option>
                                            <option value="">
                                                3
                                            </option>
                                            <option value="">
                                                4
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="message-holder">
                                    <small class="error">
                                        Error Message
                                    </small>
                                </div>
                                <div class="hint">
                                </div>
                            </div>
                            <div class="question column medium-4 disabled">
                                <div class="label-holder">
                                    <span class="text">
                                        ID
                                    </span>
                                    <span class="required-holder">
                                        <i class="fa fa-holder-dynamic">
                                        </i>
                                    </span>
                                </div>
                                <div class="input-holder">
                                    <div class="input-space column">
                                        <input disabled type="text" value="Lemon_Drop">
                                        </input>
                                    </div>
                                </div>
                                <div class="message-holder">
                                    <small class="error">
                                        Error Message
                                    </small>
                                </div>
                                <div class="hint">
                                </div>
                            </div>
                            <div class="question column medium-6">
                                <div class="label-holder">
                                    <span class="text">
                                        Question Text
                                    </span>
                                    <span class="required-holder">
                                        <i class="fa fa-holder-dynamic">
                                        </i>
                                    </span>
                                </div>
                                <div class="input-holder">
                                    <div class="input-space column">
                                        <input type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="message-holder">
                                    <small class="error">
                                        Error Message
                                    </small>
                                </div>
                                <div class="hint">
                                </div>
                            </div>
                        </div>
                        {% include "admin/elements/delete-edit-button.liquid" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
