{% extends 'layouts/admin-layout' %}
{% block content %}

<div class="page paper-page">
	<div class="page-wrapper">
		{% comment %}
			<div class="row">
				<div class="column small-12">
					{% include "elements/page-message-deadline" %}
				</div>
			</div>
			<div class="row section-padding">
				<div class="column small-12">
					{% include "elements/page-message-missing-data" %}
				</div>
			</div>
		{% endcomment %}
		<div class="row">
			<div class="column">
				<h1>To Do</h1>
				<h2>Access Rules</h2>
					<ul>
						<li>What happens when a User Has Multiple Type Access</li>
						<li>Who Has Access to this Area</li>
					</ul>
				<h2>Global/System Messages</h2>
					<ul>
						<li>Are there such a thing?</li>
						<li>Do we Duplicate Messages if A User has Applied to Mulittypes?</li>
						<li>How is timing set for timing.</li>
						<li>How do you want to control Edits of Global Message</li>
						
					</ul>
					<h2>Type Specific Messages</h2>
					<ul>
						<li>Are there Systems to reduce Duplicate Messages. </li>
						<li>Are These Just On Demand Questions</li>
						<li>Are these Controlled By System or User Triggers</li>
						<li>Are There a Set Collections of Messages</li>
						
					</ul>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}

{% comment %}<img src="output/abstract-q-c-640-480-1.jpg">{% endcomment %}