{% extends 'layouts/admin-layout' %}
{% block content %}
<div class="page paper-page">
    <div class="page-wrapper">
        <div class="row">
            <div class="column">
                <h1>
                    Application Questions
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="colored-paper">
                        <nav class=" nav">
                            <ul class="tabs ">
                                <li class="tab-title">
                                    <a href="admin-questions.html">
                                        Global Questions
                                    </a>
                                </li>
                                <li class="tab-title">
                                    <a href="admin-questions-CV.html">
                                        Digital CV Questions
                                    </a>
                                </li>
                                <li class="tab-title selected">
                                    <a href="admin-questions-type.html">
                                        Type Questions
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="colored-paper info empty group-divide-bottom">
                        <div class="row">
                            <div class="column small-12 medium-5">
                            <h2>
                                Selected Type
                            </h2>
                        </div>
                        <div class="column small-12 medium-7 text-right">
                            <select id="" name="">
                                <option value="">
                                    ACC
                                </option>
                                <option value="">
                                    NCDR
                                </option>
                            </select>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
