{% extends 'layouts/admin-layout' %}
{% block content %}
<div class="page paper-page">
    <div class="section-nav back">
        <a href="admin-committee-manage-single.html">
            <div class="circle">
                <i class="fa fa-holder-dynamic">
                </i>
            </div>
            <div class="text">
                Back to Committee: Alphabet
            </div>
        </a>
    </div>
    <div class="page-wrapper">
        <div class="row">
            <div class="column">
                <h1 class="single-line-height">
                    Committee: Alphabet
                    <div class="sub-line">
                        Active User Management
                    </div>
                </h1>
            </div>

        </div>
<div class="row">
    <div class="column">
<div class="card">
    <table class="table no-margin">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Term</th>
      <th>Start Date</th>
      <th class="text-right"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr class="highlighted">
      <td><h5>Member Name <a href="mailTo:xxx@acc.org" title="Email" class="link"><i class="fa fa-envelope"></i></a></h5></td>
      <td>Chair <sup><i class="fa fa-asterisk"></i></sup></td>
        <td>2</td>
        <td>2013</td>
        <td class="text-right"><a href="" class="link">Demote <i class="fa fa-level-down"></i> </a></td>
    </tr>
   <tr>
      <td><h5>Member Name <a href="mailTo:xxx@acc.org" title="Email" class="link"><i class="fa fa-envelope"></i></a></h5><div class=""><small><a href="" class="link">mark for retirement</a></small></div></td>
      <td>Member</td>
    <td>1 </td>
    <td>2015</td>
    <td class="text-right"><a href="" class="link">Promote to Chair <i class="fa fa-level-up"></i></a></td>
   </tr>
   <tr class="info">
      <td><h5>Member Name <a href="mailTo:xxx@acc.org" title="Email" class="link"><i class="fa fa-envelope"></i></a></h5><div class=""></div></td>
      <td>Staff Liason - Primary</td>
    <td>~</td>
    <td>2015</td>
    <td class="text-right">{% comment %}<a href="" class="link">Promote to Chair <i class="fa fa-level-up"></i></a>{% endcomment %}</td>
   </tr>
      <tr class="info">
      <td><h5>Member Name <a href="mailTo:xxx@acc.org" title="Email" class="link"><i class="fa fa-envelope"></i></a></h5><div class=""></div></td>
      <td>Staff Liason - Secondary</td>
    <td>~</td>
    <td>2015</td>
    <td class="text-right">{% comment %}<a href="" class="link">Promote to Chair <i class="fa fa-level-up"></i></a>{% endcomment %}</td>
   </tr>
  </tbody>
  <tfoot><tr>
    <td colspan="2"> <sup><i class="fa fa-asterisk"></i></sup> Planned Retirement this Season</td>
  </tr></tfoot>
</table>
</div>

    </div>
</div>
        <div class="row group-divide">
            <div class="column text-right">
                <a class="button" href="application-to-committee.html">
                    Save All
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
