{% extends 'layouts/admin-layout' %}
{% block content %}

<div class="page paper-page">
	<div class="page-wrapper " >
		{% comment %}
			<div class="row">
				<div class="column small-12">
					{% include "elements/page-message-deadline" %}
				</div>
			</div>
			<div class="row section-padding">
				<div class="column small-12">
					{% include "elements/page-message-missing-data" %}
				</div>
			</div>
		{% endcomment %}
		<div class="row">
			<div class="column">
				<h1>Applications <a href="" class="button small secondary float-right">Filter</a></h1>

			</div>
		</div>
		<div class="row">
			<div class="column">
				<table id="application" class="table banded desaturate">
					<thead>
						<tr>
							<td colspan="3"></td>
							<td colspan="5" class="text-center disabled"><small class="light">Application Content</small></td>
							<td colspan="1"></td>
						</tr>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>NOM</th>
							<th class="text-center"><span>Exp</span></th>
							<th class="text-center"><span>Pubs</span></th>
							<th class="text-center"><span>Awards</span></th>
							<th class="text-center"><span>Comp</span></th>
							<th class="text-center"><span>Letter</span></th>
							<th class="text-right"></th>
							
						</tr>
					</thead>
					<tbody>
						<tr class="seperator info">
							<td colspan="8">Submitted <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% include 'admin/elements/application-rows' %}
						<tr class="seperator disabled">
							<td colspan="8">Started/Draft <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% include 'admin/elements/application-rows' %}
						<tr class="seperator warning">
							<td colspan="8">Pending Revision <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% include 'admin/elements/application-rows' %}						
						<tr class="seperator success">
							<td colspan="8">Reviewed <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>{% include 'admin/elements/application-rows' %}
						<tr class="seperator error">
							<td colspan="8">Rejected <a href="	" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
						</tr>						
						{% include 'admin/elements/application-rows' %}
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% comment %}<img src="output/abstract-q-c-640-480-1.jpg">{% endcomment %}