{% extends 'layouts/admin-committee-layout' %}
{% block content %}
<div class="row page-header section-padding">
    <div class="column">
        <h1 >
           <a href="admin-committees-dashboard.html"><i class="fa fa-th-list" aria-hidden="true"></i></a> <i class="fa fa-angle-right" aria-hidden="true"></i> Name ABC <i class="fa fa-angle-right" aria-hidden="true"></i> Details
           <div class="float-right button-group small radius no-vertical-margin">

            </div>
        </h1>
        <div class="row column">
            <div class="float-left">
                <a class="button small radius hollow" href="admin-committees-list.html">Applicant List</a>
                <a class="button small radius" href="admin-committees-details.html">Committee Details</a>
                 <a class="button small radius hollow disabled" href="admin-appointment-day.html"><i class="fa fa-lock"></i> Appointment Day</a>
                <a class="button small radius hollow disabled" href="admin-committees-appointed.html"><i class="fa fa-lock"></i> Appointment Management</a>
            </div>
            <div class="float-right">
                <a class="button  radius small secondary" href="admin-committee-manage-single.html"> <i class="fa fa-pencil"></i> Edit Details</a>
                <a href="" class="button radius small success"><i class="fa fa-plus"></i> Add Applicant</a>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="page-wrapper layer-down">
        <div class="row section-padding">
            <div class="column large-7">
                <div class="card">
                    <div class="colored-paper info">
                        <b class="single-line-height">
                            Nominee Break Down
                        </b>
                    </div>
                    <div class="section-padding">
                        <table class="table striped desaturate">
                            <tbody>
                                <tr class="highlighted">
                                    <td>
                                        Elegible
                                    </td>
                                    <td>
                                        3
                                    </td>
                                </tr>
                                <tr class="warning">
                                    <td>
                                        <i class="fa fa-question-circle">
                                        </i>
                                        Unknown
                                    </td>
                                    <td>
                                        2
                                    </td>
                                </tr>
                                <tr class="info">
                                    <td>
                                        Inelegible
                                    </td>
                                    <td>
                                        2
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="colored-paper info">
                        <b>
                            Roles and Responsibilities:
                        </b>
                    </div>
                    <div class="section-padding">
                        <p>
                            The Assembly of International Governors Steering Committee is an advisory group of regional representatives that provides guidance on international issues as identified by the ACC or the Assembly of International Governors.
                        </p>
                        <h3>
                            The AIGSC:
                        </h3>
                        <ul>
                            <li>
                                Supports the ACC/ACCF Board of Trustees by making recommendations for the International Strategy of the ACC.
                            </li>
                            <li>
                                Creates bi-directional communication between ACC International Chapters, ACC Board Standing Committees such as the Membership Committee, and the ACC Board of Trustees.
                            </li>
                            <li>
                                Recommends strategies for continued growth of all ACC member types internationally.
                            </li>
                            <li>
                                Implements and innovates important ACC initiatives including but not limited to ACC International Regional Conferences and educational programs, JACC Journals, and NCDR registries.
                            </li>
                            <li>
                                Leads strategic shift towards increasing engagement with current footprint of ACC International Chapters.
                            </li>
                            <li>
                                Monitors issues in international cardiovascular health and raises important issues to ACC leadership.
                            </li>
                            <li>
                                Establishes annual goals specifying its principal work focus areas for the coming year.
                            </li>
                            <li>
                                Be responsible for holding Chapters in their region responsible for performing Chapter Duties.
                            </li>
                            <li>
                                Administer corrective action to Governors as needed.
                            </li>
                        </ul>
                    </div>
                    <div class="colored-paper info">
                        <b>
                            Competency Requirements
                        </b>
                    </div>
                    <div class="section-padding">
                        <p>
                            Members must be able to anticipate & lead change and demonstrate strategic leadership by working to advise ACC on its international strategy and ensure the ACC achieves its mission to its fullest extent worldwide.
                        </p>
                        <p>
                            Members must also be knowledgeable about the cardiovascular community within their regions and its relevance to the ACC mission and activities.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column large-5">
                <h4>
                    Available Positions
                </h4>
                {% include "elements/open-position" %}
                 <h4>
                    Proposed Members <div class="sub-line">{{ !! shows only after apointment days starts !! }} </div>
                </h4>
                <div class="card">
                    {% include "sections/proposed-members" %}                    
                </div>
                <h4>
                    Current Members
                </h4>
                <div class="card">
                    {% include "sections/current-members" %}
                    <div class="colored-paper info">
                        <b>
                            Composition
                        </b>
                    </div>
                    <div class="section-padding">
                        Includes a chair, chair-elect, and 4 regional representatives from the Americas, Europe, Middle East/Africa, and Asia Pacific.
                    </div>
                </div>
                <div class="card">
                    <div class="colored-paper info">
                        <b>
                            Meeting Schedule
                        </b>
                    </div>
                    <div class="section-padding">
                        <p>
                            The AIG Steering Committee meets in person during the ACC leadership forum, ACC Scientific Sessions, and European Society of Cardiology.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}