{% extends 'layouts/admin-committee-layout' %}
{% block content %}
<div class="row page-header section-padding">
    <div class="column">
        <h1>
           <a href="admin-committees-dashboard.html"><i class="fa fa-th-list" aria-hidden="true"></i></a> <i class="fa fa-angle-right" aria-hidden="true"></i> Name ABC <i class="fa fa-angle-right" aria-hidden="true"></i> Appointment Management
        </h1>
        <div class="row column">
        <div class="row column">
            <div class="float-left">
                <a class="button small radius hollow" href="admin-committees-list.html">Applicant List</a>
                <a class="button small radius hollow" href="admin-committees-details.html">Committee Details</a>
                 <a class="button small radius hollow" href="admin-appointment-day.html">Appointment Day</a>
                <a class="button small radius" href="admin-committees-appointed.html">Appointment Management</a>
            </div>
            <div class="float-right">
                <a href="" class="button radius small success"><i class="fa fa-plus"></i> Add Applicant</a>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="">
    <div class="layer-down">
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="colored-paper">
                         <h2 class="no-vertical-margin">
                            All Appointments
                            <div class="float-right">
                                <a class="secondary button tiny" href="">
                                    Email Selected
                                </a>
                                <a class="secondary button tiny" href="">
                                    Write to Personify
                                </a>
                                <a class=" secondary button tiny" href="">
                                    Report
                                </a>
                            </div>
                        </h2>
                    </div>
                    <div class="colored-paper grey-20 p-t-05em p-b-05em">
                                <div class="">
                                    <a href="" class="button hollow round tiny">Proposed</a>
                                    <a href="" class="button tiny round ">Contacted</a>
                                    <a href="" class="button hollow round tiny">Approved</a>
                                    <a href="" class="button hollow round tiny">Declined</a>
                                    <a href="" class="button hollow round tiny">All</a>
                                </div>
                            </div>
                    <div class="section-padding">
                        <table class="table banded">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-check">
                                        </i>
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Type &amp; Term
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th class="text-right">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-square-o">
                                        </i>
                                    </td>
                                    <td>
                                       <h5 class="no-margin"> Philippus Ehud <span class="sub-line highlighted small">Contacted</span></h5>
                                    </td>
                                    <td>
                                        Alternate | 3 years <a href="" class="link edit"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-plus" title="propesed">
                                        </i>
                                        10/20/2017
                                    </td>
                                    <td class="text-right">
                                        <div class="tiny">
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-envelope">
                                                </i>
                                                Request
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-check">
                                                </i>
                                                Approve
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-times">
                                                </i>
                                                Decline
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-square-o">
                                        </i>
                                    </td>
                                    <td>
                                       <h5 class="no-margin"> Sally Mikes <span class="sub-line highlighted small">Contacted</span></h5>
                                    </td>
                                    </td>
                                    <td>
                                        Alternate | 3 years <a href="" class="link edit"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-reply-all fa-flip-horizontal" title="emailed again">
                                        </i>
                                        10/20/2017
                                    </td>
                                    <td class="text-right">
                                        <div class="tiny">
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-envelope">
                                                </i>
                                                Request
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-check">
                                                </i>
                                                Approve
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-times">
                                                </i>
                                                Decline
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-square-o">
                                        </i>
                                    </td>
                                    <td>
                                      <h5 class="no-margin">Lucius Zakchaios<span class="sub-line highlighted small">Contacted</span></h5>
                                    

                                    </td>
                                    <td>
                                        Chair | 3 years  <a href="" class="link edit"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-reply-all fa-flip-horizontal" title="emailed again">
                                        </i>
                                        10/25/2017
                                    </td>
                                    <td class="text-right">
                                        <div class="tiny">
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-envelope">
                                                </i>
                                                Request
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-check">
                                                </i>
                                                Approve
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-times">
                                                </i>
                                                Decline
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-square-o">
                                        </i>
                                    </td>
                                    <td>
                                      <h5 class="no-margin">Hevel Ethan<span class="sub-line highlighted small">Contacted</span></h5>
                                    </td>
                                    <td>
                                        Member | 1 year  <a href="" class="link edit"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-reply fa-flip-horizontal" title="emailed">
                                        </i>
                                        5/2/2016
                                    </td>
                                    <td class="text-right">
                                        <div class="tiny">
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-envelope">
                                                </i>
                                                Request
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-check">
                                                </i>
                                                Approve
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-times">
                                                </i>
                                                Decline
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-square-o">
                                        </i>
                                    </td>
                                    <td>
                                         <h5 class="no-margin">Timotheus Joshua<span class="sub-line highlighted small">Contacted</span></h5>
                                    </td>
                                    <td>
                                        Alternate | 3 years <a href="" class="link edit"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-envelope" title="Approved via email">
                                        </i>
                                        5/2/2016
                                    </td>
                                    <td class="text-right">
                                        <div class="tiny">
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-envelope">
                                                </i>
                                                Request
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-check">
                                                </i>
                                                Approve
                                            </a>
                                            |
                                            <a class="link secondary tiny" href="">
                                                <i class="fa fa-times">
                                                </i>
                                                Decline
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% include "elements/card-pagination-bottom" %}
                </div>
            </div>
        </div>
        <div class="row column section-padding p-t-0">
            <a href="" class="tiny button hollow float-right"><i class="fa fa-eye"></i> Members Not Picked</a> <a href="" class="tiny button hollow float-right"><i class="fa fa-eye"></i> Ineligble Members</a>
        </div>
                <div class="row column">
            
        </div>
    </div>
    {% endblock %}
</div>