{% extends 'layouts/admin-committee-layout' %}
{% block content %}
<div class="row page-header section-padding">
    <div class="column">
        <h1 class="">
           <a href="admin-committees-dashboard.html"><i class="fa fa-th-list" aria-hidden="true"></i></a> <i class="fa fa-angle-right" aria-hidden="true"></i> Name ABC <i class="fa fa-angle-right" aria-hidden="true"></i> Applicant List
           
        </h1>
        <div class="row column">
            <div class="float-left">
                <a class="button small radius " href="admin-committees-list.html">Applicant List</a>
                <a class="button small radius hollow" href="admin-committees-details.html">Committee Details</a>
                 <a class="button small radius hollow disabled" href="admin-appointment-day.html"><i class="fa fa-lock"></i> Appointment Day</a>
                <a class="button small radius hollow disabled" href="admin-committees-appointed.html"><i class="fa fa-lock"></i> Appointment Management</a>
            </div>
            <div class="float-right">
                <a href="" class="button radius small success"><i class="fa fa-plus"></i> Add Applicant</a>
            </div>
        </div>
    </div>
</div>
<section class="">
    <div class="">
        <div class="row collapse" data-equalizer data-equalize-on="medium">
            <div class="column layer-down" data-equalizer-watch>
            <div class="content-padding">
                <div class="card">
                            <div class="colored-paper">
                                <h2 class="no-vertical-margin">Applicant List 
                                    <div class="float-right button-group tiny no-vertical-margin"><a href="" class="secondary button">Filter</a><a href="" class=" secondary button">Report</a></div>
                                </h2>
                            </div>
                            <div class="colored-paper grey-20 p-t-05em p-b-05em">
                                <div class="">
                                    <a href="" class="button hollow round tiny">Unknown</a>
                                    <a href="" class="button tiny round ">Eligible</a>
                                    <a href="" class="button hollow round tiny">Not Eligible</a>
                                    <a href="" class="button hollow round tiny">All</a>
                                </div>
                            </div>
                            <div class="section-padding">
                                <table class="table banded">
                                <thead>
                                    <tr>
                                        <th class="text-center" title="chair pick">
                                            <i class="fa fa-thumbs-up fa-fw">
                                            </i>
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                         <th class="text-center">
                                            <i class="fa fa-check" title="nominated"></i>&#39;s
                                        </th>
                                        <th class="text-center">
                                            <i class="fa fa-star" title="rated"></i>&#39;s
                                        </th>
                                        <th class="text-center">
                                           <i class="fa fa-comments" title="comments"></i>&#39;s
                                        </th>
                                        <th class="text-center single-line-height">
                                            Committee<br/>Participation
                                        </th>
                                        <th>
                                            Set Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr>
                                        <td class="text-center no-padding">
<i class="fa fa-thumbs-up"></i>                                        </td>
                                        <td>
                                            <h5><a class="list" href="admin-committees.html">
                                                Doctor Unknown, FACC
                                            </a>
                                            <span class="sub-line">2nd Choice of Committee</span><span class="sub-line success small">Eligible</span>
                                        </h5>
                                        </td>
 <td class="text-center">
                                            &nbsp;
                                        </td>
                                        <td class="text-center">
                                            ~
                                        </td>
                                        <td class="text-center">
                                           <a class="link" data-open="comments-on-user">4</a> | <a data-open="leave-comment"><i class="fa fa-comments"></a></i>
                                        </td>
                                        <td class="text-center">
                                            Cur(0) | Prev(0)
                                        </td>
                                        <td class="text-center">
                                            <select class="no-vertical-margin" id="" name="">
                                                <option value="">
                                                    Select One
                                                </option>
                                                <option value="InElegible">
                                                    InElegible
                                                </option>
                                                <option selected value="">
                                                    Elegible
                                                </option>
                                                <option value="">
                                                    Unknown
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center no-padding">
<i class="fa fa-thumbs-o-up" style="opacity: .2;"></i>                                        </td>
                                        <td>
                                            <h5><a class="list" href="admin-committees.html">
                                                Doctor Strange, FACC
                                            </a>
                                            <span class="sub-line">2nd Choice of Committee</span><span class="sub-line success small">Eligible</span>
                                        </h5>
                                        </td>
<td class="text-center">
                                        <a data-open="nominations-on-user" class="link"> <i class="fa fa-check"></i></a>
                                        </td>
                                        <td class="text-center">
                                            2.4 <i class="fa fa-star"></i>
                                        </td>
                                        <td class="text-center">
                                            <a class="link" data-open="comments-on-user">4</a> | <a data-open="leave-comment"><i class="fa fa-comments"></a></i>
                                        </td>
                                        <td class="text-center">
                                            Cur(0) | Prev(0)
                                        </td>
                                        <td class="text-center">
                                            <select class="no-vertical-margin" id="" name="">
                                                <option value="">
                                                    Select One
                                                </option>
                                                <option value="InElegible">
                                                    InElegible
                                                </option>
                                                <option selected value="">
                                                    Elegible
                                                </option>
                                                <option value="">
                                                    Unknown
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                  
                                    <tr>
                                        <td class="text-center no-padding">
<i class="fa fa-thumbs-o-up" style="opacity: .2;"></i>                                        </td>
                                        <td>
                                            <h5><a class="list" href="admin-committees.html">
                                                Doctor Unknown, FACC
                                            </a>
                                            <span class="sub-line">2nd Choice of Committee</span><span class="sub-line success small">Eligible</span>
                                        </h5>
                                        </td>
 <td class="text-center">
                                          &nbsp;
                                        </td>
                                        <td class="text-center">
                                            ~
                                        </td>
                                        <td class="text-center">
                                           <a class="link" data-open="comments-on-user">4</a> | <a data-open="leave-comment"><i class="fa fa-comments"></a></i>
                                        </td>
                                        <td class="text-center">
                                            Cur(0) | Prev(0)
                                        </td>
                                        <td class="text-center">
                                            <select class="no-vertical-margin" id="" name="">
                                                <option value="">
                                                    Select One
                                                </option>
                                                <option value="InElegible">
                                                    InElegible
                                                </option>
                                                <option selected value="">
                                                    Elegible
                                                </option>
                                                <option value="">
                                                    Unknown
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center no-padding">
<i class="fa fa-thumbs-o-up" style="opacity: .2;"></i>                                        </td>
                                        <td>
                                            <h5><a class="list" href="admin-committees.html">
                                                Doctor Strange, FACC
                                            </a>
                                            <span class="sub-line">2nd Choice of Committee</span><span class="sub-line success small">Eligible</span>
                                        </h5>
                                        </td>
<td class="text-center">
                                        <a data-open="nominations-on-user" class="link"> <i class="fa fa-check"></i></a>
                                        </td>
                                        <td class="text-center">
                                            2.4 <i class="fa fa-star"></i>
                                        </td>
                                        <td class="text-center">
                                            <a class="link" data-open="comments-on-user">4</a> | <a data-open="leave-comment"><i class="fa fa-comments"></a></i>
                                        </td>
                                        <td class="text-center">
                                            Cur(0) | Prev(0)
                                        </td>
                                        <td class="text-center">
                                            <select class="no-vertical-margin" id="" name="">
                                                <option value="">
                                                    Select One
                                                </option>
                                                <option value="InElegible">
                                                    InElegible
                                                </option>
                                                <option selected value="">
                                                    Elegible
                                                </option>
                                                <option value="">
                                                    Unknown
                                                </option>
                                            </select>
                                        </td>
                                    </tr>

<tr>
                                        <td class="text-center no-padding">
<i class="fa fa-thumbs-o-up" style="opacity: .2;"></i>                                            </td>
                                        <td>
                                            <h5><a class="list" href="admin-committees.html">
                                                Doctor Unknown, FACC
                                            </a>
                                            <span class="sub-line">2nd Choice of Committee</span><span class="sub-line success small">Eligible</span>
                                        </h5>
                                        </td>
 <td class="text-center">
                                        <a data-open="nominations-on-user" class="link"> <i class="fa fa-check"></i></a>
                                        </td>
                                        <td class="text-center">
                                            ~
                                        </td>
                                        <td class="text-center">
                                           <a class="link" data-open="comments-on-user">4</a> | <a data-open="leave-comment"><i class="fa fa-comments"></a></i>
                                        </td>
                                        <td class="text-center">
                                            Cur(0) | Prev(0)
                                        </td>
                                        <td class="text-center">
                                            <select class="no-vertical-margin" id="" name="">
                                                <option value="">
                                                    Select One
                                                </option>
                                                <option value="InElegible">
                                                    InElegible
                                                </option>
                                                <option selected value="">
                                                    Elegible
                                                </option>
                                                <option value="">
                                                    Unknown
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center no-padding">
<i class="fa fa-thumbs-o-up" style="opacity: .2;"></i>                                        </td>
                                        <td>
                                            <h5><a class="list" href="admin-committees.html">
                                                Doctor Strange, FACC
                                            </a>
                                            <span class="sub-line">2nd Choice of Committee</span><span class="sub-line success small">Eligible</span>
                                        </h5>
                                        </td>
<td class="text-center">
                                        <a data-open="nominations-on-user" class="link"> <i class="fa fa-check"></i></a>
                                        </td>
                                        <td class="text-center">
                                            2.4 <i class="fa fa-star"></i>
                                        </td>
                                        <td class="text-center">
                                            <a class="link" data-open="comments-on-user">4</a> | <a data-open="leave-comment"><i class="fa fa-comments"></a></i>
                                        </td>
                                        <td class="text-center">
                                            Cur(0) | Prev(0)
                                        </td>
                                        <td class="text-center">
                                            <select class="no-vertical-margin" id="" name="">
                                                <option value="">
                                                    Select One
                                                </option>
                                                <option value="InElegible">
                                                    InElegible
                                                </option>
                                                <option selected value="">
                                                    Elegible
                                                </option>
                                                <option value="">
                                                    Unknown
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tfoot>
                                        <tr>
                                            <td colspan="7">
                                                Unknonwn or Unset Nominees will not be viewable by committee members to leave comments on.
                                            </td>
                                        </tr>
                                    </tfoot>
                                </tbody>
                            </table>
                            </div>
                            {% include "elements/card-pagination-bottom"%}
                        </div></div>
            </div>
        </div>
    </div>
</section>
{% include "elements/leave-comment" %}
{% include "elements/comments-on-user" %}
{% include "elements/nominations-on-user" %}
{% endblock %}

