{% extends 'layouts/admin-layout' %}
{% block content %}
<div class="page paper-page">
    <div class="page-wrapper">
        <div class="row">
            <div class="column">
                <h1>
                    Application Questions
                </h1>
            </div>
        </div>
        <nav class="nav overlap" style="margin-bottom:0;">
            <ul class="tabs">
                <li class="tab-title selected">
                    <a href="admin-questions.html">
                        Global Questions
                    </a>
                </li>
                <li class="tab-title">
                    <a href="admin-questions-CV.html">
                        Digital CV Questions
                    </a>
                </li>
                <li class="tab-title">
                    <a href="admin-questions-type.html">
                        Type Questions
                    </a>
                </li>
            </ul>
        </nav>
        <div class="colored-paper">
            <div class="row">
                <div class="column ">
                    <h2>
                        Global Questions
                    </h2>
                </div>
            </div>
        </div>
        <div class="row section-padding">
            <div class="column">
                <div class="card">
                    <div class="colored-paper info">
                        <h3>
                            Statement of Interest: Textarea
                        </h3>
                    </div>
                    <div class="section-padding row">
                        <div class="question column medium-2">
                            <div class="label-holder">
                                <span class="text">
                                    Order
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <select id="" name="">
                                        <option value="">
                                            1
                                        </option>
                                        <option value="">
                                            2
                                        </option>
                                        <option value="">
                                            3
                                        </option>
                                        <option value="">
                                            4
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                    Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                        <div class="question column medium-4 disabled">
                            <div class="label-holder">
                                <span class="text">
                                    ID
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input disabled="" type="text" value="Statement_of_Interest">
                                    </input>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                    Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                        <div class="question column medium-6">
                            <div class="label-holder">
                                    <span class="text">
                                        Label
                                    </span>
                                    <span class="required-holder">
                                        <i class="fa fa-holder-dynamic">
                                        </i>
                                    </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">Error Message</small>
                            </div>
                            <div class="hint"></div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-padding">
            <div class="column small-12">
                <div class="card">
                    <div class="colored-paper success">
                        <h3>
                            Adding A Global Question
                        </h3>
                    </div>
                    <div class="row">
                        <div class="question column medium-4">
                            <div class="label-holder">
                                <span class="text">
                                    Question Title
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input type="text" value="Jelly Beans">
                                    </input>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                    Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                        <div class="question column medium-4 disabled">
                            <div class="label-holder">
                                <span class="text">
                                    ID
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input disabled="" type="text" value="Jelly_Beans">
                                    </input>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                    Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                        <div class="question column medium-4">
                            <div class="label-holder">
                                <span class="text">
                                    Question Type
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <select id="" name="">
                                        <option value="">
                                            Select One...
                                        </option>
                                        <option value="">
                                            Textarea - 250 max
                                        </option>
                                        <option value="">
                                            Textarea - 1000 max
                                        </option>
                                        <option value="">
                                            Yes|No
                                        </option>
                                        <option value="">
                                            Checkboxes
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                    Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="question column medium-8">
                            <div class="label-holder">
                                <span class="text">
                                    Label Text
                                </span>
                                <span class="required-holder">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </span>
                            </div>
                            <div class="input-holder">
                                <div class="input-space column">
                                    <input type="text">
                                    </input>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="error">
                                    Error Message
                                </small>
                            </div>
                            <div class="hint">
                            </div>
                        </div>
                    </div>
                    <div class="row section-padding group-divide">
                        <div class="column">
                            <a class="button float-right" href="">
                                Save
                            </a>
                            <a class="button secondary float-right" href="">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
