{% extends 'layouts/admin-layout' %}
{% block content %}
    <div class="page-header section-padding">
        <div class="row">
            <div class="column">
                <h1> <i class="fa fa-question-circle" aria-hidden="true"></i>
                Questions Manager <span class="seperator"> \ </span><span>Digital CV Quesitons</small>
                </h1>
                <div class="section-padding">
                    <a class="button tiny radius hollow" href="admin-questions.html">Global Questions</a>
                    <a class="button tiny radius " href="admin-questions-CV.html">  Digital CV Questions
                    </a>
                    <a class="button tiny radius hollow disabled" href="admin-questions-type.html">
                        Type Questions
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-wrapper layer-down">
        {% include "admin/elements/question-manage-generic" %}
        {% include "admin/elements/question-manage-generic" %}
        {% include "admin/elements/question-manage-generic" %}
        {% include "admin/elements/question-manage-generic" %}
        {% include "admin/elements/question-manage-competency" %}
    </div>
{% endblock %}
