{% extends 'layouts/admin-layout' %}
{% block content %}

<div class="page paper-page">
	<div class="page-wrapper" >
		<div class="row">
			<div class="column">
				<h1>Seasons <a href="admin-applications-filtered.html" class="button small secondary float-right">Filter</a>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="card">
				<div class="section-padding">
					<nav class="nav-list" >
						<ul>
							<li>
								<h2>ACC Guidance Committees</h2>
								<a href="" class="link">Archive</a>
							</li>
							<li>
								<h2>ACC Guidance Committees</h2>
							</li>
							<li class="button hollow expanded">
								<h2><i class="fa fa-plus"></i>  Create New</h2>
							</li>
						</ul>
					</nav>
				</div>
				{% include "elements/card-pagination-bottom"%}
			</div>
		</div>
	</div>
</div>

{% endblock %}