{% extends 'layouts/admin-layout' %}
{% block content %}
<div class="callout highlighted text-center no-padding">
	<h5>Season is now in Appointment Mode</h5>
</div>
      <div class="page-header section-padding">
            <div class="row ">
                  <div class="column">
                        <h1>Applications: Post Appointment Day</h1>
                  </div>
                  <div class="column">
                        <a class="button tiny radius ">All</a>
                        <a class="button tiny radius hollow ">Proposed</a>
                        <a class="button tiny radius hollow">Contacted</a>
                        <a class="button tiny radius hollow">Approved</a>
                        <a class="button tiny radius hollow">Declined</a>
                        <a class="button tiny radius hollow">Not Selected</a>
                  </div>
            </div>
      </div>
      <div class="">
            <div class="page-wrapper layer-down">
                  <div class="row column">
                        <div class="card">
                          <div class="colored-paper">
                               <h2 class="no-vertical-margin">
                                  All
                                  <div class="float-right">
                                      
                                  <div class="button-group small no-vertical-margin">
                                       <a class="secondary button" href="">
                                          Email Selected
                                      </a>
                                      <a class="secondary button" href="">
                                          Write to Personify
                                      </a>
                                      <a class=" secondary button" href="">
                                          Report
                                      </a>
                                  </div>
                                  </div>
                              </h2>
                          </div>
                        <div class="section-padding">
                              <table class="table banded">
                                    <thead>
                                          <tr>
                                                <th><i class="fa fa-check"></i></th>
                                                <th>Name</th>
                                                <th>Committee Name/ID</th>
                                                <th>Status </th>
                                                <th class="text-right">Actions</th>
                                          </tr>
                                    </thead>
                                    <tbody><tr class="seperator info">
                                          <td colspan="6">Proposed <a href="&#9;" style="color:#fff" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                          <td><i class="fa fa-square-o"></i></td>
                                          <td>Philippus Ehud</td>
                                          <td>Centeral Data | 000234212342</td>
                                          <td><i title="propesed" class="fa fa-plus"></i> &nbsp;10/20/2017</td>
                                          <td class="text-right"><div class="tiny">
                                                <a href="" class="link secondary tiny"><i class="fa fa-envelope"></i> Request</a>
                                                &nbsp;|&nbsp;
                                                <a href="" class="link secondary tiny"><i class="fa fa-check"></i> Approve</a>
                                                &nbsp;|&nbsp;
                                                <a href="" class="link secondary tiny"><i class="fa fa-times"></i> Decline</a>
                                          </div></td>
                                    </tr>
                                    <tr class="seperator">
                                          <td colspan="6">Contacted <a href="&#9;" style="color:#fff" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                          <td><i class="fa fa-square-o"></i></td>
                                          <td>Philippus Ehud</td>
                                          <td>Centeral Data | 000234212342</td>
                                          <td><i title="emailed again" class="fa fa-reply-all fa-flip-horizontal"></i>  &nbsp;10/20/2017</td>
                                          <td class="text-right"><div class="tiny">
                                                <a href="" class="link secondary tiny"><i class="fa fa-envelope"></i> Request</a>
                                                &nbsp;|&nbsp;
                                                <a href="" class="link secondary tiny"><i class="fa fa-check"></i> Approve</a>
                                                &nbsp;|&nbsp;
                                                <a href="" class="link secondary tiny"><i class="fa fa-times"></i> Decline</a>
                                          </div></td>
                                    </tr>
                                    <tr>
                                          <td><i class="fa fa-square-o"></i></td>
                                          <td>Lucius Zakchaios</td>
                                          <td>WIC | 000234212342</td>
                                          <td><i title="emailed again" class="fa fa-reply-all fa-flip-horizontal"></i> &nbsp;10/25/2017</td>
                                          <td class="text-right"><div class="tiny">
                                                <a href="" class="link secondary tiny"><i class="fa fa-envelope"></i> Request</a>
                                                &nbsp;|&nbsp;
                                                <a href="" class="link secondary tiny"><i class="fa fa-check"></i> Approve</a>
                                                &nbsp;|&nbsp;
                                                <a href="" class="link secondary tiny"><i class="fa fa-times"></i> Decline</a>
                                          </div></td>
                                    </tr>
                                    <tr>
                                          <td><i class="fa fa-square-o"></i></td>
                                          <td>Hevel Ethan</td>
                                          <td>Guidelines | 000234212342</td>
                                          <td><i title="emailed" class="fa fa-reply fa-flip-horizontal"></i> &nbsp;5/2/2016</td>
                                          <td class="text-right"><div class="tiny">
                                                <a href="" class="link secondary tiny"><i class="fa fa-envelope"></i> Request</a>
                                                &nbsp;|&nbsp;
                                                <a href="" class="link secondary tiny"><i class="fa fa-check"></i> Approve</a>
                                                &nbsp;|&nbsp;
                                                <a href="" class="link secondary tiny"><i class="fa fa-times"></i> Decline</a>
                                          </div></td>
                                    </tr>
                                    <tr class="seperator success">
                                          <td colspan="6">Approved <a href="&#9;" style="color:#333" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                          <td><i class="fa fa-square-o"></i></td>
                                          <td>Timotheus Joshua</td>
                                          <td>Centeral Data | 000234212342</td>
                                          <td><i title="Approved via email" class="fa fa-envelope"></i> &nbsp;5/2/2016</td>
                                          <td class="text-right"><div class="tiny">
                                                <a href="" class="link secondary tiny"><i class="fa fa-undo"></i>&nbsp;Remove Decision</a>
                                                <a href="" class="link secondary tiny"><i class="fa fa-pencil-square-o"></i> Write to Personify</a>
                                          </div></td>
                                    </tr>
                                    <tr class="seperator error">
                                          <td colspan="6">Declined <a href="&#9;" style="color:#fff" class="float-right">hide section <i class="fa fa-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                          <td><i class="fa fa-square-o"></i></td>
                                          <td>Peretz Zerah</td>
                                          <td>Centeral Data | 000234212342</td>
                                          <td><i title="Declined via System" class="fa fa-laptop"></i> &nbsp;5/2/2016</td>
                                          <td class="text-right"><div class="tiny">
                                                <a href="" class="link secondary tiny"><i class="fa fa-undo"></i>&nbsp;Remove Decision</a>
                                          </div></td>
                                    </tr>
                              </tbody>
                        </table>
                  </div>
                  {% include "elements/card-pagination-bottom" %}
            </div>
      </div>
</div>
{% endblock %}