{% extends 'layouts/layout' %}
{% block content %}
<div class="mobile-offcanvas-wrapper">
    <section class="split-layout medium reverse">
        <aside class="split-sidebar">
            <div class="row">
                <div class="column">
                    <h2> Open Committees </h2>
                    <div class="question section-padding">
                        <div class="input-holder">
                            <div class="input-space column small-8 medium-9">
                                <input name="" type="text">
                            </div>
                            <div class="input-space column small-4 medium-3">
                                <button class="button expanded">
                                     <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <nav class="nav-list small">    
                    <ul class="comittee-list">
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                    </ul>
                </nav>
            </div>
        {% include "elements/pagination-bottom" %}
        </aside>
        <article class="split-content page with-group-sections">
            <div class="page-wrapper">
                <div class="row column section-padding">
                    <h1 class="no-vertical-margin with-underline single-line-height">
                        Application
                        <span class="sub-line">
                            Dr.  Simon Sims, FACC | ssims@umd.org
                        </span>
                    </h1>
                </div>
                <div class="row column">
                    <div><h2 class="no-vertical-margin">Statement of Interest</h2></div>
                    <div class="card">
                        <div class="row column">
                            <div class="question">
                                <div class="label-holder">
                                    <label for=""> Generic Statement for all interested committees </label>
                                </div>
                                <div class="input-holder">
                                    <div class="input-space">
                                        <textarea name="" id="" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row column group-divide">
                            <div class="column small-6 medium-7 large-8">
                               <div class="switch-input-space">
                                  <div class="switch checkbox tiny">
                                    <input class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                                    <label class="switch-paddle" for="checkbox-checkbox">
                                      <span class="show-for-sr">Do you like me?</span>
                                      <span class="switch-active" aria-hidden="true">
                                        <i class="fa fa-holder"></i>
                                      </span>
                                      <span class="switch-inactive" aria-hidden="true">
                                        <i class="fa fa-holder"></i>
                                      </span>
                                    </label>
                                  </div>
                                  <label class="switch-value" for="checkbox-checkbox">Use the Statement or Interest from above</label>
                                </div>
                                <div class="row column">
                                    <textarea name="" id="" cols="30" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="column small-6 medium-5 large-4">
                                <div class="slot">{% include 'elements/data-committee' %}</div>
                            </div>
                        </div>
                        {% include 'elements/statement-interest-check' %}
                        {% include 'elements/statement-interest-disabled' %}
                        {% include 'elements/statement-interest-disabled' %}                        
                    </div>
                </div>
                <div class="row column">
                    <h2>Profile Information</h2>
                </div>
                <div class="row column">
                    <div class="card">
                        <div class="colored-paper">
                            <h3 class="no-vertical-margin">Professional Experiance</h3>
                        </div>
                        <div class="section-padding"><textarea name="" id="" cols="30" rows="10"></textarea></div>
                    </div>
                    <div class="card">
                        <div class="colored-paper">
                            <h3 class="no-vertical-margin">Publications</h3>
                        </div>
                        <div class="section-padding"><textarea name="" id="" cols="30" rows="10"></textarea></div>
                    </div>
                    <div class="card">
                        <div class="colored-paper">
                            <h3 class="no-vertical-margin">Honor Awards</h3>
                        </div>
                        <div class="section-padding"><textarea name="" id="" cols="30" rows="10"></textarea></div>
                    </div>
                    <div class="card">
                        <div class="colored-paper">
                            <h3 class="no-vertical-margin">Compentencies</h3>
                        </div>
                        <div class="section-padding"><textarea name="" id="" cols="30" rows="10"></textarea></div>
                    </div>
                </div>
                <div class="row column">
                    <h2>Disclosures</h2>
                </div>
                <div class="row column">
                    <div class="card ">
                        <div class="colored-paper success"><h3><i class="fa fa-holder-dynamic"></i>&nbsp;Your Disclousres Are Uptodate</h3></div>
                    </div>
                </div>
                <div class="row column section-padding">
                    <a href="" class="button secondary float-right">Save For Later</a>
                    <a href="" class="button float-right">Submit</a>
                </div>
        </article>
    </section>
</div>
{% endblock %}

{% comment %}
<img src="output/abstract-q-c-640-480-1.jpg">

</img>    {% endcomment %}