{% extends 'layouts/layout-application' %}
{% block page-name %}
    Active Application: <SMALL class="emphasis"> Dr.  Simon Sims, FACC | ssims@umd.org </SMALL>
{% endblock %}
{% block content %}

            <div class="paper-page page">
                <div class="page-wrapper">
                    <div class="row column">
                        <div>
                            <h2 class="no-vertical-margin">
                                Statement of Interest
                            </h2>
                        </div>
                        <div class="card" id="StatementofInterest">
                            <div class="row column">
                                <div class="question">
                                    <div class="label-holder white-space-normal">
                                        <h4 class="no-margin">
                                            Generic Statement of Interest
                                        </h4>
                                        <p>This statement of interest will be submitted for all your committes below unless you select not to use it and include a unique Statement for that committee.</p>
                                    </div>
                                    <div class="input-holder">
                                        <div class="input-space">
                                            <textarea id="" name="" rows="8" style="height: auto;">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row column group-divide">

                                <h4>Assembly of Interantional Governors Steering Committee</h4>
                                    <div class="switch-input-space">
                                        <div class="switch switch-2x checkbox tiny error-inactive">
                                            <input class="switch-input" id="checkbox-checkbox" type="checkbox" checked>
                                                <label class="switch-paddle" for="checkbox-checkbox">
                                                    <span class="show-for-sr">
                                                        Do you like me?
                                                    </span>
                                                    <span aria-hidden="true" class="switch-active">
                                                        Yes
                                                    </span>
                                                    <span aria-hidden="true" class="switch-inactive">
                                                        No
                                                    </span>
                                                </label>
                                            </input>
                                        </div>
                                        <label class="switch-value" for="checkbox-checkbox">
                                            Use the Generic Statement of Interest
                                        </label>
                                    </div>
                                   
                                </div>
                          <div class="row column group-divide">

                                <h4>Candy Bar Wrappers</h4>
                                    <div class="switch-input-space">
                                        <div class="switch switch-2x checkbox tiny error-inactive">
                                            <input class="switch-input" id="checkbox-checkbox" type="checkbox" checked>
                                                <label class="switch-paddle" for="checkbox-checkbox">
                                                    <span class="show-for-sr">
                                                        Do you like me?
                                                    </span>
                                                    <span aria-hidden="true" class="switch-active">
                                                        Yes
                                                    </span>
                                                    <span aria-hidden="true" class="switch-inactive">
                                                        No
                                                    </span>
                                                </label>
                                            </input>
                                        </div>
                                        <label class="switch-value" for="checkbox-checkbox">
                                            Use the Generic Statement of Interest
                                        </label>
                                    </div>
                                   
                                </div>
                           
                           {% comment %} {% include 'elements/statement-interest-check' %}
						{% include 'elements/statement-interest-disabled' %}
						{% include 'elements/statement-interest-disabled' %}    
						{% include 'elements/statement-interest-disabled' %}
						{% include 'elements/statement-interest-disabled' %}{% endcomment %}
                        </div>
                    </div>
                </div>
            </div>

               
                    <div class="row column">
                        <h2>
                            Digital CV
                        </h2>
                    </div>
                    <div class="row column">
                        <div class="card" id="digitalCV">
                            <div class="colored-paper">
                                <h3 class="no-vertical-margin">
                                    Professional Experiance
                                </h3>
                            </div>
                            <div class="section-padding">
                                <textarea cols="30" id="" name="" rows="5">
                                </textarea>
                            </div>
                        </div>
                        <div class="card">
                            <div class="colored-paper">
                                <h3 class="no-vertical-margin">
                                    Publications
                                </h3>
                            </div>
                            <div class="section-padding">
                                <textarea cols="30" id="" name="" rows="5">
                                </textarea>
                            </div>
                        </div>
                        <div class="card">
                            <div class="colored-paper">
                                <h3 class="no-vertical-margin">
                                    Honor Awards
                                </h3>
                            </div>
                            <div class="section-padding">
                                <textarea cols="30" id="" name="" rows="5">
                                </textarea>
                            </div>
                        </div>
                        <div class="card">
                            <div class="colored-paper">
                                <h3 class="no-vertical-margin">
                                    Compentencies
                                    <span class="sub-line">
                                        Please select your three strongest compentencies
                                    </span>
                                </h3>
                            </div>
                            <div class="row section-padding">
                                <div class="column ">
                                    <div class="callout warning">
                                        <h4>
                                            <i class="fa warning">
                                            </i>
                                            You must only select 3
                                        </h4>
                                    </div>
                                    {% include 'elements/Comp-check'%}
							{% include 'elements/Comp-check'%}
							{% include 'elements/Comp-check'%}
							{% include 'elements/Comp-check'%}
							{% include 'elements/Comp-check'%}
							{% include 'elements/Comp-check'%}
                                </div>
                                <div class="column group-divide">
                                    <div class="question">
                                        <div class="label-holder">
                                            <label for="">
                                                Explain your compentencies
                                            </label>
                                        </div>
                                        <div class="input-holder">
                                            <div class="input-space">
                                                <textarea id="" name="" rows="6">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row column">
                        <h2>
                            Letter of Reference
                        </h2>
                        <p>Search for a member to ask a letter of reference from.</p>
                    </div>
<div class="row column">
    {% include "sections/select-search-members"  %}
</div>
             
                    <div class="row column">
                        <h2>
                            Disclosures
                        </h2>
                    </div>
                    <div class="row column">
                        <div class="card " id="disclosures">
                            <div class="colored-paper success">
                                <h3>
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                    Your Disclousres Are Up To Date
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row column section-padding">
                        <a class="button float-right" href="">
                            Submit
                        </a>
                        <a class="button secondary float-right" href="">
                            Save For Later
                        </a>
                    </div>
    

<div class="reveal large no-padding paper-page page" data-reveal="" id="comm-modal">
    {% include "sections/committee-overview" %}
    <button aria-label="Close modal" class="close-button" data-close="" type="button">
        <span aria-hidden="true">
            <i class="fa fa-times"></i>
        </span>
    </button>
</div>
{% endblock %}

{% block active-application %} 
<div class="colored-paper">
    <h2 class="no-margin text-center">Committees of Interest
    </h2>
        <p class="text-center" >Rank the your interest by dragging and dropping your committees.</p> 
</div>
<ul class="ranking-committee page-wrapper committee-list" id="sortable">
    <li>
        <div class="committee-rank one">1</div>      
        <div class="committee--holder">{% include 'elements/data-committee' %}</div>
    </li>
    <li>
        <div class="committee-rank two">2</div>
        <div class="committee--holder">{% include 'elements/data-committee-empty' %}</div>
    </li>
    <li>
        <div class="committee-rank three">3</div>
        <div class="committee--holder">{% include 'elements/data-committee-candybar' %}</div>
    </li>
    <li>
        <div class="committee-rank four">4</div>
        <div class="committee--holder">{% include 'elements/data-committee-empty' %}</div>
    </li>
    <li>
        <div class="committee-rank five">5</div>
        <div class="committee--holder">{% include 'elements/data-committee-empty' %}</div>
    </li>
    <li>
        <div class="committee-rank six">6</div>
        <div class="committee--holder">{% include 'elements/data-committee-empty' %}</div>
    </li>
</ul>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable" ).sortable(
        {
      placeholder: "ui-state-highlight"
    });
    $( "#sortable" ).disableSelection();
  } );
  </script>
{% comment %}<div class="page-wrapper committee-list">
    {% include 'elements/data-committee' %}
    {% include 'elements/data-committee-empty' %}
    {% include 'elements/data-committee-empty' %}
    {% include 'elements/data-committee-empty' %}
    {% include 'elements/data-committee-empty' %}
    {% include 'elements/data-committee-empty' %}
</div>{% endcomment %}
{% endblock %}

{% comment %}
<img src="output/abstract-q-c-640-480-1.jpg">
</img>
{% endcomment %}
