{% extends 'layouts/layout-blank' %}
{% block content %}

<div class="page paper-page "  style="
    min-height: 100VH;
">
	<div class="page-wrapper">
{% comment %}		<div class="row">
			<div class="column small-12">
				{% include "elements/page-message-deadline" %}
			</div>
		</div>
		<div class="row section-padding">
			<div class="column small-12">
				{% include "elements/page-message-missing-data" %}
			</div>
		</div>{% endcomment %}
		<div class="row section-padding">
			<div class="column">
				<h1 class="no-vertical-margin">Committee Nominations Sandbox
				<span class="sub-line">
					Come play and imagine what might be.
				</span>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 medium-6">
				<div class="card">
					<div class="colored-paper">
						<h2 class="no-vertical-margin">User Pages</h2>
					</div>
					<div class="section-padding">
						<nav class="nav-list">
							<ul>
								<li><a href="user-dashboard.html"><span class="text">User Home Page</span><i class="fa fa-holder-dynamic"></i></a></li>
								<li><a href="open-committees.html"><span class="text">Committee Search</span><i class="fa fa-holder-dynamic"></i></a></li>
								<li><a href="Profile.html"><span class="text">User Profile</span><i class="fa fa-holder-dynamic"></i></a></li>
								<li><a href="application-to-committee.html"><span class="text">Application</span><i class="fa fa-holder-dynamic"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="column small-12 medium-6">
				<div class="card">
					<div class="colored-paper">
						<h2 class="no-vertical-margin">Admin Pages</h2>
					</div>
					<div class="section-padding">
						<nav class="nav-list">
							<ul>
								<li><a href="admin-applications.html"><span class="text">Applications Dashboard</span><i class="fa fa-holder-dynamic"></i></a></li>
								<li><a href="admin-committees-dashboard.html"><span class="text">Committee Dashboard</span><i class="fa fa-holder-dynamic"></i></a></li>
								<li><a href="admin-reports.html"><span class="text">Reports</span><i class="fa fa-holder-dynamic"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% comment %}<img src="output/abstract-q-c-640-480-1.jpg">{% endcomment %}