{% extends 'layouts/layout' %}
{% block content %}
<div class="page paper-page">
	<div class="page-wrapper content-padding">
		<h1>PCI Bleeding Risk Checklist</h1>
		<div class="card">
			<div class="colored-paper "><h4 class="no-vertical-margin">Procedure Performance Issue</h4></div>
			<div class="row section-padding">
				<div class="column medium-6"><div class="callout radius">
					<p><span class="bold">COMMON PROBLEM:</span> Improper Performance of Procedure</p>
				</div></div>
				<div class="column medium-6">
					<h5>Tools</h5>
					<ul class="no-bullet">
						<li><i class="fa fa-square-o"></i> Risk Factors that Increase Vascular Complications After PCI</li>
						<li><i class="fa fa-square-o"></i> Indications For PCI in STEMI</li>
						<li><i class="fa fa-square-o"></i> Pre-PCI Procedure Orders</li>
						<li><i class="fa fa-square-o"></i> Arterial Access Protocol for PCI</li>
					</ul>
				</div>
			</div>
		</div><br/><div class="card">
			<div class="colored-paper"><h4 class="no-vertical-margin">Protocol Issues</h4></div>
			<div class="row section-padding">
				<div class="column medium-6"><div class="callout radius ">
					<p><span class="bold">COMMON PROBLEM:</span> Lack of Protocol to Prevent Postoperative Bleeding</p>
				</div></div>
				<div class="column medium-6">
					<h5>Tools</h5>
					<ul class="no-bullet">
						<li><i class="fa fa-square-o"></i> Post-PCI Procedural Recommendations After PCI</li>
						<li><i class="fa fa-square-o"></i> Post-PCI Procedure Groin Bleed</li>
						<li><i class="fa fa-square-o"></i> Post-PCI Procedure Orders</li>
						<li><i class="fa fa-square-o"></i> Post-PCI Sheath Removal Protocol</li>
						<li><i class="fa fa-square-o"></i> Post-PCI Sheath Removal Checklist</li>
						<li><i class="fa fa-square-o"></i> Competency Assessment for Arterial and Venous Sheath Removal</li>												
					</ul>
				</div>
			</div>
			<div class="row section-padding group-divide">
				<div class="column medium-6"><div class="callout radius">
					<p><span class="bold">COMMON PROBLEM:</span> Lack of Knowledge About Patient Factors That Can Contribute to Risk of Postoperative Bleeding</p>
				</div></div>
				<div class="column medium-6">
					<h5>Tools</h5>
					<ul class="no-bullet">
						<li><i class="fa fa-square-o"></i> Risk Factors that Increase Vascular Complications After PCI</li>
					</ul>
				</div>
			</div>
			<div class="row section-padding group-divide">
				<div class="column medium-6"><div class="callout radius">
					<p><span class="bold">COMMON PROBLEM:</span> Failure to Identify Early Warning Signs of Postoperative Bleeding</p>
				</div></div>
				<div class="column medium-6">
					<h5>Tools</h5>
					<ul class="no-bullet">
						<li><i class="fa fa-square-o"></i> Early Warning Signs of A Vascular Complication After PCI</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}
