{% extends 'layouts/layout-blank' %} {% block content %}
<div class="page paper-page " style=" min-height: 100VH;">
    <div class="page-wrapper">
        <div class="row section-padding">
            <div class="column">
                <h1 class="no-vertical-margin">Committee Nominations Sandbox Client Side
				<span class="sub-line">
					Come play and imagine what might be.
				</span>
				</h1>
            </div>
        </div>
        <div class="row">
            <div class="column small-12 medium-6">
                <div class="card">
                    <div class="colored-paper">
                        <h2 class="no-vertical-margin">User Pages</h2>
                    </div>
                    <div class="section-padding">
                        <nav class="nav-list">
                            <ul>
                                <li><a href="user-dashboard.html"><span class="text">Dashboard</span><i class="fa fa-holder-dynamic"></i></a></li>
                                <li><a href="user-open-committees.html"><span class="text">Committee Search</span><i class="fa fa-holder-dynamic"></i></a></li>
                                <li><a href="user-open-requests.html"><span class="text">Requests</span><i class="fa fa-holder-dynamic"></i></a></li>
                                <li><a href="user-profile.html"><span class="text">User Profile</span><i class="fa fa-holder-dynamic"></i></a></li>
                                <li class="strong">
                                    <h4 class="with-underline">Nominate a Colleague</h4>
                                </li>
                                <li><a href="user-nominate-memberSelection.html"><span class="text">Select a Member</span></a></li>
                                <li><a href="user-nominate-selectCommittee.html"><span class="text">Select Committee</span></a></li>
                                <li><a href="user-nominate-statementOfReference.html"><span class="text">Statement of Reference</span></a></li>
                                <li><a href="user-nominate-review.html"><span class="text">Review</span></a></li>
                                <li class="strong">
                                    <h4 class="with-underline">
                                        Application
                                    </h4>
                                </li>
                                <li><a href="user-application-selectCommittee.html"><span class="text">Select a Committee</span></a></li>
                                <li><a href="user-application-ReviewDigitalCV.html"><span class="text">Review Digital CV</span></a></li>
                                <li><a href="user-application-StatementOfInterest.html"><span class="text">Statement of Interest</span></a></li>
                                <li><a href="user-application-Review.html"><span class="text">Review Application</span></a></li>

                                <!-- <li><a href="application-to-committee.html"><span class="text">Application</span><i class="fa fa-holder-dynamic"></i></a></li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
           <!--  <div class="column small-12 medium-6">
                <div class="card">
                    <div class="colored-paper">
                        <h2 class="no-vertical-margin">Admin Pages</h2>
                    </div>
                    <div class="section-padding">
                        <nav class="nav-list">
                            <ul>
                                <li><a href="admin-applications.html"><span class="text">Applications Dashboard</span><i class="fa fa-holder-dynamic"></i></a></li>
                                <li><a href="admin-applicant.html"><span class="text">Application - Review</span><i class="fa fa-holder-dynamic"></i></a></li>
                                <li><a href="admin-committees-dashboard.html"><span class="text">Committee Dashboard</span><i class="fa fa-holder-dynamic"></i></a></li>
                                <li><a href="http://localhost:8000/converted-html/admin-committees-details.html"><span class="text">Committee - Detail</span><i class="fa fa-holder-dynmaic"></i></a></li>
                                <li><a href="admin-committees.html"><span class="text">Committee - Nomination Review</span><i class="fa fa-holder-dynamic"></i></a></li>
                                <li><a href="admin-proposed.html"><span class="text">Proposed<i class="fa fa-holder-dyynamic"></i></span></a></li>
                                <li><a href="admin-reports.html"><span class="text">Reports</span><i class="fa fa-holder-dynamic"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
{% endblock %} {% comment %}<img src="output/abstract-q-c-640-480-1.jpg">{% endcomment %}