{% extends 'layouts/admin-layout' %}
{% block content %}

<div class="page paper-page">
	<div class="page-wrapper">
		{% comment %}
			<div class="row">
				<div class="column small-12">
					{% include "elements/page-message-deadline" %}
				</div>
			</div>
			<div class="row section-padding">
				<div class="column small-12">
					{% include "elements/page-message-missing-data" %}
				</div>
			</div>
		{% endcomment %}
		<div class="row">
			<div class="column">
				<h1>Applications</h1>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<table class="table">
					<thead>
						<tr>
							<td rowspan="2" class="info">Status</td>
							<td rowspan="2">Name</td>
							<td colspan="5" class="text-center info">Application Content</td>
							
							<td rowspan="2" class="text-right">Actions</td>
						</tr>
						<tr>
							
							<td><span class="light">Exp</span></td>
							<td><span class="light">Pubs</span></td>
							<td><span class="light">Awards</span></td>
							<td><span class="light">Comp</span></td>
							<td><span class="light">Let Ref</span></td>
							
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="success">Verified</td>
							<td><a href="">dr zeta gamma</a></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td class="text-right">
								<a href="" class="button secondary tiny radius">Other</a>
								<a href="" class="button tiny radius">Review</a>
							</td>
						</tr>
						<tr>
							<td class="disabled">UnSubmitted</td>
							<td><a href="">dr zeta gamma</a></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td class="text-right">
								<a href="" class="button disabled secondary tiny radius">Other</a>
								<a href="" class="button disabled tiny radius">Review</a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% comment %}<img src="output/abstract-q-c-640-480-1.jpg">{% endcomment %}