{% extends 'layouts/layout' %}
{% block content %}
<div class="mobile-offcanvas-wrapper" data-bind="page: {id:'sections', role: 'start'}">
    <div class="page paper-page">
        <div class="page-wrapper content-padding">
        {%include 'sections/search-bar' %}
            <div class="card">
                <div class="colored-paper">{%include 'sections/result/result-buttons' %} </div>
                <div class="section-padding">
                    <table class="table">
                        {%include 'sections/result/table/thead-full' %}
                        <tbody>
                            {%include 'sections/result/table/row-checked' %} {%include 'sections/result/table/row-not-checked' %}
                        </tbody>
                    </table>
                </div>
                {%include 'components/pagination' %}
            </div>
        </div>
    </div>
</div>



{% endblock %}
