{% extends 'layouts/layout' %}
{% block content %}
<div class="mobile-offcanvas-wrapper" data-bind="page: {id:'sections', role: 'start'}">
    <div class="page paper-page">
        <div class="page-wrapper content-padding">
        	<div class="row">
        		<div class="column">
        			<h1>Moving Purchases <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Search for a member record to transfer to and click the transfer button."><i class="fa fa-info-circle"></i></span>
        			</h1>
        		</div>
        	</div>
        	<div class="row">
        		<div class="column">{%include 'sections/search-bar' %}</div>
        	</div>
            <div class="row">
            	<div class="column medium-4 large-3">
            		<div class="card">
            			<div class="colored-paper"><h3>From Record <i class="fa fa-sign-out" aria-hidden="true"></i></h3></div>
            			<div class="section-padding">
            				<h4>
								<div class="sub-line">Name</div>
								Matt Watier
            				</h4>
            				<h4>
								<div class="sub-line">Email</div>
								 mwatier@acc.org
            				</h4>
            				<h4>
								<div class="sub-line">Badge Number</div>
								01524354
            				</h4>
            				<h4>
								<div class="sub-line">Purchases</div>
								<div>
									<span class="purchase-icon acc" title="ACC2017"></span>
									<span class="purchase-icon iscience" title="iSCIENCE"></span>
								</div>
            				</h4>
            			</div>
            		</div>
            	</div>
            	<div class="column medium-8 large-9">
	            	<div class="card">
	            	<div class="colored-paper"><h3><i class="fa fa-sign-in" aria-hidden="true"></i> To Record</h3></div>
		                <div class="section-padding">
		                    <table class="table">
		     					{%include 'sections/result/table/thead-cond' %}
		                        <tbody>                            
		                        </tbody>
		                    </table>
		                </div>
		                 {%include 'components/pagination' %}
		            </div>
	            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
