{% extends 'layouts/layout-nominate' %}
{% block page-name %}
  Nominate A Member (Page 3 of 3)
<div class="sub-line">
    Write a Letter of Reference for your Nominee
</div>
{% endblock %}


{% block  forward-btn %}
<a class="button success float-right" href="user-dashboard-empty.html">
    Submit
</a>
{% endblock %}

{% block content %}
<div class="row page-wrapper">
    <div class="column medium-7 large-8">
        <div class="card">
            <div class="colored-paper">
                <h2>
                    Statement of Reference
                </h2>
                <p>
                    Discribe your cologue and why their strenghts would be a good fit for the commitees you have selected for them.
                </p>
            </div>
            <div class="section-padding">
                <textarea cols="30" id="" name="" rows="10">
                </textarea>
            </div>
        </div>
    </div>
    <div class="column medium-5 large-4">
        <div class="row">
            <div class="card ghost">
                <h2 class="text-center">
                    Request Overview
                </h2>
                <div class="callout">
                    <h4 class="colored-paper empty text-center">
                        Nominator (You)
                    </h4>
                    <div style="position: relative;">
                        <h6>
                            <div class="sub-line">
                                Name
                            </div>
                            Dr. Loly Pop
                        </h6>
                        <h6>
                            <div class="sub-line">
                                Institution
                            </div>
                            The Xavier School
                        </h6>
                        <h6>
                            <div class="sub-line">
                                Location
                            </div>
                            Atlanta,GA
                        </h6>
                        <a class="link close-button" href="">
                            <i class="fa fa-pencil">
                            </i>
                            edit
                        </a>
                    </div>
                </div>
                <div class="callout">
                    <h4 class="colored-paper empty text-center">
                        Nominee (Them)
                    </h4>
                    <div style="position: relative;">
                        <h6>
                            <div class="sub-line">
                                Name
                            </div>
                            Dr. Luke Skywalker
                        </h6>
                        <h6>
                            <div class="sub-line">
                                Institution
                            </div>
                            The Rebel Alliance
                        </h6>
                        <h6>
                            <div class="sub-line">
                                Location
                            </div>
                            Hollywood, CA
                        </h6>
                    </div>
                </div>
                <div class="callout">
                    <h4 class="colored-paper empty text-center">
                        Nominated Committees
                    </h4>
                    <div class="section-padding">
                        <ul class="no-bullet">
                            <li>
                                Committee A
                                <a class="link remove float-right" href="">
                                    <i class="fa fa-times">
                                    </i>
                                    Remove
                                </a>
                            </li>
                            <li>
                                NCDR Committee A
                                <a class="link remove float-right" href="">
                                    <i class="fa fa-times">
                                    </i>
                                    Remove
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="callout warning">
                    <h4 class="colored-paper empty">
                        Statement of Reference
                    </h4>
                    <h6 class="text-center section-padding">
                        Missing Statement of Reference
                    </h6>
                </div>
                <a class="button success expanded" href="user-dashboard-empty.html">
                    Submit
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}






{% block back-btn %}
<a class="button navigation float-left" href="user-nominate-committee.html">
    <i class="fa fa-arrow-left">
    </i>
    Back
</a>
{% endblock %}
