{% extends 'layouts/layout' %}
{% block content %}
<div class="mobile-offcanvas-wrapper">
    <section class="split-layout medium">
        <aside class="split-sidebar">
            <div class="row">
                <div class="column">
                    <h2>
                        Open Committees
                    </h2>
                    <div class="question section-padding">
                        <div class="input-holder">
                            <div class="input-space column small-8 medium-9">
                                <input name="" type="text">
                                </input>
                            </div>
                            <div class="input-space column small-4 medium-3">
                                <button class="button expanded">
                                    <i class="fa fa-search">
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <nav class="">
                    <ul class="comittee-list">
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                    </ul>
                </nav>
            </div>
            {% include "elements/pagination-bottom" %}
        </aside>
        <article class="split-content page with-group-sections">
            
            <div class="section-nav back hide-for-medium">
                <a>
                    <div class="circle">
                        <i class="fa fa-holder-dynamic">
                        </i>
                    </div>
                    <div class="text">
                        Back to Open Committees
                    </div>
                </a>
            </div>
            <div class="page-wrapper">
                <div class="row column section-padding">{% include "elements/page-message-deadline" %}</div>
            </div>
            {% include "sections/committee-overview" %}
        </article>
    </section>
</div>
{% endblock %}

{% comment %}
<img src="output/abstract-q-c-640-480-1.jpg">
</img>
{% endcomment %}
