{% extends 'layouts/layout' %}
{% block content %}
<div class="mobile-offcanvas-wrapper">
    <section class="split-layout medium">
        <aside class="split-sidebar">
            <div class="row">
                <div class="column">
                    <h2> Open Committees </h2>
                    <div class="question section-padding">
                        <div class="input-holder">
                            <div class="input-space column small-8 medium-9">
                                <input name="" type="text">
                            </div>
                            <div class="input-space column small-4 medium-3">
                                <button class="button expanded">
                                     <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <nav class="nav-list small">    
                    <ul class="comittee-list">
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                        {% include "elements/comittee-List-item" %}
                    </ul>
                </nav>
            </div>
            {% include "elements/pagination-bottom" %}
        </aside>
        <article class="split-content page with-group-sections">
           <div class="section-nav back hide-for-medium">
                    <a>
                      <div class="circle">
                        <i class="fa fa-holder-dynamic"></i>
                      </div>
                      <div class="text">Back to Open Committees</div>
                    </a>
            </div>
            <div class="page-wrapper">
                <div class="content-padding section-padding">
                <div class="row">
                    <div class="column">{% include "elements/page-message-deadline" %}</div>
                </div>
                    <div class="row">
                        <div class="column"> 
                            <h1 class="no-vertical-margin">
                                Committee Name
                                <span class="sub-line float-right small italic">
                                    COMMITTEE/90823402934
                                </span>
                                <span class="sub-line">
                                    ACC Guidance Committee
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row section-padding">
                    <div class="column  large-7">
                        <div class="card">
                        <div class="colored-paper info">
                                    <b>Charge</b>
                                </div>
                                <div class="section-padding">
                                                                    <p>
                                    It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                                </p>
                                </div>
                            <div class="colored-paper info">
                                <b>Compentencies</b>
                            </div>
                            <div class="section-padding">
                                <p>
                                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="column  large-5">
                        <h4>
                            Available Positions
                        </h4>
                        {% include "elements/open-position" %}
                        <h4>Current Members</h4>
                        <div class="card">
                            {% include "sections/current-members" %}
                        </div>
                    </div>


                </div>
                <div class="row group-divide">
                    <div class="column text-right">
                        <a href="" class="button secondary">Nominate A Member</a>
                        <a href="application-to-committee.html" class="button">Start Application</a>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
{% endblock %}

{% comment %}
<img src="output/abstract-q-c-640-480-1.jpg">
    
</img>{% endcomment %}