{% extends 'layouts/layout' %}
{% block content %}
    <div class="mobile-offcanvas-wrapper paper-page page">
        
        <div class="page-header clearfix">
            <h1>
            
            Requests
            </h1>
        </div>
        <section class="row ">
            <aside class="column small-5 large-4">
                <div class="inset-area">
                    <div class="colored-paper">
                        <h2>
                        Pending Requests
                        </h2>
                    </div>
                    {% include "elements/searchbar" %}
                    
                    <div class="section-padding">
                        <ul class="comittee-list">
                            {% include "elements/request-List-item-notactive" %}
                            {% include "elements/request-List-item-active" %}
                            {% include "elements/request-List-item-notactive" %}
                            {% include "elements/request-List-item-notactive" %}
                            {% include "elements/request-List-item-notactive" %}
                            {% include "elements/request-List-item-notactive" %}
                        </ul>
                    </div>
                    <div class="group-section-pagination-holder content-padding"> {% include "elements/pagination-bottom" %}</div>
                   
                </div>
            </aside>
            <article class="column small-7 large-8">
                
                <div class="section-nav back hide-for-medium">
                    <a>
                        <div class="circle">
                            <i class="fa fa-holder-dynamic">
                            </i>
                        </div>
                        <div class="text">
                            Back to Open Committees
                        </div>
                    </a>
                </div>
                <div class="page-wrapper">
                    <div class="page-wrapper">
                        <div class="row ">
                            <div class="column section-padding">
                                
                                <div class="row">
                                <div class="column large-6 ">
                                    <div class="row content-padding section-padding">
                                        <div class="column small-12">
                                            <h1 class="no-vertical-margin">
                                    Dr. Watchmacallit Mars, MD, FACC
                                    <span class="sub-line italic">
                                        <strong>
                                        Hostpital Name
                                        </strong><br>
                                        dwatchmacallit@****
                                    </span>
                                    </h1>
                                        </div>
                                    </div>
                                </div>
                                   <div class="column large-6"><div class="callout info">
                                        <div class="row content-padding">
                                            <h5 class="with-underline">
                                    Committees Applying To
                                    </h5>
                                    <ul >
                                        <li>Assembly of Interantional Governors Steering Committee</li>
                                        <li>Assembly of Interantional Governors Steering Committee</li>
                                    </ul>
                                        </div>
                                   </div>
                                 </div>
                                    
                                </div>
                                
                            
                                <div class="card">
                                    <div class="colored-paper info">
                                        <h2 class="no-vertical-margin">
                                        Statement of Reference
                                        </h2>
                                    </div>
                                    <div class="section-padding">
                                        <p>Please fill this request out be a nice human being.</p>
                                        <textarea name="" id="" cols="30" rows="10"></textarea>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row group-divide">
                            <div class="column text-right">
                                <a class="button secondary" href="">
                                    Save For Later
                                </a>
                                <a class="button" href="application-to-committee.html">
                                    Submit Recomendation
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="reveal large no-padding paper-page page" data-reveal="" id="comm-modal">
                        {% include "sections/committee-overview" %}
                        <button aria-label="Close modal" class="close-button" data-close="" type="button">
                        <span aria-hidden="true">
                            <i class="fa fa-times"></i>
                        </span>
                        </button>
                    </div>
                </div>
                
            </article>
        </section>
    </div>
{% endblock %}
