{% extends 'layouts/base-layout' %} {% block content %}
<div class="colored-paper">
    <div class="row page-wrapper">
        <div class="column medium-6 ">
            <h1>
			ICD eReports Dashboard
		</h1>
        </div>
        <div class="column medium-3">
            <div class="question">
                <div class="label-holder">
                    <label for="" class="label"><span class="text">Ending Timeframe:</span></label>
                </div>
                <div class="input-holder">
                    <div class="input-space">
                        <select name="" id="">
                            <option value="">2016</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="column medium-3">
            <div class="question">
                <div class="label-holder">
                    <label for="" class="label"><span class="text">Participant:</span></label>
                </div>
                <div class="input-holder">
                    <div class="input-space">
                        <select name="" id="">
                            <option value="">2016</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="content-padding hide-for-small-only">
        <ul class="nav tabs ">
            <li >
                <a class="h6 no-margin" href="index.html">Executive Summary</a>
            </li>
            <li class="selected">
                <a class="h6 no-margin" href="PerformanceMeasures.html">Performance Measures</a>
            </li>
            <li class="  ">
                <a class="h6 no-margin">Guideline Metrics</a>
            </li>
            <li class="">
                <a class="h6 no-margin">Outcome Metrics</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content-padding section-padding">
        <nav class=" hide-for-medium button-group stacked radius">
        <a class="button " href="index.html">Executive Summary</a>
        <a class="button  selected" href="PerformanceMeasures.html">Performance Measures</a>
        <a class="button">Guideline Metrics</a>
        <a class="button">Outcome Metrics</a>
    </nav>
</div>
<div class="content-padding page-wrapper"> 
    
    <div class="row">
        <div class="column"><h1>Performance Measures</h1></div>
        <div class="column large-4 medium-6 section-padding">

                {% include "snippets/dataquarters-dualprogressbar-bad"%} 

        </div>
         <div class="column large-4 medium-6 section-padding">

                {% include "snippets/dataquarters-dualprogressbar-good"%} 

        </div>
        <div class="column large-4 medium-6 section-padding">

                {% include "snippets/dataquarters-dualprogressbar-good_2"%} 

        </div>
    </div>
</div>
{% endblock %} {% block script %}
<style>
</style>
{% endblock %}