{% extends 'layouts/base-layout' %}
{% block content %}
{% include "sections/personal-name" %} 
{% include "sections/personal-resident" %}
{% include "sections/personal-address" %}
{% include "sections/personal-address-add" %}   
{% include "sections/personal-phone" %}
{% include "sections/personal-email" %}

<div class="row group-divide text-center">
	    <div class="content-padding">
      <h4>Is your Personal Information complete and up to date?</h4>
      <a href="" class="disabled button"><i class="fa fa-holder"></i> Yes, Continue with Application</a>
    </div>
</div>
<script>
    function residentSlide(e){
        e.preventDefault();
        $('#residentQuestions').slideToggle();
        ($('#profType').val()=="")?$('#profType').val('Resident'):$('#profType').val('');
        

    }
    function addressSlide(e){
        e.preventDefault();
        ($('#addAddressButton').css("display") == "none"  )? $('html, body').animate({scrollTop: $("#Address").offset().top}, 500):$('html, body').animate({scrollTop: $("#addAddress").parent().offset().top}, 500);
        $('#addAddress,#addAddressButton').slideToggle();
        

    }
    function addressSave(e){
        e.preventDefault();
        $( "#addressRender" ).clone().appendTo( ".repeater" );
        ($('#addAddressButton').css("display") == "none"  )?$('html, body').animate({scrollTop: $("#Address").offset().top}, 500): $('html, body').animate({scrollTop: $("#addAddress").parent().offset().top}, 500);
        $('#addAddress,#addAddressButton').slideToggle();
    }
</script>
{% endblock%}
{% block sidebar %}
{% include "sidebar" %}
{% endblock %}
