{% extends 'layouts/layout' %}
{% block content %}

<div class="page paper-page">
	<div class="page-wrapper">
		<div class="row">
			<h1 class="column"><i class="fa fa-user"></i> &nbsp; Profile</h1></div>
		<div class="row">
		{% include "elements/page-message-missing-data" %}

		</div>
		<div class="row">
		
			<div id="contactData" class="column section-padding">
				<div class="card">
					<div class="colored-paper info">
						<i class="fa fa-envelope">&nbsp;</i><b class="no-vertical-margin">Contact Info</b>
					</div>
					<div class="section-padding row">
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
					</div>
				</div>
			</div>
			<div id="proExperianceData" class="column section-padding">
				<div class="card">
					<div class="colored-paper info">
						<i class="fa fa-envelope">&nbsp;</i><b class="no-vertical-margin">Professional Experiance</b>
					</div>
					<div class="section-padding row">
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
					</div>
				</div>
			</div>
			<div id="publicationsData"  class="column section-padding">
				<div class="card">
					<div class="colored-paper warning">
						<i class="fa fa-envelope">&nbsp;</i><b class="no-vertical-margin">Publications</b>
					</div>
					<div class="section-padding row">
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
					</div>
				</div>
			</div>
			<div class="column section-padding">
				<div id="awardsData" class="card">
					<div class="colored-paper warning">
						<i class="fa fa-envelope">&nbsp;</i><b class="no-vertical-margin">Awards</b>
					</div>
					<div class="section-padding row">
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
						<div class="column small-6 medium-4">
							{% include "elements/generic-question" %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row section-padding ">
			<div class="column text-right">
				<a href="" class="button secondary">Cancel</a>
				<a href="" class="button">Save</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% comment %}<img src="output/abstract-q-c-640-480-1.jpg">{% endcomment %}