{% extends 'layouts/layout' %}
{% block content %}
<div class="page paper-page">
    <div class="">
        {% include "elements/page-message-missing-data" %}
    </div>
    <div class="page-wrapper">
        <div class="row">
            <h1 class="column">
                <i class="fa fa-user">
                </i>
                Digital CV
                <span class="sub-line">
                    Your digital CV will be attached to your applications for committees.  Please keep this information as up to date as possible to be considered for committees.
                </span>
            </h1>
        </div>
        <div class="row">
            <div class="column section-padding" id="contactData">
                <div class="card">
                    <div class="colored-paper info">
                        <i class="fa fa-envelope">
                        </i>
                        <b class="no-vertical-margin">
                            Contact Info
                        </b>
                    </div>
                    <div class="section-padding row">
                        <div class="column small-6 medium-4">
                            <h5>
                                Name:
                                <span class="subheader">
                                    Zeta Gamma, FACC
                                </span>
                            </h5>
                        </div>
                        <div class="column small-6 medium-4">
                            <h5>
                                Email:
                                <span class="subheader">
                                    zgamma@gmail.com
                                </span>
                            </h5>
                            <small>
                                <a class="link" href="">
                                    <i class="fa fa-pencil">
                                    </i>
                                    Edit on ACC.org
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column section-padding" id="proExperianceData">
                <div class="card">
                    <div class="colored-paper info">
                        <i class="fa fa-envelope">
                        </i>
                        <b class="no-vertical-margin">
                            Professional Experiance
                        </b>
                    </div>
                    <div class="section-padding row column">
                        <div class="question">
                            <div class="input-holder">
                                <div class="input-space">
                                    <textarea cols="30" id="" name="" rows="10">
                                        This information is synced between here and any appliation you submit
                                    </textarea>
                                </div>
                            </div>
                            <div class="hint">
                                This information is synced between here and any appliation you submit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column section-padding" id="publicationsData">
                <div class="card">
                    <div class="colored-paper warning">
                        <i class="fa fa-envelope">
                        </i>
                        <b class="no-vertical-margin">
                            Publications
                        </b>
                    </div>
                    <div class="section-padding row column">
                        <div class="question warning">
                            <div class="input-holder">
                                <div class="input-space">
                                    <textarea cols="30" id="" name="" rows="10">
                                    </textarea>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="warning">
                                    <i class="fa fa-holder">
                                    </i>
                                    Missing Data
                                </small>
                            </div>
                            <div class="hint">
                                This information is synced between here and any appliation you submit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column section-padding">
                <div class="card" id="awardsData">
                    <div class="colored-paper warning">
                        <i class="fa fa-envelope">
                        </i>
                        <b class="no-vertical-margin">
                            Awards
                        </b>
                    </div>
                    <div class="section-padding row column">
                        <div class="question warning">
                            <div class="input-holder">
                                <div class="input-space">
                                    <textarea cols="30" id="" name="" rows="10">
                                    </textarea>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="warning">
                                    <i class="fa fa-holder">
                                    </i>
                                    Missing Data
                                </small>
                            </div>
                            <div class="hint">
                                This information is synced between here and any appliation you submit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column section-padding" id="Compentancy">
                <div class="card">
                    <div class="colored-paper info">
                        <i class="fa fa-envelope">
                        </i>
                        <b class="no-vertical-margin">
                            Competency
                        </b>
                    </div>
                    <div class="section-padding row">
                        <div class="column">
                            <div class="question">
                                <div class="label-holder">
                                    <label for="">
                                        Please select up to three compentencies
                                    </label>
                                </div>
                                <div class="input-holder">
                                    {% include 'elements/Comp-check'%}{% include 'elements/Comp-nocheck'%}{% include 'elements/Comp-check'%}{% include 'elements/Comp-check'%}{% include 'elements/Comp-nocheck'%}{% include 'elements/Comp-nocheck'%}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row group-divide">
                        <div class="column">
                            <div class="question">
                                <div class="label-holder">
                                    <label for="">
                                        Explain your compentencies
                                    </label>
                                </div>
                                <div class="input-holder">
                                    <div class="input-space">
                                        <textarea id="" name="" rows="6">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row section-padding ">
                <div class="column text-right">
                    <a class="button secondary" href="">
                        Cancel
                    </a>
                    <a class="button" href="">
                        Save
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% comment %}
    <img src="output/abstract-q-c-640-480-1.jpg">
        {% endcomment %}
    </img>
</div>