{% extends 'layouts/layout' %}
{% block content %}
<div class="page paper-page">
	<div class="page-wrapper content-padding">
		<h2>Risk Factors that Increase Vascular Complications After PCI
		<div class="sub-line">A variety of factors affect whether or not vascular complications occur after PCI. Patient traits, surgical technique, and perioperative medications are the most commonly noted.</div>
		</h2>
		<div class="card">
			<div class="colored-paper"></div>
			<div class="section-padding">
				<h4>Known Risk Factors</h4>
				<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Patient Value</th>
						<th><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></th>
					</tr>

				</thead>
				<tbody>
					<tr>
						<td class="bold">Age > 70</td>
						<td class="strong">57</td>
						<td class=""></td>
					</tr>
					<tr class="">
						<td class="bold">Gender = Female</td>
						<td class="strong">Female</td>
						<td class="bold"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></td>
					</tr>	
					<tr class="seperator info" >
						<td colspan="3">Physical Habitus</td>
					</tr>
					<tr>
						<td class="bold">Extremely thin ( BMI < X) </td>
						<td class="strong">false</td>
						<td class=""></td>
					</tr>	
					<tr class="">
						<td class="bold">Morbidly Obese ( BMI > Y) </td>
						<td class="strong">true</td>
						<td class="bold"><i class="fa fa-exclamation-triangle warning" aria-hidden="true"></i> Increase Factor</td>
					</tr>	
					<tr class="seperator info" >
						<td colspan="3">Acute Conditions</td>
					</tr>
					<tr class="">
						<td class="bold">STEMI = true </td>
						<td class="strong">True</td>
						<td class="bold"><i class="fa fa-exclamation-triangle warning" aria-hidden="true"></i> Increase Factor</td>
					</tr>
					<tr class="">
						<td class="bold">Previous PCI = true </td>
						<td class="strong">False</td>
						<td class="bold"></td>
					</tr>	
					<tr class="">
						<td class="bold">Shock within 24 hours before and/or at start of PCI or Salvage procedure </td>
						<td class="strong">False</td>
						<td class="bold"></td>
					</tr>					


				</tbody>

			</table>
			</div>
			<div class="section-padding group-divide">
				<h4>Other Risks to Consider</h4>
				<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Patient Value</th>
						<th><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></th>
					</tr>

				</thead>
				<tbody>
					<tr>
						<td class="bold">Age > 70</td>
						<td class="strong">57</td>
						<td class=""></td>
					</tr>
					<tr class="">
						<td class="bold">Gender = Female</td>
						<td class="strong">Female</td>
						<td class="bold"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></td>
					</tr>	
					<tr class="seperator info" >
						<td colspan="3">Physical Habitus</td>
					</tr>
					<tr>
						<td class="bold">Extremely thin ( BMI < X) </td>
						<td class="strong">BMI: 2.1</td>
						<td class=""></td>
					</tr>	
					<tr class="">
						<td class="bold">Morbidly Obese ( BMI > Y) </td>
						<td class="strong">BMI: 2.1</td>
						<td class="bold"><i class="fa fa-exclamation-triangle warning" aria-hidden="true"></i> Increase Factor</td>
					</tr>					
				</tbody>

			</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}
