{% extends 'layouts/user-with-sidebar' %}


{% block page-name %}
    Requests
{% endblock %}

{% block sidebar %}
    {% include "elements/search-bar" %}
    {% include "elements/search-bar-filter-results" %}
<ul class="committee-list">
    {% include "elements/request-List-item-notactive" %}
        {% include "elements/request-List-item-active" %}
        {% include "elements/request-List-item-notactive" %}
        {% include "elements/request-List-item-notactive" %}
        {% include "elements/request-List-item-notactive" %}
        {% include "elements/request-List-item-notactive" %}
</ul>
{% include "elements/pagination-bottom" %}   
{% endblock %}

{% block content %}
<div class="section-nav back hide-for-medium">
    <a>
        <div class="circle">
            <i class="fa fa-holder-dynamic">
            </i>
        </div>
        <div class="text">
            Back to Open Committees
        </div>
    </a>
</div>

    <div class="page-wrapper" style="position: relative">
        <div class="row ">
            <div class="column section-padding">
                <div class="row"> 

                    <div class="column large-6 ">
                        <div class="row content-padding section-padding">
                            <h1 class="single-line-height"> Dr. Watchmacallit Mars, MD, FACC 
                                   <span class="sub-line italic">
                                        <strong>
                                            Hostpital Name
                                        </strong>
                                        <br>
                                            dwatchmacallit@****
                                        </br>
                                    </span>
                                </h1>
                                  <a class="button radius secondary small" href="" style="
                                vertical-align: top;
                            ">click to hide request <i class="fa fa-eye-slash"></i></a>
                        </div>
                    </div>
                    <div class="column large-6">
                        <div class="section-padding">

                               
               
                            <div class="callout info">
                            <div class="row content-padding">
                                <h5 class="with-underline">
                                    Committees Applying To
                                </h5>
                                <ul>
                                    <li>
                                        Assembly of Interantional Governors Steering Committee
                                    </li>
                                    <li>
                                        Assembly of Interantional Governors Steering Committee
                                    </li>
                                </ul>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="colored-paper info">
                        <h2 class="no-vertical-margin">
                            Statement of Reference
                        </h2>
                    </div>
                    <div class="section-padding">
                        <p>
                            Please fill this request out be a nice human being.
                        </p>
                        <textarea cols="30" id="" name="" rows="10">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row group-divide section-padding">
            <div class="column text-right">
                <a class="button secondary" href="">
                    Hide Request
                </a>
                <a class="button secondary" href="">
                    Save For Later
                </a>
                <a class="button" href="application-to-committee.html">
                    Submit Recomendation
                </a>
            </div>
        </div>
    </div>

{% endblock %}


{% block modal %}
<div class="reveal large no-padding paper-page page " data-reveal=" " id="comm-modal ">
    {% include "sections/committee-overview " %}
    <button aria-label="Close modal " class="close-button " data-close=" " type="button ">
        <span aria-hidden="true ">
            <i class="fa fa-times ">
            </i>
        </span>
    </button>
</div>
{% endblock %}