{% extends 'layouts/user-basic' %}
{% block  page-name %}
<div class="column">
    <h1>
        <i class="fa fa-user">
        </i>
        Digital CV
        <span class="sub-line">
            Your digital CV will be attached to your applications for all opportunities for ACC member involvement.  Please keep this information as up to date as possible to be considered throughout the year.
        </span>
    </h1>
</div>
{% endblock %}
{% block content %}
{% include "elements/page-message-missing-data" %}
<div class="layer-down content-padding">
    <div class="page-wrapper content-padding section-padding row">
        <div class="row group-divide-auto">
            <div class="column" id="contactData">
                <div class="card">
                    <div class="colored-paper info">
                        <h3 class="no-margin">
                            <i class="fa fa-envelope">
                            </i>
                            <b class="no-margin">
                                Contact Info
                            </b>
                        </h3>
                    </div>
                    <div class="content-padding section-padding">
                        <div class="row">
                            <div class="column">
                                <h5>
                                    Name
                                    <div class="value">
                                        Zeta Gamma, FACC
                                    </div>
                                </h5>
                            </div>
                            <div class="column small-12 medium-6">
                                <div class="row">
                                    <div class="column medium-6">
                                        <h5>
                                            Title
                                            <div class="value">
                                                Proffessor X
                                            </div>
                                        </h5>
                                    </div>
                                    <div class="column medium-6">
                                        <h5>
                                            Institution
                                            <div class="value">
                                                The Xavier School
                                            </div>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="column small-12 medium-6">
                                <div class="row">
                                    <div class="column medium-6">
                                        <h5>
                                            Email
                                            <div class="value">
                                                zgamma@gmail.com
                                            </div>
                                        </h5>
                                    </div>
                                    <div class="column medium-6">
                                        <h5>
                                            Location
                                            <div class="value">
                                                Atlanta, GA, USA
                                            </div>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <a class="link" href="">
                                    <small>
                                        <i class="fa fa-pencil">
                                        </i>
                                        Edit on ACC.org
                                    </small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row group-divide-auto">
            <div class="column large-6" id="proExperianceData">
                <div class="card">
                    <div class="colored-paper">
                        <h3>
                            <b class="no-margin">
                                Professional Experience
                            </b>
                        </h3>
                    </div>
                    <div class="row column section-padding">
                        <div class="question">
                            <div class="input-holder">
                                <div class="input-space">
                                    <textarea cols="30" id="" name="" rows="7">
                                        This information is synced between here and any application you submit.
                                    </textarea>
                                </div>
                            </div>
                            <div class="hint">
                                This information is synced between here and any application you submit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column large-6" id="publicationsData">
                <div class="card">
                    <div class="colored-paper">
                        <h3>
                            <b class="no-margin">
                                Publications
                            </b>
                        </h3>
                    </div>
                    <div class="row column section-padding">
                        <div class="question">
                            <div class="input-holder">
                                <div class="input-space">
                                    <textarea cols="30" id="" name="" rows="7">
                                    </textarea>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="warning">
                                    <i class="fa fa-holder">
                                    </i>
                                    Missing Data
                                </small>
                            </div>
                            <div class="hint">
                                This information is synced between here and any application you submit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row group-divide-auto">
            <div class="column large-6">
                <div class="card" id="awardsData">
                    <div class="colored-paper">
                        <h3>
                            <b class="no-margin">
                                Awards
                            </b>
                        </h3>
                    </div>
                    <div class="row column section-padding">
                        <div class="question">
                            <div class="input-holder">
                                <div class="input-space">
                                    <textarea cols="30" id="" name="" rows="7">
                                    </textarea>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="warning">
                                    <i class="fa fa-holder">
                                    </i>
                                    Missing Data
                                </small>
                            </div>
                            <div class="hint">
                                This information is synced between here and any application you submit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column large-6">
                <div class="card" id="awardsData">
                    <div class="colored-paper">
                        <h3>
                            <b class="no-margin">
                                Faculty
                            </b>
                        <span class="sub-line">
                            Speaking experiance...
                        </span>
                        </h3>
                    </div>
                    <div class="row column section-padding">
                        <div class="question">
                            <div class="input-holder">
                                <div class="input-space">
                                    <textarea cols="30" id="" name="" rows="7">
                                    </textarea>
                                </div>
                            </div>
                            <div class="message-holder">
                                <small class="warning">
                                    <i class="fa fa-holder">
                                    </i>
                                    Missing Data
                                </small>
                            </div>
                            <div class="hint">
                                This information is synced between here and any application you submit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row group-divide-auto">
            <div class="column large-6" id="Compentancy">
                <div class="card">
                    <div class="colored-paper">
                        <h3>
                            <b class="no-margin">
                                Leadership Competency
                            </b>
                        </h3>
                    </div>
                    <div class="content-padding section-padding">
                        <div class="row">
                            <div class="column">
                                <div class="question">
                                    <div class="label-holder">
                                        <label class="single-line-height white-space-normal" for="">
                                            Please select up to three compentencies
                                        </label>
                                    </div>
                                    <div class="input-holder">
                                        {% include 'sections/leadership-Comp'%}
                                    </div>
                                    <div class="message-holder">
                                        <small class="warning">
                                            Please select no more than three.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="column group-divide">
                                <div class="question">
                                    <div class="label-holder">
                                        <label class="single-line-height white-space-normal" for="">
                                            Please provide examples of occasions in your profession upon which you utilized these leadership competencies.
                                        </label>
                                    </div>
                                    <div class="input-holder">
                                        <div class="input-space">
                                            <textarea id="" name="" rows="4">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column large-6" id="Faculty">
                <div class="card">
                    <div class="colored-paper">
                        <h3>
                            <b class="no-margin">
                                Volunteer for further ACC engagement
                            </b>
                        </h3>
                    </div>
                    <div class="content-padding section-padding">
                        <div class="row">
                            <div class="column">
                                <div class="question">
                                    <div class="label-holder">
                                        <label for="">
                                            Please select all that you would like to be considered for.
                                        </label>
                                    </div>
                                    <div class="input-holder">
                                        {% include 'sections/Volunteer-Comp'%}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="column group-divide">
                                <div class="question">
                                    <div class="label-holder">
                                        <label for="">
                                            Please add a brief statement of your volunteer interests.
                                        </label>
                                    </div>
                                    <div class="input-holder">
                                        <div class="input-space">
                                            <textarea id="" name="" rows="4">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row group-divide-auto">
            <div class="column text-right">
                <a class="button secondary" href="">
                    Cancel
                </a>
                <a class="button" href="">
                    Save
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
