{% extends 'layouts/user-basic-withStickyFooter' %} 
{% block page-name %}
Nominate a colleague (Page 3 of 4)
<span class="sub-line">
    Write a letter of reference for your colleague
</span>
{% endblock %}

{% block progress %}
<div class="progress">
    <div class="progress-bar" style="width:60%; background:#ff9900;">
        <div class="progress-value">3 of 4</div>
    </div>
</div>
{% endblock %}

{% block content %}

    <div class="page-wrapper">
        <div class="card ">
            <div class="colored-paper">
                <h2>
                    Statement of Reference
                </h2>
                <p>
                    Discribe your colleague and why their strenghts would be a good fit for the commitees you have selected for them.
                </p>
            </div>
            <div class="section-padding">
                <textarea cols="30" id="" name="" rows="10">
                </textarea>
            </div>
        </div>
    </div>

{% endblock %} 
{% block backbutton %}
 href="user-nominate-selectCommittee.html"
{% endblock %}

{% block forwardlink %}
href="user-nominate-review.html"
{% endblock %} 

{% block forwardbutton %}
<a class="button navigation float-right" href="user-nominate-review.html">
    Review
</a>
{% endblock %} 
