{% extends 'layouts/user-basic-withStickyFooter' %}
{% block page-name %}
    Nominate a colleague (Page 1 of 4)
    <div class="sub-line">Find the colleague you want to nominate</div>

{% endblock %}
{% block progress %}
    <div class="progress">
    <div class="progress-bar" style="width:20%; background:#ff9900;">
        <div class="progress-value">1 of 4</div>
    </div>
</div>
{% endblock %}



{% block content %}
{% include "sections/select-search-members"  %}
{% endblock %}






{% block backbutton %}
 href="user-dashboard.html"
{% endblock %}

{% block forwardlink %}
 href="user-nominate-selectCommittee.html"
{% endblock %}

{% block  forwardbutton %}
<a class="button  navigation float-right" href="user-nominate-selectCommittee.html">
   Continue <i class="fa fa-arrow-right"></i> 
</a>
{% endblock %}