{% extends 'layouts/layout' %}
{% block content %}
<div class="page paper-page">
    <div class="page-wrapper">
        {% comment %}
        <div class="row">
            <div class="column small-12">
                {% include "elements/page-message-deadline" %}
            </div>
        </div>
        <div class="row section-padding">
            <div class="column small-12">
                {% include "elements/page-message-missing-data" %}
            </div>
        </div>
        {% endcomment %}
        <div class="row">
            <div class="column small-12 section-padding">
                <div class="card"> <div class="colored-paper">
                        <h1 class="no-vertical-margin">
                            Welcome Doctor Lolly Pop
                        </h1>
                    </div>
                </div>
                <div class="card">
                      <div class="row column"><a id="heroToggle" style="display:none;" href="" onclick="toggleHero(event)" class="link float-right">Open Introduction</a></div>
                    <div id="hero">
                        <div class="colored-paper info no-padding">
                            <h2 class="text-center no-vertical-margin">
                                Introduction
                            </h2>
                        </div>
                        <div class="section-padding">
                            <div class="row">
                                <div class="column small-12 medium-7">
                                    <div class="callout success">
                                        <h1>
                                            Become Part of the Team and Shape the Future of the ACC
                                        </h1>
                                        <h4>
                                            We are a membership driven association and with out the guidance of our committees we wouldn't be the world respected assoication that you know today.
                                        </h4>
                                        <p>
                                            This system is where you can learn and become a part of the committees of the American College of Cardiology.
                                        </p>
                                        <div class="text-center section-padding">
                                            <a class="button" href="open-committees.html">
                                                Browse Open Commitees
                                            </a>
                                            <h2>
                                                Or
                                            </h2>
                                            <a class="button" href="application-to-committee.html">
                                                Start An Application
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column small-12 medium-5">
                                    <div class="row column">
                                        <div class="callout highlighted">
                                            <h1>
                                                Nominate A Member Who Deserves it!
                                            </h1>
                                            <p>
                                                Your college might be the best person to share the guidance and expertise.
                                            </p>
                                            <a class="button" href="user-nominate-member.html">
                                                Nominate a Member
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row column">
                                        <div class="callout">
                                            <h1>
                                                You know your colleges best.
                                            </h1>
                                            <p>
                                                Potential Committee members are not only judged by their CV's but also statements of reference from there Colleges.  If a college asks for statement of reference please tell us what you think.  Without you we will never know if they would be good fit without your input.
                                            </p>
                                            <a class="button" href="">
                                                Respond to Requests
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="colored-paper info text-center">
                            <a class="button secondary small radius hollow" href="" style="background-color: white;" onclick="toggleHero(event)">
                                <i class="fa fa-times">
                                </i>
                                Close Introduction
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script>
        	function toggleHero(e){
        		e.preventDefault();
        		$("#hero").slideToggle();
        		$("#heroToggle").slideToggle();
        	}
        </script>
        <div class="row">
            <div class="column small-12 medium-5 large-4 " style="padding-left: 0;">
                <div class="slots-area card">
                    <div class="colored-paper">
                        <h4 class="text-center no-vertical-margin">
                            Committees of Interest
                            <div class="sub-line">
                                Active Application & Nominations
                            </div>
                        </h4>
                    </div>
                    <div class="colored-paper info">
                        <h5 class=" text-center">
                            Commitees to be Considered for
                            <div class="sub-line single-line-height">
                                Rank your committees based on your preference. 1 = Most Preferred
                            </div>
                        </h5>
                    </div>
                    <div class="slots top-4 section-padding">
                        {% include "elements/committee-List-item-selected" %}
						{% include "elements/committee-List-item-selected" %}
						{% include "elements/empty-slot" %}
						{% include "elements/empty-slot" %}
                    </div>
                    <div class="colored-paper info">
                        <h6 class="text-center no-vertical-margin">
                            Committees Not To Be Considered For
                            <div class="sub-line single-line-height">
                            </div>
                        </h6>
                    </div>
                    <div class="slots section-padding">
                        {% include "elements/committee-List-item-rejected" %}
                    </div>
                    <a class="link">
                        Hide Full List of Applications & Nominations to Commitees
                    </a>
                </div>
            </div>
            <div class="column small-12 medium-7 large-8" style="padding-right: 0;">
                <div class="card">
                    <div class="row">
                        <div class="column">
                            <h2 class="with-underline">
                                Current Application
                            </h2>
                            {% include "elements/progress-glance-none" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <h2 class="with-underline">
                                Reference Requests
                            </h2>
                            {% include "elements/requests-glance-none" %}
                        </div>
                        <div class="column">
                            <h2 class="with-underline">
                                Nominations
                            </h2>
                            {% include "elements/nominations-glance-none" %}
                        </div>
                        {% comment %}
                        <div class="medium-12 large-6 column">
                            <h2 class="with-underline">
                                Profile At a Glance
                            </h2>
                            {% include "elements/profile-glance-list" %}
                        </div>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% comment %}
<img src="output/abstract-q-c-640-480-1.jpg">
    {% endcomment %}
</img>