{% extends 'layouts/user-basic-withStickyFooter' %} 
{% block page-name %}
Nominate a colleague (Page 3 of 4)
<span class="sub-line">
    Write a letter of reference for your colleague
</span>
{% endblock %}
{% block content %}
<div class="layer-down">
    <div class="row section-padding">
        <div class="card page-wrapper">
            <div class="colored-paper">
                <h2>
                    Statement of Reference
                </h2>
                <p>
                    Discribe your colleague and why their strenghts would be a good fit for the commitees you have selected for them.
                </p>
            </div>
            <div class="section-padding">
                <textarea cols="30" id="" name="" rows="10">
                </textarea>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block back-btn %}
<a class="button navigation float-left" href="user-nominate-committee.html">
    <i class="fa fa-arrow-left">
    </i>
    Back
</a>
{% endblock %}
{% block forward-btn %}
<a class="button navigation float-right" href="user-nominate-review.html">
    Next
</a>
{% endblock %} 
