{% extends 'layouts/layout-nominate' %}
{% block page-name %}
    Nominate A Member (Page 1 of 3)
    <div class="sub-line">Find the Member you want to Nominate</div>
{% endblock %}


{% block  forward-btn %}
<a class="button  navigation float-right" href="user-nominate-committee.html">
   Next <i class="fa fa-arrow-right"></i> 
</a>
{% endblock %}

{% block content %}

{% include "sections/select-search-members"  %}
{% endblock %}






{% block back-btn %}
<a class="button navigation float-left" href="user-dashboard-empty.html">
    <i class="fa fa-arrow-left"></i> Back to Dashboard
</a>
{% endblock %}