{% extends 'layouts/user-basic-withStickyFooter' %}
{% block page-name %}
    Nominate a colleague (Page 1 of 4)
    <div class="sub-line">Find the colleague you want to nominate</div>
{% endblock %}



{% block content %}

<div class="layer-down">{% include "sections/select-search-members"  %}</div>
{% endblock %}






{% block  forward-btn %}
<a class="button  navigation float-right" href="user-nominate-selectCommittee.html">
   Next <i class="fa fa-arrow-right"></i> 
</a>
{% endblock %}
{% block back-btn %}
<a class="button navigation float-left" href="user-dashboard.html">
    <i class="fa fa-arrow-left"></i> Back to Dashboard
</a>
{% endblock %}