{% extends 'layouts/layout-nominate' %}
{% block page-name %}
    Nominate A Member (Page 1 of 3)
    <div class="sub-line">Find the Member you want to Nominate</div>
{% endblock %}


{% block  forward-btn %}
<a class="button  navigation float-right" href="user-nominate-committee.html">
   Next <i class="fa fa-arrow-right"></i> 
</a>
{% endblock %}

{% block content %}

<div class="section-padding page-wrapper">
    <div class="card section-padding content-padding">
        <div class="colored-paper">
            <h2>Search and Select A Member</h2>
            <p>Search by First Last Name, or by Email</p>
        </div>
        {%include "elements/searchbar"%}
        <div class="section-padding">
            <h4>
                Search Results
            </h4>
            <table class="table banded">
                <thead>
                    <tr>
                        <th>
                            Nominate
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Institution
                        </th>
                        <th>
                            Location
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {% include "elements/radio-select"  %}
                        </td>
                        <td>
                            Luke Skywalker
                        </td>
                        <td>
                            The Rebel Aliance
                        </td>
                        <td>
                            Hollywood, CA
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% include "elements/radio-noselect"  %}
                        </td>
                        <td>
                           Han Solo
                        </td>
                        <td>
                            The Rebel Aliance
                        </td>
                        <td>
                            Hollywood, CA
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% include "elements/radio-noselect"  %}
                        </td>
                        <td>
                            Darth Vader
                        </td>
                        <td>
                            The Empire
                        </td>
                        <td>
                            Hollywood, CA
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}






{% block back-btn %}
<a class="button navigation float-left" href="user-dashboard-empty.html">
    <i class="fa fa-arrow-left"></i> Back to Dashboard
</a>
{% endblock %}