{% extends 'layouts/layout-closed-application' %}
{% block page-name %}
    Dashboard
{% endblock %}
{% block content %}
<div class="seciton-padding">
<div class="page-message callout info">
  <a class="close-bar">
    <span class="close-button">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </a>
  <div class="message-container">
    <div class="icon-holder">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-hourglass-end fa-stack-1x"></i>
      </span>
    </div>
    <div class="message-holder">
         <h3 class="">
            Currently all Nomination Seasons are Closed.
        </h3>
        <p>Please feel free to update you Digital CV to be ready when the next season opens up.</p>
        <p>Check back soon or sign up for our newsletter where we will inform everyone of the next nomination season.</p>
    </div>
  </div>
</div>
</div>
<div class="row">
    <div class="column medium-6">
        <div class="card">
            <div class="colored-paper info">Keep your info up to date</div>
            <div class="section-padding content-padding">
                <p>Don't forget special acheivements like awards and publications.  Update your digital CV and it will be ready for the next nomination season.
                </p>
                <div class="section-padding"><a href="" class="button small">Go To Digtal CV</a></div>
            </div>
        </div>
    </div>
    <div class="column medium-6"><div class="card">
<div class="colored-paper info"> <h5>Subscribe to our newsletter</h5></div>
        <div class=" section-padding content-padding">
            <p>
                Gain access to special oppurtunities with the college and learn about when Nominations seasons are active through the ACC newsletter.
            </p>
            <div class="column">
                <div class="question section-padding">
                    <div class="input-holder ">
                        <div class="input-space column small-8"><input type="text" placeholder="email address"></div>
                        <div class="input-space column small-4"><a href="" class="button expanded">Submit</a></div>
                    </div>
                </div>
            </div>
        </div>
</div></div>
</div>
<div class="card ghost">

   
        <div class="colored-paper info">
            <h2 class="text-center">
                Dashboard is currently closed because of no active nomination seasons
            </h2>
            
        </div>


    
    </div>
</div>
{% endblock %}
{% block active-application %} 
<div class="colored-paper warning">
    <h2 class="no-margin text-center"><i class="fa fa-exclamation-triangle"></i> Active Application</h2>
</div>
<div class="page-wrapper">
    <div class="card content-padding">
       <div class="warning colored-paper">
           <div class="row coloumn"> <h4 class="text-center">No Active Applications</h4></div>
       </div>
        
        <p class="section-padding"><strong>Active Applications</strong> allow you to express intrest in up to 6 committees during active seasons.  You will have access to interested committees after you have completed and saved the application for this season. </p>
        <a href="application-to-committee.html" class="button expanded success">Start Application</a>
    </div>
    <br>
    <div class="card ghost">
        <div class="colored-paper info">
            <h4 class="text-center"> <i class="fa fa-lock"></i> Committees of Interest <i class="fa fa-lock"></i> 
            <div class="sub-line">This area is disabled because you have not finished your active application</div>

            </h4>
        </div>
    </div>
</div>
{% endblock %}

