{% extends 'layouts/user-basic' %} 
{% block page-name %}

<h3 class="progress-title">Nominate a colleague <span class="sub-line">Review the Nomination &amp; Submit</span></h3>
<div class="progress">
    <div class="progress-bar" style="width:60%; background:#ff9900;">
        <div class="progress-value">3 of 5</div>
    </div>
</div>




{% endblock %}
{% block content %}
<div class="layer-down">
    <div class="row section-padding">
        <div class="column">
            <div class="card">
                <div class="colored-paper info">
                    Nomination Review
                </div>
                <div class="row section-padding">

                    <div class=" column medium-7 large-8">
                    <div class="">
                        <h3 class="">
                            colleague (Them)
                        </h3>
                        <div style="position: relative;">
                            <h4>
                                <span class="sub-line">
                                    Name
                                </span>
                                Dr. Luke Skywalker
                            </h4>
                            <h4>
                                <span class="sub-line">
                                    Institution
                                </span>
                                The Rebel Alliance
                            </h4>
                            <h4>
                                <span class="sub-line">
                                    Location
                                </span>
                                Hollywood, CA
                            </h4>
                        </div>
                    </div>
                       <div class="group-divide"> <h3 class="">
                                                   Nominator (You)
                                               </h3>
                                               <div style="position: relative;">
                                                   <h4>
                                                       <span class="sub-line">
                                                           Name
                                                       </span>
                                                       Dr. Loly Pop
                                                   </h4>
                                                   <h4>
                                                       <span class="sub-line">
                                                           Institution
                                                       </span>
                                                       The Xavier School
                                                   </h4>
                                                   <h4>
                                                       <span class="sub-line">
                                                           Location
                                                       </span>
                                                       Atlanta,GA
                                                   </h4>
                                                   <a class="link" href="">
                                                       <i class="fa fa-pencil">
                                                       </i>
                                                       edit
                                                   </a>
                                               </div></div>
                    </div>
                    <div class="column medium-4">
                        <div class="callout">
                            <h3 class="">
                                Nominated Committees
                            </h3>
                            <div class="">
                                <ul class="no-bullet">
                                    <li>
                                        Committee A
                                        <a class="link remove float-right" href="">
                                            <i class="fa fa-times">
                                            </i>
                                            Remove
                                        </a>
                                    </li>
                                    <li>
                                        NCDR Committee A
                                        <a class="link remove float-right" href="">
                                            <i class="fa fa-times">
                                            </i>
                                            Remove
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column section-paddingS">
                        <h4 class="colored-paper info">
                            Statement of Reference
                        </h4>
                        <h6 class="text-center section-padding">
                            Missing Statement of Reference
                        </h6>
                    </div>
                </div>
                <div class="group-divide row column content-padding">
                    <a class="button success float-right" href="user-dashboard-empty.html">
                        Submit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block forward-btn %}
<a class="button success float-right" href="user-dashboard-empty.html">
    Submit
</a>
{% endblock %} {% block back-btn %}
<a class="button navigation float-left" href="user-nominate-committee.html">
    <i class="fa fa-arrow-left">
    </i>
    Back
</a>
{% endblock %}
