{% extends 'layouts/user-dashboard' %}


{% block page-name %}
    Dashboard
{% endblock %}

{% block content %}
<!--     {% include 'sections/application/chart' %} -->
<h4 class="section-name">
	Applications to Committees
</h4>
<article class="card application">
	<div class="row">
		<div class="column large-3">
			<div class="chart-holder">
				<img src="Assets/img/active-chart.gif" alt="">
			</div>
		</div>
		<div class="column large-9">
			<h2 class="application-title">Application Season 2</h2>
			<h4 class="type">Application Type A, Application Type B</h4>
			<h5 class="Timefrmae">
				<strong>Timeframe:</strong>
				<span class="start"> June 3rd, 2018 </span>
				&nbsp;-&nbsp;
				<span class="end"> July 30th, 2018</span>
			</h5>
			<ul class="data">
				<li>
					<div class="value">213</div>
					<div class="title">Open Committees</div>
				</li>
				<li>
					<div class="value">23</div>
					<div class="title">Nominations for Committees</div>
				</li>	
				<li>
					<div class="value">14</div>
					<div class="title">Colleagues you have nominated for committees</div>
				</li>	
				<li>
					<div class="value">37</div>
					<div class="title">Active requests for Reference</div>
				</li>	
				<li>
					<div class="value">No</div>
					<div class="title">Letter of Reference Recieved</div>
				</li>		
			</ul>
			<div class="text-right actions">
				<a href="user-nominate-memberSelection.html" class="button default">Nominate a Colleague</a>
				<a href="" class="button default">Edit Application</a>
			</div>

		</div>
	</div>
</article> 
<!--  A new Application -->

<article class="card application">
	<div class="row">
		<div class="column large-3">
			<div class="chart-holder">
				<img src="Assets/img/empty-chart.gif" alt="">
			</div>
		</div>
		<div class="column large-9">
			<h2 class="application-title"><span class="flag">NEW</span>Application Season 2</h2>
			<h4 class="type">Application Type C</h4>
			<h5 class="Timefrmae">
				<strong>Timeframe:</strong>
				<span class="start"> July 14th, 2018 </span>
				&nbsp;-&nbsp;
				<span class="end"> Oct 30th, 2018</span>
			</h5>
			<ul class="data">
				<li>
					<div class="value">45</div>
					<div class="title">Open Committees</div>
				</li>
				<li>
					<div class="value">5</div>
					<div class="title">Nominations for Committees</div>
				</li>	
				<li>
					<div class="value">1</div>
					<div class="title">Colleagues you have nominated for committees</div>
				</li>	
				<li>
					<div class="value">2</div>
					<div class="title">Active requests for Reference</div>
				</li>			
			</ul>
			<div class="text-right actions">
				<a href="user-nominate-memberSelection.html" class="button default">Nominate a Colleague</a>
				<a href="" class="button">Start Application</a>
			</div>
		</div>
	</div>
</article> 
{% endblock %}



{% block quick-look %} 
<h4 class="section-name text-right with-underline">
	Quick Look
</h4>
<ul class="data">
	<li>
		<div class="value">234</div>
		<div class="title">Open Committees</div>
	</li>
	<li>
		<div class="value">62</div>
		<div class="title">Bookmarked Committees</div>
	</li>	
	<li>
		<div class="value">42</div>
		<div class="title">Requests for Reference</div>
	</li>	
	<li>
		<div class="value">12</div>
		<div class="title">Current Letters of Reference</div>
	</li>	
	<li>
		<div class="value">34</div>
		<div class="title">Active Nominations of Colleague</div>
	</li>			
</ul>
<div class="content-padding">
	<a href="user-nominate-memberSelection.html" class="button expanded default">Nominate a Colleague</a>
</div>
<h4 class="section-name text-right with-underline">
	History
	<span class="sub-line">all interactions from the last year</span>
</h4>
<ul class="data">
	<li>
		<div class="value">234</div>
		<div class="title">Open Committees</div>
	</li>
	<li>
		<div class="value">62</div>
		<div class="title">Bookmarked Committees</div>
	</li>	
	<li>
		<div class="value">42</div>
		<div class="title">Requests for Reference</div>
	</li>	
	<li>
		<div class="value">34</div>
		<div class="title">Nominated Colleague</div>
	</li>			
</ul>
<div clas
{% endblock %}
