{% extends 'layouts/user-basic' %} {% block page-name %} Nominate A Member (Page 2 of 3)
<div class="sub-line">Select up to &nbsp;<b>Six</b>&nbsp; Committees for your Nominee</div>
{% endblock %} {% block forward-btn %}
<a class="button  navigation float-right" href="user-nominate-application-statementofreference.html">
   Next <i class="fa fa-arrow-right"></i> 
</a> {% endblock %} {% block content %}
<div class="content-padding">
    <div class="row column">
        <h2 class="">
            Statement of Interest
        </h2>
    </div>
    <div class="page-wrapper">
        <div class="row column">
            <div class="card" id="StatementofInterest">
                <div class="colored-paper">
                    <div class="question">
                        <div class="label-holder white-space-normal">
                            <h4 class="">
                        Generic Statement of Interest
                    </h4>
                            <p>
                                This statement of interest will be submitted for all your committes below unless you select not to use it and include a unique Statement for that committee.
                            </p>
                        </div>
                        <div class="input-holder">
                            <div class="input-space">
                                <textarea id="" name="" rows="8" style="height: auto;"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row column group-divide-auto">
                    <h4>
                Assembly of Interantional Governors Steering Committee
            </h4>
                    <div class="switch-input-space">
                        <div class="switch switch-2x checkbox tiny error-inactive">
                            <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox">
                            <label class="switch-paddle" for="checkbox-checkbox">
                                <span class="show-for-sr">
                                Do you like me?
                            </span>
                                <span aria-hidden="true" class="switch-active">
                                Yes
                            </span>
                                <span aria-hidden="true" class="switch-inactive">
                                No
                            </span>
                            </label>
                        </div>
                        <label class="switch-value" for="checkbox-checkbox">
                            Use the Generic Statement of Interest
                        </label>
                    </div>
                </div>
                <div class="row column group-divide-auto">
                    <h4>
                Candy Bar Wrappers
            </h4>
                    <div class="switch-input-space">
                        <div class="switch switch-2x checkbox tiny error-inactive">
                            <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox">
                            <label class="switch-paddle" for="checkbox-checkbox">
                                <span class="show-for-sr">
                                Do you like me?
                            </span>
                                <span aria-hidden="true" class="switch-active">
                                Yes
                            </span>
                                <span aria-hidden="true" class="switch-inactive">
                                No
                            </span>
                            </label>
                        </div>
                        <label class="switch-value" for="checkbox-checkbox">
                            Use the Generic Statement of Interest
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row column">
            <h2>
        Digital CV
    </h2>
        </div>
        <div class="row column">
            <div class="card" id="digitalCV">
                <div class="colored-paper">
                    <h3 class="">
                Professional Experiance
            </h3>
                </div>
                <div class="section-padding">
                    <textarea cols="30" id="" name="" rows="5"> </textarea>
                </div>
            </div>
            <div class="card">
                <div class="colored-paper">
                    <h3 class="">
                Publications
            </h3>
                </div>
                <div class="section-padding">
                    <textarea cols="30" id="" name="" rows="5"> </textarea>
                </div>
            </div>
            <div class="card">
                <div class="colored-paper">
                    <h3 class="">
                Honor Awards
            </h3>
                </div>
                <div class="section-padding">
                    <textarea cols="30" id="" name="" rows="5"> </textarea>
                </div>
            </div>
            <div class="card">
                <div class="colored-paper">
                    <h3 class="">
                Compentencies
                <span class="sub-line">
                    Please select your three strongest compentencies
                </span>
            </h3>
                </div>
                <div class="row section-padding">
                    <div class="column ">
                        <div class="callout warning">
                            <h4>
                        <i class="fa warning">
                        </i>
                        You must only select 3
                    </h4>
                        </div>
                        <div class="column small-12 medium-6 large-4">
                            <div class="switch-input-space">
                                <div class="switch checkbox tiny">
                                    <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                                    <label class="switch-paddle" for="checkbox-checkbox">
                                        <span class="show-for-sr">
                                                Do you like me?
                                        </span>
                                        <span aria-hidden="true" class="switch-active">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                        <span aria-hidden="true" class="switch-inactive">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                    </label>
                                </div>
                                <label class="switch-value" for="checkbox-checkbox">
                                    Comp A
                                </label>
                            </div>
                        </div>
                        <div class="column small-12 medium-6 large-4">
                            <div class="switch-input-space">
                                <div class="switch checkbox tiny">
                                    <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                                    <label class="switch-paddle" for="checkbox-checkbox">
                                        <span class="show-for-sr">
                                                Do you like me?
                                        </span>
                                        <span aria-hidden="true" class="switch-active">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                        <span aria-hidden="true" class="switch-inactive">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                    </label>
                                </div>
                                <label class="switch-value" for="checkbox-checkbox">
                                    Comp A
                                </label>
                            </div>
                        </div>
                        <div class="column small-12 medium-6 large-4">
                            <div class="switch-input-space">
                                <div class="switch checkbox tiny">
                                    <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                                    <label class="switch-paddle" for="checkbox-checkbox">
                                        <span class="show-for-sr">
                                                Do you like me?
                                        </span>
                                        <span aria-hidden="true" class="switch-active">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                        <span aria-hidden="true" class="switch-inactive">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                    </label>
                                </div>
                                <label class="switch-value" for="checkbox-checkbox">
                                    Comp A
                                </label>
                            </div>
                        </div>
                        <div class="column small-12 medium-6 large-4">
                            <div class="switch-input-space">
                                <div class="switch checkbox tiny">
                                    <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                                    <label class="switch-paddle" for="checkbox-checkbox">
                                        <span class="show-for-sr">
                                                Do you like me?
                                        </span>
                                        <span aria-hidden="true" class="switch-active">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                        <span aria-hidden="true" class="switch-inactive">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                    </label>
                                </div>
                                <label class="switch-value" for="checkbox-checkbox">
                                    Comp A
                                </label>
                            </div>
                        </div>
                        <div class="column small-12 medium-6 large-4">
                            <div class="switch-input-space">
                                <div class="switch checkbox tiny">
                                    <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                                    <label class="switch-paddle" for="checkbox-checkbox">
                                        <span class="show-for-sr">
                                                Do you like me?
                                        </span>
                                        <span aria-hidden="true" class="switch-active">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                        <span aria-hidden="true" class="switch-inactive">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                    </label>
                                </div>
                                <label class="switch-value" for="checkbox-checkbox">
                                    Comp A
                                </label>
                            </div>
                        </div>
                        <div class="column small-12 medium-6 large-4">
                            <div class="switch-input-space">
                                <div class="switch checkbox tiny">
                                    <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                                    <label class="switch-paddle" for="checkbox-checkbox">
                                        <span class="show-for-sr">
                                                Do you like me?
                                        </span>
                                        <span aria-hidden="true" class="switch-active">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                        <span aria-hidden="true" class="switch-inactive">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                    </label>
                                </div>
                                <label class="switch-value" for="checkbox-checkbox">
                                    Comp A
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="column group-divide">
                        <div class="question">
                            <div class="label-holder">
                                <label for="">
                                    Explain your compentencies
                                </label>
                            </div>
                            <div class="input-holder">
                                <div class="input-space">
                                    <textarea id="" name="" rows="6"> </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row column">
            <h2>
        Letter of Reference
    </h2>
            <p>
                Search for a member to ask a letter of reference from.
            </p>
        </div>
        <div class="row column">
            <div class="section-padding page-wrapper">
                <div class="card section-padding content-padding">
                    <div class="colored-paper">
                        <h2>Search and Select A Member</h2>
                        <p>Search by First Last Name, or by Email</p>
                    </div>
                    <div class="search-bar colored-paper info display-block">
                        <div class="question">
                            <div class="input-holder">
                                <div class="input-space column small-6 medium-7 large-8 ">
                                    <input name="" type="text">
                                </div>
                                <div class="input-space column small-6 medium-5 large-4 ">
                                    <button class="button expanded small condensable">
                                        <span class="condense ">
                        Search
                    </span>
                                        <i class="fa fa-search">
                    </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-padding">
                        <h4>
                Select a member from below
            </h4>
                        <table class="table banded">
                            <thead>
                                <tr>
                                    <th>
                                        Select
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Institution
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="column small-12 medium-6 large-4">
                                            <div class="switch-input-space">
                                                <div class="switch radio tiny">
                                                    <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                                                    <label class="switch-paddle" for="checkbox-checkbox">
                                                        <span class="show-for-sr">
                                                Do you like me?
                                        </span>
                                                        <span aria-hidden="true" class="switch-active">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                                        <span aria-hidden="true" class="switch-inactive">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        Luke Skywalker
                                    </td>
                                    <td>
                                        The Rebel Aliance
                                    </td>
                                    <td>
                                        Hollywood, CA
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="column small-12 medium-6 large-4">
                                            <div class="switch-input-space">
                                                <div class="switch radio tiny">
                                                    <input class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                                                    <label class="switch-paddle" for="checkbox-checkbox">
                                                        <span class="show-for-sr">
                                                Do you like me?
                                        </span>
                                                        <span aria-hidden="true" class="switch-active">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                                        <span aria-hidden="true" class="switch-inactive">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        Han Solo
                                    </td>
                                    <td>
                                        The Rebel Aliance
                                    </td>
                                    <td>
                                        Hollywood, CA
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="column small-12 medium-6 large-4">
                                            <div class="switch-input-space">
                                                <div class="switch radio tiny">
                                                    <input class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                                                    <label class="switch-paddle" for="checkbox-checkbox">
                                                        <span class="show-for-sr">
                                                Do you like me?
                                        </span>
                                                        <span aria-hidden="true" class="switch-active">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                                        <span aria-hidden="true" class="switch-inactive">
                                                <i class="fa fa-holder">
                                                </i>
                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        Darth Vader
                                    </td>
                                    <td>
                                        The Empire
                                    </td>
                                    <td>
                                        Hollywood, CA
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row column">
            <h2>
        Disclosures
    </h2>
        </div>
        <div class="row column">
            <div class="card " id="disclosures">
                <div class="colored-paper success">
                    <h3>
                <i class="fa fa-holder-dynamic">
                </i>
                Your Disclousres Are Up To Date
            </h3>
                </div>
            </div>
        </div>
        <div class="row column section-padding">
            <a class="button float-right" href="">Submit
    </a>
            <a class="button secondary float-right" href="">
        Save For Later
    </a>
        </div>
    </div>
</div>
{% endblock %} {% block back-btn %}
<a class="button navigation float-left" href="user-nominate-member.html">
    <i class="fa fa-arrow-left"></i> Back
</a> {% endblock %}