{% extends 'layouts/user-basic-withStickyFooter' %}
 {% block page-name %} 
 Statement of Interest (Page 2 of 4)
 <div class="sub-line">Please write a short statement of interest on the committees you have selected.</div>
{% endblock %}
{% block progress %}
<div class="progress">
    <div class="progress-bar" style="width:50%; background:#ff9900;">
        <div class="progress-value">2 of 4</div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="content-padding page-wrapper section-padding">
    <div class="row column">
        <div class="card" id="StatementofInterest">
            <div class="colored-paper">
                <div class="question">
                    <div class="label-holder white-space-normal">
                        <h2 class="">
                            Generic Statement of Interest
                        </h2>
                        <p class="lead">
                            This statement of interest will be submitted for all your committes below unless you select not to use it and include a unique Statement for that committee.
                        </p><br/>
                    </div>
                    <div class="input-holder">
                        <div class="input-space">
                            <textarea id="" name="" rows="8" style="height: auto;">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-padding">
                            <div class="row column group-divide-auto">
                <h4>
                    Assembly of Interantional Governors Steering Committee
                </h4>
                <div class="switch-input-space">
                    <div class="switch switch-2x checkbox tiny error-inactive">
                        <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox">
                            <label class="switch-paddle" for="checkbox-checkbox">
                                <span class="show-for-sr">
                                    Do you like me?
                                </span>
                                <span aria-hidden="true" class="switch-active">
                                    Yes
                                </span>
                                <span aria-hidden="true" class="switch-inactive">
                                    No
                                </span>
                            </label>
                        </input>
                    </div>
                    <label class="switch-value" for="checkbox-checkbox">
                        Use the Generic Statement of Interest
                    </label>
                </div>
            </div>
            <div class="row column group-divide-auto">
                <h4>
                    Candy Bar Wrappers
                </h4>
                <div class="switch-input-space">
                    <div class="switch switch-2x checkbox tiny error-inactive">
                        <input checked="" class="switch-input" id="checkbox-checkbox" type="checkbox">
                            <label class="switch-paddle" for="checkbox-checkbox">
                                <span class="show-for-sr">
                                    Do you like me?
                                </span>
                                <span aria-hidden="true" class="switch-active">
                                    Yes
                                </span>
                                <span aria-hidden="true" class="switch-inactive">
                                    No
                                </span>

                            </label>
                        </input>
                    </div>
                    <label class="switch-value" for="checkbox-checkbox">
                        Use the Generic Statement of Interest
                    </label>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block back-button %}
<a class="button navigation float-left" href="user-nominate-member.html">
    <i class="fa fa-arrow-left"></i>
    Back
</a>
{% endblock %}


{% block forwardlink %}
 href="user-nominate-application-statementofreference.html"
{% endblock %}

{% block forwardbutton %}
<a class="button navigation float-right" href="user-nominate-application-statementofreference.html">
    Next
    <i class="fa fa-arrow-right"></i>
</a>
{% endblock %}
