<h1>Forms - Questions &amp; Answers</h1>

<p>
	The heart of this design is around the modular structure of how you implement inputs or <strong>"Questions"</strong> and how you display that information <strong>"Answers"</strong>. Question and Answers are containers that hold some or all of their children depending on the need. Both Questions and Answers share a common build structure. With the parent container which controls the width and its children which can be modified from the containters State.

</p>
<h2>Questions</h2>
<p>	 Questions are constructed with a stacked collection of elements. The elements are `div.label-holder`, `div.input-holder`,`div.message-holder`, and `div.hint` </p>