<section class="sg-block sg-section-questions-file-upload">
  <div class="sg-text">
    <h3 id="questions-file-upload" class="sg">Questions - File Upload</h3>
    <p class="sg">
      <code class="sg">.file-upload</code>- File uploads are a modified from the standard input-spacer to allow for correct labels to show up when the file is attached.</p>
  </div>
  <div class="sg-example">
    <div class="sg-canvas">
      <div class="button file-upload">
        <i class="fa fa-upload"></i>
        <span class="text">Upload</span>
        <input type="file" class="upload" data-bind="file: { data: document, name: documentname, allowed: allowedTypes }">
      </div>
    </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;button file-upload&quot;</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-upload&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>Upload<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">&quot;file&quot;</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;upload&quot;</span> <span class="hljs-attribute">data-bind</span>=<span class="hljs-value">&quot;file: { data: document, name: documentname, allowed: allowedTypes }&quot;</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
  </div>
</section>