<div class="row">
    <div class="column small-12 large-6">
        <p>
            This is a variation of the question block used by NCDR. And is the replacement for the linear question
        </p>
    </div>
    <div class="column small-12">
        <h3>
            The Antomy
        </h3>
        <div class="question-grid-based span-2-col required label-position-left">
            <span class="notation">
                .question-grid-based
            </span>
            <div class="label-holder outline">
                <span class="notation">
                    .label-holder
                </span>
                <label for="">
                    <span class="text">
                        Question Title
                        <a class="seq">
                            1234
                        </a>
                    </span>
                    <span class="required-holder">
                        <i class="fa fa-holder-dynamic">
                        </i>
                    </span>
                </label>
                <div class="hint">
                    This is some hint text
                </div>
            </div>
            <div class="input-holder outline">
                <span class="notation">
                    .input-holder
                </span>
                <div class="input-space column small-6 large-9 outline">
                    <span class="notation">
                        .input-space
                    </span>
                    <input type="text"/>
                </div>
                <div class="column value small-6 large-3 outline">
                    <span class="notation">
                        .input-space
                    </span>
                    Years
                </div>
            <div class="message-holder outline">
                <span class="notation">
                    .message-holder
                </span>
                <small class="error">
                    <i class="fa fa-holder">
                    </i>
                    Error message
                </small>
                <small class="warning">
                    <i class="fa fa-holder">
                    </i>
                    Warning message
                </small>
                <small class="data">
                    <i class="fa fa-holder">
                    </i>
                    Data message
                </small>
            </div>
                <div class="hint outline">
                    <span class="notation">
                        .hint
                    </span>
                    This is some hint text
                </div>
            </div>
        </div>
    </div>
</div>
