<section class="sg-block sg-section-fluid-question-group">
    <div class="sg-text">
        <h3 id="fluid-question-group" class="sg">
            Fluid Question Group
        </h3>
        <p class="sg">
            <code class="sg">
                .question-group.fluid-align
            </code>
            - A containter that will align the labels to the longest label.
        </p>
    </div>
    <div class="sg-example">
        <div class="sg-canvas">
            <h5 class="highlighted">
                Default
            </h5>
            <div class=" question-group fluid-align">
                <div class="question-grid-based span-2-col required label-position-left">
                    <div class="label-holder">
                        <label for="">
                            <span class="text">
                                Question Title that is Longer
                                <a class="seq">
                                    1234
                                </a>
                            </span>
                            <span class="required-holder">
                                <i class="fa fa-holder-dynamic">
                                </i>
                            </span>
                        </label>
                    </div>
                    <div class="input-holder">
                        <div class="input-space">
                            <input type="text"/>
                        </div>
                        <div class="hint">
                            This is some hint text
                        </div>
                    </div>
                </div>
                <div class="question-grid-based span-2-col required label-position-left">
                    <div class="label-holder">
                        <label for="">
                            <span class="text">
                                Title
                                <a class="seq">
                                    1234
                                </a>
                            </span>
                            <span class="required-holder">
                                <i class="fa fa-holder-dynamic">
                                </i>
                            </span>
                        </label>
                    </div>
                    <div class="input-holder">
                        <div class="input-space">
                            <input type="text"/>
                        </div>
                        <div class="hint">
                            This is some hint text
                        </div>
                    </div>
                </div>
                <div class="question-grid-based span-2-col required label-position-left">
                    <div class="label-holder">
                        <label for="">
                            <span class="text">
                                Question Title
                                <a class="seq">
                                    1234
                                </a>
                            </span>
                            <span class="required-holder">
                                <i class="fa fa-holder-dynamic">
                                </i>
                            </span>
                        </label>
                    </div>
                    <div class="input-holder">
                        <div class="input-space">
                            <input type="text"/>
                        </div>
                        <div class="hint">
                            This is some hint text
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pre class="sg-code">
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    h5
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;highlighted&quot;
                </span>
                &gt;
            </span>
            Default
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    h5
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot; question-group fluid-align&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;question-grid-based span-2-col required label-position-left&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;label-holder&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    label
                </span>
                <span class="hljs-attribute">
                    for
                </span>
                =
                <span class="hljs-value">
                    &quot;&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    span
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;text&quot;
                </span>
                &gt;
            </span>
            Question Title that is Longer
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    a
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;seq&quot;
                </span>
                &gt;
            </span>
            1234
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    a
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    span
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    span
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;required-holder&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    i
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;fa fa-holder-dynamic&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    i
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    span
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    label
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;input-holder&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;input-space&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    input
                </span>
                <span class="hljs-attribute">
                    type
                </span>
                =
                <span class="hljs-value">
                    &quot;text&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;hint&quot;
                </span>
                &gt;
            </span>
            This is some hint text
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;question-grid-based span-2-col required label-position-left&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;label-holder&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    label
                </span>
                <span class="hljs-attribute">
                    for
                </span>
                =
                <span class="hljs-value">
                    &quot;&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    span
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;text&quot;
                </span>
                &gt;
            </span>
            Title
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    a
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;seq&quot;
                </span>
                &gt;
            </span>
            1234
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    a
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    span
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    span
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;required-holder&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    i
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;fa fa-holder-dynamic&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    i
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    span
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    label
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;input-holder&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;input-space&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    input
                </span>
                <span class="hljs-attribute">
                    type
                </span>
                =
                <span class="hljs-value">
                    &quot;text&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;hint&quot;
                </span>
                &gt;
            </span>
            This is some hint text
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;question-grid-based span-2-col required label-position-left&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;label-holder&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    label
                </span>
                <span class="hljs-attribute">
                    for
                </span>
                =
                <span class="hljs-value">
                    &quot;&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    span
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;text&quot;
                </span>
                &gt;
            </span>
            Question Title
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    a
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;seq&quot;
                </span>
                &gt;
            </span>
            1234
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    a
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    span
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    span
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;required-holder&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    i
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;fa fa-holder-dynamic&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    i
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    span
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    label
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;input-holder&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;input-space&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    input
                </span>
                <span class="hljs-attribute">
                    type
                </span>
                =
                <span class="hljs-value">
                    &quot;text&quot;
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;
                <span class="hljs-title">
                    div
                </span>
                <span class="hljs-attribute">
                    class
                </span>
                =
                <span class="hljs-value">
                    &quot;hint&quot;
                </span>
                &gt;
            </span>
            This is some hint text
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
            <span class="hljs-tag">
                &lt;/
                <span class="hljs-title">
                    div
                </span>
                &gt;
            </span>
        </pre>
    </div>
</section>
