/*
Error: Inconsistent indentation: 7 spaces were used for indentation, but the rest of the document was indented using 2 spaces.
        on line 1423 of assets/scss/vendor/chosen/index.html

1418:         <li><a href="http://www.youtube.com/watch?feature=player_detailpage&amp;v=UkSPUDpe0U8#t=11s">Disco</a>.</li>
1419:       </ol>
1420: 
1421:       <h2><a name="faqs" class="anchor" href="#faqs">FAQs</a></h2>
1422:       <ul class="faqs">
1423:        <li>
1424:           <h3>Do you have all the available options documented somewhere?</h3>
1425:           <p>Yes! You can find them on <a href="options.html">the options page</a>.</p>
1426:         </li>
1427:        <li>
1428:           <h3>Something doesn't work. Can you fix it?</h3>

Backtrace:
assets/scss/vendor/chosen/index.html:1423
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/lib/sass/engine.rb:473:in `block in tabulate'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/lib/sass/engine.rb:431:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/lib/sass/engine.rb:431:in `each_with_index'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/lib/sass/engine.rb:431:in `tabulate'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/lib/sass/engine.rb:396:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/lib/sass/exec/sass_scss.rb:407:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.11/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 7 spaces were used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 1423 of assets/scss/vendor/chosen/index.html\A \A 1418:         <li><a href=\"http://www.youtube.com/watch?feature=player_detailpage&amp;v=UkSPUDpe0U8#t=11s\">Disco</a>.</li>\A 1419:       </ol>\A 1420: \A 1421:       <h2><a name=\"faqs\" class=\"anchor\" href=\"#faqs\">FAQs</a></h2>\A 1422:       <ul class=\"faqs\">\A 1423:        <li>\A 1424:           <h3>Do you have all the available options documented somewhere?</h3>\A 1425:           <p>Yes! You can find them on <a href=\"options.html\">the options page</a>.</p>\A 1426:         </li>\A 1427:        <li>\A 1428:           <h3>Something doesn't work. Can you fix it?</h3>"; }
