<div class="group-divide-auto">
    <div class="row">
        <div class="column large-7 large-push-5">
                    <p class="no-margin"><div class="h2 content-padding float-left strong">{#}</div> Proportion of ICD/CRT-D implant patients with left ventricular systolic dysfunction (LVSD) who were prescribed beta-blocker therapy, as eligible, at discharge</p>
        </div>
        <div class="column large-5 large-pull-7">
            <div class="question row  no-margin">
                <div class="input-holder column small-8 large-push-4">
                    <small for="" class="sub-line">My Hospital</small>
                    <div class="progress alert large" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-meter" style="width: 54%"></div>
                    </div>
                </div>
                <div class="label-holder small-4 large-pull-8 text-right column">
                    <h2 class="no-margin single-line-height" style="font-size: 40px">54% </h2>
                </div>
            </div>
            <div class="question row  no-margin">
                <div class="input-holder small-8 large-push-4 column">
                    <div class="progress primary" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-meter" style="width:62%"></div>
                    </div>
                    <div class="small strong">US Hospital 50th Percentile</div>
                </div>
                <div class="label-holder small-4 large-pull-8 text-right column">
                    <h2 class="no-margin"> 62%</h2>
                </div>
            </div>
        </div>
    </div>
</div>