<div class="group-divide-auto">
    <div class="row">
        <div class="column large-7 large-push-5">
            <p class="no-margin">
                <div class="h2 content-padding float-left strong">{#}</div> Proportion of ICD/CRT-D implant patients with left ventricular systolic dysfunction (LVSD) who were prescribed beta-blocker therapy, as eligible, at discharge</p>
        </div>
        <div class="column large-5 large-pull-7">
            <div class="chart row no-margin">
                <div class="input-holder primary-metric ">
                    <div class="input-space small-8 large-push-4 column">
                        <div class="input-label">My Hospital</div>
                        <div class="progress success large" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-meter" style="width: 90%"></div>
                        </div>
                    </div>
                    <div class="value-space small-4 large-pull-8 text-right column">
                      <span class="value"> 90.2<small>%</small></span>
                    </div>
                </div>
                <div class="input-holder secondary-metric ">
                    <div class="input-space small-8 large-push-4 column">
                        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-meter" style="width:80%"></div>
                        </div>
                        <div class="input-label">US Hospital 50th Percentile</div>
                    </div>
                    <div class="value-space small-4 large-pull-8 text-right column">
                        <div class="no-margin value"> 79.8<small>%</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>