<div class="group-divide-auto">
    <div class="row section-padding">
        <div class="column medium-6 large-4">
            <div class="question row collapse">
                <div class="label-holder small-3 text-right column">
                    <h2 class="no-margin single-line-height" style="font-size: 40px">90% </h2>
                </div>
                <div class="input-holder column small-9">
                    <small for="" class="sub-line">My Hospital (2017Q1)</small>
                    <div class="progress success large" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-meter" style="width: 90%"></div>
                    </div>
                </div>
            </div>
            <div class="question row">
                <div class="label-holder small-3 text-right column">
                    <h2 class="no-margin"> 79%</h2>
                </div>
                <div class="input-holder small-9 column">
                    <div class="progress primary" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-meter" style="width:79%"></div>
                    </div>
                    <span for="" class="sub-line">US Hospital 50th Percentile (2017Q1)</span>
                </div>
            </div>
        </div>
        <div class="column medium-6 large-8">
                    <h5 class="no-margin">Proportion of ICD/CRT-D implant patients with left ventricular systolic dysfunction (LVSD) who were prescribed beta-blocker therapy, as eligible, at discharge.</h5>
        </div>
    </div>
</div>