<section class="sg-block sg-section-buttons">
      <div class="sg-text">
        <h3 id="buttons" class="sg">Buttons</h3>
        <p class="sg">
          <code class="sg">.nobutton .button or .button.secondary</code>- sample buttons from
          <code class="sg">.button</code>you can modifiers</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <a class="nobutton">no button</a>
          <a class="button">button</a>
          <a class="button secondary">secondary button</a>
          <a class="button disabled">disabled button</a>
        </div><pre class="sg-code sg-hidden"><span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"nobutton"</span>&gt;</span>no button<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"button"</span>&gt;</span>button<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"button secondary"</span>&gt;</span>secondary button<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"button disabled"</span>&gt;</span>disabled button<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span></pre>
      <button class="sg-expando sg-expando-reveal"></button></div>
    </section>