<section class="sg-block sg-section-tabs-basic-">
      <div class="sg-text">
        <h3 id="tabs-basic-" class="sg">Tabs (Basic)</h3>
        <p class="sg">
          <code class="sg">.tabs</code>- Group of nav that is build for a vertical space</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <ul class="nav tabs">
            <li class="icon">
              <a class="home">
                <i class="fa fa-holder"></i>
              </a>
            </li>
            <li class="">
              <a>Tab 2</a>
            </li>
            <li class=" selected ">
              <a>Tab 3</a>
            </li>
            <li class="">
              <a>Tab 4</a>
            </li>
          </ul>
        </div><pre class="sg-code sg-hidden"><span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"nav tabs"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"icon"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"home"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"fa fa-holder"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">""</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>Tab 2<span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">" selected "</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>Tab 3<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">""</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span>&gt;</span>Tab 4<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span></pre>
      <button class="sg-expando sg-expando-reveal"></button></div>
    </section>