<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>COM NOMS ADMIN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/jquery-ui.css">
  <link rel="stylesheet" href="assets/css/jquery-uistructure.css">
  <link rel="stylesheet" href="assets/css/foundation-sites.css">
   <link rel="stylesheet" href="assets/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/index.css" id="theme">

</head>
	<body>
    {% include 'admin/sections/header' %}
    <div class="mobile-offcanvas-wrapper" data-bind="page: {id:'sections', role: 'start'}">
    {% block content %}{% endblock %}
    </div>
    {% include 'sections/web-footer' %}
    {% include "scripts" %}
    <style>
      .page-wrapper {
        max-width: 100% !important;
      }
    </style>
	</body>
</html>