<!DOCTYPE doctype html>
<html class="no-js" lang="en">
    <head>
        <title>
            COM NOMS ADMIN
        </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <link href="assets/css/styledown.css" rel="stylesheet">
                <link href="assets/css/normalize.min.css" rel="stylesheet">
                    <link href="assets/css/jquery-ui.css" rel="stylesheet">
                        <link href="assets/css/jquery-uistructure.css" rel="stylesheet">
                            <link href="assets/css/foundation-sites.css" rel="stylesheet">
                                <link href="assets/css/font-awesome.css" rel="stylesheet">
                                    <link href="assets/css/index.css" id="theme" rel="stylesheet">
                                    </link>
                                </link>
                            </link>
                        </link>
                    </link>
                </link>
            </link>
        </meta>
    </head>
    <body>
        <div class="mobile-offcanvas-wrapper" data-bind="page: {id:'sections', role: 'start'}">
            <div class="off-canvas-wrapper">
                <div class="off-canvas position-right" data-off-canvas="" id="offCanvasRightSplit2">
                    <div class="paper-page page content-padding">
                        <div class="close-bar" data-close="">
                            <button aria-label="Close menu" class="close-button" type="button">
                                <span aria-hidden="true">
                                    <i class="fa fa-times">
                                    </i>
                                    close
                                </span>
                            </button>
                        </div>
                        <div class="colored-paper empty">
                            <h2>
                                Notes
                            </h2>
                            <textarea cols="30" id="" name="" rows="5">
                            </textarea>
                            <a class="button expanded add tiny radius" href="">
                                <i class="fa fa-holder">
                                </i>
                                Add Note
                            </a>
                        </div>
                        <ul class="no-bullet comment-holder section-padding">
                            <li class="group-divide-bottom">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                <cite class="text-right">
                                    <strong>
                                        Nicole Homes
                                    </strong>
                                    <span class="lite">
                                        Jan 1st 2017 | 12:53 PM
                                    </span>
                                </cite>
                            </li>
                            <li class="group-divide-bottom">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <cite class="text-right">
                                    <strong>
                                        Marthea Williams
                                    </strong>
                                    <span class="lite">
                                        Jan 1st 2017 | 12:50 PM
                                    </span>
                                </cite>
                            </li>
                            <li class="group-divide-bottom">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <cite class="text-right">
                                    <strong>
                                        Nicole Homes
                                    </strong>
                                    <span class="lite">
                                        Jan 1st 2017 | 12:42 PM
                                    </span>
                                </cite>
                            </li>
                            <li class="group-divide-bottom">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                <cite class="text-right">
                                    <strong>
                                        Nicole Homes
                                    </strong>
                                    <span class="lite">
                                        Jan 1st 2017 | 12:39 PM
                                    </span>
                                </cite>
                            </li>
                        </ul>
                    </div>
                </div>
                {% comment %}    end of off canvass area {% endcomment %}
                <div class="off-canvas-content" data-off-canvas-content="">
                    {% include 'admin/sections/header' %}
                   
                    <div class="paper-page page">
                        <div class="section-nav back">
                            <a href="admin-committees-dashboard.html">
                                <div class="circle">
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </div>
                                <div class="text">
                                    Back to Committee Dashboard
                                </div>
                            </a>
                        </div>
                        <div class="page-wrapper" style="position: relative;">
                           <button class="button success small circle-button" data-toggle="offCanvasRightSplit2" id="comment-toggle" type="button"> <i class="fa fa-comment" style="color:white"></i></button>
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'sections/web-footer' %}
    {% include "scripts" %}
        <style>
            .page-wrapper {
        max-width: 100% !important;
      }
        </style>
    </body>
</html>