<!DOCTYPE doctype html>
<html class="no-js" lang="">
    <head>
      <title>
      Bristol: Mobile Style Guide for ACC
      </title>
      <meta content="width=device-width, initial-scale=1" name="viewport"/>
      <link rel="stylesheet" href="assets/css/styledown.css">
      <link href="assets/css/normalize.min.css" rel="stylesheet"/>
      <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700,800i|Roboto+Slab:400,700" rel="stylesheet">
      <link rel="stylesheet" href="assets/css/jquery-ui.css">
      <link rel="stylesheet" href="assets/css/jquery-uistructure.css">
      <link href="assets/css/foundation-sites.css" rel="stylesheet"/>
      <link href="assets/css/font-awesome.css" rel="stylesheet"/>
      <link href="assets/css/index.css" rel="stylesheet"/>
                            
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        {% include 'sections/header' %}
        <div class="mobile-offcanvas-wrapper">
            <section class="split-layout fill-page-height medium navOn"  data-bind="page: {id:'sections', role: 'start'}">
                <aside class="split-sidebar">
                    {% include "sidebar" %}
                </aside>
                <article class="split-content" data-bind="page: {id:'content', role: 'start'}">
                    <!-- <a class="hide-for-medium button expanded tiny" onClick="$('.mobile-offcanvas-wrapper .split-layout').toggleClass('navOn')" style="margin-bottom:0;"><i class="fa fa-bars"></i> Menu</a> -->
                    <div class="page-wrapper">
                        <div class="content-padding">
                            {% include "pages/introduction" %}
                            {% include "pages/framework" %}
                            {% include "pages/branding" %}
                            {% include "pages/typography" %}
                            {% include "pages/navigation" %}
                            {% include "pages/tables" %}
                            {% include "pages/buttons" %}
                            {% include "pages/qna" %}
                            {% include "pages/layouts" %}
                            
                            {% include "pages/space-savers" %}               
                            {% include "pages/paper" %}             
                            {% include "pages/callouts" %} 
                        </div>
                    </div>
                </article>
            </section>
        </div>
        {% include 'sections/footer' %}
        {% include "scripts" %}
    </body>
</html>