<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>My Style Guide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/styledown.css">
  <link rel="stylesheet" href="assets/css/normalize.min.css">
  {% comment %}<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,600,400,300|Roboto+Slab:400,700|Raleway:300">{% endcomment %}
  <link rel="stylesheet" href="assets/css/jquery-ui.css">
  <link rel="stylesheet" href="assets/css/jquery-uistructure.css">
  <link rel="stylesheet" href="assets/css/foundation-sites.css">
   <link rel="stylesheet" href="assets/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/index.css">
</head>
	<body>
    <a class="hide-for-medium" onClick="$('.mobile-offcanvas-wrapper .split-layout').toggleClass('navOn')" style="display: block;width: 100%;text-align: center;color: white;background-color: #00386b;"><i class="fa fa-bars"></i> Menu</a>
    <div class="sticky-holder">
      <header class="header page">
        <a href="index.html" class="logo">
          <img src="assets/img/headerlogo.svg" alt="ACC Statin Intolerance Guidelines">
        </a>
              <ul class="nav tabs tabs-primary">
                <li class="icon"><a class="home"> <i class="fa fa-holder"></i> </a></li>
                <li><a>Tab A</a></li>
                <li> <a>Tab B</a></li>
              </ul>
      </header>
      <div class="score-bar-holder">
        <div class="score-bar row">
          <div class="column small-6 primary-color data-container"> 
            <div class="data float-right">
              <div class="text-bold data-header small-fs-2x large-fs-3x">10-Year ASCVD Risk</div>
              <div class="data-group">
                  <div class="text-light small-fs-4x medium-fs-4x large-fs-6x data-value">3%</div>
                  <div class="text-condensed small-fs-2x medium-fs-3x data-label">calculated risk</div>
              </div>
              <div class="data-group">
               <div class="text-light small-fs-4x medium-fs-4x large-fs-6x data-value">3%</div>
                <div class="data-label text-condensed small-fs-2x medium-fs-3x">risk with optimal risk factors**</div>
              </div>
            </div>
          </div>
          <div class="column small-6 secondary-color data-container">
            <div class="data float-left">
                <div class="text-bold data-header small-fs-2x large-fs-3x">Lifetime ASCVD Risk</div>
              <div class="data-group">
                  <div class="text-light small-fs-4x medium-fs-4x large-fs-6x data-value">3%</div>
                  <div class="text-condensed small-fs-2x medium-fs-3x data-label">calculated risk</div>
              </div>
              <div class="data-group">
               <div class="text-light small-fs-4x medium-fs-4x large-fs-6x data-value">3%</div>
                <div class="data-label text-condensed small-fs-2x medium-fs-3x">risk with optimal risk factors**</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
         

    <div class="mobile-offcanvas-wrapper">
      <section class="split-layout fill-page-height medium navOn">
        <aside class="split-sidebar">
         {% include "sidebar-greek" %}
        </aside>
        <article class="split-content"  data-bind="page: {id:'content', role: 'start'}">
          <div class="page-wrapper">
            <div class="content-padding">
              {% include "body-greek" %}                         
            </div>
          </div>
        </article>
      </section>
    </div>
    {% include 'sections/footer' %}
    {% include "scripts" %}
	</body>
</html>