{% include "head" %}
   {% include 'sections/header-active-application' %}
    <div class="mobile-offcanvas-wrapper" data-bind="page: {id:'sections', role: 'start'}">
    {% block content %}{% endblock %}
    </div>
    {% include 'sections/web-footer' %}
    {% include "scripts" %}

	</body>
</html>