{% include "head" %}

<div class="page-message-holder inset">
    {% block  message-holder %} {% endblock %}
</div>
{% include 'sections/header-active-application' %}
<div class="mobile-offcanvas-wrapper stuck-footer" data-bind="page: {id:'sections', role: 'start'}">
    <div class="paper-page page">
        <div class="page-header clearfix content-padding section-padding ">
            <h1 class="content-padding section-padding">
                {% block page-name %}{% endblock %}
            </h1>
        </div>
        <div class="row ">
            <div class="column large-4 inset-container collapse">
                <aside class="inset-area ">
                    {% include "elements/searchbar" %}
                    <div class="colored-paper clearfix text-center" style="background-color:#ccc;padding: .5em 0 0 0;">
                        <div class="button-group selectable selectable-switch small">
                            <a class="button selected" href="">
                                <i class="fa fa-holder">
                                </i>
                                All
                            </a>
                            <a class="button " href="">
                                <i class="fa fa-holder">
                                </i>
                                Nominated
                            </a>
                            <a class="button " href="">
                                <i class="fa fa-holder">
                                </i>
                                Interested
                            </a>
                        </div>
                    </div>
                    <div class="section-padding">
                        <ul class="committee-list">
                            {% include "elements/committee-list-item-notactive" %}
                            <li class="committee-list-item selected">
                                <div class="committee-data">
                                    <div class="committee">
                                        <h2 class="name">
                                            Assembly of Interantional Governors Steering Committee
                                            <div class="sub-line">
                                                ACC Guidance Committee
                                            </div>
                                        </h2>
                                        <span class="label secondary">
                                            Open Positions:
                                            <b>
                                                4
                                            </b>
                                        </span>
                                        <span class="label">
                                            Nominated
                                            <i class="fa fa-thumbs-up">
                                            </i>
                                        </span>
                                    </div>
                                    <div class="action">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x">
                                            </i>
                                            <i class="fa fa-chevron-right fa-stack-1x">
                                            </i>
                                        </span>
                                    </div>
                                </div>

                            </li>
                            {% include "elements/committee-list-item-notactive" %}
                                        {% include "elements/committee-list-item-notactive" %}
                            <li class="committee-list-item">
                                <div class="committee-data">
                                    <div class="committee">
                                        <h2 class="name">
                                            Assembly of Interantional Governors Steering Committee
                                            <div class="sub-line">
                                                ACC Guidance Committee
                                            </div>
                                        </h2>
                                        <span class="label secondary">
                                            Open Positions:
                                            <b>
                                                4
                                            </b>
                                        </span>
                                        <span class="label success">
                                            Interested
                                        </span>
                                    </div>
                                    <div class="action">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x">
                                            </i>
                                            <i class="fa fa-chevron-right fa-stack-1x">
                                            </i>
                                        </span>
                                    </div>
                                </div>
                               
                            </li>
                            {% include "elements/committee-list-item-notactive" %}
                        </ul>
                    </div>
                    <div style="position: static;left: 0;right: 0;bottom: 0;">
                        {% include "elements/card-pagination-bottom" %}
                    </div>
                </aside>
            </div>
            <div class="column large-8">
                {% block content %}{% endblock %}
                <div class="footer sticky-button-bar group-divide">
                    <div class="column small-12 section-padding content-padding">
                        <div class="pull-left">
                            <a class="button navigation small" href="user-dashboard-empty.html">
                                <i class="fa fa-arrow-left">
                                </i>
                                Back To Dashboard
                            </a>
                        </div>
                        <div class="pull-right">
                            <a class="secondary button small" href="user-nominate-member.html">
                                Nominate A Member
                            </a>
                            <a class="button small" href="#">
                                Mark as Interested
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'sections/web-footer' %}
    {% include "scripts" %}
