{% include "head" %}

<div class="page-message-holder inset">
    {% block  message-holder %} {% endblock %}
</div>
{% include 'sections/header-active-application' %}
<div class="mobile-offcanvas-wrapper" data-bind="page: {id:'sections', role: 'start'}">
    <div class="paper-page page">
        <div class="page-header clearfix">
            <h1>
                {% block page-name %}{% endblock %}
            </h1>
        </div>

        <div class="row page-wrapper" style="max-width: none;">
            <div class="column large-3">
                <aside class="card">
                    <div class="colored-paper">
                        <h2 class="clearfix text-center">
                            Open Committees
                        </h2>
                        <a class="expanded hollow button tiny reverse" href="open-committees.html" style="">
                            Explore All Open Committees
                            <i class="fa fa-arrow-right">
                            </i>
                        </a>
                    </div>
                    {% comment %}{% include "elements/searchbar" %}{% endcomment %}
                    <div class="colored-paper clearfix text-center" style="background-color:#ccc;padding: .5em 0 0 0;">
                       <div class="button-group  selectable selectable-switch small">
                            <a href="" class="button  selected"><i class="fa fa-holder"></i>All</a>
                            <a href="" class="button "><i class="fa fa-holder"></i>Nominated</a>
                            <a href="" class="button "><i class="fa fa-holder"></i>Interested</a>
                        </div>
                    </div>
                    <div class="section-padding">
                        <ul class="committee-list">
                            {% include "elements/committee-List-item" %}
                            <li class="committee-list-item">
                                <div class="committee-data">
                                    <div class="committee">
                                        <h2 class="name">
                                            Assembly of Interantional Governors Steering Committee
                                            <div class="sub-line">
                                                ACC Guidance Committee
                                            </div>
                                        </h2>
                                        <span class="label secondary">
                                            Open Positions:
                                            <b>
                                                4
                                            </b>
                                        </span>
                                        <span class="label">
                                            Nominated
                                            <i class="fa fa-thumbs-up">
                                            </i>
                                        </span>
                                    </div>
                                    <div class="action">
                                        <span class="fa-stack fa-lg" data-toggle="example-dropdown-2">
                                            <i class="fa fa-circle fa-stack-2x">
                                            </i>
                                            <i class="fa fa-ellipsis-h fa-stack-1x">
                                            </i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <div class="dropdown-pane" data-dropdown="" data-hover="true" data-hover-pane="true" id="example-dropdown-2">
                                <div class="button-group stacked radius small">
                                    <a class="button" href="">
                                        Mark as Interested
                                    </a>
                                    <a class="button secondary" href="">
                                        Nominated A Member
                                    </a>
                                    <a class="button secondary" href="">
                                        Veiw Details
                                    </a>
                                </div>
                            </div>
                           {% block selected-committee %}{% endblock %}
                            {% include "elements/committee-List-item" %}
                            {% include "elements/committee-List-item" %}
                            {% include "elements/committee-List-item" %}
                            {% include "elements/committee-List-item" %}
                        </ul>
                    </div>
                        {% include "elements/card-pagination-bottom" %}
                </aside>
            </div>
            <div class="column large-3 inset-container">
                    {% block active-application %}{% endblock %}
            </div>
            <div class="column large-6">
                    {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="reveal large no-padding paper-page page" data-reveal="" id="comm-modal">
    {% include "sections/committee-overview" %}
    <button aria-label="Close modal" class="close-button" data-close="" type="button">
        <span aria-hidden="true">
            <i class="fa fa-times">
            </i>
        </span>
    </button>
</div>
{% include 'sections/web-footer' %}
{% include 'sections/time-control'%}

    {% include "scripts" %}
