<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>My Style Guide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/styledown.css">
  <link rel="stylesheet" href="assets/css/normalize.min.css">
  <link rel="stylesheet" href="assets/css/jquery-ui.css">
  <link rel="stylesheet" href="assets/css/jquery-uistructure.css">
  <link rel="stylesheet" href="assets/css/foundation-sites.css">
   <link rel="stylesheet" href="assets/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/index.css" id="theme">

</head>
	<body>
    {% include 'sections/header' %}
    
    {% block content %}{% endblock %}

    {% include 'sections/web-footer' %}
    {% include "scripts" %}
    <style>
  td.full-cell { padding:0; text-align: center; }
  td.full-cell button{ width:2.5em;height: 2.5em; }
  .purchase-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 5px; }
.purchase-icon.acc{background: transparent url(http://cstool.acc.org/Content/images/icon-ACC.png) no-repeat center;}
.purchase-icon.iscience {
  background-image: url(http://cstool.acc.org/Content/images/icon-iSc.png); }
</style>
	</body>
</html>