<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>My Style Guide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/styledown.css">
  <link rel="stylesheet" href="assets/css/normalize.min.css">
  {% comment %}<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,600,400,300|Roboto+Slab:400,700|Raleway:300">{% endcomment %}
  <link rel="stylesheet" href="assets/css/jquery-ui.css">
  <link rel="stylesheet" href="assets/css/jquery-uistructure.css">
  <link rel="stylesheet" href="assets/css/foundation-sites.css">
   <link rel="stylesheet" href="assets/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/index.css">
</head>
	<body>
    <header class="header page">
      <a href="index.html" class="logo">
        <img src="assets/img/headerlogo.svg" alt="ACC Statin Intolerance Guidelines">
      </a>
      <ul class="nav tabs tabs-primary">
        <li class="icon"><a class="home"> <i class="fa fa-holder"></i> </a></li>
        <li><a>Tab A</a></li>
        <li> <a>Tab B</a></li>
      </ul>
    </header>
<div class="mobile-offcanvas-wrapper">
  <div class="page with-group-sections">
    <div class="section-nav back">
      <a>
        <div class="circle">
          <i class="fa fa-holder-dynamic"></i>
        </div>
        <div class="text">Back</div>
      </a>
    </div>
    <div class="page-wrapper">
      <div class="row small-12">
        <h1>Non-statin Agents</h1>
        <h3>If lipid-lowering response is less-than-anticipated (i):</h3>
      </div>
      <section class="section group-section">
       <div class="colored-paper content-padding"> 
        <h4>Consider adding ezetimibe first.</h4>
       </div>
        <p>Or if ezetimibe-intolerant, and triglycerides &gt;300 mg/dL, may consider a bile acid sequesterant (BAS).</p>
      </section>
      <div class="row column-12">
        <h3>If lipid-lowering response is still less-than-anticipated(i):</h3>
      </div>
      <section class="section group-section">
        <div class="colored-paper content-padding"> <h4>Consider adding or replacing current lipid-lowering therapy with PCSK9 inhibitor second</h4></div>
        <p>Consider only if patient has been on maximally tolerated statin or is fully statin intolerant, and has persistently insufficient response with ezetimibe orBAS ( i ).</p>
      </section><br/>
      <section class="section group-section">
        <div class="colored-paper secondary content-padding"> <h4>Once acceptable response is achieved with lipid-lowering therapy, continue to monitor LDL-C level and adherence to medications and lifestyle.</h4></div>
      </section>
    </div>
  </div>
</div>
    {% include 'sections/footer' %}
    {% include "scripts" %}
	</body>
</html>