{% include "head" %}
{% include 'sections/web-header' %}
<div class="mobile-offcanvas-wrapper" data-bind="page: {id:'sections', role: 'start'}">
    <div class="row column content-padding page-header">
        <h1>
            {% block page-name %}{% endblock %}
        </h1>
    </div>
    <div class="layer-down">
        <div class="row page page-wrapper section-padding" >
            <div class="column large-8 ">
                <div class=" ">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="column large-4 ">
                {% block quick-look %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="reveal large no-padding paper-page page " data-reveal=" " id="comm-modal ">
    {% include "sections/committee-overview " %}
    <button aria-label="Close modal " class="close-button " data-close=" " type="button ">
        <span aria-hidden="true ">
            <i class="fa fa-times ">
            </i>
        </span>
    </button>
</div>
{% include 'sections/web-footer' %}
{% include 'sections/time-control'%}
{% include "scripts " %}