{% include "head" %} {% include 'sections/web-header' %}
<div class="mobile-offcanvas-wrapper" data-bind="page: {id:'sections', role: 'start'}">
    <div class="row page-header content-padding">
        <h1>
            {% block page-name %}{% endblock %}
        </h1>
    </div>
    <div class="row">
        <div class="column large-4 medium-5">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="column large-8 medium-7 layer-down">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% block modal %}{% endblock %}
{% include 'sections/web-footer' %}
{% include "scripts " %}
