{% include "head" %} {% include 'sections/web-header' %}
<div class="mobile-offcanvas-wrapper" data-bind="page: {id:'sections', role: 'start'}">
    <div class="colored-paper no-margin">
        <h1>
            {% block page-name %}{% endblock %}
        </h1>
    </div>
    <div class="row" style="padding: 1rem 1rem .25rem 1rem;">
        {% block progress %}{% endblock %}
    </div>
    <div class="layer-down">
        <div class="section-nav back">
            <a {% block backbutton %}{% endblock %}>
                <div class="circle">
                    <i class="fa fa-holder"></i>
                </div>
                <div class="text">Back</div>
            </a>
        </div>
        {% block content %}{% endblock %}
        <div class="section-nav forward">
            <a {% block forwardlink %}{% endblock %}>
                <div class="circle">
                    <i class="fa fa-holder"></i>
                </div>
                <div class="text">Forward</div>
            </a>
        </div>
    </div>
</div>
<div class="footer sticky-button-bar section-padding no-margin">
    <div class="row">
        <div class="column small-12">
            <div class="button-group float-right no-margin">
                <a class="button nobutton float-right" href="">
                    Cancel
                </a>
                <a class="button hollow" href="">
                    Save For Later
                </a> {% block forwardbutton %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% include 'sections/web-footer' %} {% include "scripts " %}