<div class="render">
	<div class="render-actions">
		<a href="" class="edit"><i class="fa fa-holder"></i><span class="text">edit</span></a>
		<a href="" class="delete"><i class="fa fa-holder"></i><span class="text">delete</span></a>
	</div>
	<ul class="render-holder">
		<li class="strong">Jeff Morris</li>
		<li>jmorris@acc.org</li>
		<li class="italic stared">( <i class="fa fa-holder"></i> Primary Email )</li>
		<li class="validated"><i class="fa fa-holder"></i></li> 

	</ul>
	<div class="message-holder">
		<small class="warning">
			<i class="fa fa-holder-dynamic"></i>
			This is a dynamic render message.
		</small>
	</div>
</div>