<section class="sg-block sg-section-sub-content-in-header-tags">
      <div class="sg-text">
        <h3 id="sub-content-in-header-tags" class="sg">Sub Content in Header Tags</h3>
        <p class="sg">
          <code class="sg">headline &gt; blockquote</code>- basic styling for sub content in headers.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h1 class="with-underline">Header 1 Tag
            <blockquote>sub content in a blockquote</blockquote>
          </h1>
          <h2 class="with-underline">Header 2 Tag
            <blockquote>sub content in a blockquote</blockquote>
          </h2>
          <h3 class="with-underline">Header 3 Tag
            <blockquote>sub content in a blockquote</blockquote>
          </h3>
          <h4 class="with-underline">Header 4 Tag
            <blockquote>sub content in a blockquote</blockquote>
          </h4>
          <h5 class="with-underline">Header 5 Tag
            <blockquote>sub content in a blockquote</blockquote>
          </h5>
          <h6 class="with-underline">Header 6 Tag
            <blockquote>sub content in a blockquote</blockquote>
          </h6>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h1</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 1 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">blockquote</span>&gt;</span>sub content in a blockquote<span class="hljs-tag">&lt;/<span class="hljs-title">blockquote</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h1</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h2</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 2 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">blockquote</span>&gt;</span>sub content in a blockquote<span class="hljs-tag">&lt;/<span class="hljs-title">blockquote</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h3</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 3 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">blockquote</span>&gt;</span>sub content in a blockquote<span class="hljs-tag">&lt;/<span class="hljs-title">blockquote</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h4</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 4 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">blockquote</span>&gt;</span>sub content in a blockquote<span class="hljs-tag">&lt;/<span class="hljs-title">blockquote</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h5</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 5 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">blockquote</span>&gt;</span>sub content in a blockquote<span class="hljs-tag">&lt;/<span class="hljs-title">blockquote</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h6</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 6 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">blockquote</span>&gt;</span>sub content in a blockquote<span class="hljs-tag">&lt;/<span class="hljs-title">blockquote</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h6</span>&gt;</span></pre>
      </div>
    </section>