<section class="sg-block sg-section-header-tags">
  <div class="sg-text">
      <h3 id="header-tags" class="sg">Header Tags</h3>
      <p class="sg">
      <code class="sg">Typography</code>- basic styling for headers. You can also us
      <code class="sg">.h1</code>,
      <code class="sg">.h2</code>,
      <code class="sg">.h3</code>,
      <code class="sg">.h4</code>,
      <code class="sg">.h5</code>, or
      <code class="sg">.h6</code>
      to make any text elements style like the associated header tag</p>
  </div>
  <div class="sg-example">
      <div class="sg-canvas">
          <h1>Header 1 Tag
          <small>subheader</small>
          </h1>
          <h2>Header 2 Tag</h2>
          <h3>Header 3 Tag</h3>
          <h4>Header 4 Tag</h4>
          <h5>Header 5 Tag</h5>
          <h6>Header 6 Tag</h6>
  </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h1</span>&gt;</span>Header 1 Tag
        <span class="hljs-tag">&lt;<span class="hljs-title">small</span>&gt;</span>subheader<span class="hljs-tag">&lt;/<span class="hljs-title">small</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">h1</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>Header 2 Tag<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h3</span>&gt;</span>Header 3 Tag<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h4</span>&gt;</span>Header 4 Tag<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h5</span>&gt;</span>Header 5 Tag<span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">h6</span>&gt;</span>Header 6 Tag<span class="hljs-tag">&lt;/<span class="hljs-title">h6</span>&gt;</span></pre>
  </div>
</section>