 <section class="sg-block sg-section-sub-content-in-header-tags">
      <div class="sg-text">
        <h3 id="sub-content-in-header-tags" class="sg">Sub Content in Header Tags</h3>
        <p class="sg">
          <code class="sg">[Header Tag] &gt; span.sub-line</code>- basic styling for sub content in headers.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h1 class="with-underline">Header 1 Tag
            <span class="sub-line">sub lines of content in a `span.sub-line`</span>
          </h1>
          <h2 class="with-underline">Header 2 Tag
            <span class="sub-line">sub lines of content in a `span.sub-line`</span>
          </h2>
          <h3 class="with-underline">Header 3 Tag
            <span class="sub-line">sub lines of content in a `span.sub-line`</span>
          </h3>
          <h4 class="with-underline">Header 4 Tag
            <span class="sub-line">sub lines of content in a `span.sub-line`</span>
          </h4>
          <h5 class="with-underline">Header 5 Tag
            <span class="sub-line">sub lines of content in a `span.sub-line`</span>
          </h5>
          <h6 class="with-underline">Header 6 Tag
            <span class="sub-line">sub lines of content in a `span.sub-line`</span>
          </h6>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h1</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 1 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>sub lines of content in a `span.sub-line`<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h1</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h2</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 2 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>sub lines of content in a `span.sub-line`<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h3</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 3 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>sub lines of content in a `span.sub-line`<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h4</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 4 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>sub lines of content in a `span.sub-line`<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h5</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 5 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>sub lines of content in a `span.sub-line`<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h6</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>Header 6 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>sub lines of content in a `span.sub-line`<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h6</span>&gt;</span></pre>
      </div>
    </section>

    <section class="sg-block sg-section-super-content-in-header-tags">
      <div class="sg-text">
        <h3 id="super-content-in-header-tags" class="sg">Super Content in Header Tags</h3>
        <p class="sg">
          <code class="sg">Header Tag] &gt; span.sub-line</code>- You can use span.sub-line as super content in headers by just including them at the begining of the tag instead of after the header content.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h1 class="with-underline">
            <span class="sub-line">Super line of Content</span>H1 Tag that has some text above it</h1>
          <h2 class="with-underline">
            <span class="sub-line">Super line of Content</span>H2 Tag that has some text above it</h2>
          <h3 class="with-underline">
            <span class="sub-line">Super line of Content</span>H3 Tag that has some text above it</h3>
          <h4 class="with-underline">
            <span class="sub-line">Super line of Content</span>H4 Tag that has some text above it</h4>
          <h5 class="with-underline">
            <span class="sub-line">Super line of Content</span>H5 Tag that has some text above it</h5>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h1</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>Super line of Content<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>H1 Tag that has some text above it<span class="hljs-tag">&lt;/<span class="hljs-title">h1</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h2</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>Super line of Content<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>H2 Tag that has some text above it<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h3</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>Super line of Content<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>H3 Tag that has some text above it<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h4</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>Super line of Content<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>H4 Tag that has some text above it<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h5</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>Super line of Content<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>H5 Tag that has some text above it<span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span></pre>
      </div>
    </section>