  <section class="sg-block sg-section-typography-states">
      <div class="sg-text">
        <h3 id="typography-states" class="sg">Typography States</h3>
        <p class="sg">
          <code class="sg">.error, .warning, .etc...</code>- headers and
          <code class="sg">p</code>tags can be fully manipulated to respond to states by adding the modifiying state like error, warning, info, highlighted, validated, and completed.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h1 class="with-underline info">Header 1 Tag
            <small>Info State</small>
          </h1>
          <h2 class="with-underline error">Header 2 Tag
            <small>Error State</small>
          </h2>
          <h3 class="with-underline warning">Header 3 Tag
            <small>Warning State</small>
          </h3>
          <h4 class="with-underline validated">Header 4 Tag
            <blockquote>Validated/success State</blockquote>
          </h4>
          <h5 class="with-underline highlighted">Header 5 Tag
            <small>Highlighted State</small>
          </h5>
          <p class="highlighted">
            <strong>Paragraph that is a highlighted State.</strong>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h1</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline info&quot;</span>&gt;</span>Header 1 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">small</span>&gt;</span>Info State<span class="hljs-tag">&lt;/<span class="hljs-title">small</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h1</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h2</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline error&quot;</span>&gt;</span>Header 2 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">small</span>&gt;</span>Error State<span class="hljs-tag">&lt;/<span class="hljs-title">small</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h3</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline warning&quot;</span>&gt;</span>Header 3 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">small</span>&gt;</span>Warning State<span class="hljs-tag">&lt;/<span class="hljs-title">small</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h4</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline validated&quot;</span>&gt;</span>Header 4 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">blockquote</span>&gt;</span>Validated/success State<span class="hljs-tag">&lt;/<span class="hljs-title">blockquote</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h5</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;with-underline highlighted&quot;</span>&gt;</span>Header 5 Tag
  <span class="hljs-tag">&lt;<span class="hljs-title">small</span>&gt;</span>Highlighted State<span class="hljs-tag">&lt;/<span class="hljs-title">small</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h5</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;highlighted&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">strong</span>&gt;</span>Paragraph that is a highlighted State.<span class="hljs-tag">&lt;/<span class="hljs-title">strong</span>&gt;</span>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
  ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam
  mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span></pre>
      </div>
    </section>