<section class="sg-block sg-section-type-modifiers">
      <div class="sg-text">
        <h3 id="type-modifiers" class="sg">Type Modifiers</h3>
        <p class="sg">
          <code class="sg">bold, italic or subtle,etc...</code>-
          <code class="sg">.bold</code>- make text bold,
          <code class="sg">.italic</code>- make text italic, or
          <code class="sg">.subtle</code>- make text subtle</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="bold">this has the `.bold` class added to the container which increases font weight and darkens the color.</div>
          <div class="emphasis">this has the `.emphasis` class added to the container which darkens the color and makes the font italic and bold</div>
          <div class="loud">this has the `.loud` class added to the container which darkens the color.</div>
          <div class="quiet">this has the `.quiet` class added to the container which lightens the color.</div>
          <div class="subtle">this has the `.subtle` class added to the container which decreases font weight and lightens the color.</div>
          <div class="italic">this has the `.italic` class added to the container which makes it lighter and makes it italic.</div>
          <div class="text-highlight-color">this has the `.text-highlight-color` class added to the container which changes the color to the product color</div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;bold&quot;</span>&gt;</span>this has the `.bold` class added to the container which increases font weight and darkens the color.<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;emphasis&quot;</span>&gt;</span>this has the `.emphasis` class added to the container which darkens the color and makes the font italic and bold<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div
class=&quot;loud&quot;</span>&gt;</span>this has the `.loud` class added to the container which darkens the color.<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;quiet&quot;</span>&gt;</span>this has the `.quiet` class added to the container which lightens the color.<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;subtle&quot;</span>&gt;</span>this has the `.subtle` class added to the container which decreases font weight and lightens the color.<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;italic&quot;</span>&gt;</span>this has the `.italic` class added to the container which makes it lighter and makes it italic.<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text-highlight-color&quot;</span>&gt;</span>this has the `.text-highlight-color` class added to the container which changes the color to the product color<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>