<div class="reveal" id="are-you-sure" data-reveal>
	 <button class="close-button" data-close aria-label="Close reveal" type="button"> <span aria-hidden="true"><i class="fa fa-times"></i></span></button>
    <h1>Are You Sure?</h1>
    <p class="lead">Doing X Will have Y Effect. Do you want to do X?</p>
    <div class="row group-divide">
    	<div class="float-right">
    		<a href="" class="button secondary">No</a>
    		<a href="" class="button">Yes</a>
    	</div>
    </div>	
</div>