<div class="group-section-pagination-holder">
  <ul class="pagination float-right pagination--compact">
    <li class="arrow disable left">
      <a href="">
        <i class="fa fa-caret-left "></i>
        <span class="text">prev</span>
      </a>
    </li>
    <li class="current">
      <a href="">1</a>
    </li>
    <li>
      <a href="">2</a>
    </li>
    <li>
      <a href="">3</a>
    </li>
    <li>
      <a href="">4</a>
    </li>
    <li class="arrow right">
      <a href="">
        <span class="text">next</span>
        <i class="fa fa-caret-right "></i>
      </a>
    </li>
  </ul>
</div>