<li>
	<a class="" data-open="comm-modal"><img src="assets/img/comnoms/Committee-NotActive.png" alt=""></a>
</li>


{% comment %}<li>
	<div class="committee--list-item">
		<aside class="committee--selector is-active">
			<i class="fa fa-holder"></i>
			<select name="" id="">
				<option value="">1</option>
				<option value="">2</option>
				<option value="">None</option>
			</select>
		</aside>
		<article class="committee--data">
			<div class="flag nominated">
				<div class="label">nominated</div>
			</div>
			<div class="committee">
				<h1 class="name">Assembly of Interantional Governors Steering Committee
					<div class="sub-header type">ACC Guidance Committee</div>
				</h1>
				<span>Open Positions: <strong>4</strong></span>
			</div>
			<div class="committee--actions button-group expanded tiny radius">
				<a class="button hollow radius view-details" href="">View Details</a>
				<a class="button hollow radius start-application" href="">Start Application</a>
				<a class="button hollow radius start-nominations" href="">Start a Nomination</a></div>
		</article>
	</div>
</li>{% endcomment %}

