<li class="committee--list-item">
	<div class="committee--data">
		<div class="action">
			<span class="fa-stack fa-lg"">
			<i class="fa fa-circle fa-stack-2x"></i>
{% comment %}			<i class="fa fa-check fa-stack-1x"></i>{% endcomment %}
			</span>
		</div>
	
		<div class="committee">
			<h2 class="name">Assembly of Interantional Governors Steering Committee
				<div class="sub-line">ACC Guidance Committee</div>
			</h2>
			<span class="label secondary">Open Positions: <b>4</b></span>
		</div>
	</div>
</li>