<li class="committee">
	<a href="">
		<div class="name">Comittee Name
			
		</div>
		<div class="type italic	"><em class="">Open: 3</em> | Comittee Type</div>
		<i class="fa fa-angle-right"></i>
	</a>
</li>