<li class="committee--list-item selected checked">
	<div class="committee--data">
		<div class="action">
			<span class="fa-stack fa-lg"">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-check fa-stack-1x"></i>
			</span>
		</div>
	
		<div class="committee">
			<h2 class="name">NCDR Committee A
				<div class="sub-line">NCDR Compliance</div>
			</h2>
			<span class="label secondary">Open Positions: <b>4</b></span>
		</div>
	</div>
</li>