<li class="committee--list-item">
	<div class="committee--data">
		<div class="committee">
			<h2 class="name">Assembly of Interantional Governors Steering Committee
				<div class="sub-line">ACC Guidance Committee</div>
			</h2>
			<span class="label secondary">Open Positions: <b>4</b></span>
		</div>
		<div class="action">
			<span class="fa-stack fa-lg"  data-toggle="example-dropdown-1">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-ellipsis-h fa-stack-1x"></i>
			</span>
		</div>
	</div>
</li>
<div class="dropdown-pane" id="example-dropdown-1" data-dropdown data-hover="true" data-hover-pane="true">
  <div class="button-group stacked radius small">
  	<a href="" class="button">Mark as Intrested</a>
  	<a href="" class="button secondary">Veiw Details</a>
  	<a href="" class="button secondary">Nominated A Member</a>
  </div>
</div>