<li>
	
	<div class="committee text">
			{% include 'elements/data-committee' %}
	</div>
<div class="button-group tiny expanded no-margin">
		<a class="button  secondary text-centered" data-open="comm-modal">View Details</a>
	<a class="button  secondary text-centered" >Add to Application</a>
</div>
</li>