<li class="committee-list-item">
	<div class="committee-data">
		<div class="committee">
			<h6 class="name">Assembly of Interantional Governors Steering Committee</h6>
			<small class="ingle-line-height">ACC Guidance Committee</small>
			<span class="secondary">Open Positions: <b>4</b></span>
		</div>
		<div class="action">
			<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-ellipsis-h fa-stack-1x"></i>
			</span>
		</div>
	</div>
</li>
