<div class="reveal" id="comments-on-user" data-reveal>
	 <button class="close-button" data-close aria-label="Close reveal" type="button"> <span aria-hidden="true"><i class="fa fa-times"></i></span></button>

      {% include "admin/sections/com/application-comments"%}
      <div class="row text-right">
             <a data-close  class="button secondary">Cancel</a>
             <a data-open="leave-comment" class="button"><i class="fa fa-plus"></i> Add a Comment</a>
      </div>
</div>