<div class="seciton-padding callout info">
    <div class="question">
        <div class="label-holder">
            <div class="text h4">Comment &amp; Rate</div>
        </div>
        <div class="input-holder group-divide-auto">
            <div class="switch-input-space">
                <div class="switch tiny value-switch switch-4x radius no-margin" >
                    <input class="switch-input" id="checkbox-value-switch-round" type="checkbox" value="false">
                        <label class="switch-paddle" for="checkbox-value-switch-round">
                            <span class="show-for-sr">
                                Do you like me?
                            </span>
                            <span aria-hidden="true" class="switch-active">
                                Committee
                            </span>
                            <span aria-hidden="true" class="switch-inactive">
                                Global
                            </span>
                        </label>
                    </input>
                </div>
            </div>
        </div>
        <div class="input-holder group-divide-auto">
            <div class="input-space">
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
        </div>
         <div class="input-holder group-divide-auto ">
             {% include 'elements/stars-buttons'%}
        </div>
        <div class="input-holder group-divide-auto ">
            <div class="switch-input-space column small-12">
                <div class="switch info-active success-inactive switch-2x">
                    <input class="switch-input" id="active-inactive" name="exampleSwitch" type="checkbox">
                    <label class="switch-paddle" for="active-inactive">
                        <span class="show-for-sr">
                        Chair Reccommends
                    </span>
                        <span aria-hidden="true" class="switch-active">
                        No
                    </span>
                        <span aria-hidden="true" class="switch-inactive">
                        Yes
                    </span>
                    </label>
                    </input>
                </div>
                <label class="switch-value" for="active-inactive">
                    Chair Recommendation
                </label>
            </div>
        </div>
        <div class="input-holder group-divide-auto">
            <div class="input-space text-right"><a href="" class="button secondary tiny">cancel</a> <a href="" class="button tiny">Update</a></div>
        </div>
    </div>
</div>

