<div class="column small-12 medium-6 large-4">
		<div class="switch-input-space">
				<div class="switch checkbox tiny">
						<input class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
								<label class="switch-paddle" for="checkbox-checkbox">
										<span class="show-for-sr">
												Do you like me?
										</span>
										<span aria-hidden="true" class="switch-active">
												<i class="fa fa-holder">
												</i>
										</span>
										<span aria-hidden="true" class="switch-inactive">
												<i class="fa fa-holder">
												</i>
										</span>
								</label>
						</input>
				</div>
				<label class="switch-value" for="checkbox-checkbox">
						Comp A
				</label>
		</div>
</div>

