<div class="committee-list-item">
    <div class="committee-data">

        <div class="committee">
            <h2 class="name">
                Candy Bar Wrappers
                <div class="sub-line">
                    ACC Guidance Committee
                </div>
            </h2>
{% comment %}            <span class="label secondary">
                Open Positions:
                <b>
                    4
                </b>
            </span>{% endcomment %}
        </div>
        <div class="action" style="background:none;">
            <span aria-controls="interested-committee" aria-expanded="false" aria-haspopup="true" class="fa-stack fa-lg" data-is-focus="false" data-toggle="interested-committee" data-yeti-box="interested-committee">
               <i class="fa fa-ellipsis-v fa-stack-2x" ></i>

               
            </span>
        </div>
        <div class="action">
            <span aria-controls="committee-data-3" aria-expanded="false" aria-haspopup="true" class="fa-stack fa-lg" data-is-focus="false" data-toggle="committee-data-3" data-yeti-box="committee-data-3">
                <i class="fa fa-circle fa-stack-2x">
                </i>
                <i class="fa fa-times fa-stack-1x">
                </i>
            </span>
        </div>
    </div>
</div>