<div class="committee--list-item">
    <div class="committee--data">
        <div class="action">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x">
                </i>
                <i class=" h5 fa-stack-1x">
                1
                </i>
            </span>
        </div>
        <div class="committee">
            <h2 class="name">
                Assembly of Interantional Governors Steering Committee
                <div class="sub-line">
                    ACC Guidance Committee
                </div>
            </h2>
            <span class="label secondary">
                Open Positions:
                <b>
                    4
                </b>
            </span>
        </div>
        <div class="action">
            <span aria-controls="interested-committee" aria-expanded="false" aria-haspopup="true" class="fa-stack fa-lg" data-is-focus="false" data-toggle="interested-committee" data-yeti-box="interested-committee">
                <i class="fa fa-circle fa-stack-2x">
                </i>
                <i class="fa fa-sort fa-stack-1x">
                </i>
            </span>
        </div>
    </div>
    <div class="dropdown-pane" data-auto-focus="true" data-dropdown="" id="interested-committee">
        <div class="button-group small interest-menu">
            <a class="button disabled" href="">
                1
            </a>
            <a class="button" href="">
                2
            </a>
            <a class="button" href="">
                3
            </a>
            <a class="button" href="">
                4
            </a>
            <a class="button" href="">
                5
            </a>
            <a class="button" href="">
                6
            </a>
            <a class="button alert" href="">
                <i class="fa fa-times">
                </i>
            </a>
        </div>
    </div>
</div>