<div class="slot committee-list-item card ghost">
    <div class="colored-paper info">
        <div class="row column">
            <h5>
                Empty Slot
            </h5>
        </div>
    </div>
</div>