<div class="reveal" id="edit-season" data-reveal>
	 <button class="close-button" data-close aria-label="Close reveal" type="button"> <span aria-hidden="true"><i class="fa fa-times"></i></span></button>
    <h1>Edit Season</h1>
    <p class="lead">Some detail are not editable after seassons in progress.</p>
    <div class="group-divide row">
        <column>
            <h1>
                Season Name Alpha Omega
                <br>
                <small class="sub-line">2018-ateve12</small>
            </h1>
        </column>
    </div>
    <div class="group-divide row">

        <div class="question required disabled column small-6">
            <div class="label-holder">
                <label for="">
                    <span class="text">Start Date &amp Time</span>
                    <span class="required-holder"><i class="fa fa-holder"></i></span>
                </label>
            </div>
            <div class="input-holder">
                <div class="input-space column">
                    <input type="text" value="A Day that has past"/>
                </div>
            </div>
            <div class="message-holder">
            </div>
            <div class="hint">When members will be asked for applications</div>
        </div>
        <div class="question required column small-6">
            <div class="label-holder">
                <label for="">
                    <span class="text">Close Date &amp; Time</span>
                    <span class="required-holder"><i class="fa fa-holder"></i></span>
                </label>
            </div>
            <div class="input-holder">
                <div class="input-space column">
                    <input type="text" value="Date and Time Picker"/>
                </div>
            </div>
            <div class="hint">When the season will close for applications</div>
        </div>
        <div class="question required column">
            <div class="label-holder">
                <label for="">
                    <span class="text">Appointment Day <i class="fa fa-question"></i></span>
                    <span class="required-holder"><i class="fa fa-holder"></i></span>
                </label>
            </div>
            <div class="input-holder">
                <div class="input-space column">
                    <input type="text" value="Date Picker"/>
                </div>
            </div>
            <div class="message-holder">
                <small class="warning"><i class="fa fa-holder"></i>Appointment Day must be at lease one day after Close Date.</small>
            </div>
            <div class="hint">Appointment Day will start midnight <em>12:00 AM EST</em></div>
        </div>
        <div class="question required disabled column">
            <div class="label-holder">
                <label for="">
                    <span class="text">Included Committee Types</span>
                    <span class="required-holder"><i class="fa fa-holder"></i></span>
                </label>
            </div>
            <div class="input-holder">
                <div class="switch-input-space column">
                  <div class="switch checkbox tiny disabled disabled">
                    <input class="switch-input" id="yes-no-checkbox" type="checkbox" name="checkbox-switch">
                    <label class="switch-paddle" for="yes-no-checkbox">
                      <span class="show-for-sr">ACCF</span>
                      <span class="switch-active" aria-hidden="true">
                        <i class="fa fa-check-circle-o"></i>
                      </span>
                      <span class="switch-inactive" aria-hidden="true">
                        <i class="fa fa-times-circle"></i>
                      </span>
                    </label>
                  </div>
                  <label class="switch-value" for="yes-no-checkbox">ACCF</label>
                </div>
                <div class="switch-input-space column">
                  <div class="switch checkbox tiny disabled">
                    <input class="switch-input" id="yes-no-checkbox" type="checkbox" name="checkbox-switch">
                    <label class="switch-paddle" for="yes-no-checkbox">
                      <span class="show-for-sr">NCDR</span>
                      <span class="switch-active" aria-hidden="true">
                        <i class="fa fa-check-circle-o"></i>
                      </span>
                      <span class="switch-inactive" aria-hidden="true">
                        <i class="fa fa-times-circle"></i>
                      </span>
                    </label>
                  </div>
                  <label class="switch-value" for="yes-no-checkbox">NCDR</label>
                </div>
                <div class="switch-input-space column">
                  <div class="switch checkbox tiny disabled">
                    <input class="switch-input" id="yes-no-checkbox" type="checkbox" name="checkbox-switch">
                    <label class="switch-paddle" for="yes-no-checkbox">
                      <span class="show-for-sr">ACRED</span>
                      <span class="switch-active" aria-hidden="true">
                        <i class="fa fa-check-circle-o"></i>
                      </span>
                      <span class="switch-inactive" aria-hidden="true">
                        <i class="fa fa-times-circle"></i>
                      </span>
                    </label>
                  </div>
                  <label class="switch-value" for="yes-no-checkbox">ACRED</label>
                </div>
            </div>
            <div class="hint">Committees types can not be added or removed after a sesaon has started.</div>
        </div>	
    </div>
        <div class="row group-divide">
        	<div class="float-right">
        		<a href="" class="button secondary">cancel</a>
        		<a href="" class="button">Save</a>
        	</div>
        </div>	
</div>