<div class="slot empty card ghost">
	<div class="colored-paper info">
		<div class="row">
			<div class="column small-6"><h5>Empty Slot </h5></div>
			<div class="column small-6"><a href="" class="expanded button tiny float-right radius hollow">Add A Committee</a></div>
		</div>
	</div>
</div>