<div class="slot filled row collapse">
	<div class="column medium-10 large-11">
		<div class="committee">
			<div class="marker">
					<span class="counter">2</span>
					<span class="flag applied">Applied <i class="fa fa-user "></i></span>
				</div>
				<div class="content">
					{% include 'elements/data-committee' %}
				</div>
		</div>
	</div>
	<div class="column medium-2 large-1">
		<div class="rank-controller row collapse">
			<div class="column small-3 medium-12 rank">
				<a title="move to top" class="topof-rank button expanded"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
			</div>
			<div class="column small-3 medium-12 rank">
				<a title="move up" class="up-rank button expanded"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
			</div>
			<div class="column small-3 medium-12 rank">
				<a title="move down" class="down-rank button expanded"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
			</div>
			<div class="column small-3 medium-12 rank">
				<a title="move to bottom" class="outof-rank button expanded"><i class="fa fa-arrow-down"  aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>
