<div class="card no-padding slot filled">
	<div class="row collapse">
		<div class="column small-1">
			<div class="rank-controller">
				<a title="move to top" class="topof-rank rank button expanded"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>
				<a title="move up" class="up-rank rank button expanded"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
				<a title="move down" class="down-rank rank button expanded"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
				<a title="move to bottom" class="outof-rank rank button expanded"><i class="fa fa-long-arrow-down"  aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="column small-11">
			<div class="content-padding committee">
				<span class="flag">Nominated</span>
				{% include 'elements/data-committee' %}
			</div>
		</div>
	</div>
</div>