<div class="card no-padding slot filled">
	<div class="row collapse">
		<div class="column small-11">
			<div class="committee">
				<div class="flag nominated">Nominated</div>
				{% include 'elements/data-committee' %}
			</div>
		</div>
		<div class="column small-1">
			<div class="rank-controller">
				<a title="move to top" class="topof-rank rank button expanded"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
				<a title="move up" class="up-rank rank button expanded"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
				<a title="move down" class="down-rank rank button expanded"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
				<a title="move to bottom" class="outof-rank rank button expanded"><i class="fa fa-arrow-down"  aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>
<div class="card no-padding slot filled">
	<div class="row collapse">
		<div class="column small-11">
			<div class="committee">
				<div class="flag Applied">Applied</div>
				{% include 'elements/data-committee' %}
			</div>
		</div>
		<div class="column small-1">
			<div class="rank-controller">
				<a title="move to top" class="topof-rank rank button expanded"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
				<a title="move up" class="up-rank rank button expanded"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
				<a title="move down" class="down-rank rank button expanded"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
				<a title="move to bottom" class="outof-rank rank button expanded"><i class="fa fa-arrow-down"  aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>