<div class="star-rating">
    <b>
        Rate:
    </b>
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star">
    </i>
</div>