<div class="reveal" id="leave-comment" data-reveal>
	 <button class="close-button" data-close aria-label="Close reveal" type="button"> <span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        {% include "elements/comment-rate" %}
</div>