<div class="reveal" id="nominations-on-user" data-reveal>
	 <button class="close-button" data-close aria-label="Close reveal" type="button"> <span aria-hidden="true"><i class="fa fa-times"></i></span></button>

      <div class="row column section-padding">
      	<h3 class="with-underline">Nominations</h3>
      	<div id="Comments">
    <div class="group-divide-auto">
        <h5>
            Nominee's Name A
            <span class="sub-line">
               Fellow
            </span>
        </h5>
        <p>
            <b>Letter of Reccomendation: </b>{% include 'elements/lorem-short' %}
        </p>
    </div>
    <div class="group-divide-auto">
        <h5>
            Nominee's Name B
            <span class="sub-line">
               Fellow
            </span>
        </h5>
        <p>
            <b>Letter of Reccomendation: </b>{% include 'elements/lorem-short' %} {% include 'elements/lorem-short' %}
        </p>
    </div>
    <div class="group-divide-auto warning">
        <h5>
            Nominee's Name C
            <span class="sub-line">
               Associate Fellow
            </span>
        </h5>
        <p>
            <b>Letter of Reccomendation: </b>{% include 'elements/lorem-short' %}
        </p>
    </div>
    <div class="group-divide-auto highlighted">
        <h5>
            Nominee's Name A
            <span class="sub-line">
               Fellow in Training
            </span>
        </h5>
        <p>
            <b>Letter of Reccomendation: </b>{% include 'elements/lorem-short' %} {% include 'elements/lorem-short' %}
        </p>
    </div>
</div>
      </div>
      <div class="row text-right">
             <a data-close  class="button secondary">Close</a>
      </div>
</div>