<div class="ghost card">
	<h5>
	Position X <span class="label float-right radius">Open:1</span>
	<div class="sub-line"><b>Position: &nbsp; </b>Chair</div>
	</h5>
</div>
<div class="ghost card">
	<h5>
	Position X <span class="label float-right radius">Open:3</span>
	<div class="sub-line"><b>Position: &nbsp; </b>Member</div>
	</h5>
</div>