<div class="ghost card">
	<h5>
	Chair <span class="label float-right radius">Open:1</span>
	
	</h5>
</div>
<div class="ghost card">
	<h5>
	Member <span class="label float-right radius">Open:3</span>
	</h5>
</div>