<div class="page-message callout highlighted no-margin">
  <a class="close-bar">
    <span class="close-button">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </a>
  <div class="message-container">
    <div class="icon-holder">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-holder-dynamic fa-stack-1x"></i>
      </span>
    </div>
    <div class="message-holder">
      <h2>Deadline Approaching</h2>
      <p>The deadline for "ACC Guidance Committees" is in <b>4 Days</b></p>
    </div>
  </div>
</div>