<div class="page-message callout warning no-margin" style="max-width:100%;">
  <a class="close-bar">
    <span class="close-button">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </a>
  <div class="message-container">
    <div class="icon-holder">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-holder-dynamic fa-stack-1x"></i>
      </span>
    </div>
    <div class="message-holder">
      <h2>Your profile is not complete</h2>
      <p>Your profile data needs to be complete to be able to submit applications.  Please complete all the sections that are highlighted.</p>
    </div>
  </div>
</div>