<div class="page-message callout success">
    <a class="close-bar">
        <span class="close-button">
            <i aria-hidden="true" class="fa fa-times">
            </i>
        </span>
    </a>
    <div class="message-container">
        <div class="icon-holder">
            <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x">
                </i>
                <i class="fa fa-hourglass-start fa-stack-1x">
                </i>
            </span>
        </div>
        <div class="message-holder">
            <h3 class="">
                Committee Nomination Season is Now Open!
            </h3>
            <p>
                The {Committee Name} Committee(s) are now accepting application.  Make sure you have submitted your active application before the deadline.
            </p>
            <b>
                Committee {Committee Type} Deadline: {Date}
            </b>
        </div>
    </div>
</div>