<nav class="nav-checklist">
  <ul class="no-bullet">
    <li class="clearfix group-divide-auto">
      <a class="h5" href="profile.html#contactData">
      <i class="fa fa-holder-dynamic"></i>
        <span class="text">Contact Information</span><small class="float-right text-right italic small">modified on <br> Jan 2010</small>
        
      </a>
      <li class="clearfix group-divide-auto">
        <a class="h5" href="profile.html#contactData">
          <i class="fa fa-holder-dynamic"></i>
           <span class="text">Professional Experience</span><small class="float-right text-right italic small">modified on <br> Jan 2010</small>
        </a>
      </li>
      <li class="clearfix group-divide-auto">
        <a class="h5 warning" href="profile.html#contactData">
          <i class="fa fa-holder-dynamic"></i>
          <span class="text">Publications</span><small class="float-right text-right emphasis small"">missing</small>
        </a>
      </li>
      <li class="clearfix group-divide-auto">
        <a class="h5 warning" href="profile.html#contactData">
          <i class="fa fa-holder-dynamic"></i>
          <span class="text">Awards</span><small class="float-right text-right emphasis small"">missing</small>
        </a>
      </li>

  </ul>
</nav>