<nav class="nav-checklist">
  <ul class="no-bullet">
    <li >
      <a class="h5 " href="">
      <i class="fa fa-holder-dynamic"></i>
        <span class="text">Contact Information</span><small class="float-right italic small">Jan 2010</small>
        
      </a>
      <li >
        <a class="h5 ">
          <i class="fa fa-holder-dynamic"></i>
           <span class="text">Employment</span><small class="float-right italic small">Jan 2010</small>
        </a>
      </li>
      <li >
        <a class="h5 warning">
          <i class="fa fa-holder-dynamic"></i>
          <span class="text">Publications</span><small class="float-right emphasis small"">missing</small>
        </a>
      </li>
      <li >
        <a class="h5 warning">
          <i class="fa fa-holder-dynamic"></i>
          <span class="text">Awards</span><small class="float-right emphasis small"">missing</small>
        </a>
      </li>

  </ul>
</nav>