<li class="committee-list-item">
	<div class="committee-data">
		<div class="committee">
			<h6 class="name">Doctor Whatchmacallit, MD, FACC
			</h6>
			<small class="single-line-height"><span class="">Recieved <b>June 23rd</b></span>
			<span class="">Deadline <strong>July 19th</strong></span></small>
		</div>
		<div class="action">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x">
                </i>
                <i class="fa fa-chevron-right fa-stack-1x">
                </i>
            </span>
        </div>
	</div>
</li>



