<div class="search-bar-filter">
    <div class="row">
        <div class="column">
            <div class="stacked-for-small tiny selectable button-group">
                <a class="button selected" title="No Filter">
                     <i class="fa fa-check"></i>
                    <span class="text"><i class="fa fa-ban"></i> No Filter</span>
                </a>
                <a class="button" title="New">
                     <i class="fa fa-check"></i>
                    <span class="text"><i class="fa fa-certificate">
                                        </i> New</span>
                </a>
                <a class="button" title="saved for later">
                     <i class="fa fa-check"></i>
                    <span class="text"><i class="fa fa-save">
                                        </i> Saved for Later</span>
                </a>
                <a class="button" title="hidden requests">
                     <i class="fa fa-check"></i>
                   <span class="text"><i class="fa fa-eye-slash">
                                       </i> Hidden</span>
                </a>
            </div>
        </div>
    </div>
</div>