<div class="search-bar colored-paper info display-block">
    <div class="question">
        <div class="input-holder">
            <div class="input-space column small-6 medium-7 large-8 ">
                <input name="" type="text">
                </input>
            </div>
            <div class="input-space column small-6 medium-5 large-4 ">
                <button class="button expanded small condensable">
                    <span class="condense ">
                        Search
                    </span>
                    <i class="fa fa-search">
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>