<div class="slider-rating">
<div class="row">
    <div class="column small-6 bold">
        Weak
    </div>
    <div class="column small-6 text-right bold">Strong</div>
</div>
<div class="slider" data-slider data-initial-start='50' data-end='200'>
  <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
  <span class="slider-fill" data-slider-fill></span>
  <input type="hidden">
</div>
</div>