<div class="star-rating text-center tiny expanded button-group">
    <a href="" class="button"><i class="fa fa-star"></i></a>
    <a href="" class="button secondary"><i class="fa fa-star-o"></i></a>
    <a href="" class="button secondary"><i class="fa fa-star-o"></i></a>
    <a href="" class="button secondary"><i class="fa fa-star-o"></i></a>
    <a href="" class="button secondary"><i class="fa fa-star-o"></i></a>
    
</div>
<a href="" class="button expanded hollow radius tiny"><i class="fa fa-question-circle" aria-hidden="true"></i> Not Sure</a>