<div class="input-space">
	<h5>Rating:
	<span class="star-rating subheader">
	    <a href="" class=""><i class="fa fa-star"></i></a>
	    <a href="" class=""><i class="fa fa-star-o"></i></a>
	    <a href="" class=""><i class="fa fa-star-o"></i></a>
	    <a href="" class=""><i class="fa fa-star-o"></i></a>
	    <a href="" class=""><i class="fa fa-star-o"></i></a>    
		or 
		<a href="" class="">No Rating</a>
	</span>
</h5>
</div>