<div class="star-rating text-center button-group expanded tiny">
    <a href="" class="button disabled"><i class="fa fa-star"></i></a>
     <a href="" class="button disabled"><i class="fa fa-star"></i></a>
    <a href="" class="button disabled"><i class="fa fa-star"></i></a>
    <a href="" class="button disabled"><i class="fa fa-star"></i></a>
   <a href="" class="button disabled"><i class="fa fa-star-o"></i></a>
</div>
<a href="" class="button expanded radius tiny"><i class="fa fa-question-circle" aria-hidden="true"></i> Not Sure</a>