<div class="row column group-divide">
    <div class="column small-6 medium-7 large-8">
           <div class="switch-input-space">
              <div class="switch checkbox tiny">
                <input class="switch-input" id="checkbox-checkbox" type="checkbox" value="false" checked>
                <label class="switch-paddle" for="checkbox-checkbox">
                  <span class="show-for-sr">Do you like me?</span>
                  <span class="switch-active" aria-hidden="true">
                    <i class="fa fa-holder"></i>
                  </span>
                  <span class="switch-inactive" aria-hidden="true">
                    <i class="fa fa-holder"></i>
                  </span>
                </label>
              </div>
              <label class="switch-value" for="checkbox-checkbox">I am not interessted in this committee</label>
            </div>
          </div>
        <div class="column small-6 medium-5 large-4"><div class="slot">{% include 'elements/data-committee' %}</div>
    </div>
</div>