.header.application-frame{
	border-bottom:$brand-color 5px solid;
	height:65px;
	position: relative;
	.logo{float:left;
		img{margin:5px 3px 0;height:50px}
	}
	.user-id-block{position:absolute; top:13px;right:1rem;}
}