.history{
	&,td{background-color: transparent;}
	body tr + tr{border-top:1px solid #fff;}
	.icon-cell{
		font-size:1rem;
		width:1%;
	}
	.title{
		@include font-bold();
		font-size:1rem;
	}
	.user-stamp{vertical-align: middle; width:1%}
	.time-stamp{
		@include font-italic();
		font-size: .75rem;
		width: 1%;
	}
}
.user-table{
	td{
		@include baseline-font(0); 
		@include font();
	}
	ul.access-list{
		list-style: none;
		display: inline;
		margin-left: 0;
		li{
			display: inline;
			@include baseline-font(-1);
			@include font-cond;
			color:fontcolor($black,"quiet");
			white-space: nowrap;
			}
		li+li{
			&:before{ content: ",";padding-right:.5em;}
		}
		li > *{display: inline-block;}
	}
	.user-name-cell{max-width: 30%}
	.action-cell{white-space: nowrap;}
}

