.user-id-block{
	.user-pic{
		height:40px;
		width:40px;
		-webkit-clip-path:circle(20px at center);
		-webkit-moz-path:circle(20px,20px,20px);
		clip-path:circle(20px,20px,20px);
	}
	ul{
		list-style: none;
	}
	li{
		display: inline-block;

	}

}