---
layout: FACC
title: Board Certification
id: bc
---
{%  include snippets/page-top.liquid title="Board Certification" level="h1" style="with-underline" message="Include all of your board certifications, if any." state="blank" %}
{% comment %}<div class="column relative-position">
              <div style="top: 2rem;position: absolute;right: 1rem;">
                <span class="emphasis">"<i class="fa fa-asterisk" style="color:orange;"></i>" required</span>
            </div>
              
        <h1 class="with-underline">
            Board Certification

             
        </h1>

    </div>
    <div class="row column">
    <div class="page-message callout empty">
        <div class="message-container">
            <div class="icon-holder">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x">
                    </i>
                    <i class="fa fa-holder fa-stack-1x">
                    </i>
                </span>
            </div>
            <div class="message-holder">
                
                <h5 class="no-margin">
                    Include all of your board certifications, if any.
                </h5>
              
            </div>
        </div>
    </div>
</div>{% endcomment %}
{% include sections/boardCert-repeater.liquid %}
{% include sections/boardCert-repeaterAdd.liquid %}

