---
layout: default
title: Choose Membership
id: pub
---
{%  include snippets/page-top.liquid title="Choose Membership" level="h1" style="with-underline" message="Select an available membership level that you are qualified for." %}
<div class="row">
    <div class="column small-centered medium-8 large-9">
        <div class="row">
    <div class="column medium-6 ">
        {% include elements/member-table.liquid title="Cardiovascular Team Member" price="100" state="selected"%} 
    </div>
        <div class="column medium-6 ">
        {% include elements/member-table.liquid title="Fellow of the American College of Cardiology" price="825" state=""%} 
    </div>

</div>
    </div>
</div>
<style>
    .section-nav.forward{display: none;}
</style>