---
layout: FACC
title: Medical Education and Training
id: edu
---
{%  include snippets/page-top.liquid title="Medical Education &amp; Training" level="h1" style="with-underline" message="This is the required message that explains how many or what is required"%}
{%  include snippets/page-top.liquid title="Education" level="h2" message="This is the required message that explains how many or what is required"%}
    <div class="row content-padding" id="EducationData">
        <div class="repeater">
            {% comment %}   .render>ul.render-holder>li.loud+li^.render-actions>a.edit>i.fa.fa-holder+span.text{Edit}^a.delete>i.fa.fa-holder+span.text{Delete}{% endcomment %}
            <div class="render">
                <ul class="render-holder">
                    <li class="strong">
                        Name of Institution
                    </li>
                    <li class="loud">
                        <span>
                           MD
                        </span>
                        |
                        <span>
                            Adult Cardiology
                        </span>
                        -
                        <span>
                            2015
                        </span>
                    </li>
                    <li class="italic">
                        GA, Atatlanta, USA
                    </li>
                </ul>
                <div class="render-actions">
                    <a class="edit" href="">
                        <i class="fa fa-holder">
                        </i>
                        <span class="text">
                            Edit
                        </span>
                    </a>
                    <a class="delete" href="">
                        <i class="fa fa-holder">
                        </i>
                        <span class="text">
                            Delete
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% include sections/education-repeaterAdd.liquid %}
{%  include snippets/page-top.liquid title="Post Graduate Training" level="h2" message="This is what is required for post grad training message that explains how many or what is required"%}
    <div class="row content-padding" id="PostGraduateTrainingData">
        <div class="repeater">
            {% comment %}   .render>ul.render-holder>li.loud+li^.render-actions>a.edit>i.fa.fa-holder+span.text{Edit}^a.delete>i.fa.fa-holder+span.text{Delete}{% endcomment %}
            <div class="render">
                <ul class="render-holder">
                    <li class="strong">
                        Name of Institution
                    </li>
                    <li class="loud">
                        <span>
                            FellowShip
                        </span>
                        |
                        <span>
                            Adult Cardiology
                        </span>
                        -
                        <span>
                            2015
                        </span>
                    </li>
                    <li class="italic">
                        GA, Atatlanta, USA
                    </li>
                </ul>
                <div class="render-actions">
                    <a class="edit" href="">
                        <i class="fa fa-holder">
                        </i>
                        <span class="text">
                            Edit
                        </span>
                    </a>
                    <a class="delete" href="">
                        <i class="fa fa-holder">
                        </i>
                        <span class="text">
                            Delete
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% include sections/postgrad-repeaterAdd.liquid %}
