---
layout: FACC
title: Medical Education and Training
id: edu
---
{%  include snippets/page-top.liquid title="Education &amp; Postgraduate Training" level="h1" style="with-underline" message="At least one Graduate/Medical education level degree is required."%}
{%  include snippets/page-top.liquid title="Education" level="h2" message="This is the required message that explains how many or what is required"%}
{% include sections/education-repeater.liquid %}
{% include sections/education-repeaterAdd.liquid %}
{%  include snippets/page-top.liquid title="Post Graduate Training" level="h2" message="At least one postgraduate training is required.  Include all postgraduate training, i.e. Residencies and Fellowships."%}
{% include sections/postgrad-repeater.liquid %}
{% include sections/postgrad-repeaterAdd.liquid %}
