---
layout: FACC
title: Pay For Application
id: submit
---
<style>
    #btnPayByCheck i.fa-holder:before{
        content: "\f00c";
    }
    #btnPayByCheck,#btnPayByCheck:hover{background-color: #14B057; color:white;}
    #btnPayByCard{ background-color: #ccc; }
</style>
{%  include snippets/page-top.liquid title="Pay For Application" level="h1" style="with-underline" message=""%}
{% include sections/payChoice.liquid  %}
<div class="row">
    <div class="column large-6  medium-5">
        <h3>
            Paying By Check Instructions
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit risus a est laoreet varius. Fusce id lobortis ante. Duis aliquam sodales purus, sit amet auctor elit sollicitudin sed. Cras sit amet magna quam. Suspendisse efficitur quam eget leo sagittis, in varius justo sagittis. Fusce eget eros orci. Aenean vestibulum augue et lectus tristique, quis faucibus leo varius. Suspendisse id accumsan dui, egestas viverra elit. In quis est eu velit auctor tempus. Etiam posuere semper luctus. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur mollis, nunc sit amet molestie fermentum, nibh ante vehicula nibh, in dapibus orci sapien vitae massa. In sit amet libero posuere, gravida felis sed, blandit ante. Cras quis est congue, sollicitudin magna et, semper purus. In turpis nisi, efficitur eu sodales a, laoreet non elit.</p>
    </div>
    <div class="column large-5  medium-6">
     <h3>
            Promo or Discount Code
        </h3>
        <div class="row">
            <div class="question column">
                <div class="input-holder row collapse">
                    <div class="input-space column small-6">
                        <input type="text" value="Graduation20">
                        </input>
                    </div>
                    <div class="input-space column small-6">
                        <a class="button alert expanded" href="">
                            <i class="fa fa-times">
                            </i>
                            Remove Code
                        </a>
                    </div>
                </div>
                <div class="message-holder">
                    <small class="error">
                        Error Message
                    </small>
                </div>
                <div class="hint">
                </div>
            </div>
        </div>

        <h2 class="with-underline">
            Payment Summary
        </h2>
        <table class="table banded">
            <tbody>
                <tr>
                    <td class="">
                        Application Fee
                    </td>
                    <td class="">
                        150.00 USD
                    </td>
                </tr>
                <tr>
                    <td class="">
                        Membership Dues
                    </td>
                    <td class="">
                        785.00 USD
                    </td>
                </tr>
                <tr class="">
                    <td class="">
                        <h6 class="success">20% Off Dues</strong>
                    </td>
                    <td class="">
                       <h6 class="success">157.00</strong>
                    </td>
                </tr>
                <tr>
                    <td class="">
                        Total
                    </td>
                    <td class="">
                        778.00 USD
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row ">
    <div class="column ">
            <div class="question callout">
            <div class="label-holder">
                <label class="text-center" for="">
                    <span class="text ">
                        Total Amount Due
                    </span>
                    <span class="required-holder">
                        <i class="fa fa-holder-dynamic">
                        </i>
                    </span>
                </label>
            </div>
            <div class="input-holder row">
                <div class="input-space small-8 small-centered column">
                    <input data-bind="value:amountdue" name="amountdue" readonly="true" type="text" value="$778.00 USD"/>
                </div>
            </div>
            <div class="message-holder">
                <small class="error">
                    <i class="fa fa-holder">
                    </i>
                </small>
            </div>

        </div>
    </div>
</div> 
<div class="row"></div>
<style>#forwardNav{display:none;}</style>