---
layout: default
---
<div class="page-wrapper">{% include sections/personal-name.liquid %} 
<div id="extraQuestions">
  <div data-title="~"></div>
  {% include sections/personal-resident.liquid %}
  {% include sections/personal-student.liquid %}
</div>
{% include sections/personal-address.liquid %}
{% include sections/personal-address-add.liquid %}   
{% include sections/personal-phone.liquid %}
{% include sections/personal-phone-add.liquid %}
{% include sections/personal-email.liquid %}
{% include sections/personal-email-add.liquid %}
{% include sections/demographics.liquid %}

<div class="row group-divide text-center">
      <div class="content-padding">
      <h4>Is your Personal Information complete and up to date?</h4>
      <a href="" class="disabled button"><i class="fa fa-holder"></i> Yes, Continue with Application</a>
    </div>
</div>
</div>

<script>
    function extraQuestions(e){
      e.preventDefault();
      var randompick = Math.floor(Math.random()*2)+1;
      console.log(randompick);
      if( $('#profType').val() == "" ){
      $('#extraQuestions > div').slideUp();
      $('#profType').val('');
      $('#extraQuestions > div').eq(randompick).slideDown();
      $('#profType').val(  $('#extraQuestions > div').eq(randompick).data("title") ); 
      // ()?$('#profType').val('Resident'):;
      }else{
       $('#extraQuestions > div').slideUp();
      $('#profType').val('');  
      }
    }

    function residentSlide(e){
        e.preventDefault();
        $('#residentQuestions').slideToggle();
        ($('#profType').val()=="")?$('#profType').val('Resident'):$('#profType').val('');
    }

   
    function AddressSave(e){
        e.preventDefault();
        $( "#AddressRender .render" ).clone().appendTo( "#repeaterAddress" ).children('.added-flag').eq(0).delay( 800 ).fadeOut("slow");
        ($('#addAddressButton').css("display") == "none"  )?$('html, body').animate({scrollTop: $("#Address").offset().top}, 500): $('html, body').animate({scrollTop: $("#addAddress").parent().offset().top}, 500);
        $('#addAddress,#addAddressButton').slideToggle();
    }
</script>

