---
layout: CVT
title: Professional Verification
id: prov
---
{%  include snippets/page-top.liquid title="Professional Verification" level="h1" style="with-underline" message="Please select and upload one of the following" %}
<div class="row">
	<div class="column">
{% include snippets/switch-radio.liquid label="A copy of your current practicing license" id="license" shape="small radio fileType"  size="small-12" state="" hint="" %}
{% include snippets/switch-radio.liquid label="Sponsorship Letter from an ACC member" id="sponsor" shape="small radio fileType"  size="small-12" state="" hint="" %}
{% include snippets/switch-radio.liquid label="Employment verification letter" id="employment" shape="small radio fileType"  size="small-12" state="" hint="" %}
	<a href="" class="button disabled fileTypeUpload"><i class="fa fa-file"></i> Attach Above Document Type</a>
	</div>
</div>





