---
layout: Error
title: Professional Profile
id: pro
---
{%  include snippets/page-top.liquid title="Professional Profile" level="h1" style="with-underline" message="" %}
<div class="row">
	<h2 class="column">Devoted Time to Cardiovascular Field</h2>
</div>
<div class="row">
			<div class="question column required">
				<div class="label-holder">
					    <label for=""><span class="text">
	                        Select the Percentage of Professioal Time you devote to the cardiovascular field
	                    </span>
	                    <span class="required-holder">
	                        <i class="fa fa-holder">
	                        </i>
	                    </span></label>
				</div>
				<div class="input-holder">
					<div class="input-space column">
						<div class="button-group selectable radius expanded">
							<a class="button secondary selected" href=""><i class="fa fa-holder"></i> 0% to 20%</a>
							<a class="button secondary" href=""><i class="fa fa-holder"></i> 20% to 40%</a>
							<a class="button secondary" href=""><i class="fa fa-holder"></i> 40% to 60%</a>
							<a class="button secondary" href=""><i class="fa fa-holder"></i> 60% to 80%</a>
							<a class="button secondary" href=""><i class="fa fa-holder"></i> 80% to 100%</a>
						</div>
					</div>
				</div>
				<div class="message-holder">
					<small class="error">missing</small>
				</div>
				<div class="hint"></div>
			</div>	
</div>
<div class="row">
	<h2 class="column">Break Down of Tasks</h2>

</div>

<div class="row column">
    <div class="page-message callout error">
        <div class="message-container">
            <div class="icon-holder">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x">
                    </i>
                    <i class="fa fa-holder fa-stack-1x">
                    </i>
                </span>
            </div>
            <div class="message-holder">
              <h4>Missing Value</h4>  
              <h5 class="no-margin">
                    Of your professional activities, please provide the percentage of time you spend in the following specialization areas <span class="bold">(total must equal 100%)</span>.
                </h5>
              
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="question error column small-12 large-2 required">
	<div class="label-holder">
		    <span class="text">
                Research
            </span>
            <span class="required-holder">
                <i class="fa fa-holder">
                </i>
            </span>
	</div>
	<div class="input-holder">
		<div class="input-space column small-8">
			<input type="number" required="">
			<span class="input-lock">
                <i data-tooltip="e124yv-tooltip" aria-haspopup="true" class="fa fa-lock lock-symbol has-tip" title="" aria-describedby="8wrpij-tooltip" data-yeti-box="8wrpij-tooltip" data-toggle="8wrpij-tooltip" data-resize="8wrpij-tooltip">
                </i>
            </span>
		</div>
		<div class="input-space small-2 column">
			<div class="input-value"><i class="fa fa-percent" aria-hidden="true"></i></div>
		</div>
	</div>
	<div class="message-holder">
		<small class="error">missing</small>
	</div>
	<div class="hint"></div>
</div>	
<div class="question error column small-12 large-2 required">
	<div class="label-holder">
		    <span class="text">
                Administration
            </span>
            <span class="required-holder">
                <i class="fa fa-holder">
                </i>
            </span>
	</div>
	<div class="input-holder">
		<div class="input-space column small-8">
			<input type="number" required="">
			<span class="input-lock">
                <i data-tooltip="9jit6r-tooltip" aria-haspopup="true" class="fa fa-lock lock-symbol has-tip" title="" aria-describedby="wbdz0a-tooltip" data-yeti-box="wbdz0a-tooltip" data-toggle="wbdz0a-tooltip" data-resize="wbdz0a-tooltip">
                </i>
            </span>
		</div>
		<div class="input-space small-2 column">
			<div class="input-value"><i class="fa fa-percent" aria-hidden="true"></i></div>
		</div>
	</div>
	<div class="message-holder">
		<small class="error">missing</small>
	</div>
	<div class="hint"></div>
</div>	
<div class="question error column small-12 large-2 required">
	<div class="label-holder">
		    <span class="text">
                Education
            </span>
            <span class="required-holder">
                <i class="fa fa-holder">
                </i>
            </span>
	</div>
	<div class="input-holder">
		<div class="input-space column small-8">
			<input type="number" required="">
			<span class="input-lock">
                <i data-tooltip="iae9dh-tooltip" aria-haspopup="true" class="fa fa-lock lock-symbol has-tip" title="" aria-describedby="vf3sgx-tooltip" data-yeti-box="vf3sgx-tooltip" data-toggle="vf3sgx-tooltip" data-resize="vf3sgx-tooltip">
                </i>
            </span>
		</div>
		<div class="input-space small-2 column">
			<div class="input-value"><i class="fa fa-percent" aria-hidden="true"></i></div>
		</div>
	</div>
	<div class="message-holder">
		<small class="error">missing</small>
	</div>
	<div class="hint"></div>
</div>	
<div class="question error column small-12 large-2 required">
	<div class="label-holder">
		    <span class="text">
                Clinical
            </span>
            <span class="required-holder">
                <i class="fa fa-holder">
                </i>
            </span>
	</div>
	<div class="input-holder">
		<div class="input-space column small-8">
			<input type="number" required="">
			<span class="input-lock">
                <i data-tooltip="6a3xxv-tooltip" aria-haspopup="true" class="fa fa-lock lock-symbol has-tip" title="" aria-describedby="nafm5s-tooltip" data-yeti-box="nafm5s-tooltip" data-toggle="nafm5s-tooltip" data-resize="nafm5s-tooltip">
                </i>
            </span>
		</div>
		<div class="input-space small-2 column">
			<div class="input-value"><i class="fa fa-percent" aria-hidden="true"></i></div>
		</div>
	</div>
	<div class="message-holder">
		<small class="error">missing</small>
	</div>
	<div class="hint"></div>
</div>	
<div class="question error column small-12 large-2 required">
	<div class="label-holder">
		    <span class="text">
                Other
            </span>
            <span class="required-holder">
                <i class="fa fa-holder">
                </i>
            </span>
	</div>
	<div class="input-holder">
		<div class="input-space column small-8">
			<input type="number" required="">
			<span class="input-lock">
                <i data-tooltip="nn44ze-tooltip" aria-haspopup="true" class="fa fa-lock lock-symbol has-tip" title="" aria-describedby="e4tzsq-tooltip" data-yeti-box="e4tzsq-tooltip" data-toggle="e4tzsq-tooltip" data-resize="e4tzsq-tooltip">
                </i>
            </span>
		</div>
		<div class="input-space small-2 column">
			<div class="input-value"><i class="fa fa-percent" aria-hidden="true"></i></div>
		</div>
	</div>
	<div class="message-holder">
		<small class="error">missing</small>
	</div>
	<div class="hint"></div>
</div>	
<div class="question error column small-12 large-2 callout required">
	<div class="label-holder">
		    <span class="text">
                Total
            </span>
            <span class="required-holder">
                <i class="fa fa-holder">
                </i>
            </span>
	</div>
	<div class="input-holder">
		<div class="input-space column small-8">
			<input type="number" required="">
			<span class="input-lock">
                <i data-tooltip="lpyz9v-tooltip" aria-haspopup="true" class="fa fa-lock lock-symbol has-tip" title="" aria-describedby="hphohl-tooltip" data-yeti-box="hphohl-tooltip" data-toggle="hphohl-tooltip" data-resize="hphohl-tooltip">
                </i>
            </span>
		</div>
		<div class="input-space small-2 column">
			<div class="input-value"><i class="fa fa-percent" aria-hidden="true"></i></div>
		</div>
	</div>
	<div class="message-holder">
		<small class="error">Not 100%</small>
	</div>
	<div class="hint"></div>
</div>	
	
</div>
<div class="row">
	<h2 class="column">Leadership Positions</h2>
</div>
<div class="row">
			<div class="question column required">
				<div class="label-holder">
					    <span class="text">
	                        Do you hold a leadership position?
	                    </span>
	                    <span class="required-holder">
	                        <i class="fa fa-holder">
	                        </i>
	                    </span>
				</div>
				<div class="input-holder callout" style="padding-bottom: .5em;">
				<div class="switch-input-space">
    <div class="switch true radio small">
        <input class="switch-input" id="l1" name="exampleSwitch" type="radio" checked>
            <label class="switch-paddle" for="l1">
                <span class="show-for-sr">
                    Chief of the Specialty (related to cardiology)
                </span>
                <span aria-hidden="true" class="switch-active">
                    <i class="fa fa-holder"></i>
                </span>
                <span aria-hidden="true" class="switch-inactive">
                    <i class="fa fa-holder"></i>
                </span>
            </label>
        
    </div>
    <label class="switch-value" for="l1">
         Chief of the Specialty (related to cardiology)
    </label>
</div>	
				{% include snippets/switch-radio.liquid label="Professor or Associate Professor" state="" id="l2" shape="radio small"%}	
				{% include snippets/switch-radio.liquid label="Director of the Specialty (related to cardiology)" state="" id="l3" shape="radio small"%}	
				</div>
				<div class="input-holder colored-paper disabled" style="padding-bottom: .5em;">
				{% include snippets/switch-radio.liquid label="No, I don't hold a leadership position" state="" id="no" shape="radio small"%}
				</div>
				<div class="message-holder">
					<small class="error">missing</small>
				</div>
				<div class="hint"></div>
			</div>	
</div>
