---
layout: FACC
title: Professional Profile
id: pro
---
{%  include snippets/page-top.liquid title="Professional Profile" level="h1" style="with-underline" message="" %}
{%  include snippets/page-top.liquid title="Devoted Time to Cardiovascular Field" level="h4" style="" message="" %}
<div class="row">
	<div class="question column small-12 large-2 required">
	<div class="input-holder">
		<div class="input-space column small-8 medium-9">
			<input type="number" required="">
			<span class="input-lock">
                <i data-tooltip="4cdew4-tooltip" aria-haspopup="true" class="fa fa-lock lock-symbol has-tip" title="" aria-describedby="efqat6-tooltip" data-yeti-box="efqat6-tooltip" data-toggle="efqat6-tooltip" data-resize="efqat6-tooltip" data-events="resize">
                </i>
            </span>
		</div>
		<div class="value-space postfix small-4 medium-3 column">
			<div class="value"><i class="fa fa-percent" aria-hidden="true"></i></div>
		</div>
	</div>
	<div class="message-holder">
		<small class="error">Error Message</small>
	</div>
	<div class="hint"></div>
</div>
</div>
{% include sections/breakdownoftasks.liquid  %}
{% comment %}<div class="row">
	<h4 class="column">Leadership Positions</h4>
</div>
<div class="row">
			<div class="question column required">
				<div class="label-holder">
					    <span class="text">
	                       Do you hold a management position?  Choose one of the selections below.
	                    </span>
	                    <span class="required-holder">
	                        <i class="fa fa-holder">
	                        </i>
	                    </span>
				</div>
				<div class="input-holder callout" style="padding-bottom: .5em;">
				{% include snippets/switch-radio.liquid label=" Professor or Associate Professor" state="" id="l1" shape="radio small"%}	
				{% include snippets/switch-radio.liquid label="Chief of Cardiology or Director of a major cardiology lab" state="" id="l2" shape="radio small"%}	
				
				</div>
				<div class="input-holder colored-paper disabled" style="padding-bottom: .5em;">
				{% include snippets/switch-radio.liquid label="No management position" state="" id="no" shape="radio small"%}
				</div>
				<div class="message-holder">
					<small class="error">Error Message</small>
				</div>
				<div class="hint"></div>
			</div>	
</div>
{% endcomment %}