---
layout: FACC
title: Submit Application
id: submit
---
{%  include snippets/page-top.liquid title="Submit Application" level="h1" style="with-underline" message=""%}
{%  include snippets/page-top.liquid title="Legal Disclosures" level="h2" style="with-underline" message="Accurate disclosure information is essential to review and process your application. All questions are required." %}
<div class="row">
    <div class="question column small-12 warning">
        <div class="label-holder">
            <label for="">
                <span class="text">
                    Has your medical license ever been suspended, terminated or reduced in scope?
                </span>
                <span class="required-holder">
                    <i class="fa fa-holder-dynamic">
                    </i>
                </span>
            </label>
        </div>
        <div class="input-holder">
            <div class="switch-input-space column medium-6 large-6">
                <div class="switch radio warning-active">
                    <input checked="" class="switch-input" id="ml1" name="ml" type="radio" value="true">
                        <label class="switch-paddle" for="ml1">
                            <span class="show-for-sr">
                                Yes
                            </span>
                            <span aria-hidden="true" class="switch-active">
                                <i class="fa fa-holder">
                                </i>
                            </span>
                            <span aria-hidden="true" class="switch-inactive">
                                <i class="fa fa-holder">
                                </i>
                            </span>
                        </label>
                    </input>
                </div>
                <label class="switch-value" for="ml1">
                    <h5 style="no-verticle-margin">
                        Yes
                    </h5>
                    <p>
                        I will explain bellow
                    </p>
                </label>
            </div>
            <div class="switch-input-space column medium-6 large-6">
                <div class="switch radio">
                    <input class="switch-input" id="ml2" name="ml" type="radio" value="false">
                        <label class="switch-paddle" for="ml2">
                            <span class="show-for-sr">
                                No
                            </span>
                            <span aria-hidden="true" class="switch-active">
                                <i class="fa fa-holder">
                                </i>
                            </span>
                            <span aria-hidden="true" class="switch-inactive">
                                <i class="fa fa-holder">
                                </i>
                            </span>
                        </label>
                    </input>
                </div>
                <label class="switch-value" for="ml2">
                    <h5 style="no-verticle-margin">
                        No
                    </h5>
                </label>
            </div>
        </div>
        <div class="input-holder">
            <textarea cols="30" id="" name="" rows="10">
            </textarea>
        </div>
        <div class="message-holder">
            <span class="warning">
                <i class="fa fa-holder">
                </i>
                Because you have answered "Yes" you must include an explanation of what happened.
            </span>
        </div>
        <div class="hint">
            Max-Character Length 1000
        </div>
    </div>
</div>
{% include snippets/question-yesno.liquid title="Have you ever had hospital staff privileges denied, reduced in scope or rescinded for cause?" yes-extra="I will explain bellow" no-extra="" state="required" id="pd" %}
{% include snippets/question-yesno.liquid title="Have you ever had disciplinary action taken against you at any time by a medical society, academic institution or government agency?" yes-extra="I will explain bellow" no-extra="" state="required" id="da" %}
{% include snippets/question-yesno.liquid title="Have you ever been convicted of, or plead guilty to, a felony or other serious crime?" yes-extra="I will explain bellow" no-extra="" state="required" id="sc" %}
<div class="row column">
    <h2 class="with-underline">
        Applicant's Authorization To Release Information
    </h2>
    <div class="content-padding section-padding">
        <p class="text-justify">
            I hereby consent to the release by any hospital, educational institution, governmental agency, physician, professional society, or other person
        possessing or requiring the same, whether or not listed above, of any and all information in any way pertaining to my personal character, training,
        experience, or professional competence.
        </p>
        <p class="text-justify">
            I agree that communications of any nature made to the College regarding my fitness for membership may be made in confidence and shall
        not be made available to me under any circumstances. I hereby release from any liability any and all individuals and organizations or their
        authorized representatives who provide this information in good faith and without malice subject to this consent. I hereby release from all
        liability the American College of Cardiology and any and all individuals for their acts performed in good faith and without malice in connection
        with evaluating my application and my credentials and qualifications.
        </p>
        <p class="text-justify">
            I hereby certify that all information recorded on this application and any attached documents are accurate and supports my qualifications for membership in the American College of Cardiology for which I now apply. I hereby agree that the American College of Cardiology may verify any of the above data.
        </p>
        <p class="text-justify">
            If elected, I agree to conform to the Bylaws of the College and its Code of Ethics. Information available to me can be found at
            <a class="link" href="http://www.acc.org/ethics" target="blank">
                here
                <i class="fa fa-external-link">
                </i>
            </a>
            .
        </p>
        <div class="switch-input-space column small-12">
            <div class="switch checkbox">
                <input class="switch-input" id="checkbox-checkbox" type="checkbox" value="false">
                    <label class="switch-paddle" for="checkbox-checkbox">
                        <span class="show-for-sr">
                            Do you like me?
                        </span>
                        <span aria-hidden="true" class="switch-active">
                            <i class="fa fa-holder">
                            </i>
                        </span>
                        <span aria-hidden="true" class="switch-inactive">
                            <i class="fa fa-holder">
                            </i>
                        </span>
                    </label>
                </input>
            </div>
            <label class="switch-value" for="checkbox-checkbox">
                I agree
            </label>
        </div>
    </div>
</div>
<div class="row group-divide">
    <div class="column">
        <h2 class="with-underline">
            Payment Summary
        </h2>
        <table class="table banded">
            <tbody>
                <tr>
                    <td class="">
                        Application Fee
                    </td>
                    <td class="">
                        150.00 USD
                    </td>
                </tr>
                <tr>
                    <td class="">
                        Membership Dues
                    </td>
                    <td class="">
                        785.00 USD
                    </td>
                </tr>
                <tr>
                    <td class="">
                        Total
                    </td>
                    <td class="">
                        935.00 USD
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="callout disabled text-center card">
    <div class="colored-paper disabled">
        <h3 class="single-line-height">
        Finish and submit your application for review Quickly, Securely, and Easily through our Ebiz credit card payment.
    </h3>
    </div>
    <div class="row section-padding">
        <button class="button large disabled" disabled="true" id="btnPayByCard"  type="button">
           Pay by credit card <i class="fa fa-cc-visa">
            </i>
            <i class="fa fa-cc-mastercard">
            </i>
            <i class="fa fa-cc-amex">
            </i>
        </button>
    <h4>
        or
    </h4>
    <button class="button disabled small" disabled="true" id="btnPayByCheck"  type="link" value="">pay by check</button>
    </div>
     <div class="colored-paper disabled">  <h6> but your application will not be reviewed till we recieve payment.</h6></div>
    
</div>
