// .radio,.radio-content{vertical-align: middle;}
// .radio-group-holder{margin-bottom: .75rem; }
// .radio-group{
// 	border:grey(20) 1px solid;
// 	padding: .5rem;
// 	border-radius: .5rem;
// 	overflow: hidden;
// 	min-height: 3rem;
// 	clear:none;
// 	.warning &{border-color:fontcolor($alert-color);}
// 	.error &{border-color:fontcolor($error-color);}
// 	.radio{
// 		width:5rem;
// 		padding: 0 .75rem;
// 		text-align: center;
// 		min-height: 3rem;
// 		background-color: grey(10);
// 		border-radius: 10px;
// 		display: table-cell;
// 		width: 3rem;
// 		input[type='radio']{
// 			margin:0 auto;
// 			text-align: center;
// 			min-height: 3rem;
// 			height: 3rem;
// 			vertical-align: middle;
// 			position: relative;
// 		}
// 	}
// 	.radio-content{
// 		padding-left:.5rem;
// 		min-height: 3rem;
// 		display: table-cell;
// 		>*{margin-bottom: 0;}
// 	}
// 	&:hover{background-color: grey(10);
// 		.radio{background-color:grey(20); }
// 	}
// }

/**
* Switches with Grouped Content:
* `.switch label` - labels can hold more then just plain text but can hold rich text when it is needed.  Remember most margins are not needed when placed in labels so using `no-vertical-margin` might improve how it looks..
* 
*   @example
*	<div class="question required">
*	    <div class="label-holder">
*	        <label for="">
*	            <span class="text">
*	                Select One
*	            </span>
*	            <span class="required-holder">
*	                <i class="fa fa-holder-dynamic">
*	                </i>
*	            </span>
*	        </label>
*	    </div>
*	    <div class="switch-input-space column medium-6 large-12">
*	        <div class="switch radio">
*	            <input class="switch-input" data-bind="checked:Form().painArea.ForEditing" id="radio1" name="painArea" type="radio" value="true">
*	                <label class="switch-paddle" for="radio1">
*	                    <span class="show-for-sr">
*	                       Bilateral: Possible intolerance
*	                    </span>
*	                    <span aria-hidden="true" class="switch-active">
*	                        <i class="fa fa-holder">
*	                        </i>
*	                    </span>
*	                    <span aria-hidden="true" class="switch-inactive">
*	                        <i class="fa fa-holder">
*	                        </i>
*	                    </span>
*	                </label>
*	            
*	        </div>
*	        <label class="switch-value" for="radio1">
*	            <h5 style="no-verticle-margin">
*	                Bilateral
*	            </h5>
*	            <p>
*	                Muscle symptoms are generalized (e.g., neck and shoulder pain, lower extremity pain)
*	            </p>
*	            <p class="strong">
*	                Bilateral: Possible intolerance
*	            </p>
*	        </label>
*	    </div>
*	    <div class="switch-input-space column medium-6 large-12">
*	        <div class="switch radio">
*	            <input class="switch-input" data-bind="checked:Form().painArea.ForEditing" id="radio2" name="painArea" type="radio" value="false">
*	                <label class="switch-paddle" for="radio2">
*	                    <span class="show-for-sr">
*	                        Unilateral: Unlikely intolerance
*	                    </span>
*	                    <span aria-hidden="true" class="switch-active">
*	                        <i class="fa fa-holder">
*	                        </i>
*	                    </span>
*	                    <span aria-hidden="true" class="switch-inactive">
*	                        <i class="fa fa-holder">
*	                        </i>
*	                    </span>
*	                </label>
*	            
*	        </div>
*	        <label class="switch-value" for="radio2">
*	            <h5 style="no-verticle-margin">
*	                Unilateral
*	            </h5>
*	            <p>
*	                Muscle symptoms are isolated (e.g., knee or shoulder ache)
*	            </p>
*	            <p class="strong">
*	                Unilateral: Unlikely intolerance
*	            </p>
*	        </label>
*	    </div>
*	</div>
**/