    <section class="sg-block sg-section-collapsable-panels">
      <div class="sg-text">
        <h3 id="collapsable-panels" class="sg">Collapsable Panels</h3>
        <p class="sg">
          <code class="sg">.collapsable-panel</code>- a container element which naturaly is hiden and reveals when it is prompted. This element is great for
          <code class="sg">read more</code>links when the content is small.
          <br class="sg">
          <br class="sg">!! Requires Javascript to Function !!</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="row">
            <div class="column small-12 medium-6">
              <div class="collapsable-panel" style="display: block;">
                <div class="bar close">
                  <a class="action-btn close" data-bind="click:panelHide">
                    <i class="fa fa-holder"></i>
                    <span class="text">close</span>
                  </a>
                </div>
                <div class="content">
                  <div class="row">
                    <div class="column small-12">
                      <h2>H2 in a collapse panel</h2>
                      <p>All basic html content can be placed in the panel</p>
                    </div>
                  </div>
                </div>
                <div class="bar jumpToTop">
                  <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>
                    <span class="text">top</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="column small-12 medium-6">
              <div class="collapsable-panel inset" style="display: block;">
                <div class="bar close">
                  <a class="action-btn close" data-bind="click:panelHide">
                    <i class="fa fa-holder"></i>
                    <span class="text">close</span>
                  </a>
                </div>
                <div class="content">
                  <div class="row">
                    <div class="column small-12">
                      <h2>H2 in an inset collapse panel</h2>
                      <p>All basic html content can be placed in the panel</p>
                    </div>
                  </div>
                </div>
                <div class="bar jumpToTop">
                  <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>
                    <span class="text">top</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-12 medium-6&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;collapsable-panel&quot;</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">&quot;display: block;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;bar close&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action-btn close&quot;</span> <span class="hljs-attribute">data-bind</span>=<span class="hljs-value">&quot;click:panelHide&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>close<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;content&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-12&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>H2 in a collapse panel<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>All basic html content can be placed in the panel<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;bar jumpToTop&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action-btn top&quot;</span> <span class="hljs-attribute">data-bind</span>=<span class="hljs-value">&quot;click:panelScrollTop&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>top<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-12 medium-6&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;collapsable-panel inset&quot;</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">&quot;display: block;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;bar close&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action-btn close&quot;</span> <span class="hljs-attribute">data-bind</span>=<span class="hljs-value">&quot;click:panelHide&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>close<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;content&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-12&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>H2 in an inset collapse panel<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>All basic html content can be placed in the panel<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;bar jumpToTop&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action-btn top&quot;</span> <span class="hljs-attribute">data-bind</span>=<span class="hljs-value">&quot;click:panelScrollTop&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>top<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>

    <section class="sg-block sg-section-collapsable-panel-state-">
      <div class="sg-text">
        <h3 id="collapsable-panel-state-" class="sg">Collapsable Panel (State)</h3>
        <p class="sg">
          <code class="sg">.collapsable-panel</code>- Collapse panels can be used with states and the panels subtly color with the state colors.
          <br class="sg">
          <br class="sg">!! Requires Javascript to Function !!</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <div class="row">
            <div class="column small-12 medium-6">
              <div class="collapsable-panel warning" style="display: block;">
                <div class="bar close">
                  <a class="action-btn close" data-bind="click:panelHide">
                    <i class="fa fa-holder"></i>
                    <span class="text">close</span>
                  </a>
                </div>
                <div class="content">
                  <div class="row">
                    <div class="column small-12">
                      <h2>H2 in Panel</h2>
                      <p>All basic html content can be placed in the panel</p>
                    </div>
                  </div>
                </div>
                <div class="bar jumpToTop">
                  <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>
                    <span class="text">top</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="column small-12 medium-6">
              <div class="collapsable-panel error inset" style="display: block;">
                <div class="bar close">
                  <a class="action-btn close" data-bind="click:panelHide">
                    <i class="fa fa-holder"></i>
                    <span class="text">close</span>
                  </a>
                </div>
                <div class="content">
                  <div class="row">
                    <div class="column small-12">
                      <h2>H2 in Inset Panel</h2>
                      <p>All basic html content can be placed in the panel</p>
                    </div>
                  </div>
                </div>
                <div class="bar jumpToTop">
                  <a class="action-btn top" data-bind="click:panelScrollTop">
                    <i class="fa fa-holder"></i>
                    <span class="text">top</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-12 medium-6&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;collapsable-panel warning&quot;</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">&quot;display: block;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;bar close&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action-btn close&quot;</span> <span class="hljs-attribute">data-bind</span>=<span class="hljs-value">&quot;click:panelHide&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>close<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;content&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-12&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>H2 in Panel<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>All basic html content can be placed in the panel<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;bar jumpToTop&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action-btn top&quot;</span> <span class="hljs-attribute">data-bind</span>=<span class="hljs-value">&quot;click:panelScrollTop&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>top<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-12 medium-6&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;collapsable-panel error inset&quot;</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">&quot;display: block;&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;bar close&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action-btn close&quot;</span> <span class="hljs-attribute">data-bind</span>=<span class="hljs-value">&quot;click:panelHide&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>close<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;content&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;row&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;column small-12&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>H2 in Inset Panel<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>All basic html content can be placed in the panel<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;bar jumpToTop&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;action-btn top&quot;</span> <span class="hljs-attribute">data-bind</span>=<span class="hljs-value">&quot;click:panelScrollTop&quot;</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;fa fa-holder&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;text&quot;</span>&gt;</span>top<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
      </div>
    </section>