 <section class="sg-block sg-section-helper-condensable-condense-">
      <div class="sg-text">
        <h3 id="helper-condensable-condense-" class="sg">HELPER - Condensable (Condense)</h3>
        <p class="sg">
          <code class="sg">.condensable.large .condense</code>- This pattern allows for responsive reduction of content. Content tagged with
          <code class="sg">.condense</code>will turn to display:none when it passes the below the break point. On the container element add &apos;.condensable&apos; and set the break point where you want it by adding the class
          <code class="sg">.small</code>,
          <code class="sg">.medium</code>, or
          <code class="sg">.large</code>. !! Single word reduction requires adding
          <code class="sg">condensable-word</code>see example below.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h2>
            Condensable Sub-line
            <span class="sub-line condensable large">
              <span class="condense">The full word is only seen on large screens.</span>It only says Super below on smaller screens</span>
            <span class="sub-line condensable condensable-word large">Super
              <span class="condense">califragilisticexpialidocious</span>
            </span>
          </h2>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>
  Condensable Sub-line
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line condensable large&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;condense&quot;</span>&gt;</span>The full word is only seen on large screens.<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>It only says Super below on smaller screens<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line condensable condensable-word large&quot;</span>&gt;</span>Super
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;condense&quot;</span>&gt;</span>califragilisticexpialidocious<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span></pre>
      </div>
    </section>

    <section class="sg-block sg-section-helper-swappable-short-text-long-text-">
      <div class="sg-text">
        <h3 id="helper-swappable-short-text-long-text-" class="sg">HELPER - Swappable (short-text long-text)</h3>
        <p class="sg">
          <code class="sg">.swappable</code>- This pattern allows for responsive swapping of content from
          <code class="sg">.short-text</code>and
          <code class="sg">.long-text</code>. On the container element add
          <code class="sg">.swappable</code>and set the break point where you want it to switch by adding the class
          <code class="sg">.small</code>,
          <code class="sg">.medium</code>, or
          <code class="sg">.large</code>. The elements with the .short-text and .long-text must be inline elements.</p>
      </div>
      <div class="sg-example">
        <div class="sg-canvas">
          <h2 class="swappable medium">
            Swappable Sub-line
            <span class="sub-line">
              <span class="short-text">Short Title</span>
              <span class="long-text">Long TItle Seen on Medium Screens and Up</span>
            </span>
          </h2>
        </div><pre class="sg-code"><span class="hljs-tag">&lt;<span class="hljs-title">h2</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;swappable medium&quot;</span>&gt;</span>
  Swappable Sub-line
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;sub-line&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;short-text&quot;</span>&gt;</span>Short Title<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">&quot;long-text&quot;</span>&gt;</span>Long TItle Seen on Medium Screens and Up<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span></pre>
      </div>
    </section>