.phone-only{
	display:none;
      @media only screen and (max-width:767px){
        display: block;//IE doesn't understand initial
		display: initial;
      }
    }
.desktop-hide{
display:none;
      @media only screen and (max-width:1024px){
        display: block;//IE doesn't understand initial
		display: initial;
      }
}
.desktop-show{
	display:initial;
	 @media only screen and (max-width:1024px){
        display: none;
      }

}
.relative-position{position:relative;}
.hide{display:none;}
.absolute-topright{position:absolute !important;top:0;right:0}
.absolute-topleft{position:absolute !important;top:0;left:0}
.clearboth:after{content:' ';display: table; clear:both;}

.radius{border-radius: $global-border-radius;}
.radius-bottom{border-radius:  0 0 $global-border-radius  $global-border-radius;}
.radius-top{border-radius: $global-border-radius  $global-border-radius 0 0;}
.white-space-normal{white-space:normal !important;}
.word-break{word-break:break-all !important;}
.no-vertical-margin{margin-top:0 !important;margin-bottom:0 !important;}
.no-margin{margin:0 !important;}
.no-padding{padding:0 !important;}
.lifted{@extend %dropshoadowedbox;}
.display-block{display:block !important; }
.single-line-height{line-height:1;}